[2019-01-04 22:58] rxin opened #2 "Setup travis-ci"
Travis CI has been enabled for the repository and I have added the button to the readme.

This ticket is to add a (simple) test and making sure that the linter runs on each run. Here is an example of `.travis.yml` file that show how this is being done:
https://github.com/databricks/spark-sklearn/blob/master/.travis.yml

[2019-01-11 15:12] thunterdb opened #4 "Script to deploy new version onto databricks"
Let's have a small script that builds the project and pushes a new release onto databricks using the Databricks CLI. Pushing a new release onto DBFS is enough for users to attach to a cluster.

[2019-01-11 15:53] thunterdb opened #5 "pandas.read_csv"
Implement a `pyspark.read_csv` method with the following options:
 - `index_col` -> depends on the design of indexing, so let's leave it out for now
 - `columns`
 - `mangle_dupe_cols`
 - `parse_dates`
 - `comment`
 - `usecols`

Documentation:
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

Dask implementation:
https://github.com/dask/dask/blob/master/dask/dataframe/io/

[2019-01-11 15:58] thunterdb opened #6 "pandas.read_parquet"
The only option that is relevant is `columns`

Pandas: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_parquet.html#pandas.read_parquet

Dask test suite:
https://github.com/dask/dask/blob/master/dask/dataframe/io/tests/test_parquet.py

[2019-01-11 16:08] thunterdb opened #7 "Dataframe.loc"
Dask test suite:
https://github.com/dask/dask/blob/master/dask/dataframe/tests/test_indexing.py

Dask implementation:
https://github.com/dask/dask/blob/master/dask/dataframe/indexing.py#L69

HandySpark:
https://github.com/databricks/Koala/blob/master/potassium/selection.py#L38

The dask implementation is very comprehensive, I believe that we do not need to implement every single way unless we can

[2019-01-11 16:38] thunterdb opened #8 "Easier Pandas UDFs"
TODO: move this to a google doc for proper design.

All these are mostly implemented in https://github.com/databricks/spark-pandas/blob/master/pandorable_sparky/typing.py#L86

A couple of changes can make the current Pandas UDFs more friendly for non-spark users:

__support native python types__ Users should not have to know the spark datatype objects.

__Use python3 typing for expressing types__

[2019-01-11 17:08] thunterdb opened #9 "Dataframe Indexing"
We should eventually support basic indexing, which is a very powerful concept in Pandas, is lightweight enough for Spark, and is ubiquitous in user code.

This requires proper design. Here are some thoughts:
https://docs.google.com/document/d/1PZIojXrafsTA8GOsCaoYMJ44qY4JZR2rNS3HaDF07ao/edit#

[2019-01-11 19:00] #2 closed, assigned to nobody

[2019-01-17 14:26] #6 closed, assigned to nobody

[2019-01-18 07:47] thunterdb opened #12 "Port dask's tests for basic dataframe operations"
We should adapt the test suites of Dask to make sure that we are not breaking anything.

The license allows us to copy the code, if we put the proper attribution in the README

dask uses a .compute() method, which we should add as an alias to .toPandas() to simplify the porting of tests

A good test suite to begin with is probably
https://github.com/dask/dask/blob/master/dask/dataframe/tests/test_

[2019-01-23 07:53] #5 closed, assigned to nobody

[2019-01-25 22:47] rxin opened #16 "CI logo is broken"
See screenshot below:

![screen shot 2019-01-25 at 2 47 21 pm](https://user-images.githubusercontent.com/323388/51777002-28a8e100-20b0-11e9-819f-3e2e47fc2918.png)

[2019-01-29 06:09] #16 closed, assigned to nobody

[2019-01-29 08:58] #12 closed, assigned to nobody

[2019-01-29 09:06] thunterdb opened #18 "Script to package and release to pypi"
We have enough content to make a release onto PyPI. The goal of this ticket is to:
- document the process for future releases, in `docs/RELEASE.md` for example
- make a first release with version `0.1.0`, because this is already pretty usable.

[2019-01-29 09:28] #7 closed, assigned to nobody

[2019-01-29 10:46] ueshin opened #19 "move read_csv and read_parquet to SparkSession."
Move `read_csv` and `read_parquet` to monkey patch to `SparkSession` instead of `pyspark` package.

Currently we alway use `default_session` in `namespace.py`, but the session might be different from the one some users expect.
And make `pyspark.read_csv` redirect to `default_session().read_csv()` for the most users.

[2019-02-01 09:11] #19 closed, assigned to nobody

[2019-02-13 18:39] thunterdb opened #23 "koalas.DataFrame()"
based on a conversation with Brooke, we should have a function called `pyspark.DataFrame` that takes the same arguments as `pandas.DataFrame` https://github.com/pandas-dev/pandas/blob/master/pandas/core/frame.py#L378 but returns a Spark dataframe. It should be a simple wrapper that calls pyspark.createDataFrame

[2019-02-14 23:31] thunterdb opened #24 "Series.map with a dict"
We should add https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.map.html#pandas.Series.map

With just handling dictionary of simple types for now. It should be a simple wrapper around the pandas implementation for the time being. This is useful for simple value substitution.

[2019-02-15 00:05] thunterdb opened #25 "clean up all the printing statements"
They should either be removed or transformed as logging

[2019-02-15 01:01] thunterdb opened #26 "More agressive bound checks on packages"
Some environments like Databricks ship with outdated versions of python and pyarrow, which causes some deserialization errors. Let's put the exact supported bounds in the requirements. Here is what works from experimentation:
- pyspark >= 2.4: pandas UDF
- pandas >= 0.23: support for parquet reading
- pyarrow >= 0.11.1: support for dates

[2019-02-22 16:28] #9 closed, assigned to nobody

[2019-02-23 16:56] thunterdb opened #28 "First release"
First release (private alpha)

- more complete readme:
  - how to contribute
  - what is implemented
  - license

- clean the print statements
- make a script to pull the list of implemented functions in markdown
- rename the package

[2019-03-05 09:50] #26 closed, assigned to thunterdb

[2019-03-11 18:42] yogeshg opened #31 "Rename package to databricks.koala and ensure it builds independently"
We need the package to be called `databricks.koala`. It needs to be packaged correctly for that so it does not interfere with future `databricks.other_packages`.

How to do this: https://packaging.python.org/guides/packaging-namespace-packages/

[2019-03-15 16:16] #31 closed, assigned to nobody

[2019-03-21 18:13] #25 closed, assigned to nobody

[2019-03-21 18:35] rxin opened #35 "pip s3 location needs to change"
It still says "pandorable_sparky":

[code]

[2019-03-21 18:49] #35 closed, assigned to nobody

[2019-03-27 10:48] AbdealiJK opened #40 "Documentation setup"
I think it would be awesome if some sort of readthedocs like documentation could be started.

I have begun exploring some stuff and rather than storing it all in my head could write it out so that it becomes a reference for other+me.

[2019-03-27 11:50] AbdealiJK opened #41 "Additions on "what is supported""
Potentially a few things to add to the what is supported excel (giving from my list of common operations in pandas)
https://docs.google.com/spreadsheets/d/1GwBvGsqZAFFAD5PPc_lffDEXith353E1Y7UV6ZAAHWA/edit

### Pandas:
 - pd.concat()
 - pd.cut / Series.cut
 - pd.get_dummies()

### Series:
 - value_counts()
 - Common functions: min / max / argmin / abs / corr / cov / cummin / cumprod / cumsum
 - all

[2019-03-27 12:38] #28 closed

[2019-03-27 12:43] thunterdb opened #42 "Publish the package documentation"
We should publish documentation to explain the changes that this package brings:
 - list of status of all the methods: it can be a markdown file, for example, that exports the content of the spreadsheet
 - full python doc of the modified pyspark.DataFrame and pyspark.Column to provide a reference to what is implemented
 - (if possible) embed a quick tutorial once it is written

[2019-03-27 12:53] thunterdb opened #43 "Initial port of 10 minutes to Pandas"
We should have a short tutorial that quickly explains:
 - to spark users, how they can leverage pandas features thanks to koala
 - to pandas users, what changes they should be of when they want to use spark+koala

The aim is to produce a simple tutorial based on the sections of the [10 minutes to pandas tutorial](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html) that are alr

[2019-03-27 13:07] thunterdb commented on #41
@AbdealiJK thank you for your comments. I created a task for publishing documentation, which will answer some of your questions.

Regarding pd.options: this is a good point, it would be great to understand which flags are the most useful for you so that these get prioritized.

Regarding the indexes: this is explained in a bit more details in the tutorial notebook in #34 . There is a lightweight in

[2019-03-27 17:17] AbdealiJK commented on #42
Are you thinking that would be in readthedocs or so ?
Possibly related: https://github.com/databricks/spark-pandas/issues/40

[2019-03-29 11:26] AbdealiJK opened #45 "Make patch_spark() revertable - also add Context manager for it"
I notice that `patch_spark()` documentation says it cannot be reverted.
That can be a bit scary especially cause I have a bunch of codes where I'd love to use koala for parts which I am writing. But i do need to also call third party python+spark libraries I cannot control and they may break

Ideally - I'd love to be able to do something like:
[code]

Implementation Ideas:
I think a very simple im

[2019-03-29 11:47] AbdealiJK opened #47 "Adding a `strict` setting to force pandas compatibility at the cost of efficiency"
I think that there are a bunch of design considerations that will come up.

For example - when doing `pd.DataFrame.sample()` - pandas guarantees exact records for `n` and an exact fraction when using `frac`.
When implementing them, will Koala decide to:
1. Be exactly the same as pandas and inefficient
2. Be inexact (not exactly same behavior as pandas) and be efficient

Option 1 could be implement

[2019-03-29 11:57] AbdealiJK commented on #47
Actually - I guess a question before getting into this. What is the aim of the package:
 - Trying out a more pandas-like API for spark which could potentially be merged into pyspark later ?
 - Making it possible for current pandas developers to switch to spark with complete abstraction ?
or both to some level ?

[2019-03-29 12:40] thunterdb commented on #45
Because of the way the library works (injection of methods by reflection), it is very tricky to remove the changes.

At a higher level, why would you want to remove the changes? This library is specifically designed so as not to break existing Spark code (including subclassing, etc.) and to only expand the current API of Spark. If you encounter some issues where it breaks your spark code base, we

[2019-03-29 12:44] AbdealiJK commented on #45
I don't think complete backward compatibility is guaranteed.
One quick example that comes to mind is the `head()` function:
<img width="674" alt="Screen Shot 2019-03-29 at 6 14 04 PM" src="https://user-images.githubusercontent.com/2200743/55233403-7d064380-524e-11e9-8646-3deab36ca284.png">

In spark its a list of pyspark.sql.Row after importing koala it is a dataframe

[2019-03-29 12:48] thunterdb commented on #47
`sample` is one of the more complex functions because of the overlap between the two functions and the difference in semantics. I am going to make a separate ticket just on this method.

To answer your last question, the goal of this package is to bring a Pandas-like experience to Spark, with the possibility of incorporating that into Spark in the future.
 - existing code in Spark must not change

[2019-03-29 13:10] thunterdb opened #49 "DataFrame.sample"
This function is going to require more thoughts than most others because Spark and Pandas have the same function name (`sample`) to provide slightly different semantics:

Documentation:
 - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html
 - https://spark.apache.org/docs/2.2.1/api/python/pyspark.sql.html#pyspark.sql.DataFrame.sample

Before starting on designi

[2019-03-29 13:58] AbdealiJK commented on #49
Somewhat related PR: https://github.com/databricks/spark-pandas/pull/48

[2019-03-29 15:31] AbdealiJK opened #50 "Getting an indexed column as a Series - doesnt work in pandas"
[code]

Getting the index as a column seems to work in spark, but fails in pandas.

I guess I'm again coming from the question - What should be expected behavior in koala ?
Is an index considered a column ? (I know internally it is a column ... but i meant from a usability perspective.) Pandas does not think so

[2019-03-29 15:34] AbdealiJK commented on #45
Hm, I just realized that the head is just showing the data in jupyter like that. (using repr-html i guess)
`a = sdf.head(1)` seems to be working fine.
Interesting.

I guess that solves this issue along with the issue at https://github.com/databricks/spark-pandas/issues/47
Which is that is should be spark first and make sure nothing in spark breaks.
And attempt to solve things with pandas as much a

[2019-03-29 15:35] AbdealiJK commented on #47
I think the resolution of https://github.com/databricks/spark-pandas/issues/45 and https://github.com/databricks/spark-pandas/issues/49
together make this obsolete.
Will bring up any other cases I see in a case by case basis - just like the sample() case.

[2019-03-29 15:35] #47 closed

[2019-03-29 16:27] AbdealiJK commented on #45
`sdf.columns` used to return a list - but now returns a pd.Index
Would that not count for backward incompatibility with spark ?

[2019-03-30 05:04] AbdealiJK opened #52 "DataFrame.dtypes"
Raising this to discuss what the handling of the `.dtypes` should be.
Current implementations:
 - Pandas: Returns a pandas Series with index of fieldnames and values as dtypes
 - Spark: Returns a list of tuples with (fieldname, dtype)
 - Koala: Same as Spark

Other Differences:
 - Whether to show indexes in .dtypes:
   - Pandas: Shows only columns and not indexes
   - Spark: Shows all columns, no

[2019-03-30 05:13] AbdealiJK commented on #41
Closing as i think the excel has been updated and no further questions on index

[2019-03-30 05:13] #41 closed

[2019-03-30 05:22] AbdealiJK opened #55 "Column select with [[...]] broken"
This functionality for selecting columns works in both Spark and Pandas.
But is broken in Koala.

[code]

[2019-03-30 14:23] AbdealiJK commented on #45
Also had some more questions related to this ... I was looking at the patching
`Directly patching the base does not work because DataFrame inherits from object (known python limitation)`

[2019-04-02 14:51] obar1 opened #60 "use https://hackmd.io/instead of googledoc"
copy and paste the content in
**google doc**
in # What is available

with one in   https://hackmd.io/auth/github
and update the radme

[2019-04-03 15:22] thunterdb commented on #60
@obar1 can you elaborate? Google doc provide a stable and documented API in python and REST, is very robust and has a lot of features to do pivoting, etc. We can use that to present the high priority elements to be worked on.

[2019-04-03 15:27] thunterdb commented on #23
The documentation for the function to wrap:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html#pandas.DataFrame

[2019-04-05 12:49] thunterdb commented on #42
Yes, I am thinking about readthedocs for the time being.

[2019-04-05 12:50] thunterdb commented on #43
This should also mention the functions that will alias column names.

[2019-04-08 07:30] #55 closed

[2019-04-08 07:43] thunterdb opened #62 "Document the functions that are different between Pandas and Spark"
We should carefully document the functions that are different between Pandas and Spark/Koala, including with a special decorator. Suggestions are welcome here. Here are a couple:
- count
- maybe dtypes? #52 has a longer discussion

For these functions, the documentation should clearly state:
 - that the Spark behaviour is preserved
 - which alternative function provides the desirable function

In

[2019-04-08 09:37] thunterdb opened #64 "Column.isnull and Column.isnan"
I believe we should now treat them as aliases like in Pandas:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.isnull.html#pandas.Series.isnull

@ueshin has an implementation already here:
https://github.com/databricks/spark-pandas/pull/63/files#diff-29cc007174a75f4d0a66a7e9ef40cd74R288

[2019-04-09 04:29] AbdealiJK opened #65 "UDF using DataFrame.apply"
These are the patterns that I have seen with the apply() function:
[code]

[2019-04-09 07:47] #64 closed

[2019-04-09 23:16] gatorsmile commented on #42
@HyukjinKwon

[2019-04-16 14:51] thunterdb opened #77 "Add most of the missing pandas methods as stubs"
Since the documentation step in an external spreadsheet is proving to be too tedious to be respected, let's simply add most of the missing methods as stubs. These methods should:
 - return a `NotImplementedError` (with a message for getting contributions and that includes the name of the missing function)
 - be documented as not implemented yet.

It should be pretty easy to implement a method that

[2019-04-18 00:03] HyukjinKwon commented on #42
We should take a look for sphinx first and see if it generates the doc properly. Let me take a look.

[2019-04-18 06:14] rxin commented on #60
Thanks for the feedback. I think this ticket will be subsumed by https://github.com/databricks/spark-pandas/issues/77 because we will remove the Google Docs and use our source code as the source of truth for roadmap & contributions.

Closing now.

[2019-04-18 06:14] #60 closed

[2019-04-18 06:16] rxin commented on #52
It sort of depends on what users use dtypes for. If they are using it to programmatically get the column names and data types, then it'd make sense to be as much the same as Pandas as possible. If they are just using that to inspect the dataset's schema, then the existing one should be fine.

[2019-04-18 06:53] AbdealiJK commented on #52
When you say inspect do you mean if they manually inspect it?
Wouldn't manually inspection be OK if it's pandas behaviour too?

[2019-04-18 11:17] #77 closed

[2019-04-18 16:57] rxin commented on #45
I agree we should revisit the inheritance decision if we can. It'd make it more clear whether this is a SparkPandasDataFrame, or just a Spark DataFrame.

[2019-04-18 21:31] rxin opened #85 "Billion dollar question: Koala or Koalas?"
@GregOwen suggested using Koalas because it is more of a nod to "Pandas".

[2019-04-18 21:50] gatorsmile commented on #85
+1

[2019-04-18 21:53] ileshko commented on #85
+1

[2019-04-18 21:55] gatorsmile commented on #85
lower case? `koalas`

[2019-04-18 21:58] rxin opened #86 "Create CONTRIBUTING.md"
We should create a CONTRIBUTING.md file that documents how to get started with the project, including build instructions.

The idea is that developers that are familiar with Python and Apache Spark should be able go from not having anything setup to be able to build and modify and run tests by just reading the CONTRIBUTING.md file. We should update "How to contribute" section in README.md to simpl

[2019-04-18 22:00] rxin opened #87 "Create and Publish API docs"
This probably depends on https://github.com/databricks/spark-pandas/issues/90

[2019-04-18 22:02] thunterdb commented on #85
Koalas with a capital K sounds good

On Thu, 18 Apr 2019, 23:55 Xiao Li, <notifications@github.com> wrote:

[2019-04-18 22:30] rxin commented on #85
Alright it's been decided. We are renaming the project to Koalas!

[2019-04-18 22:33] rxin opened #88 "Rename the project to Koalas (from Koala)"
Based on discussions in https://github.com/databricks/spark-pandas/issues/85, we are going to rename the project to Koalas.

[2019-04-18 22:33] #85 closed

[2019-04-18 22:36] rxin opened #89 "How to call dev/_make_missing_functions.py?"
[code]

Do I need to install koala first? We should add documentation to CONTRIBUTING.md. It'd also be best if this runs against the existing code base, rather than a system-wide installed Koala.

[2019-04-18 23:08] rxin opened #90 "Use encapsulation instead of monkey patching / inheritance"
After spending some time thinking about the issue, I think it would be better for the project to create its own entry point and its own DataFrame / Series class, rather than doing it through monkey patching or inherence to change the existing Spark DataFrame API.

The main reason I am leaning this way now is because Spark and Pandas DataFrames already have quite a few functions with the same name

[2019-04-19 00:26] rxin opened #91 "Should we simplify stub code?"
Right now they look like:

[code]

Should we simplify it to something like

[code]

or

[code]

or even

[code]

Reason I think we should simplify:

1. I don't see a strong need to show all the arguments, in addition to the function name. (Correct me if I'm wrong).
2. Perception wise, it'd be better to have a shorter missing file than a very long file.

[2019-04-19 00:40] rxin commented on #45
@AbdealiJK

 https://github.com/databricks/spark-pandas/issues/90 should address this issue right?

[2019-04-19 01:12] AbdealiJK commented on #90
Personally I think inheritance is better than encapsulation because it will help us keep in mind that this should be as similar to pyspark's current functions as possible

By checking the overridden functions and super() calls, we would be able to immediately figure out which functuonalities are augmented and modified easily.

I can imagine a case where overriding spark internals could be useful t

[2019-04-19 01:40] HyukjinKwon commented on #90
It matches to my impression. I learn toward that it's better to have its own entry point. At least, I am 100% sure there would be so many subtleties between Pandas and PySpark as this project grows.

[2019-04-19 01:43] mateiz commented on #85
I actually think Koala is easier to remember, but up to you!

[2019-04-19 02:14] rxin commented on #91
@ueshin @thunterdb thoughts on this?

[2019-04-19 02:43] rxin commented on #86
I'd also document how to run all the tests as well as just running a single test file.

[2019-04-19 04:20] rxin commented on #86
A simple example: https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst

[2019-04-19 04:30] ueshin commented on #91
1) I'd prefer to preserve the arguments, but not a strong opinion. As for the function name, we might want to show the original class name and the function name in the error message.

[code]

2) I definitely agree with you.

[2019-04-19 04:32] rxin commented on #91
@ueshin can we infer the funciotn name and class name from the callstack?

[2019-04-19 05:31] ueshin commented on #91
If we do like `add = unsupported_function`, then seems like the callstack only shows `unsupported_function`.

[code]

[2019-04-19 05:46] rxin commented on #91
Ah ok. That sucks. Then we should definitely add classname and function name to the parameter list. Maybe for each class we can have a wrapper to not have to specify the class name every time.

[2019-04-19 05:48] #88 closed

[2019-04-19 06:01] dennyglee commented on #90
I  like this approach as the context switching between the Pandas' DataFrame API and the Spark's DataFrame API can be confusing especially when it is common to use both APIs in the same application.  The alternate design would allow clear delineation between Pandas vs./and Spark behavior.

[2019-04-19 07:48] #91 closed

[2019-04-19 10:15] HyukjinKwon commented on #40
I am closing this as a dup of https://github.com/databricks/spark-pandas/issues/42

[2019-04-19 10:16] HyukjinKwon commented on #40
Can we close this as a dup of #87?

[2019-04-19 10:16] HyukjinKwon commented on #42
Can we close this as a dup of #87?

[2019-04-19 10:58] #40 closed

[2019-04-19 16:02] brookewenig opened #99 "Reverse get_dummies"
In Pandas, there is no good way to reverse get_dummies. This has been a long time issue (since 2014) with [Pandas](https://github.com/pandas-dev/pandas/issues/8745).

Sklearn and SparkML both have ways to reverse OHE. Would be amazing if Koalas supported this!

[2019-04-19 17:26] dennyglee opened #100 "Extract Koala cell value results in error"
Scenario:
[code]

When running this via Pandas, this works as expected:
[code]

But with Koalas, get the following error:
[code]

[2019-04-19 18:32] rxin opened #101 "Fix pypi description"
See https://pypi.org/project/databricks-koalas/

It just pulls in our entire README in markdown format.

[2019-04-19 18:33] rxin commented on #100
We don't yet support positional value I think. It's somewhat tricky to do this, especially given a large N.

[2019-04-19 18:34] johndbritton commented on #90
I'm a fan of encapsulation over monkey patching. The example I can think of is the Rspec package for Ruby. In the early days they would monkey-patch everything and add lots of magic that just worked until there was an unexpected namespace collision which led to lots of debugging issues. They've since moved to a more robust approach where the models that they are enhancing with additional functiona

[2019-04-19 22:05] #86 closed

[2019-04-19 23:40] #101 closed

[2019-04-20 00:16] rxin opened #107 "Integrate code coverage report"
Here's Pandas: https://codecov.io/gh/pandas-dev/pandas

It'd also be great to add a badge similar to how Pandas does it.

[2019-04-20 00:28] #89 closed

[2019-04-20 00:30] rxin commented on #42
Yes- this is a dup.

[2019-04-20 00:30] #42 closed

[2019-04-20 00:31] rxin commented on #4
Do we still need this if Koalas is published to PyPi?

[2019-04-20 02:22] brookewenig opened #111 "Reading CSV/Parquet files written by Spark Job from Pandas"
I realize this is a Pandas issue, but it will impact folks who want to switch between pandas and koalas/Spark.

If you write a spark file out (e.g. CSV or Parquet), you cannot read it in from Pandas (you can read it in the individual files though).

A lot of folks have complained about this in various places:
https://github.com/dask/fastparquet/issues/159
https://github.com/uber/petastorm/issues/3

[2019-04-20 03:22] #18 closed

[2019-04-20 03:29] rxin commented on #23
I renamed this to koalas.DataFrame.

[2019-04-20 03:33] rxin commented on #111
Can you paste an example file and exception?

[2019-04-20 05:36] brookewenig commented on #23
@thunterdb @rxin Could we do somethings similar for pd.Series too? Tony and I are trying to port over some example pandas documentation code to Koalas, and this is a blocker.

[2019-04-20 05:49] brookewenig opened #114 "Merging Schema Spark -> Pandas DF"
I wrote out a single CSV file using Spark, and am trying to just read in that file directly (not the metadata) using Pandas.

However, I'm getting this "TypeError: field Transport DtTm: Can not merge type <class 'pyspark.sql.types.DoubleType'> and <class 'pyspark.sql.types.StringType'>".

Please see screenshot.
<img width="1525" alt="Screen Shot 2019-04-19 at 10 46 34 PM" src="https://user-images.

[2019-04-20 05:52] brookewenig opened #115 "Datetime subtraction"
I can't subtract two datetimes from each other. I can do this in pandas without issues. See this notebook: https://databricks-prod-cloudfront.cloud.databricks.com/public/793177bc53e528530b06c78a4fa0e086/0/12638605/100107/latest.html

Tony would like to show off this feature in his blog.

![Screen Shot 2019-04-18 at 9 32 36 AM](https://user-images.githubusercontent.com/6416014/56453322-c7329000-62f

[2019-04-20 06:23] rxin commented on #114
Can you upload the CSV file?

[2019-04-20 23:52] garawalid opened #118 "Design of lazy evaluation for some properties"
#### The idea behind this issue is to discuss the design of lazy evaluation for properties.

I think we need this behavior especially with a property like [values](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.values.html).  We will load all the data in `values` when we create a new DataFrame and this becomes heavy when the data is huge.

I found a good trick [here](h

[2019-04-21 00:21] rxin commented on #118
Does Python automatically materialize all the properties when the class is created? If yes, I definitely agree we shouldn't create "values" ...

[2019-04-21 00:28] rxin opened #119 "Create a design principles doc"
As we start to accept contributions, it's important to set the principles in place, so the project will carry forward in a coherent way.

[2019-04-21 00:36] rxin commented on #115
What's the return type of date subtraction and timestamp subtraction for Pandas?

In Spark there is a datediff function and perhaps we can use that to do date subtraction. It'd return the number of days.

There is also to_unix_timestamp that turns a timestamp into the number of seconds and we can use that to compute the diff (in secs) between two timestamp values.

[2019-04-21 00:56] garawalid commented on #118
Yes, it does.
Here is an example. I implemented `values` as property in `_Frame` class.
[code]
Running this code will show us that the property `values` contains already the data as numpy array.
[code]

A screen capture from the debugger stopped after creating `ddf`

![values](https://user-images.githubusercontent.com/20029252/56464049-17d2e780-63e1-11e9-9add-2e62c7662fd2.png)

[2019-04-21 01:01] garawalid commented on #119
Related topic:
+ Design of lazy evaluation for some properties #118
+ DataFrame.sample #49

[2019-04-21 02:28] AbdealiJK commented on #118
A debugging tool would typically get all attributes in dir() and request for every attribute. Checking it in a debugger may not be an accurate test

[2019-04-21 03:19] garawalid commented on #118
@AbdealiJK
Thanks! You are right, it's not an accurate test.
I tried it with this simple test, and the message doesn't appear when we create the dataframe.

[code]

[2019-04-21 03:21] garawalid commented on #118
So, we can say that properties are lazy by default!

[2019-04-21 06:43] manuzhang opened #120 "Broken example in README"
`spark.from_pandas` in the following example should be `koalas.from_pandas` and the import `from databricks import koalas` is also missing

[code]

[2019-04-21 07:28] rxin commented on #118
Thanks. Looks like we are safe here. I'm going to close this ticket. Feel free to reopen if there is an issue in the future.

[2019-04-21 07:28] #118 closed

[2019-04-21 23:48] rxin commented on #120
We are definitely in the middle of a refactoring to change the API https://github.com/databricks/koalas/issues/90

Can you submit a pull request to fix the README?

[2019-04-22 01:37] rxin opened #124 "Basic functionalities to support"
I quickly went through Pandas and Spark DataFrame docs and came up with a list of basic functions to add:

The following is a list of methods that we should make available in koalas.DataFrame and koalas.Series.

(In general, ignore "axis" argument for now, and assume axis = 0, i.e. row wise)

koalas.DataFrame/Series:

- to_pandas
- spark_schema
- select
- selectExpr

- describe
- dtypes
- explain

[2019-04-22 02:56] manuzhang commented on #120
Sure. Just realized the example does work if I add `import databricks.koalas` and create a `SparkSession` beforehand. Encapsulation is easier to wrap my mind around.

[2019-04-22 03:37] manuzhang commented on #120
Opened https://github.com/databricks/koalas/pull/126. Please help review.

[2019-04-22 03:52] manuzhang commented on #120
Fixed in #126, thanks for review

[2019-04-22 03:52] #120 closed

[2019-04-22 07:22] #115 closed

[2019-04-22 15:00] brookewenig opened #131 "Can't use Spark's .alias() to rename column"
I would like to rename a column using .alias() instead of the pandas syntax (it's cleaner in this case), but I get the error message seen below. .toDF() works for renaming all the columns. Can we implement .alias() please?
<img width="1542" alt="Screen Shot 2019-04-22 at 7 47 50 AM" src="https://user-images.githubusercontent.com/6416014/56506875-95c3eb00-64d4-11e9-8ca9-b7c7a198cfa1.png">

[2019-04-22 15:11] garawalid commented on #131
@brookewenig
You can use spark methods like this :
[code]
[code]

[2019-04-22 15:32] brookewenig opened #132 "Support ascending in sort_values"
I want to sort values in descending order using sort_values, and although sort_values is supported, the ascending keyword is not.
<img width="1548" alt="Screen Shot 2019-04-22 at 8 06 20 AM" src="https://user-images.githubusercontent.com/6416014/56508431-18e74000-64d9-11e9-9e7a-85c764793996.png">

[2019-04-22 18:12] rxin commented on #132
See https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html

[2019-04-22 19:22] brookewenig commented on #131
@garawalid I find it confusing that some Spark methods work (like .toDF), but not others.

[2019-04-22 21:38] garawalid commented on #131
@brookewenig
I agree it's a little bit confusing.

Some Spark methods still work like `toDF` and `toPandas()`, but methods applied to a Spark DataFrame should start with `_spark_` like `ddf._spark_select()`

The idea behind Koalas is to create an API like Pandas. So, we expect users to use Pandas methods not Spark methods.

[2019-04-23 00:50] rxin opened #137 "Hide stub methods from auto complete suggestions and docs"
After looking at the generated docs and trying to use Koalas (with the refactoring branch), I'd definitely hide the (unimplemented) stub methods from docs and auto complete.

If it's difficult to do, perhaps we can still define them in the existing files, but don't mix them into the real exposed interfaces. Instead, we write a test case that'd fail if a method is defined in both the DataFrame clas

[2019-04-23 00:52] HyukjinKwon commented on #23
It works fine against refactoring branch.

[code]

[code]

[code]

These tickets will be closed once https://github.com/databricks/koalas/pull/134 is merged.

[2019-04-23 03:21] HyukjinKwon opened #139 "Koalas DataFrame should only have Pandas corresponding APIs (not Spark APIs)"
This is partially of https://github.com/databricks/koalas/issues/119

I was thinking Koalas DataFrame strictly should have Pandas corresponding APIs, although there might be few exceptions with some strong reasons.

Meaning Koalas DataFrame should not have Spark DataFrame specific APIs like `explain()` or `selectExpr()`. My current thought is we have a API like `koalas_df.to_spark()` (borrowed fro

[2019-04-23 08:54] thunterdb commented on #139
I think that users should be able to pick what they need, in particular things like .cache() or .repartition() which can be necessary. Doing `koala_df.to_spark().cache().to_koalas()` looses the index and metadata, so it is a no-go. Other users should also chime in though.

[2019-04-23 09:36] ueshin commented on #139
I'd prefer to separate API.
Since pandas has the same name functions as Spark, even the primitive ones, `select`, `filter/where`, then users can't pick the preferable one and will be confused by the APIs from the different origin.
Also what if pandas adds the same name function in the future?

I'd propose `spark` property which handles Spark APIs but try to preserve indexes as far as possible:

[c

[2019-04-23 09:41] #137 closed

[2019-04-23 10:56] HyukjinKwon commented on #139
Yes, I agree with @ueshin. If there's no choice, then I think https://github.com/databricks/koalas/issues/139#issuecomment-485728893 is the last resort.

But I was thinking the goal of this project is to let Pandas users can directly be able to use PySpark without any efforts. Since the targeted users are Pandas users, they might not use PySpark's APIs quite often.

[2019-04-23 11:33] thunterdb commented on #90
This issue should be closed now.

[2019-04-23 11:36] thunterdb commented on #114
@brookewenig looking at the screenshot it may be an issue with types inferred by pandas in databricks, not a koalas issue

[2019-04-23 11:39] thunterdb commented on #111
From seeing the tickets, it looks like the workaround downstream will be an upgrade of the parquet reador or pandas.

[2019-04-23 11:41] thunterdb commented on #100
@dennyglee you can take the head for now. There was some code to implement positional index, but it can cause serious performance issues. Use `.head()` or `.loc` instead for now.

[2019-04-23 11:44] thunterdb commented on #52
Unless there are objections, I think that the behaviour for `dtypes` should be to return the same as pandas. Spark users will have `schema` if they want to have the underlying spark types.

[2019-04-23 11:45] thunterdb commented on #45
I am going to close this ticket since #90 has been merged.

[2019-04-23 11:45] #45 closed

[2019-04-23 11:46] #23 closed

[2019-04-23 11:46] #4 closed

[2019-04-23 11:48] thunterdb commented on #62
Closing this ticket, we are going to follow the pandas convention.

[2019-04-23 11:48] #62 closed

[2019-04-23 11:56] thunterdb opened #146 "Adding DataFrame.values?"
There has been discussion to add `DataFrame.values`, which in pandas returns a `numpy` array. I am of the opinion that we should not add this API, but other, more recent substitutes, for the following reasons:

This property is a low-level API that is meant to directly provide a view of the content of the dataframe, in the form of a numpy array. The expectation from the user and the developer (ex:

[2019-04-23 11:59] thunterdb commented on #146
@garawalid what are your thoughts? I think that `to_numpy()` will be what you want.

[2019-04-23 12:44] #90 closed

[2019-04-23 12:52] thunterdb commented on #139
I agree that we should not put everything. That being said, some of them are very helpful, simply because they do not have any equivalent in pandas and are very common in spark. Here is how we can start:

Unscoped (directly in `DataFrame` or `Series`):
 - `select` and `selectExpr`. This is very useful for quickly building expressions, and pandas has even a dialect for doing that. We should have a

[2019-04-23 13:33] dennyglee commented on #100
Got it - will do for now!  thanks!

[2019-04-23 14:24] garawalid commented on #146
@thunterdb  I totally agree with you! `to_numpy` is better and gives an idea that result will be numpy array.

[2019-04-23 17:59] rxin commented on #146
I agree -- to_numpy is better!

[2019-04-23 20:39] dennyglee opened #150 "Cannot use Databricks `display ()` with koalas DataFrame"
Currently using `koalas==0.1.0` and cannot use the `display()` command.

[code]

results in the error message:
[code]

The current workaround for this issue is to convert the `koalas` DataFrame to a `pandas` DataFrame and then `display()` will work.

[2019-04-23 22:12] rxin opened #151 "Enforce type annotation in the code base"
Python can get very difficult to understand for large projects, and one of the main reasons for that is the lack of explicit & static typing. We can mitigate that with type annotations. I think we should update the existing code and enforce that in Koalas.

This is important to do before more contributors come to the project.

[2019-04-23 22:51] rxin opened #152 "Inline method docs, rather than using "derived_from""
The problem is that the equivalent methods in pandas usually have a lot of arguments, and some of them don't make to support in Koalas or are temporarily not supported. Showing those in the examples are simply confusing to end users when they read the docs. We should just inline the docs. We can however create them using pandas docs as the baseline.

Here is an initial list:

[code]

[2019-04-23 23:08] rxin commented on #87
This is done: https://koalas.readthedocs.io/en/latest/

[2019-04-23 23:08] #87 closed

[2019-04-23 23:40] rxin opened #156 "Fix API reference table text overlap"
See the screenshot from the current doc:

<img width="819" alt="Screen Shot 2019-04-23 at 4 38 42 PM" src="https://user-images.githubusercontent.com/323388/56622804-67363500-65e6-11e9-9098-09bebe29951c.png">

The get method's text is overlapping with its description.

[2019-04-23 23:41] rxin opened #157 "Show pandas style Table of Contents on the left side in docs"
Right now our docs show a weird Table of Contents for only a section, rather than the entire doc. Can we fix it so it shows the Table of Contents of the entire docs, e.g. start from the top level?

<img width="647" alt="Screen Shot 2019-04-23 at 4 40 38 PM" src="https://user-images.githubusercontent.com/323388/56622865-9351b600-65e6-11e9-98b3-7930660b1c93.png">

[2019-04-24 00:03] rxin opened #158 "Change "pd" to "ks" instead of "koalas" in derived_from for docs"
We should replace pd with ks so it doesn't disrupt the text alignment. One thing we'd need to make sure then is to update it so test cases can still run with ks.

We also need to figure out how to do import ks automatically in all doctests, and then go back and change the ignored doctests to make them run again.

[2019-04-24 05:11] #157 closed

[2019-04-24 05:17] rxin commented on #152
cc @thunterdb what do you think about this one?

[2019-04-24 07:03] thunterdb opened #162 "Enable static type checking in the tests"
The best type checker these days seems to be `mypy`: http://mypy-lang.org/

It is fully compliant with PEP-484. We should enable it for all the commits before we start adding type hints.

The goal of this task is the following:
 - enable mypy on Travis runs
 - making sure that the spark typing hints are installed. I am not quite sure what they are, but PyCharm asks to also install them as an extra

[2019-04-24 07:42] thunterdb commented on #152
I totally agree, we should not need to use derived_from. Personnally, I would rather have (slightly misleading) doc from pandas for now rather than no doc at all.

This is a great starter task if someone wants to do it on their favorite functions.

[2019-04-24 11:08] #52 closed

[2019-04-24 14:20] thunterdb opened #166 "Add pyspark-stubs for more precise typing checks"
The `pyspark-stubs` provides better typing checks around Spark dataframes. This task has 2 parts:
 - adding this package when doing the linting (it is only available through pip)
 - fixing any warning that it may generate when adding the proper type information to `DataFrame._sdf`. That should be a good check that the static linter works as expected.

See this line:
https://github.com/databricks/k

[2019-04-24 14:21] thunterdb commented on #162
My mistake, closing the issue. Further work is in #166

[2019-04-24 14:21] #162 closed

[2019-04-24 14:37] thunterdb commented on #166
Also, we should update the dev instructions so that developpers know how to run typing.

[2019-04-24 16:59] #156 closed

[2019-04-24 16:59] #158 closed

[2019-04-24 17:24] kokes opened #167 "Nullable string/object columns not supported"
When trying to load a pandas DataFrame with a nullable string column, I always get

[code]

It can be reproduced in two different ways. We can create an in-memory Series and load it:

[code]

Or we can populate a CSV file with at least one NULL:

[code]

And then try to read it:

[code]

Either way, koalas things that the `np.nan` signifies a float, but it's actually a NULL for an object column.

[2019-04-24 17:32] thunterdb commented on #167
This is the same issue as #114 , it seems. Thanks for the way to reproduce it @kokes .

[2019-04-24 18:38] rxin commented on #114
Closing this in favor of https://github.com/databricks/koalas/issues/167 since it has a repo.

[2019-04-24 18:38] #114 closed

[2019-04-24 18:56] rxin opened #168 "Enable doctest"
We currently disable all the doctests. It'd be great to be able to run them. The main blocker right now is we call "ks" directly, so we need to figure out a way to automatically import koalas as ks in the namespace.

[2019-04-24 18:56] rxin commented on #152
A lot of them are probably blocked by https://github.com/databricks/koalas/issues/168

[2019-04-24 19:02] rxin opened #169 "Implement the first batch of Serialization / IO / Conversion functions"
See https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#serialization-io-conversion

Looks like we can easily implement almost all of them by calling `toPandas().func_name()`.

One thing is that some of the functions support `max_rows`. When that argument is specified, we should add a `limit` call in Spark to avoid moving all the data to the driver.

The list to add in the first batc

[2019-04-24 21:04] wesm opened #171 "Upgrading to pyarrow >= 0.13"
Could you let us know what might be stopping you from using the latest version of Apache Arrow? `pip install pyarrow` works through Python 3.7 as of 0.13.0 so the comment in your README about this is only accurate if the version number is constrained to an older version. The latest version has significantly better performance and memory use in some areas that impact Spark-Arrow users (e.g. http://

[2019-04-24 21:36] rxin commented on #171
We should definitely upgrade.

cc @thunterdb @ueshin any reason we used a old version?

[2019-04-24 21:42] rxin commented on #171
@wesm do you want to submit a pull request? :)

[2019-04-24 22:10] wesm commented on #171
Doubtful, but just want to make sure that we don't leave the Spark community behind in some way. My team is working on setting up nightly wheels in case that makes testing against Arrow master easier for you

[2019-04-24 22:26] thunterdb commented on #171
Thanks @wesm for leaning in. The choice was made because the last release of Spark had issues with recent versions of arrow, see this thread for all the versions tested:
https://github.com/databricks/koalas/issues/26

We will probably have to wait for the next release of Spark (2.4.1 I presume).

[2019-04-25 01:03] #168 closed

[2019-04-25 03:56] bgweber commented on #90
I'm looking to port an existing Python library to use Koalas in place of Pandas, and pass it DataFrames created from the `toKoalas` method mentioned above. The encapsulation approach seems better for this use case. Are there any open issues on the `toKoalas` implementation?

[2019-04-25 05:20] georghildebrand opened #173 "Are there performance benchmarks?"
Hi all, nice project and congrats how far you got already!
I wonder if there already are performance benchmarks comparing to default pyspark etc. ?

[2019-04-25 05:23] georghildebrand opened #174 "Comparison to DASK"
I saw that you orient already quite a bit on how DASKs works. Are you already considering building support for DASK as well? I currently see it very often used especially for research driven parallel python workloads - so that would be a major benefit...

[2019-04-25 05:26] HyukjinKwon commented on #174
Actually there is already a short comparison - https://github.com/databricks/koalas#how-is-koalas-different-from-dask

[2019-04-25 05:28] georghildebrand commented on #174
thx, will check that out

[2019-04-25 05:29] HyukjinKwon commented on #173
Performance-wise, for its current status, it should be virtually same to PySpark because the execution is delegated. Also, I personally think it's premature to discuss about it.

[2019-04-25 05:36] georghildebrand commented on #174
@HyukjinKwon i think the comparison is not satisfying. i am actively using both spark and dask. I think it would be worth thinking about bridging both dask and spark.

[2019-04-25 05:49] rxin commented on #90
We have switched to the encapsulation approach already, but haven't added the toKoalas method yet. Will add that in the next release.

BTW - should it be more pythonic and called to_koalas, to_ks, or toKoalas?

[2019-04-25 05:49] rxin opened #175 "Monkey patch Spark's DataFrame to add to_koalas method"
Create a simple and convenient way to turn a Spark DataFrame into a Koalas DataFrame.

[2019-04-25 05:50] rxin commented on #174
Can you say more about what you have in mind in bridging both dask and Spark? Might not be part of the scope of this project but certainly is something we can consider.

[2019-04-25 05:54] rxin commented on #173
Yes - it should be the same as PySpark if you are using the DataFrame API in PySpark. I'm going to close this.

As we improve the project, we might make specific operations more performant, but that will be future work :)

[2019-04-25 05:54] #173 closed

[2019-04-25 06:13] jiahut commented on #171
with `pyhton 3.7`, I only install with `pip install koalas --no-deps`  then  `pip install pyarrow pyspark`  manually

[2019-04-25 07:19] dennyglee commented on #90
Inclined to go with `to_koalas` as its more Pythonic and matches our existing `from_pandas`.

[2019-04-25 08:02] thunterdb commented on #90
to_koalas

On Thu, Apr 25, 2019 at 9:19 AM Denny Lee <notifications@github.com> wrote:

[2019-04-25 09:23] HyukjinKwon commented on #139
@thunterdb, how about we start from: Koalas to have Pandas corresponding APIs only and provide an API like `to_spark()` first? I think this will be the subset of https://github.com/databricks/koalas/issues/139#issuecomment-485728893 and/or https://github.com/databricks/koalas/issues/139#issuecomment-485789617 anyway later.

a) this way is pretty clear to dev and users as the starting point too. b)

[2019-04-25 09:23] HyukjinKwon commented on #139
cc @rxin too to collect more feedback.

[2019-04-25 09:32] georghildebrand commented on #174
Eg currently i use spark to do some data preprocessing / data extraction --> store to s3 --> pick up with dask and do ML stuff as its very dynamic and nice for that (eg. the cinterface to some of the libs).

With a common api i would expect something like --> sdf = spark.createDataFrame(df) --> sdf.to_dask --> keep on working with dask -->

[code]

Currently one has do some workaround like: https:

[2019-04-25 14:20] anaveenan opened #178 "cluster mode adding py files"
I want to work in cluster mode. But it can't be installed directly in the cluster. How can I pass this in my spark-submit script ?

Can you please add instruction to help with this.

[2019-04-25 14:47] HyukjinKwon commented on #178
I think this is rather a Spark's general issue. See, for instance, https://issues.apache.org/jira/browse/SPARK-13587

Currently,

1. Install it via pip in all nodes
2. Try to zip the source codes by yourself and ship it via py-files.
3. I remember somebody wrote a blog about packing it with PEX that already works in PySpark. See https://medium.com/criteo-labs/packaging-code-with-pex-a-pyspark-exam

[2019-04-25 14:48] HyukjinKwon commented on #178
I am leaving this closed. I would suggest to interact with Spark mailing list.

[2019-04-25 14:48] #178 closed

[2019-04-25 17:48] rxin commented on #139
This is a tough one -- to be honest I think we can pick something safer, and try to use this more, get feedback, and then it might become more obvious what we should do.

[2019-04-26 03:42] ZJUguquan opened #181 "`groupby` method problem"
Hi, I'm very appreciate of your nice work !

Here I found a problem of `groupby` function between `pandas.DataFrame` and `koalas.DataFrame`.

[code]
However, when using `koalas`,
[code]
[code]
<br/>

My environment:
- python 3.6.5
- spark 2.4.0

[2019-04-26 06:07] rxin opened #184 "DataFrame.count()"
DataFrame.count() currently returns a single number, i.e. the number of rows, which is Spark's behavior and doesn't even match the doctest's behavior. (The doctest passes because we are still using pd.DataFrame rather than testing ks.DataFrame.)

We should fix it to return a new DataFrame consistent with the doctest.

[code]

[2019-04-26 06:13] rxin opened #185 "Create docs for GroupBy"
Similar to Pandas: https://pandas.pydata.org/pandas-docs/stable/reference/groupby.html

Right now groupby itself returns nothing, and there is no docs for the methods available for groupby.

[2019-04-26 06:23] rxin commented on #181
Thanks for reporting.

cc @ueshin and @HyukjinKwon I find that we left the PandasLikeGroupBy class behind when we switched over to the encapsulation approach in https://github.com/databricks/koalas/issues/90

There are a few issues:

1. We should mirror similar names in Pandas, and have SeriesGroupBy and DataFrameGroupBy (most methods are the same but some are only available in Series or DataFrame

[2019-04-26 06:26] ueshin commented on #181
@rxin I'll take this.

[2019-04-26 06:28] rxin commented on #181
Thanks @ueshin!

[2019-04-26 06:32] rxin opened #186 "Document all the methods in Metadata"
There are a bunch of methods like index_info, index_fields. It's pretty difficult to figure out what they do. We should just add some basic docstring comments.

@ueshin you are probably the best person to take this since you created the file.

[2019-04-26 06:36] ueshin commented on #186
@rxin sure, I'll take this too.

[2019-04-26 07:48] #186 closed

[2019-04-26 15:25] abishekganesh72 commented on #152
Hi let me know if I can be of any help to for this

[2019-04-26 15:46] shril opened #191 "pip install koalas not working"
I am trying to install koalas on my Ubuntu 18.04.2 LTS.
Default Python3 is Python 3.6.7.
I am getting the following error.

`
Could not find a version that satisfies the requirement koalas (from versions: )
No matching distribution found for koalas
`

[2019-04-26 18:18] thunterdb commented on #152
@abishekganesh72 you are welcome to help. Here is an example, taking `Series.value_counts`:
It would be great to take the documentation from pandas:
https://github.com/pandas-dev/pandas/blob/v0.24.2/pandas/core/base.py#L1222
and copy the docstring into `series.py`:
https://github.com/databricks/koalas/blob/master/databricks/koalas/series.py#L321

Some changes will have to be made:
 - removing the

[2019-04-26 20:01] thunterdb commented on #191
Hello @shril are you sure that you are running pip3? The package is not published for python2. Can you try with the `--verbose` flag and report the complete log?

[2019-04-26 21:46] louis925 opened #192 "Can't assign value to column of a dataframe"
Can't do simple value assignment to a column of a dataframe.
[code]
Give error:
[code]

[2019-04-26 21:56] abishekganesh72 commented on #152
Sounds good, let me take a crack at it.

[2019-04-27 03:44] #192 closed

[2019-04-27 12:46] #167 closed

[2019-04-28 05:41] rodneyjoyce commented on #150
Yes, I have the same issue- the example in the blob post does not work when copied and pasted:

display(ks.get_dummies(data))

Result:  Exception: Cannot call display(<class 'databricks.koalas.frame.DataFrame'>)

[2019-04-28 05:54] rxin commented on #174
Can you just use the Pandas UDF feature in Spark?

[2019-04-28 08:03] rodneyjoyce opened #195 "How to convert back from Koala dataframe to Databricks dataframe"
Hi, this maybe a silly question - I can convert from my Databricks dataframe to Koalas using
`cleanKoalaDf = ks.from_pandas(cleanDf.toPandas())`

I then do some processing (E.g. get_dummies). Now I want to convert back to a Databricks dataframe but I can't find the appropriate method?

[2019-04-28 09:19] garawalid commented on #195
I don't understand what do you mean by Databricks dataframe. But, from the example you gave, I can guess that `cleanDf` is a spark DataFrame.

Here is a small example of how to move between Koalas DataFrame, Pandas DataFrame and Spark DataFrame. Hope it helps.

`pdf` means Pandas DataFrame
`kdf` means Koalas DataFrame
`sdf` means Spark DataFrame

[code]

[2019-04-28 10:17] rodneyjoyce commented on #195
Yes, thanks - that is what I was looking for - so I first convert to Pandas and then to a Spark dataframe.

[2019-04-28 10:17] #195 closed

[2019-04-28 16:58] abishekganesh72 commented on #152
@thunterdb  I am trying to push my code the repo but I am not authorized to do so I guess. Kindly let me know how am I supposed to push my changes to repo.

[2019-04-28 17:18] rxin commented on #152
You will need to fork the repository first
https://help.github.com/articles/fork-a-repo

And then push to a branch in your fork.

And then create a pull request against this repository so we can review it.

On Sun, Apr 28, 2019 at 9:58 AM Abishek Ganesh <notifications@github.com>
wrote:

[2019-04-28 18:40] shril commented on #191
Hi @thunterdb,
I was trying to install it in the Windows 10 environment. There is some version mismatch issue with Apache Arrow.
Now I have shifted to Ubuntu 18 and things are working.

[2019-04-28 18:40] #191 closed

[2019-04-28 22:46] abishekganesh72 commented on #152
Thanks for the info. Let me do it that way.

[2019-04-29 17:50] GeorgeEatsData2018 commented on #131
Hi,

If koalas is like pands, then how come the "rename" function doesn't work on koalas dataframe?

I tried to do ks_df.rename(), and I get the following error:

PandasNotImplementedError: The method `pd.DataFrame.rename()` is not implemented yet.

[2019-04-29 18:36] garawalid commented on #131
@GeorgeEatsData2018
Koalas is under development, we will add the `rename` method soon.
You can find implemented methods in the [documentation](https://koalas.readthedocs.io/en/latest/)

[2019-04-29 18:54] GeorgeEatsData2018 commented on #131
Ok, thanks for letting me know. When koalas was introduced last week, I thought everything from pandas has been implemented to koalas. I will check the koalas documentation time to time.

Also, the head() method doesnt work on koalas dataframe. I tried doing koalas_df.head(), it returns
Out[21]: <databricks.koalas.frame.DataFrame at 0x7fa065580748>

Any idea how I can display the dataframe?

Thank

[2019-04-29 20:07] garawalid commented on #131
@GeorgeEatsData2018  You are welcome!

If you are using Jupyter notebook, it should work. Also,  calling `koalas_df` will display the dataframe.

[2019-04-29 23:33] rxin opened #198 "Docs failing on readthedocs?"
See https://readthedocs.org/projects/koalas/builds/8979495/

[code]

Looks like the latest commit is valid, but doesn't work on readthedocs.

[2019-04-30 01:00] HyukjinKwon commented on #198
Yes, will take a look.

[2019-04-30 02:58] #184 closed

[2019-04-30 03:46] #146 closed

[2019-04-30 05:08] #175 closed

[2019-04-30 05:41] #198 closed

[2019-04-30 06:20] HyukjinKwon commented on #131
For adding `alias` into Koalas which only exists in Spark side, it's arguable. I think personally we should avoid adding Spark APIs into Koalas APIs but only Pandas corresponding APIs to avoid confusion and potential overhead to dev and users (see https://github.com/databricks/koalas/issues/139).

For `Serise`, seems working as @garawalid noted:

[code]

For `DataFrame`, it does not exist. I will

[2019-04-30 14:52] icexelloss commented on #174
re @rxin:
A lot of the use case we've seen is parallelized parameter search, in which case groupby apply + Pandas UDF doesn't help as each task need the entire dataset. When people use Spark for this, they just do

[code]

@georghildebrand I am curious do you have some ML example that is much easier to do with Dask than Spark?

[2019-04-30 16:39] #131 closed

[2019-04-30 18:27] icexelloss opened #205 "High level question about Koalas"
Hi folks!

I just learned about Koalas and it looks very cool!

I have some high level questions about Koalas and wondering what's your guys thoughts on these:

- Is Koalas eagerly evaluation or lazy evaluation or mixture? I currently found some operations, like `df['x']` being eager and `df.head()` being lazy, so curious about what is the design philosophy here.

- When certain behavior is incons

[2019-04-30 20:11] shril commented on #152
@rxin @thunterdb I would like to take this up as well.

[2019-04-30 20:11] rxin commented on #205
1. It is currently lazy, but when a variable's repl_html or repr_string is called, it eagerly evaluates that to more closely match what users see with pandas output. I'm thinking it might make sense to have a config so users can turn that behavior off (be completely lazy) in production, so they don't trigger too many big data operations. Any thoughts here?

2. It should match pandas. GroupBy is on

[2019-04-30 20:13] rxin commented on #152
@shril please do. We need all the help we can get. Thanks!

[2019-04-30 23:11] akhilanandbv003 opened #208 "Outputs vary for Koalas Series vs Pandas Series when we have np.nan"
The behavior of the Series functions changes when I introduced a np.nan in the series. But Pandas seem to handle this just fine. Some of the functions and their outputs.

[code]

[code]

[code]

[code]

[2019-05-01 00:53] #132 closed

[2019-05-01 01:10] HyukjinKwon commented on #205
I think it already works moderately. At the core, it's lazy but if we use notebook or interpreter, it can work like it's eager No strong opinion on adding a configuration but I suspect the configuration isn't very much useful.

[2019-05-01 01:14] HyukjinKwon commented on #107
Will take a look

[2019-05-01 01:22] rxin commented on #208
Thanks for reporting!

[2019-05-01 02:52] #107 closed

[2019-05-01 03:35] rxin commented on #169
For contributors -- in general this is a pretty easy one to get started. Just look at how we did https://github.com/databricks/koalas/pull/211 and https://github.com/databricks/koalas/pull/213

[2019-05-01 03:37] #100 closed

[2019-05-01 03:38] rxin commented on #100
Closing since I'm not sure if there is a good way to do this.

[2019-05-01 03:38] rxin commented on #139
Closing this as it will be part of the design philosophy doc.

[2019-05-01 03:38] #139 closed

[2019-05-01 12:47] sadikovi opened #217 "Fails to read from parquet table with flat schema and fields containing ".""
I observed that when loading parquet data from a table that has a mix of normal fields and fields that have `.` in their name:

Sample data:
[code]

Code works when accessing "a_b":
[code]

Accessing "a.b" column fails:
[code]

Escaping column name with "`" also does not work:
[code]

[2019-05-01 12:57] sadikovi opened #219 "String concatenation does not work correctly"
When concatenating columns and assigning to another column works for numeric columns, it does not work for strings:

Works for numeric columns:
[code]

Does not work for strings:
[code]

However, this works in Pandas:
[code]

[2019-05-01 13:02] sadikovi opened #220 "[Databricks CE] Koalas df.head() should also print records, similar to Pandas"
It would be great if calling `df.head()` on koalas DataFrame would result in printing records, similar to Pandas. I found that it does not work on Databricks Community Edition.

It would be extremely useful, since there is no other easy way to sample koalas DataFrame now, and people generally use this command for that exact purpose - to get some ideas of what data looks like, and normally they req

[2019-05-01 14:15] thunterdb commented on #220
@sadikovi what is your environment? It should work in jupyter, a fix is on the way for databricks.

[2019-05-01 14:32] sadikovi commented on #220
Thanks Tim. I am experiencing this issue on Databricks Community Edition, also updated the issue title and description.

[2019-05-01 16:44] rxin commented on #219
Want to submit a PR?

[2019-05-01 16:46] rxin commented on #220
I think this is fixed in the latest version, which will be released today or tomorrow. The version released last week didn't have the proper string form.

[2019-05-01 21:22] icexelloss commented on #205
Got it. My thoughts are it should probably be lazy as well. Eager computation is nice when Demoing or playing with trivial data but breaks pretty fast when user start to play with non trivial data. I am also skeptical about the config because that config changes the fundamental behavior and user would have to learn to use the library in two fundamentally different ways.

I do like the fact that wh

[2019-05-01 22:19] shril opened #223 "Unable to run tests"
I am getting this error when I try to run all the tests.

[code]

[2019-05-01 22:23] garawalid commented on #223
Check your pytest version
[code]
It should be `4.4.1`

[2019-05-01 22:28] shril commented on #223
Got this.

[code]

[2019-05-01 22:32] garawalid commented on #223
Run this command instead
[code]

[2019-05-01 22:34] shril commented on #223
Thanks @garawalid , its working now.

[2019-05-01 22:34] #223 closed

[2019-05-01 23:10] arjun180 commented on #169
Can I work on this?

[2019-05-01 23:36] rxin commented on #220
@sadikovi I'm going to close this because I think it is fixed in master. When we release 0.2 and if you still see that issue, reopen the ticket.

[2019-05-01 23:36] #220 closed

[2019-05-02 00:06] HyukjinKwon commented on #169
please go ahead.

[2019-05-02 00:23] #181 closed

[2019-05-02 00:23] #185 closed

[2019-05-02 01:12] HyukjinKwon commented on #223
Thanks, @garawalid. Actually, let me make it easier to test. https://github.com/databricks/koalas/pull/224

[2019-05-02 08:12] sadikovi commented on #219
Yes, I will do.

[2019-05-02 19:01] floscha commented on #208
When running
[code]
with Koalas 0.2, I get the following output:
[code]

Has this issue been fixed with the latest Koalas release or is something wrong with @akhilanandbv003's setup?

[2019-05-02 19:20] shril commented on #208
It works fine for me.

[code]

[2019-05-02 19:47] shril commented on #169
@rxin , @HyukjinKwon Can I take this up as well?

[2019-05-02 19:50] rxin commented on #169
Go for it.

On Thu, May 2, 2019 at 12:47 PM Shril Kumar <notifications@github.com>
wrote:

[2019-05-03 06:48] shril commented on #43
@thunterdb Can I take this up?

[2019-05-03 08:41] HyukjinKwon commented on #208
I also confirmed that it works fine. Closing this. Thank you guys.

[2019-05-03 08:41] #208 closed

[2019-05-03 08:44] akhilanandbv003 commented on #208
Thanks for the update. I was getting that behavior with 0.1. Didn’t get a
chance to try with 0.2 release though.

On Fri, May 3, 2019 at 3:41 AM Hyukjin Kwon <notifications@github.com>
wrote:

--
Sent from my iphone

[2019-05-03 09:03] HyukjinKwon commented on #169
I think we should do `to_json` too.

[2019-05-03 16:38] ezwiefel commented on #152
@rxin @thunterdb Hope you're still looking for help. I'm going to submit a PR for some of the `Series` functions (starting with `head`).

[2019-05-03 16:55] abishekganesh72 commented on #152
@ezwirfel, Thanks for the help but I am working on the methods in series.py.

[2019-05-03 17:17] ezwiefel commented on #152
@abishekganesh72, Sounds good - thanks!

[2019-05-04 01:32] rxin opened #231 "koalas.concat"
Similar to https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html#pandas.concat

This is basically a unionAll in Spark.

[2019-05-04 01:33] rxin opened #232 "koalas.merge"
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge.html#pandas.merge

This is basically join in Spark.

[2019-05-04 01:38] rxin opened #233 "unique function is broken"
[code]

[2019-05-04 04:28] HyukjinKwon commented on #152
Go ahead guys!

[2019-05-04 16:16] #219 closed

[2019-05-05 09:57] garawalid opened #237 "groupby() doesn't show data"
DataFrame returned by `groupby()` can't show data in jupyter and terminal.

This code returns `DataFrame[A: string, sum(__index_level_0__): bigint, sum(C): double, sum(D): double]`

[code]
Expected return

[code]
[code]

[2019-05-05 11:19] HyukjinKwon commented on #237
Seems like we should implement repr.

[2019-05-05 19:43] garawalid commented on #169
@rxin

I agree with @HyukjinKwon, we can add `to_json` & `to_csv`.
In fact, both methods need to collect data in the driver through `toPandas()`. And if we pass the path as a parameter, the output will be saved in the driver. This is what Pandas users will expect, at least, those who are not familiar with Spark.

In the case of Spark, I think we should keep `to_csv` and `to_json` in a separate sec

[2019-05-06 01:00] HyukjinKwon commented on #169
We can support both hdfs and local path and that's what Spark currently supports. Let's keep it consistent first before we start to have some divergence.

We can explain the difference in the docstring with notes and I think that's already what are doing.

[2019-05-06 08:24] sadikovi commented on #150
Should be resolved now.

[2019-05-06 08:25] sadikovi commented on #217
I will work on it, try fixing it as Tim suggested.

[2019-05-06 19:44] ashkan-leo opened #243 "Add Python 2 Support"
Does koalas support python 2?
I tried to install it via pip (python2 -m pip install koalas) with no luck.

[2019-05-06 20:16] #119 closed

[2019-05-06 20:16] rxin commented on #243
It only supports Python 3. If there are enough demand we would reconsider that.

[2019-05-06 20:24] garawalid commented on #237
Fixed in version `0.2`

[2019-05-06 20:24] #237 closed

[2019-05-06 23:19] HyukjinKwon commented on #243
I agree. Python 2 is EOL soon.

[2019-05-07 00:10] brookewenig opened #247 "Add .iloc support"
Can we add .iloc support please?

See this [notebook](https://databricks-prod-cloudfront.cloud.databricks.com/public/793177bc53e528530b06c78a4fa0e086/0/12990244/100107/latest.html). Doesn't throw a non-supported error, but rather `'DataFrame' object has no attribute 'iloc'`.

[2019-05-07 00:12] HyukjinKwon commented on #243
See https://python3statement.org/ (Pandas is there) and https://pythonclock.org/ .I would rather follow this mainstream. I am closing this.

[2019-05-07 00:12] #243 closed

[2019-05-07 03:35] ueshin opened #248 "Add stubs for missing properties."
Similar to #77, we should have stubs for missing properties, otherwise the error just says `'DataFrame' object has no attribute 'xxx'` instead of a not-supported message.

[2019-05-07 04:34] HyukjinKwon commented on #150
Seems still not working.

[2019-05-07 06:03] pyMixin commented on #232
Is merge is going to come in next version?

[2019-05-07 06:07] pyMixin commented on #231
This implementation is very different than unionAll of spark. unionAll in spark requires columns to be the same number in both dataframes. pandas.concat doesn't have that requirement. Here some reference: https://stackoverflow.com/questions/37332434/concatenate-two-pyspark-dataframes

[2019-05-07 06:09] HyukjinKwon commented on #232
All the issues are subject to the right next release as soon as it's fixed.

[2019-05-07 06:21] HyukjinKwon commented on #233
Seems like Pandas DataFrame doesn't have `unique`:

[code]

but series has it. Let me target to fix Series one.

[2019-05-07 06:23] rxin commented on #233
Yea maybe we should remove DataFrame.unique then and only keep Series.unique.

[2019-05-07 08:25] #248 closed

[2019-05-07 09:36] HyukjinKwon commented on #150
Actually, @dennyglee, I tested against the current upstream:

[code]

Seems fine.

[2019-05-07 09:40] HyukjinKwon commented on #247
this is fixed as of https://github.com/databricks/koalas/commit/71fa23a2d59d9962ceb4f5eb80d1f44d765a071a

[2019-05-07 13:21] paulxll opened #252 "got ImportError when"
I cannot run import statement `import databricks.koalas as ks` on Databricks(Databricks Runtime 5.3).

I tried to run that codes but it doesn't work.
[code]
[code]

I got error message below.
[code]

[2019-05-07 13:56] dennyglee commented on #150
For `koalas==0.3.0` when using the Databricks `display()`, I get the following:

[code]

with the output being:
[code]

Note, I can run:
[code]

[2019-05-07 15:41] ueshin commented on #252
@paulxll Thanks for reporting.
Seems like `pyarrow=0.10.0` and `numpy=1.12.0` don't work together.
There are some issues reported ([ARROW-3137](https://issues.apache.org/jira/browse/ARROW-3137), [ARROW-3141](https://issues.apache.org/jira/browse/ARROW-3141)).
Could you try again with `numpy>=1.14` please?

[2019-05-07 19:14] rxin commented on #174
@icexelloss  So what you really want is some ability to broadcast data, which already exists in Spark right?

[2019-05-07 19:14] rxin commented on #169
@garawalid do you want to do the rest as well?

[2019-05-07 21:04] icexelloss commented on #174
Yeah for the param search example I give, it already works. Just wanted to point out parallel_backend('dask') is similar to sc.parallelize instead of Pandas UDF. Nothing really needs to be add to Spark to support that.

[2019-05-07 21:21] garawalid commented on #169
@rxin
Of course, I'll handle the rest!
You can close it.

[2019-05-07 21:59] rxin commented on #169
We only close the ticket once all the items are done :)

[2019-05-07 23:40] #252 closed

[2019-05-08 00:27] rxin commented on #217
I just ran into the same issue. Please fix it @sadikovi :)

[2019-05-08 00:30] rxin commented on #217
BTW the one I ran into was with CSV data. One of the column names have dot in it. And calling dtypes would return a bad exception, whereas calling to_spark().dtypes would be fine.

[code]

[2019-05-08 02:54] paulxll commented on #252
@ueshin
Thank you for describes. Your solution work for me.

[2019-05-08 06:26] nitlev commented on #152
Hey, I started working on Dataframe.pipe if that's okay. I'll have to change a bit the docstring as the one used in pandas won't make the tests pass, but I think I can get something working soon.

[2019-05-08 06:32] rxin commented on #152
@nitlev please do. Thanks for working on it.

[2019-05-08 08:10] sadikovi commented on #217
Thanks for letting me know. Will do!

[2019-05-08 08:29] floscha opened #263 "Converting NaN objects falsely turns NaN into None"
When converting a DataFrame/Series of type `object` (i.e. Strings) with `np.nan` values to Koalas DataFrames and back, the former `np.nan` values are replaced with `None` as can be seen below:

[code]

However, the following output would be expected instead:
[code]

I assume this behavior is caused by the fact that Spark does not support NaN values for String columns but uses None instead. Consequ

[2019-05-08 09:07] thunterdb commented on #263
Hello Florian,
what use case do you have to interpret the different between NaN and None
in pandas? They seem to be aligned in recent versions of pandas to express
the same notion of missingness. According to the warning in this section:
https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html#values-considered-missing
None will behave as NaN inside pandas dataframe (as opposed to

[2019-05-08 10:43] floscha commented on #263
Hi Timothy,

I agree that in most cases the difference between NaN and None is negligible. One example where it matters, however, is #264 where I have to expect None values from Koalas `merge()` operation for the unit tests to pass. While this technically works, it feels awkward since the respective pandas method would return NaN instead of None. For the sake of consistency, I would prefer if Koal

[2019-05-08 21:41] shril commented on #169
@garawalid are you doing to_excel function?

[2019-05-08 21:58] #233 closed

[2019-05-08 22:03] garawalid commented on #169
@shril not yet! You can pick it up.

[2019-05-08 22:19] wbrandler opened #269 "FAQs about koalas"
Are koalas dataframes mutable (like pandas dataframes)?

Are koalas dataframes truly pandas, or translating pandas to pyspark syntax, using pyspark dataframes under the hood?

[2019-05-08 22:24] garawalid opened #270 "Travis CI: issue with python 3.5 and doctest"
Travis CI with python 3.5 returns different results than expected in `doctest`.
Here is an example :
[code]

I check `doctest` with Pandas 0.23.4 and python 3.6 locally and everything works well.

We had this issue in these PRs:  #239  #238 #267

[2019-05-08 23:08] HyukjinKwon commented on #270
I think this is an issue inherited from Pandas. You can use `...` for now

[2019-05-08 23:46] HyukjinKwon commented on #269
It uses PySpark DataFrame under the hood. It's immutable at its core but mimics mutability.

[2019-05-08 23:47] #269 closed

[2019-05-09 00:43] rxin opened #272 "Fail CI if doc generation contains WARNINGs"
Right now we have a bunch of errors:

[code]

We should fail CI if there are errors.

[2019-05-09 01:14] arisehkawamura commented on #270
Hope this helps

[Are dictionaries ordered in Python 3.6+? - Stack Overflow](https://stackoverflow.com/questions/39980323/are-dictionaries-ordered-in-python-3-6)

[2019-05-09 01:51] HyukjinKwon commented on #270
Thanks, either way looks not specific to this library.

[2019-05-09 02:13] ueshin commented on #270
We can't leave the flakiness.

I guess we can fix by explicitly reordering columns after `df` is created, or avoiding using `dict`.

[code]

or

[code]

Let me fix the existing tests.

[2019-05-09 02:31] ueshin commented on #270
Seems `columns=[...]` works:

[code]

[2019-05-09 03:47] #270 closed

[2019-05-09 05:32] #272 closed

[2019-05-09 06:08] rxin opened #280 "mean/kurt/var/std/skew should apply on numeric columns by default"
See screenshot:

![Screen Shot 2019-05-08 at 11 08 37 PM](https://user-images.githubusercontent.com/323388/57431000-3a893c80-71e6-11e9-8c9b-eec113e1c7ac.png)

[2019-05-09 06:18] rxin opened #281 "String handling functions (Series.str)"
The set of Series.str functions are super useful for manipulating text data: http://pandas.pydata.org/pandas-docs/stable/reference/series.html#string-handling

We can probably start with building a simple framework that can wrap around pandas' Series.str functions using pandas UDF. Then for the functions that have native Spark ones, change the implementation to use the Spark native ones instead fo

[2019-05-09 06:19] rxin opened #282 "Datetime Properties functions (Series.dt)"
Similar to the string one (#281), it'd be great to implement Series.dt functions.

[2019-05-09 08:52] #232 closed

[2019-05-09 09:07] floscha opened #285 "Allow querying DataFrame directly in sql method"
While I really like the idea of @rxin's recent #256 PR, he uses an (in my opinion) over-simplistic example of `ks.sql("select * from range(10) where id > 7")`. I believe that the ability to query actual Koalas DataFrames through SQL can prove really valuable to many users. However, when trying to use `ks.sql` with a Koalas DataFrame, the following exception occurs:

[code]

This is not surprising

[2019-05-09 09:15] HyukjinKwon commented on #285
I think we shouldn't mix PySpark APIs and Koalas APIs. Maybe we should add a method called `to_spark(..)` and delegate everything to there.

As you said, I think `ks.sql`'s purpose is mainly to generate some data or read data from Spark source only. We maybe should document this limitation clearly.

So, when they want to switch to PySpark context, they should explicitly call `to_spark(...)`. Once

[2019-05-09 09:27] nitlev commented on #280
Is someone working on this one ?

[2019-05-09 11:00] floscha commented on #285
I see the point of not mixing the two libraries' APIs. Then again, how does `ks.sql` relate to the pandas API where no `pandas.sql()` exists?

Also, the mentioned `to_spark()` method already exists but I don't quite understand how it relates to the `ks.sql` method.

[2019-05-09 13:03] HyukjinKwon commented on #285
I was thinking adding some APIs non-existent in Pandas (with some strong reasons) might make sense (see https://github.com/databricks/koalas#unify-small-data-pandas-api-and-big-data-spark-api-but-pandas-first); however, if that brings a bunch of compatibility issues, I think we should restrict its usage rather than putting efforts to extend PySpark's API usage.

For instance, `sql.registerDataFram

[2019-05-09 13:04] HyukjinKwon commented on #280
Please go ahead.

[2019-05-09 13:08] HyukjinKwon commented on #65
There are some problems to use it directly.

1. Current Scalar UDF doesn't support aggregation across whole data. If we do the same thing, it will aggregate each batch unit that's internally used (arrow batch).

2. If we restrict it's 1 to 1 then we can consider `transform` instead. But we shouldn't forget we should check if the input & output length are same.

3. When `axis` is different, it will

[2019-05-09 13:22] thunterdb commented on #285
@floscha it is interesting that you mention that topic now. I was looking into how to port pandasql to koalas, taking into account python's normal syntax for string interpolation. As an example, this statement:

[code]

This is equivalent to:

[code]
The variables are not necessary as a start, but they are very convenient because I see a lot of error when doing string interpolation in general. The

[2019-05-09 13:25] thunterdb commented on #285
I forgot the link: https://github.com/yhat/pandasql
They choose to not up brackets. The advantage of using brackets is that any python user will be familiar with the format, the IDE will probably have autocomplete (I see that github make the proper highlights) and it allows the interpolations of arbitrary values.

[2019-05-09 13:51] #152 closed

[2019-05-09 14:06] floscha commented on #285
Hey @thunterdb, I also had *pandasql* in the back of my head but wasn't quite sure whether or not you consider it to be "actual" pandas. Injecting values from variables is definitely a cool feature to have but I think first of all there needs to be a decision if the functionality to run SQL queries should be part of Koalas or rather something external like KoalaSQL 😉

@HyukjinKwon I don't really s

[2019-05-09 14:19] HyukjinKwon commented on #285
@floscha, what I mean by compatibility is between Koalas DataFrame and Spark DataFrame. Now we have to consider compatibility with Spark SQL <> Koalas DataFrame as well.

Yes, in that case, we shouldn't rather avoid to add Spark related APIs since we target users who want to use something different from PySpark.

[2019-05-09 15:51] abishekganesh72 commented on #169
I can take up one of the functions. Let me know if something is available.

[2019-05-09 16:21] HyukjinKwon commented on #169
Please say that you're working on some functions here and go ahead.

[2019-05-09 17:26] dennyglee opened #287 "Cannot select [] with dates as index"
Run the query:
[code]
and get the error:
[code]

To recreate `kdf`:
[code]

[2019-05-09 20:53] floscha commented on #285
@HyukjinKwon, what compatibility between Spark SQL and Koalas DataFrame do you mean? The project already has [several dependencies on Spark SQL](https://github.com/databricks/koalas/search?q=pyspark.sql) that require compatibility in some sense.

And again, `ks.sql()` is already a method that has no equivalent in pandas but rather directly translates to PySpark's `DataFrame.sql()` method. Since it

[2019-05-09 22:00] rxin commented on #285
Great discussion. Here are my thoughts: my vision is that there is a nontrivial chance Koalas becomes the de facto standard "big data science" API over time.

That is, when data scientists work with big data, they use Koalas. They know it runs on Spark (or maybe even some other thing in the future), but they don't necessarily know the PySpark API because that's all they have learned (when they tra

[2019-05-09 22:35] garawalid commented on #270
I agree `columns=[...]` works. Still, some cases where we have to skip them by `# doctest: +SKIP`.
Example `DataFrame.to_json` #238

[2019-05-09 22:38] tdliu commented on #285
Those are really good points...
In any case, making the overall goal clear is important. Summarizing the discussion: we can go in two directions.

1. Make Koalas mirror pandas as much as possible 1:1. In this scenario, we only implement the gaps in making pandas work on big data. Users familiar with Python DS ecosystem will be able to migrate single node workloads with minimal changes. Also crucia

[2019-05-09 23:02] rxin commented on #285
@tdliu they could run Koalas locally with Spark though :) No setup needed.

[2019-05-10 05:44] rxin commented on #174
I'm going to close this for now since it's unclear what the action items are.

[2019-05-10 05:44] #174 closed

[2019-05-10 05:54] rxin commented on #285
BTW on this specific function ... there are couple ways:

1. Be more "magical" and just automatically import all locals() and globals() DataFrames, and create temporary views for them. This would be by far the most convenient and fairly error prone. So the following will work out of the box:

[code]

2. Similar to pandasql, require explicitly passing in the list of DataFrames. The above will now l

[2019-05-10 07:42] thunterdb commented on #247
Note that the patch referred to by @HyukjinKwon does not include a working .iloc, just a better error message.

@brookewenig can you tell us more about which behaviour of .iloc you want? Since Koalas/Spark does not have an ordering of the rows, I am thinking of the following:
 - but a big warning in the doc that the outcome may differ because Spark has no intrinsic notion of ordering of the rows,

[2019-05-10 08:03] floscha commented on #285
Hi @rxin, thanks for your extensive thoughts on the topic. Here is my opinion on the suggested approaches:

1. I would definitely prefer this version of the `ks.sql()` API since it directly translates to common SQL which I assume is what users would expect. Also, it would be consistent with Spark SQL's `sql()` method. However, I strongly dislike creating temporary views for all DataFrames out of w

[2019-05-10 08:26] floscha commented on #285
On the more general vision of Koalas:
- I feel like the priority should be on meeting the expectations of users coming from a pandas background. Augmenting the pandas API with Spark-specific functionality like `.cache()`, or `.sql()` for that matter, would therefore not be an issue as long as no pandas methods with the same name exist.
- A valid objection would be not being able to move back from

[2019-05-10 13:51] icexelloss commented on #281
I am taking a look a this

[2019-05-10 14:20] HyukjinKwon commented on #281
Nice! @icexelloss!

[2019-05-10 14:40] icexelloss commented on #285
Great discussion here. I just want to chime in a little on the high level question "Should koalas support sql query" here?

When looking at the question with my engineer hat on, my instinct was "No" because sql functionality is not core pandas API. However, with my PM hats on, my train of thoughts are: Can a pandas user do sql with pandas DataFrame? The answer is yes (with pandassql). Although it'

[2019-05-10 14:56] icexelloss commented on #281
I am working with Hyoojee @hjoo. She will work on this instead :). I am going to take a stab at dt functions.

[2019-05-10 14:57] icexelloss commented on #282
I am taking look at this

[2019-05-10 14:57] hjoo commented on #281
I'm working on this.

[2019-05-10 16:28] rxin commented on #285
@floscha "However, I strongly dislike creating temporary views for all DataFrames out of which the majority might never be used"

I don't know if you and I were on the same page. Here's what I had in mind, which I think is strictly a superset of your current implementation, with very little work ...

[code]

This way - we don't need to build a full SQL parser outside Spark, which would be difficul

[2019-05-10 20:59] brookewenig commented on #247
@thunterdb I do not want my code to break when going from Pandas -> Koalas.

This is why I think we should have a guide on "gotchas" when going from single node to distributed. A pandas user might not understand that Spark doesn't have this notion of ordering of rows.

I like both of your suggestions!

[2019-05-10 21:08] dvgodoy opened #293 "Plot functions (Series.plot)"
Similar to #281 and #282, but for plotting methods (`bar`, `hist`, `boxplot` and `scatter` - `line` probably doesn't make much sense).
The ability to plot and visualize data is fundamental for the exploratory data analysis step in a ML pipeline.

[2019-05-10 21:09] dvgodoy commented on #293
I have worked on this in the past and I will be porting the implementations for these 4 kinds of plots to Koalas.

[2019-05-11 05:18] athena15 commented on #169
Working on .to_latex() function. Pull request coming soon.

[2019-05-11 05:23] abishekganesh72 commented on #169
Working on to_records

[2019-05-11 05:54] rxin commented on #169
Thank you all!

[2019-05-11 06:08] rxin commented on #231
@pyMixin would you be interested in working on this?

[2019-05-12 00:58] rxin commented on #217
@sadikovi any eta?

[2019-05-13 04:40] rxin opened #301 "Multi-index conversion"
Not sure if this is a bug or a feature request.

The following docstring test would fail in Koalas:

[code]

[code]

Seems like we convert the label into `('speed', 'max')`

[2019-05-13 04:43] rxin opened #302 "nsmallest / nlargest"
Two basic functions to support in both DataFrame and Series.

Note that pandas doc says: "This method is equivalent to df.sort_values(columns, ascending=True).head(n), but more performant." In the case of Koalas there shouldn't be a difference, because Spark's query optimizer will collapse a sort_values followed by head into a topk operator internally.

https://pandas.pydata.org/pandas-docs/stable

[2019-05-13 04:48] rxin opened #303 "nunique"
Both DataFrame / Series should have nunique method. This should be pretty easy to implement by using the count_distinct expression in Spark.

dropna would require little bit of extra handling (perhaps by adding a filter?).

We might want to introduce a flag that does approximate unique, using HyperLogLog, which would be much faster.

pandas docs:

https://pandas.pydata.org/pandas-docs/stable/refer

[2019-05-13 04:51] rxin opened #304 "sort_index"
Should be available on both DataFrame and Series.

For backward compatibility, we might want to keep the "kind" option but state that its value is ignored.

pandas doc:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_index.html
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.sort_index.html

[2019-05-13 04:52] rxin commented on #304
cc @floscha I added a bunch of tickets to add some functions. Would love more of your contributions :)

[2019-05-13 04:53] rxin commented on #285
I changed the ticket name to reflect the discussion more.

[2019-05-13 04:58] rxin opened #305 "Series.is_unique"
Although an expensive function, this should be pretty easy to add. We can do a count distinct and compare it with the total cardinality.

pandas doc: http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.is_unique.html

[2019-05-13 05:13] rxin opened #306 "Support more than one index for the index property"
Both DataFrame and Series have this limitation:

[code]

We should just support more than 1 here ... (and also 0).

[2019-05-13 05:14] rxin commented on #301
When this is fixed, we should fix this TODO: https://github.com/databricks/koalas/pull/300/files#diff-5ba644c40e914732959b9b4867f30c53R1030

[2019-05-13 05:17] rxin opened #307 "repr and repr_html should not say "1000 rows" when there are more than 1000 rows"
See repro:

[code]

The same problem exists for _repr_html_ as well. The reason this happens is we take the first 1000 rows and convert it to a pandas DataFrame, and leverage pandas' repr and repr_html methods to show them. We need to intercept the output and replace the "1000 rows" with something like "showing only the first 1000 rows".

[2019-05-13 05:19] rxin commented on #306
When we fix this, we should also update the docs for reset_index to leverage `.index` to show Koalas doesn't add a sequential index by default.

[2019-05-13 05:55] ueshin commented on #306
I'll take this.

[2019-05-13 05:57] ueshin commented on #306
We might need to add `Index` and `MultiIndex` instead of `Series` as pandas' `Index` and `MultiIndex`.

[2019-05-13 06:48] rxin opened #308 "Series.fillna"
We implemented DataFrame.fillna but not Series.fillna.

pandas doc: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.fillna.html#pandas.Series.fillna

It seems like the doc can just reuse DataFrame's, as long as we change the Returns section and add an example doctest to verify Series.fillna behavior.

[2019-05-13 06:49] rxin commented on #308
cc @garawalid want to add this? You added DataFrame.fillna.

[2019-05-13 08:07] floscha commented on #285
@rxin I totally agree with you that building our own SQL parser is a bad idea for many reasons (too error-prone, implementing most things twice, potentially different behavior than the one from Spark, etc.) However, what I don't like too much about your implementation is the overhead that is created by registering temporary views for absolutely all DataFrames in memory which makes this approach ki

[2019-05-13 08:07] floscha commented on #304
Sure @rxin, I'll see what I can do :)

[2019-05-13 08:07] garawalid commented on #308
@rxin I'll take care of it.

[2019-05-13 08:10] rxin commented on #285
The overhead is pretty small actually (just adding to some in memory hashmap in Spark). What we could do to make it even less is to tokenize the sql string and only register a DataFrame if there is a token and a global variable that matches.

I also know @thunterdb prefers wrapping the table name with square brackets...

[2019-05-13 08:25] sadikovi commented on #217
I am still working on the problem, found there are quite a few examples for which I would need to check my patch. Will submit PR this week, apologies for the delay.

[2019-05-13 09:37] floscha commented on #285
I've removed the "SQL parser" now for #291 and replaced it with the suggested tokens.

[2019-05-13 09:48] floscha commented on #303
I'm happy to implement this method as I use it a lot in pandas.

[2019-05-13 10:08] HyukjinKwon commented on #303
Please go ahead.

[2019-05-13 12:19] floscha commented on #285
One potential issue I was wondering about: If the user runs a query on a DataFrame for which a temporary view has already been created, `ks.sql()` will crash. However, this can only be achieved by bypassing Koalas and creating the view using the PySpark API. Therefore, I'm wondering if it's worth explicitly handling such a case or rather expect the user to not mess things up 😉

[2019-05-13 13:58] ezwiefel opened #312 "Suggestion for improvement use koalas instead of databricks.koalas"
The current naming / import of the package feels inconsistent and not what I expect as a Python developer - especially if we're trying to reduce the barrier of entry from Pandas to Spark. It's not a big deal, but changing this could reduce friction.

I'd recommend being consistent (and shadowing Pandas) for both the pip install and import statements:

_Pandas style:_
`pip install pandas`
`import p

[2019-05-13 17:45] ch-nickgustafson commented on #111
This could be because when writing a parquet with Spark, several non parquet files are produced. e.g.
[code]

The workaround/kludge I've used if I want to then read these parquet output using pandas is to copy all of the `*.parquet` files to a new directory. You should then be able to read the parquet files with pandas.

[2019-05-13 18:37] rxin commented on #285
Good point. We probably need to restore those after we are done.

Maybe we should do what @thunterdb wanted - wrap stuff around square brackets and then everything is clear ...

[2019-05-13 19:27] floscha opened #318 "clip_lower/clip_upper deprecated"
Both the *missing/frame.py* and *missing/series.py* files contain entries for the `clip_lower()` and `clip_upper()` methods. According to the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.clip_upper.html), both methods are deprecated now. While it would be trivial to add those to Koalas once #313 is merged, I'm wondering if makes sense to still

[2019-05-13 19:31] rxin commented on #318
I wouldn't add them. Maybe we can create a section in missing to indicate these methods are deprecated and we wouldn't implement them.

[2019-05-13 20:20] rxin opened #319 "Remove DataFrame.__iter__"
The current implementation is too error-prone in big data:

[code]

It will just blow up with large amount of data.

[2019-05-13 20:26] rxin commented on #319
cc @thunterdb since you added this one ...

[2019-05-13 21:03] rxin opened #320 "Add docstring for DataFrame/Series.loc"
loc is the only method right now that doesn't have any docs, making it virtually impossible to reason about what's supported and what's not.

[2019-05-13 21:04] rxin commented on #320
@ueshin I'm assigning this to you since you added this function.

[2019-05-14 02:29] ueshin commented on #320
Sure, I'll take this.

[2019-05-14 04:48] rxin opened #322 "internal refactoring: create an immutable internal dataframe structure"
Right now DataFrame wraps around two data structures: _metadata and _sdf (a Spark DataFrame). Series wraps around three data structures: _scol (a Spark Column), _kdf (the Koalas DataFrame), and _index_map.

I think it will be easier to reason about if we create a single internal data structure that's immutable (say InternalFrame). The user facing DataFrame and Series are still mutable, but they si

[2019-05-14 04:50] rxin commented on #322
BTW if Metadata is already immutable, we could also just move _sdf and _scol into the Metadata class, and then rename the class to InternalFrame ...

[2019-05-14 08:23] #307 closed

[2019-05-14 09:03] thunterdb commented on #285
Great comments here. My main issues with the 'magic' approaches (1 and 2, mapping straight the names of tables to variables) is that as you are finding, they are a few cases of ambiguity:

If you take the statement `SELECT m.col FROM my_table m`

In SQL / Spark, `my_table` is referring to a registered table.

In pandasql, a new DB is created all the time in sqlite when evaluating sql statement, so

[2019-05-14 09:08] thunterdb commented on #285
Also, regarding the parsing of the `{}`, we can simply reuse the parser from cpython, see this example:
https://www.programcreek.com/python/example/98516/_string.formatter_parser

[2019-05-14 14:29] abishekganesh72 commented on #302
@rxin I will take a look at it

[2019-05-14 17:10] rxin commented on #318
@floscha want to submit a patch to resolve this?

[2019-05-14 18:19] floscha commented on #318
Sure. What do you think about extending the `PandasNotImplementedError` class with an additional `is_deprecated` argument which defaults to `False`? This would give users (and potentially developers) a hint that this method/property is not only not implemented but also should not be implemented in the future.

[2019-05-14 20:03] rxin commented on #318
Sounds great!

[2019-05-14 20:47] rxin commented on #312
Thanks. I'm going to leave this ticket open here so others can chime in. We can consider it if there's enough request.

[2019-05-14 23:17] rxin commented on #247
@ueshin do you think we can add this in 0.5?

[2019-05-14 23:33] rxin commented on #49
I think we should start with a simple implementation that supports frac first. We can worry about how to do exact or approximate n later. Basically supports the following:

[code]

and throw an exception if n is specified.

[2019-05-15 00:04] rxin commented on #285
Yes - i feel we should just support `{my_df}` for now, since it's a safe choice, and see what type of feedback we get. If everybody tells us to support this without the curly braces, we can change it in the future.

[2019-05-15 01:49] #308 closed

[2019-05-15 02:04] ueshin commented on #247
If we limit the row access to `.iloc[:10, ...]` (`head(10)`) or `.iloc[:, ...]` (get all rows) as @thunterdb suggested, yes, we can do in 0.5.

[2019-05-15 03:04] #320 closed

[2019-05-15 03:05] #305 closed

[2019-05-15 03:05] #49 closed

[2019-05-15 04:16] HyukjinKwon commented on #150
Yea, sorry, this happens. I just verified it.

[2019-05-15 04:19] HyukjinKwon commented on #150
but I do think this is specific to `display()` method, not Koalas

[2019-05-15 04:23] dennyglee commented on #150
In retrospect, that's fair as this really has to do with `display()` recognizing a `koalas` DataFrame in the same way it already recognizes a `spark` or `pandas` DataFrame.

[2019-05-15 04:24] rxin commented on #150
We need to fix Databricks' display to take into account a Koalas DataFrame.

[2019-05-15 04:41] rxin commented on #319
For now I think we should just remove it. We can add it back when we have a better way to do this. One way to do this is through toLocalIterator, but it's still a bad practice in general.

[2019-05-15 04:47] HyukjinKwon commented on #150
Let me leave this one closed for now as it doesn;t looks an issue in Koalas but I will track this until it's fixed.

[2019-05-15 04:47] #150 closed

[2019-05-15 04:59] rxin commented on #287
cc @ueshin @HyukjinKwon can one of you look into this for the next release?

[2019-05-15 05:08] rxin opened #333 "DataFrame.cache()"
This would be a super useful function to have, even though it's Spark specific. In terms of documentation, we should create a Spark specific section in frame.rst.

[2019-05-15 05:11] rxin opened #334 "DataFrame/Series.describe()"
pandas version: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html

This is a very useful function for understanding the dataset. Note that Spark already has a describe that does similar things. A simple version of Koalas' describe can just delegate to Spark's. A fancier version should construct the descriptive stats and then match more pandas'.

[2019-05-15 05:33] #319 closed

[2019-05-15 06:15] rxin opened #339 "DataFrame.astype()"
We implemented Series.astype, but not DataFrame.astype.

pandas doc: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html

[2019-05-15 06:28] HyukjinKwon opened #340 "Series.astype does not understand Spark type strings"
[code]

[code]

[2019-05-15 06:30] rxin commented on #340
Related to this, we should also support the Spark type object, e.g. IntegerType.

[2019-05-15 06:31] rxin commented on #285
@floscha want to update your existing PR to do that (interpolation with curly braces)? Alternatively you can close this one and open a new one, just in case we want to change to a different design in the future (then we will have easy access to your old code).

[2019-05-15 07:00] garawalid commented on #322
I agree with you. Especially, caching the result of to_panads() will save computation because we use it in many methods like to_numpy()

[2019-05-15 07:19] rxin commented on #247
Yes let's just do those two Tim suggested.

[2019-05-15 10:48] thunterdb commented on #319
Yes, merging that attempt was a mistake. Thanks for removing it.

[2019-05-15 10:52] thunterdb commented on #333
Unlike `.select` which exists in pandas, this function is very specific to spark. How about putting all the spark specific functions under a `.spark` accessor?

It looks like `dask` is not doing that and simply mixes pandas and dask-specific functions, but I am not sure this helps users:
http://docs.dask.org/en/latest/dataframe-api.html#store-dataframes

[2019-05-15 14:17] joneschrisg commented on #150
With latest Databricks upstream, you don't need `display()`: just evaluating a koalas DataFrame should render a nice HTML representation.  But the explicit calls to `display()` should do something useful too.

[2019-05-15 17:05] athena15 commented on #312
My .02...I'd lean towards `import koalas as ks`. Everyone working with pandas is used to `import pandas as pd`, and our goal should be to make the transition as seamless as possible.

[2019-05-15 23:57] tdliu opened #343 "pandas.DataFrame.tail"
Head is implemented but tail is not. Tail is not just useful for exploring data but also a very useful way of slicing data.

Example: users have data ordered by date. They want to take the last 30 days. They can just call tail(30)

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html

[2019-05-16 00:28] tdliu commented on #231
Is someone working on this? This is a super helpful function.

Example:
`test["target"] = train["target"].mean()`
`all_df = pd.concat([train[["ID", "target"] + cols], test[["ID", "target"]+ cols]]).reset_index(drop=True)`

[2019-05-16 04:37] rxin commented on #343
Is the most common case people run tail after sorting? It's actually somewhat poor performance to implement a general purpose tail.

[2019-05-16 08:45] HyukjinKwon commented on #312
actually I personally like this way too.

[2019-05-16 09:44] HyukjinKwon commented on #287
I think it's non-trivial to implement all slicing cases. If I am not mistaken, we can reuse `iloc` for this support and it can be almost a duplicate of #247

[2019-05-16 09:45] HyukjinKwon commented on #231
I'm gonna take a look

[2019-05-16 11:01] thunterdb commented on #322
Having a separate immutable and internal data structure sounds good to me.
We will need an option to disable it though because these arrays can be
very large and should not always be kept in memory.

Series and DataFrame are pretty different both in behaviour and API, so
these should be kept separate in my opinion (shape, indexing, slicing, ...
all have different behaviour).

On Wed, May 15, 2019

[2019-05-16 11:04] devender-yadav opened #345 "Java gateway process exited before sending its port number error"
Using koala: 0.4.0

Trying to run the sample program given in the README in the jupyter notebook:

    import pandas as pd
    pdf = pd.DataFrame({'x':range(3), 'y':['a','b','b'], 'z':['a','b','b']})

    # Create a Koalas DataFrame from pandas DataFrame
    df = ks.from_pandas(pdf)

    # Rename the columnsa
    df.columns = ['x', 'y', 'z1']

    # Do some operations in place:
    df['x2'] = df.x

[2019-05-16 11:14] HyukjinKwon commented on #345
Seems like there was an error between JVM and Py4J. Are you able to run any Spark job? Looks it's not an issue in Koalas

[2019-05-16 18:01] #318 closed

[2019-05-17 00:24] Cheffress commented on #312
Agree with all of the above.

[2019-05-17 04:11] ustcscgyer commented on #343
It is not as straightforward as it seems. In Pandas, all the data is already in memory, `tail` is not too much different to `head`. In SparkDataFrame, data is calculated at the time of consuming, getting tail means you have to evaluate the whole data set.

[2019-05-17 04:45] ueshin commented on #247
I'll work on this.

[2019-05-17 05:24] HyukjinKwon commented on #345
Let me leave this resolved. I am pretty certain that it's not an issue in Koalas.

[2019-05-17 05:24] #345 closed

[2019-05-17 15:16] icexelloss commented on #312
I am +1 to the package `koalas`

[2019-05-19 01:28] #339 closed

[2019-05-19 01:32] HyukjinKwon commented on #340
I am having a offline discussion with @rxin (and Reynold will be on the vacation for the next week).
I will share the rough summary of the discussion when it's finished.

Since the release will happen in the middle of the next week, I will get rid of the release version for now. But please bring it back @rxin if you think it should be done. I will take a look and get this done first.

[2019-05-19 05:09] shril commented on #333
@rxin, @thunterdb I am taking this up.

[2019-05-19 16:19] shril commented on #169
@rxin, I have implemented `to_records` in  PR #298.
Can you please close this issue?

[2019-05-19 22:31] thunterdb commented on #340
We should centralize all the type conversions in this function, there are a couple of places where they appear:
https://github.com/databricks/koalas/blob/master/databricks/koalas/typedef.py#L129

By the way, if you use that function and the lower case, it should work.

[2019-05-19 22:41] thunterdb opened #354 "DataFrame.merge issues with specifying both joins"
The `.merge` function does not seem to work when the index is set through `set_index`. Here are two examples that works with pandas but fail with Koalas:

[code]

[2019-05-20 03:33] HyukjinKwon commented on #340
Ah, yea. Actually PySpark side delegates such type parsing into SQL parser. I was thinking about doing the same thing. but we should consider struct, map types etc. and maybe alowing those might lead to confusions. Like .. users could complain why Koalas dataframe doesn't take PySpark's column as arguments.

[2019-05-20 04:15] #231 closed

[2019-05-20 07:05] thunterdb commented on #285
@floscha I took upon me to take your code and make the change to curly braces in #360 . Can you comment there and tell me what you think?

[2019-05-20 07:39] HyukjinKwon commented on #169
Thanks, @shril. This issue is nicely finished.

[2019-05-20 07:39] #169 closed

[2019-05-20 07:41] HyukjinKwon opened #362 "Implement missing DataFrame/Series/Index APIs"
I am opening this as a reminder. Probably I might keep opening and closing for each release - not sure yet about it. I don't intend to open this so long time.

To get to the point, eventually we should fix all of the missing APIs here:
https://github.com/databricks/koalas/blob/master/databricks/koalas/missing/series.py
https://github.com/databricks/koalas/blob/master/databricks/koalas/missing/fram

[2019-05-20 07:42] HyukjinKwon opened #363 "Implement missing DataFrame APIs"
It is a duplicate of https://github.com/databricks/koalas/issues/362 but targets Pandas'
I am opening this as a reminder. Probably I might keep opening and closing for each release - not sure yet about it. I don't intend to open this so long time.

See:

https://github.com/databricks/koalas/blob/master/databricks/koalas/missing/frame.py#L32-L195

**Please open a separate issue to start to work on

[2019-05-21 04:28] #247 closed

[2019-05-21 05:14] #302 closed

[2019-05-21 07:26] #306 closed

[2019-05-21 11:13] HyukjinKwon commented on #363
Actually let me combine the issues.

[2019-05-21 11:13] #363 closed

[2019-05-21 14:51] lokijota opened #369 "Add support for columns with dots in the name"
I have a CSV with a header line like this:

sex, age, n, mean, s.d.

And when doing:

df = k.read_csv(file)

I get:

org.apache.spark.sql.AnalysisException: syntax error in attribute name:  s.d.;

[2019-05-21 14:53] HyukjinKwon commented on #369
I think this is a duplicate of https://github.com/databricks/koalas/issues/217 .I am sure the root cause is the same or similar for now.

[2019-05-21 15:04] lokijota commented on #369
Possibly. The error is generated on the next line, btw:

df.columns = ["sex", "age", "n", "mean", "sd"]

and the stack trace is:

AnalysisException: 'syntax error in attribute name:  s.d.;'

During handling of the above exception, another exception occurred:

KeyError                                  Traceback (most recent call last)
<command-3743966018611259> in <module>()
     16
     17     df

[2019-05-21 17:52] tdliu commented on #334
Is someone looking into this? We have a webinar coming up and it would be great to be able to use this method (cc @HyukjinKwon, @ueshin).

[2019-05-21 18:08] rxin commented on #334
Yes please. We should use approximate quantile in Spark automatically.

On Tue, May 21, 2019 at 5:52 PM tdliu <notifications@github.com> wrote:

[2019-05-21 19:30] tdliu commented on #263
There's a pretty good discussion of this in this [post](https://stackoverflow.com/questions/17534106/what-is-the-difference-between-nan-and-none).

[2019-05-21 19:53] saibhargav8379 opened #370 "Package Documentation"
Please provide any updated documentation that contains pandas functions, spark functions, what are the pandas functions that are implemented in koalas, what pandas functions yet to be implemented and also same with spark and what are the functions that are exclusive to koalas.

[2019-05-21 21:01] garawalid commented on #334
@tdliu I'll try to finish it ASAP.

[2019-05-21 21:30] tdliu opened #371 "Can't convert object type column to datetime64 with to_datetime"
In my data frame, I have a column of object type that I want to convert to datetime. In pandas, I call `pd.to_datetime(data["Received DtTm"])` on a pandas data frame, which returns the column in datetime64 format. After I execute `ks.to_datetime(data["Received` DtTm"])` on a Koalas data frame and call head on the column, I run into an error.
![Screen Shot 2019-05-21 at 2 30 02 PM](https://user-ima

[2019-05-21 22:48] thunterdb commented on #370
@saibhargav8379 this is covered in the public documentation: http://koalas.readthedocs.io

Feel free to make some contributions if you see something missing.

[2019-05-21 22:48] #370 closed

[2019-05-21 22:51] thunterdb commented on #371
What is the outcome of trying `pd.to_datetime(...)`? It might be a
limitation of the underlying pandas implementation.

On Tue, May 21, 2019 at 2:30 PM tdliu <notifications@github.com> wrote:

[2019-05-21 23:22] tdliu commented on #371
It properly converts it to datetime64.
![Screen Shot 2019-05-21 at 4 22 02 PM](https://user-images.githubusercontent.com/4130267/58136877-97242880-7be4-11e9-8ad8-d727dcf35d95.png)

[2019-05-22 03:25] HyukjinKwon commented on #371
I think object type isn't supported via Pandas <> Arrow optimization. It would be helpful to diagnose further if the current input and output are clarified. Can you show `data_pd` and the full error messages?

[2019-05-22 04:36] tdliu commented on #371
Shared notebook with @HyukjinKwon

[2019-05-22 05:52] thunterdb commented on #371
It turns out this was an issue with databricks. I am going to close this issue.

[2019-05-22 05:52] #371 closed

[2019-05-22 08:08] HyukjinKwon commented on #322
I am going to retarget this to 0.6.0

[2019-05-22 08:27] #334 closed

[2019-05-22 19:49] rxin commented on #217
@sadikovi any update?

[2019-05-22 19:51] rxin opened #376 "Add percentiles to describe"
pandas supports percentiles: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html

I think we can do a similar thing, but use Spark's approximate percentiles and document that.

[2019-05-22 21:48] patryk-oleniuk commented on #376
I would like to start contributing and as it's marked, this may be a good issue to start.

As I understand, I should add to `koalas.frame.describe()` the `percentiles=[0.25, 0.5, 0.75]` optional parameter. Then using sparks df stat capabilities, add the stat rows:

[code]
Question:
from https://spark.apache.org/docs/2.0.0/api/R/approxQuantile.html

Where do I take the  `relativeError` value from?

[2019-05-22 22:38] rxin commented on #376
I think we should have a parameter eg approx_quantile_error so users can
set it, but default to a value reasonable for big data, eg 0.01.

On Wed, May 22, 2019 at 9:48 PM Patryk Oleniuk <notifications@github.com>
wrote:

[2019-05-23 00:23] abishekganesh72 commented on #362
@HyukjinKwon any particular functions that need to be done first?

[2019-05-23 00:52] HyukjinKwon commented on #362
I don't have in my mind yet. We should implement all of them and I wanted to pin the reminder for now :).

[2019-05-23 02:32] ueshin commented on #376
I remember @garawalid is also trying to improve the function (https://github.com/databricks/koalas/pull/352#issuecomment-494737733).
@garawalid @patryk-oleniuk Could you share your progress to avoid conflict work?

[2019-05-23 02:52] ueshin commented on #354
I'll take this.

[2019-05-23 07:14] patryk-oleniuk commented on #376
@ueshin thanks for keeping an eye. I'm currently tackling the fact that `approxQuantile()` returns the list of the list of quantiles. That needs to be appended as rows to the previously computed `sdf.describe()` dataframe. Workin on [koalas/frame.py#L2629](https://github.com/databricks/koalas/blob/master/databricks/koalas/frame.py#L2629).

@garawalid let me know if you have something ready and if

[2019-05-23 07:52] ueshin commented on #376
I guess we can use Spark's `DataFrame.summary()` with appropriate parameters instead of `describe()`.

[2019-05-23 16:02] sadikovi commented on #217
I have been busy with some other stuff and have not spent much time on fixing this issue, would appreciate if someone could pick it up.

We should come up with a way that handles the following cases:
- top level primitive column `a.b`
- complex field `a.b`
- two fields: primitive `a.b` and complex `a.b`

I tried having a simple function to surround column names with backticks:
[code]

And use it a

[2019-05-23 17:23] icexelloss commented on #217
We have the same issue with Spark, i.e., internally we have users that historically names their columns with the parameter, e.g., "result_arg1_0.9_arg2_0.8" etc. We have to patch Spark internally to allow that.

I wonder if this is something that should  be handled at the Spark layer?

[2019-05-23 17:31] icexelloss commented on #282
partial implementation of this issue:
https://github.com/databricks/koalas/pull/372

Not every dt function is implemented in this PR

[2019-05-23 18:25] patryk-oleniuk commented on #376
My current work: https://github.com/patryk-oleniuk/koalas/tree/describe-percentiles
Will submit a PR within a few hours.

[2019-05-23 18:37] floscha commented on #263
Thanks for the input @tdliu! Wouldn't this be a good reason for Koalas to also use NaN @thunterdb?

[2019-05-23 18:39] garawalid commented on #376
Thanks @patryk-oleniuk, @ueshin

@patryk-oleniuk you can go for it. I'll share my work in your PR.
@ueshin we can combine `summary()`, `describe()` and `approxQuantile()`.

[2019-05-23 18:41] patryk-oleniuk commented on #376
Just submitted a PR: https://github.com/databricks/koalas/pull/378
@garawalid feel free to add or comment

[2019-05-23 20:31] thunterdb commented on #263
Note that performance is not going to be an issue here in any case: the internal representation in spark of None is a bit mask and the scalar values are always allocated.

Here is what I suggest to do when we convert the data between pandas and spark:
 - for scalar values that have an intrinsic representation of NaN (float, double):
     pandas -> spark: NaN is converted to non-null NaN
     spark

[2019-05-23 23:09] thunterdb commented on #343
spark tends to think of tail as what happened in a linked list (dropping just a few elements), but it is effectively used like .head or .limit on the end of the data.

I have started a small design doc on how we could support these use cases and at the same time ensure that the output is exactly the same as pandas despite the distributed nature of spark. I will share it this weekend or next week.

[2019-05-24 04:25] HyukjinKwon commented on #362
hey @garawalid, let's file a separate issue next time just for separate trackability

[2019-05-24 09:49] sadikovi commented on #217
Spark can handle top level columns with "." in them by escaping names with backticks/backquotes; however, this does not work in koalas, since the code passes column names without escaping them properly.

[2019-05-24 10:53] HyukjinKwon commented on #369
Let me leave it as duplicate of #217

[2019-05-24 10:53] #369 closed

[2019-05-24 11:58] garawalid commented on #362
@HyukjinKwon Okay. I'll open one that contains missing methods for **10-minute tutorial with Koalas** (#196)

[2019-05-24 12:32] floscha commented on #263
Currently the conversion works like follows:
[code]
Should the result not be
[code]
instead?

[2019-05-24 13:06] #304 closed

[2019-05-24 13:47] garawalid opened #382 "Implement missing functions for 10-minute tutorial with Koalas"
This is the list of missing functions for **10-minute tutorial with Koalas** (#196)

+ [ ] DataFrame.pivot_table
+ [ ] DataFrame.reindex
+ [ ] DataFrame.apply
+ [x] DataFrame.append (#388)
+ [x] DataFrame.at (#384)
+ [ ] DataFrame.T
+ [x] DataFrame.sub (#427)

Ignored functions
+ DataFrame.to_hdf
+ DataFrame.iat
+ DataFrame.shift

Some functions could be implemented for both DataFrame and Series.

[2019-05-24 13:48] garawalid commented on #382
@HyukjinKwon any thoughts?

[2019-05-24 16:00] thunterdb commented on #382
Let's focus on: pivot_table, reindex, apply, append, at, T, to_hdf (in this order)

The other functions have big performance impact and will require more careful integration with spark, by using window functions under the hood for example.

@garawalid, if you are looking at implementing some of them, I suggest that we go in this order. What are your thoughts?

[2019-05-24 16:34] floscha commented on #382
I can definitely start with `reindex`,  `append` and `at` as those three all seem pretty straight forward.

The others seem tricky to me for different reasons:
- `pivot_table` and `T` might require special care with their implementation as they potentially move around huge amounts of data between workers.
- `apply` should probably take UDFs since pandas/NumPy methods need to move the data from the

[2019-05-24 18:18] rxin commented on #382
Does anybody still use hdf these days? Maybe I'm not familiar enough with the pandas use cases. I feel maybe it's ok to skip hdf given people rarely use that in "big data".

[2019-05-24 19:03] athena15 commented on #382
@rxin, FWIW I think you are right that to_hdf is a very rarely used function. I'm sure there are edge cases, but I've never seen it used.

[2019-05-25 06:10] #354 closed

[2019-05-25 07:17] floscha commented on #382
I've seen people (including myself) using HDF5 files to store Keras models but I've also never seen anyone using it with pandas or Spark. So probably it makes most sense to leave it out for now and wait until someone requests this feature (if ever).

[2019-05-25 08:26] floscha opened #383 ".loc behavior for scalar values"
Assuming a simple DataFrame `kdf = ks.DataFrame({'A': [1,2,3]})`, running `kdf.loc[1]` results in the following exception:
```SparkPandasNotImplementedError: Cannot use a scalar value for row selection with Spark. You are trying to use pandas function .loc[..., ...], use spark function select, where```

However, `kdf.loc[1:1]` behaves the same as in pandas and returns the wanted column but as a Da

[2019-05-25 11:11] garawalid commented on #382
@thunterdb `pivot_table` sounds a little bit tricky, I'll start with a simple version and we will improve it with different PR.

Thanks @floscha, @rxin, @athena15 , @thunterdb . I'll update the list as you suggested.

[2019-05-26 12:28] garawalid commented on #383
The notion of order in Spark's DataFrame doesn't exist. If we read a DataFrame from the disk, we perform some transformations and then we save it. We won't find the same order as the first.
I think this due to the fact that Spark divides the output into chunks.

[2019-05-26 12:31] garawalid commented on #382
We will ignore `iat` because it needs the position of the row.

[2019-05-26 15:07] floscha commented on #383
What you say is true for regular Spark DataFrames. However, Koalas stores pandas indices as a dedicated *\_\_index_level_n\_\_* column. Given an example DataFrame `kdf = ks.DataFrame({'A': list('abc')})`, it is for example easily possible to get the second column (containing `b`) using `kdf._sdf.where(F.col('__index_level_0__') == 1)`. This what the `.loc` method is made for. I'm aware that gettin

[2019-05-27 07:47] ueshin commented on #383
Here is the previous discussion: https://github.com/databricks/koalas/pull/324#discussion_r283658407

If we want to strictly follow pandas' behavior, we need to count the matched row to change the return value if the matched row is only one or not.
I was not sure whether we want to run the extra `count` job for this.
Also I was not sure what the return value should be, Koalas DataFrame/Series or p

[2019-05-27 10:05] yuwillrun opened #393 "How to contribute to project?"
Hello contributors. I'm a data enginneer who use spark hive and  pandas frequently. When I saw this project, I was very excited. Because it greatly simplifies my work. I want to contribute something to this project. Is there someone guided me how to contribute to the project? And the content of the contribution?

[2019-05-27 10:34] floscha commented on #393
Welcome @yuwillrun.

The [Contributing Guide](https://github.com/databricks/koalas/blob/master/CONTRIBUTING.md) should answer most of your questions. If you are looking for features to work on, you can start [here](https://github.com/databricks/koalas/issues/362). If you have found something, you should open an issue for your feature where you can discuss its feasibility with other contributors be

[2019-05-27 12:08] HyukjinKwon commented on #393
Yup, closing this.

[2019-05-27 12:08] #393 closed

[2019-05-27 12:09] HyukjinKwon commented on #333
hey @shril, have you made some progresses on this?

[2019-05-27 16:26] thunterdb commented on #383
We can certainly add scalar addressing, but I want to hear from more users first, because it is easily an antipattern when using spark:

[code]

[2019-05-27 16:36] thunterdb commented on #333
+1, this is very useful in practice.

Regarding the API, I am thinking that we can add this as a function in the `databricks.koalas` namespace instead of as a method to `DataFrame`. This way, users can write code that works for both pandas and spark dataframes, which helps with writing tests and with transitioning smoothly between koalas and pandas. Then the following code would work with both pan

[2019-05-27 18:03] thunterdb opened #394 "DataFrame.replace"
This is a very convenient function and I have heard multiple users asking for it. This is essentially a more elaborate API on top of DataFrame.map, which is in the process of being merged in #389 .

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html

For the time being, I recommend implementing the following options:
 - to_replace=None
 - value=None

The follo

[2019-05-27 20:15] rxin commented on #333
Why not both? Discoverability is essential. The other thing is I don't think "you should be able to run exactly the same code in pandas by changing a line of import" is a valid goal. As soon as you merge anything that does approximate count, you will break that goal. So there is really no point in keeping that goal.

[2019-05-28 02:05] yuwillrun commented on #393
Ok, thanks your generous reply.

[2019-05-28 10:42] shril commented on #333
@HyukjinKwon I have made some progress. I will update by tonight.
@thunterdb thanks for the input.

[2019-05-28 11:54] HyukjinKwon commented on #394
FYI, I ended up with using CASE WHEN due to behaviour difference in Spark's replace .....

[2019-05-28 20:37] shril commented on #333
@rxin, I'll submit 2 different PRs for cache implementation in `DataFrame` as well as `databricks.koalas` namespace.
I am doing the former one first.

[2019-05-28 21:45] shril commented on #333
@thunterdb, I am using this - ([Link](http://book.pythontips.com/en/latest/context_managers.html#implementing-a-context-manager-as-a-generator)) for Context Management.
I hope you find this ok.

[2019-05-29 01:08] HyukjinKwon commented on #333
Oh wait, let's just have one API rather then in both places of `DataFrame` and `namespace`.

We can do:

[code]

and

[code]

 @thunterdb and @rxin, this idea actually was proposed in PySpark side before as well (https://issues.apache.org/jira/browse/SPARK-16921). We can match the idea in case somebody brings it in to PySpark side later.

[2019-05-29 04:28] ueshin commented on #376
This was resolved by #378.

[2019-05-29 04:28] #376 closed

[2019-05-29 15:51] akhilanandbv003 commented on #394
Can I give it a try?

[2019-05-29 18:28] pyMixin opened #402 "Do we have list of functionality ?"
Do we have a list of functionality which got converted from Pandas to Koalas so far and  #functionality which is in development?

[2019-05-30 02:29] HyukjinKwon commented on #402
Yes, documentation is here - https://koalas.readthedocs.io/en/latest/?badge=latest
Here's things to do implement https://github.com/databricks/koalas/issues/362

[2019-05-30 02:30] #402 closed

[2019-05-30 02:30] HyukjinKwon commented on #394
Please go ahead!

[2019-05-30 06:21] shril commented on #362
@HyukjinKwon, @garawalid, @abishekganesh72, for the sake of convenience, let's pick up 10 functions for now and in the meantime, we can add more to this list.
This will ultimately help us with better communication between contributors.

I am selecting 10 frequently used unsupported functions for frame.py -

- [ ] add
- [ ] aggregate
- [ ] dot
- [ ] eq
- [ ] first
- [ ] keys
- [ ] last
- [ ] info
-

[2019-05-30 06:21] thunterdb opened #405 "Series.fillna does not anchor"
Example to reproduce:

[code]
leads to:
`AssertionError: Cannot combine column argument because it comes from a different dataframe`

[2019-05-30 06:24] shril commented on #362
I am starting with `DataFrame.first()`, `DataFrame.last()` and `DataFrame.keys()`.

[2019-05-30 06:53] HyukjinKwon commented on #362
sounds good :-). Actually, can you get rid of `add` in the list? I plan to do them all like https://github.com/databricks/koalas/pull/401

I plan to add those:

- [ ] add
- [ ] radd
- [ ] div
- [ ] divide
- [ ] rdiv
- [ ] truediv
- [ ] rtruediv
- [ ] mul
- [ ] multiply
- [ ] rmul
- [ ] sub
- [ ] substract
- [ ] rsub

soon at frame.py in one go.

If somebody takes this one, then it's even better to

[2019-05-30 07:13] thunterdb opened #406 "isna() is not working with UDFs"
I am experiencing the following issue with to_timestamp. Here is a reproduction:

[code]

It works with pandas but triggers the following error in spark: `<repr(<databricks.koalas.series.Series at 0x7fd2d0777438>) failed: KeyError: '(CAST(clean_fun(x) AS INT) AS `f(x)` IS NULL)'>`

[2019-05-30 17:23] patryk-oleniuk opened #409 "DataFrame.GroupBy.apply()"
I'm continuously missing this behavior when converting my pandas scripts to koalas:

[code]
That prints out:
[code]

On koalas I just get:
[code]

I can take over and start implementing it myself, but would probably need some general guidelines on how to do it (probably using pysparks pandas_udf).

[2019-05-30 22:51] garawalid commented on #333
I find it tricky to implement only `cache()` without giving access to configure the executor memory and other parameters like `spark.memory.storageFraction`.

We are making the assumption that the DataFrame will fit always the memory.

Any thoughts?

[2019-05-31 03:23] thunterdb opened #410 "Projections loose references to the original dataframe"
Here is a problem that is is currently documented in the doc for [koalas.mlflow.predict](https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.mlflow.load_model.html#databricks.koalas.mlflow.load_model): it is common to isolate a few columns of a dataframe, transform them into a column, and then add this column back into the first dataframe.

Examples:
 - featurization in this [b

[2019-05-31 03:29] thunterdb commented on #410
Note that the issue is not the the fact that we are adding a new column, but rather that we are unable to compare series from the original dataframe with the new dataframe. For example, this code to compute L1 error would currently fail:

[code]

[2019-05-31 08:07] yuwillrun opened #411 "Series index order question"
Recently i'm creating some simple function related to  serise index.
When writing demo to see how index work, i found the series order is confusion like below. Is there something wrong?

[code]

[2019-05-31 08:19] ueshin commented on #411
Hi @yuwillrun, thanks for reporting this!
Could you let us know your environment? E.g., what version of Python, pandas, Koalas?

I tried with master head in my local, but the result seems deterministic:

[code]

[2019-05-31 08:31] yuwillrun commented on #411
Here is my details.
I'm in local jupyter model write python script. The script will run pyspark task via company cluster by docker(abount 500 instances). Is this the reason causing this due to some unknown distributed reasons.

python '3.6.4'
pyspark '2.3.0'
koalas '0.5.0'
pandas '0.22.0'

[2019-05-31 09:03] #303 closed

[2019-05-31 09:11] shril commented on #362
@HyukjinKwon, I already have 2 PRs on my plate.
I will take it once I complete my set of functions.

[2019-05-31 09:59] rxin commented on #217
cc @cloud-fan @HyukjinKwon can you two come up with a proposal to fix this? Seems pretty complicated and would require thinking through nested type support.

[2019-05-31 10:44] yuwillrun opened #413 "spark.Column"
## Serise.py line 80~100
[code]

Hello everyone. `isinstance(data, spark.Column)`:.I want to know what the spark.Column is.Thanks.

[2019-05-31 11:00] rxin commented on #413
It is pyspark.sql.Column in PySpark.

[2019-05-31 11:00] #413 closed

[2019-05-31 11:18] ueshin commented on #411
hm, Spark's `sdf.limit(n)` in Koalas' `kdf.head(n)` we use to limit the number of rows to be shown seems sometimes non-deterministic in a distributed environment.

[code]

[2019-05-31 13:10] cloud-fan commented on #217
I'm not very familiar with koalas, but this case works fine in Spark
[code]

[2019-05-31 21:37] rxin commented on #322
@HyukjinKwon or @ueshin will one of you have time to work on this?

[2019-05-31 21:44] rxin commented on #282
@icexelloss will you be able to complete the rest of them?

[2019-06-01 04:52] HyukjinKwon commented on #217
Let me take this

[2019-06-02 01:37] shril commented on #333
@garawalid I am just persisting the corresponding `Spark DataFrame` of the `Koalas DataFrame` on which `df.cache()` is called.

Isn't it true that we have to take care of the DataFrame fitting in the memory when Pandas functions are called? Please correct me if I am wrong.

[2019-06-02 18:17] benjaminbang987 opened #415 "Panda's `from_records` missing in Koalas"
The equivalent of `from_records` in Pandas is missing in Koalas (unlike the description in https://github.com/databricks/koalas/blob/0ef453b4ed1add1d3468eb3742333d06228d6e24/databricks/koalas/frame.py#L1429, which hints that it should be available along with `to_records`).

It would be a useful addition to Koalas package (or at the least, the commentary should be updated to say that `from_records`

[2019-06-03 01:25] ueshin commented on #322
@rxin I'll take this.

[2019-06-03 03:29] HyukjinKwon commented on #415
This will be virtually `ks.DataFrame(pd.from_records)`. should be easy to add.

BTW, `to_records` is close to violate https://github.com/databricks/koalas#guardrails-to-prevent-users-from-shooting-themselves-in-the-foot . We might have to deprecate it in the future.

[2019-06-03 03:30] yuwillrun opened #416 "dev/lint-python problem"
➜  koalas (master) ✗ dev/lint-python
starting python compilation test...
python compilation succeeded.

downloading pycodestyle from https://raw.githubusercontent.com/PyCQA/pycodestyle/2.4.0/pycodestyle.py...
starting pycodestyle test...
pycodestyle checks passed.

starting flake8 test...
flake8 checks passed.

The pydocstyle command was not found. Skipping pydocstyle checks for now.

The mypy com

[2019-06-03 03:35] #416 closed

[2019-06-03 07:24] HyukjinKwon commented on #406
The cause seems to be https://issues.apache.org/jira/browse/SPARK-18502. Let me try to find a workaround

[2019-06-03 07:49] HyukjinKwon commented on #217
Here's what's going on now:

[code]

`a.b` is being resolved as nested access

[2019-06-03 09:12] HyukjinKwon commented on #405
This is actually bigger problem than I thought. `fillna` requires to make another DataFrame because the corresponding API is existent in Spark DataFrame (not column).

[2019-06-03 09:19] HyukjinKwon commented on #405
Hm .. we should maybe try to write all the series APIs only via expressions but I wonder how far it's possible. For instance, `unique` returns the different number of values.

[2019-06-03 09:20] #406 closed

[2019-06-03 09:22] HyukjinKwon commented on #151
Actually, we enforced that the given type hints are correct at least. Do we target to write all type hint against this issue? if so I think we should delay after 0.7.0 ....

[2019-06-03 09:49] garawalid commented on #405
@HyukjinKwon, I agree. I've been investigating the issue, and I couldn't find a simple solution without changing the series API.

[2019-06-03 12:49] rxin commented on #409
Is this similar to https://spark.apache.org/docs/latest/sql-pyspark-pandas-with-arrow.html#grouped-map and https://spark.apache.org/docs/latest/sql-pyspark-pandas-with-arrow.html#grouped-aggregate ? Perhaps we can just map to that.

[2019-06-03 13:06] rxin opened #420 "Nested data type support"
A lot of big data has nested data types, including structs, arrays, and maps. These are specific to big data / Spark and are not  found in pandas, so we would need to design the APIs. It's best to write a short design doc on how to access and operate on the aforementioned three types.

Some initial thoughts after discussing with @thunterdb ...

We could reuse Spark's acessors, e.g. `a.b` means str

[2019-06-03 13:50] RainFung opened #421 "add reindex function problem"
Hello.
Now i want to add `reindex` function like pandas via PR.
[pandas reindex](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reindex.html)
My first solution is create a `spark.dataframe` for index named index_sdf.Then join index_sdf with koalas._sdf. Data result is correct. But key order is not expected after `spark.join`.

koalas._sdf
+-----------------+-----------

[2019-06-03 14:43] HyukjinKwon commented on #420
Oh hm.. should I close #419 for now?

[2019-06-03 15:13] rxin commented on #420
I feel that's still valid though.

[2019-06-03 16:54] patryk-oleniuk commented on #409
Yes, this is similar. In my current scripts these are the methods I'm using to "manually" make the apply on groupby's.

[2019-06-03 17:24] jreback commented on #420
are you folks aware of: http://pandas.pydata.org/pandas-docs/stable/development/extending.html#extension-types

these are in-pandas support for arbitrary data types defined (internally or externally). These in fact were developed to allow for nested data types. Using a backing store of ``pyarrow`` nested types shouldn't be that hard to support.

[2019-06-03 17:27] icexelloss commented on #409
Hi @patryk-oleniuk! I think it'd great to have groupby apply in koalas.

Spark's groupby apply and Pandas's groupby apply are pretty similar. However, two main difference that I can think of are:

- Spark's groupby apply need full return type specification on the udf definition
- Spark's groupby apply doesn't keep index, while Spark's groupby apply use the grouping key as index.

As a start, I'd p

[2019-06-03 17:36] icexelloss commented on #282
It is on my TODO list and hopefully I can get to it this week or next. But anyone wants to take it over feel free as well.

[2019-06-04 06:45] ueshin opened #426 "Support MLflow 1.0.0."
MLflow 1.0.0 was uploaded to PyPI and will be on conda soon as well, but it has API breaking changes and causes to fail a doctest for `..mlflow.load_model`.

[code]

[2019-06-04 06:50] ueshin commented on #426
@thunterdb Could you take a look at this when you have time?
I fixed the MLflow version to `0.9.1` for now to unblock PRs (#425).

[2019-06-04 07:47] HyukjinKwon commented on #420
Hey @jreback. Thanks for some input here :-). Sounds like user defined type which PySpark has as well (but similarly rather internal and experimental).

`pyarrow` has nested types, yes but supporting to map an arbitrary type out of the box would be a non-trivial work. For instance, if we convert pandas to pyarrow somehow and then read it in JVM sides, what types should it be :D ? We should probabl

[2019-06-04 08:23] nitlev commented on #280
Submitted PR #422

[2019-06-04 09:31] rxin commented on #420
@jreback thanks for commenting. Is there any docs or examples on how that works with pyarrow from the users' perspective?

[2019-06-04 09:35] yuwillrun commented on #421
@ueshin Can you give some advices?

[2019-06-04 10:21] ueshin commented on #421
Hi @yuwillrun, thanks for tackling this issue!
We can't expect the row order after `spark.join` (to be exact, after shuffle). We have to reorder somehow, if needed.

[2019-06-04 10:32] yuwillrun commented on #421
But order data will result shuffle. It expend too much time when sorting data.

[2019-06-04 11:01] HyukjinKwon commented on #362
I opened a PR for mine, #427

[2019-06-04 19:36] jreback commented on #420
@HyukjinKwon from your comments: https://github.com/databricks/koalas/issues/420#issuecomment-498561529

pandas provides full fledged Extension Dtypes (which are used in for example Datetime w/tz, Intervals, Categorical, nullable Ints for example), that simply are 1-d array containers. These work very similarly to how for example pandas holds floats (or ints or whatever). These are completely abst

[2019-06-04 20:46] garawalid commented on #333
@shril, in fact, we need to take care of the memory when we persist the data through `cache()`.

[2019-06-05 01:48] HyukjinKwon commented on #420
Ah, thanks for details. I look forward that project to be public.

One problem we face is that currently the data itself is purely transferred via `pyarrow` and becomes a Pandas instance back at another node. So, other information has to be transferred in some ways to that node.

For PySpark's UDT, those other information like implementation class is held as JSON - inside that, the class definitio

[2019-06-05 17:37] parekhaagam commented on #394
I would like to contribute @akhilanandbv003  do u need any help?

[2019-06-05 17:37] jreback commented on #420
pyarrow is soon going to be able to fully replicate a round-trip of a DataFrame with extension types (and serialize to parquet), see: https://issues.apache.org/jira/browse/ARROW-2428, https://issues.apache.org/jira/browse/ARROW-5271, https://issues.apache.org/jira/browse/ARROW-3829

[2019-06-05 20:32] thunterdb commented on #426
Thanks @ueshin i will check with the mlflow team.

[2019-06-05 20:44] thunterdb commented on #421
because of how spark works, the ordering is going to be unstable anyway. the final shuffle should be optional if users really want the results ordered.

[2019-06-05 20:46] tomasatdatabricks commented on #426
The api changed slightly to use a single uri to reference the model. You need to pass model_uri=runs:/{run_id}/path instead of path and run_id.

[2019-06-05 20:55] tomasatdatabricks commented on #426
Created PR#431. @ueshin @thunterdb

[2019-06-05 23:33] HyukjinKwon commented on #420
That would be nice to have it! I wonder how the types will be handled when they are roundtriped in non-Python ends (JVM for instance because that's what we do). If that's supported out of the box, yea, job done.

[2019-06-06 01:57] yuwillrun commented on #421
Thanks. Can add a parameter decide whether to sort as before ？

[2019-06-06 02:49] akhilanandbv003 commented on #394
@parekhaagam I have been busy with some other stuff, haven't made any progress in terms of this issue. You can go ahead and work on it.

[2019-06-06 10:24] floscha commented on #415
I can quickly add a PR for the `from_records()` implementation.

Regarding ` to_records()`: How about adding an "implementation" that raises a `NotImplementedError` which briefly informs the user about the risk of calling the method on a large dataset and hints that the desired result can be obtained by calling `.to_pandas().to_records()`(at their own risk)?

[2019-06-06 13:53] hjoo commented on #281
Opting not to implement `Series.str.encode()` and `Series.str.decode()` for now because Spark 2.3 doesn't support BinaryType. Issue should be addressed separately from #429.

[2019-06-06 14:41] HyukjinKwon commented on #415
Let's add from_records since we already have to_records for now. to_records has that warning in the doc .. so it might be fine for now ...

[2019-06-07 09:02] HyukjinKwon commented on #409
@icexelloss that's nice details. Let me give a shot!

[2019-06-07 13:59] hjoo commented on #281
#429 implements the following `Series.str` functions:

- `capitalize()`, `upper()`, `lower()`, `swapcase()`
- `get()`
- `startswith()`, `endswith()`
- `strip()`, `lstrip()`, `rstrip()`
- `isalnum()`, `isalpha()`, `isdigit()`, `isspace()`, `islower()`, `isupper()`, `istitle()`, `isnumeric()`, `isdecimal()`

Functions that still need to be implemented are the remaining functions listed here: https:/

[2019-06-07 14:32] parekhaagam commented on #394
Thank you @akhilanandbv003.  I will work on it and will update soon

[2019-06-08 09:46] yuwillrun opened #438 "index changed after merge"
[code]

Index is changed. Expected answer is
[code]

[2019-06-08 09:50] yuwillrun commented on #438
@ueshin @thunterdb. Do we need fix it?

[2019-06-08 11:04] rxin opened #439 "Remove "self" from API docs"
Take a look at this page: https://koalas.readthedocs.io/en/latest/reference/series.html

Almost all methods have "self" as the first parameter. We should remove them. Perhaps take a look at how pandas does it.

[2019-06-08 11:04] rxin commented on #439
@HyukjinKwon can you take a look at this?

[2019-06-08 11:54] rxin commented on #438
cc @floscha thoughts?

[2019-06-08 12:08] rxin opened #442 "Implement to_parquet"
It's kind of embarrassing that we don't have any "big data" input and output methods, other than read_parquet.

[2019-06-08 12:09] floscha commented on #438
Looks like something worth fixing to me. I can create a PR for this later today.

[2019-06-08 12:09] garawalid commented on #382
I skipped `DataFrame.shift` because we can't union DataFrame of nulls with another one.

[2019-06-08 12:18] yuwillrun commented on #438
sorry, i see  a `# TODO: in some case, we can keep indexes.` just now. If you fix this, i can add some function like `join`,`reindex` based on `merge` easily.

[2019-06-08 12:25] rxin opened #444 "Implement read_delta and DataFrame.to_delta"
Would be cool to have Delta support built-in so it's easy for users to read/write Delta Lake tables.

Once we implement this, we should update read_csv / write_csv docs to suggest users to use delta or parquet instead of csv.

[2019-06-08 12:27] rxin opened #445 "Implement read_table and DataFrame.to_table"
Generic functionality to read from / write to a Spark SQL table.

[2019-06-08 12:28] rxin opened #446 "Implement generic functionality to read / write Spark data source tables"
Basically a wrapper around SparkSession.read and spark.DataFrame.write.

We need to decide on a name here ... Some names I can think of:

- read_spark_io / to_spark_io
- read_data / to_data
- read_spark_ds / to_spark_ds
- read_data_source / to_data_source
...

Any other thoughts?

[2019-06-08 16:27] #442 closed

[2019-06-09 02:07] shril commented on #333
@garawalid, I have changed the implementation. Please have a look.

[2019-06-09 08:10] yuwillrun opened #451 "doctest blank issue"
I cannot pass doctest when there is no blank after.But when i add blank after key, i can pass it.
# My doctest Code
[code]
# doctest answer
[code]

But when i add blank pass doctest.`lint-python` raise error about blank.
[code]

[2019-06-09 08:17] yuwillrun commented on #451
This is my PR https://github.com/databricks/koalas/pull/450

[2019-06-09 08:49] rxin commented on #451
Can you try adding `# doctest: +NORMALIZE_WHITESPACE`?

[2019-06-09 08:49] #451 closed

[2019-06-09 08:55] #285 closed

[2019-06-09 09:07] #446 closed

[2019-06-09 09:35] #445 closed

[2019-06-09 15:10] floscha commented on #415
With #436 merged, this issue can be closed, right @HyukjinKwon?

[2019-06-10 04:49] #411 closed

[2019-06-10 06:48] #415 closed

[2019-06-10 06:52] HyukjinKwon commented on #439
sure

[2019-06-10 07:40] yuwillrun commented on #438
Hello floscha. How long will you take it to finish ?

[2019-06-10 07:57] floscha commented on #438
I'm almost done with fixing it. Hopefully I can find some time in the next couple of hours to finish it up.

[2019-06-10 08:54] HyukjinKwon commented on #439
Hm .. this is a big odd because in my local it generates fine without `self`:
![Screen Shot 2019-06-10 at 5 53 26 PM](https://user-images.githubusercontent.com/6477701/59184264-b5a88e80-8ba8-11e9-8288-253187cc91b1.png)

[2019-06-10 08:56] HyukjinKwon commented on #439
I think I have no other way but testing with readthedocs env. it might take some time.

[2019-06-10 11:08] yuwillrun commented on #438
Hello, floscha. When you are done, please tell me. Thanks~

[2019-06-10 13:13] #439 closed

[2019-06-10 20:38] benjaminbang987 commented on #415
Thank you @HyukjinKwon and @floscha for taking care of this

[2019-06-11 06:31] floscha commented on #438
I've now created a PR with the fix, @yuwillrun. Unfortunately, it took me a bit longer to cover some special corner cases.

[2019-06-11 07:30] yuwillrun commented on #438
It seems there is still some problem with your PR.

[2019-06-11 07:43] floscha commented on #438
There was another corner case I was missing but it should be working now.

[2019-06-11 10:15] #333 closed

[2019-06-12 01:37] #444 closed

[2019-06-12 01:49] #438 closed

[2019-06-12 03:59] yuwillrun opened #460 "Codecov report issue"
https://github.com/databricks/koalas/pull/459
Why there is some problem with code cov about __init__.py?

[2019-06-12 04:13] HyukjinKwon commented on #460
can you clarify the problem?

[2019-06-12 04:39] yuwillrun commented on #460
![image](https://user-images.githubusercontent.com/23121539/59323750-91ff5880-8d0e-11e9-9d96-9422605599b1.png)
Hello HyukjinKwon. As shown in https://github.com/databricks/koalas/pull/459,I changed nothing in __init__.py and conftest.py actually during coding. Why do i see Coverage change in the script as the fig shown?

[2019-06-12 05:25] HyukjinKwon commented on #460
I am not sure. Doesn't it look like an issue in codecov?

[2019-06-12 10:14] #460 closed

[2019-06-12 10:43] yuwillrun opened #466 "Koalas DataFrame constuctor should take Koalas Series"
![image](https://user-images.githubusercontent.com/23121539/59345021-d6581c00-8d41-11e9-9b24-1c1c378c9ca0.png)

can i add  a function which can `ks.series` convert to `ks.dataframe` directly like pandas ?

[2019-06-12 10:46] HyukjinKwon commented on #466
I think `ks.DataFrame(pd.Series(...))` will do the same thing.

[2019-06-12 10:47] HyukjinKwon commented on #322
Actually this is fixed.

[2019-06-12 10:54] yuwillrun commented on #466
If i want convert a ks.series to ks.dataframe, i need convert a ks.series to pd.series first?

[2019-06-12 11:11] HyukjinKwon commented on #466
`ks.Series` has a method called `to_dataframe`. It might be good to integrate it with `ks.DataFrame`'s constructor then.

[2019-06-12 11:21] yuwillrun commented on #466
Thanks ，i will create a pr by  using todataframe

[2019-06-12 12:12] rxin commented on #322
Is this completely done?

On Wed, Jun 12, 2019 at 12:47 PM Hyukjin Kwon <notifications@github.com>
wrote:

[2019-06-12 14:18] floscha opened #467 "Missing T property"
As mentioned in #382, Koalas is currently missing the `DataFrame.T` property. Since I personally use that property a lot when working with pandas, I'd be happy if it was available in Koalas as well. However, because of its distributed nature, simply turning rows into columns does not easily work with Spark. After thinking about how to implement `T` with Spark for a while now, I couldn't find any s

[2019-06-12 14:40] floscha opened #468 "Misleading index argument in DataFrame constructor"
When creating a new DataFrame with Koalas, the class' constructor accepts an `index` argument just like pandas. Unlike for pandas, however, `index` can't be a list of scalars but only a native `Metadata` object which is really confusing for pandas users. While I understand the reason `Metadata` exists, I'd suggest renaming the existing `index` argument to `metadata` and instead have an `index` arg

[2019-06-13 02:58] ueshin commented on #468
Could you elaborate what usage you are thinking about?
The constructor similar usage to `pd.DataFrame` should work fine with `index` argument as well.

Btw, I'm working on refactoring using `_InternalFrame` and `Metadata` will be removed.

[2019-06-13 03:12] rodrigue89 commented on #343
If you run a large data set in pandas, it may be a good idea to run both head and tail methods to confirm the integrity of your data while uploading or after processing your data.

[2019-06-13 04:58] HyukjinKwon commented on #467
Actually, I have a rough idea to implement this. Let me give a try to show it

[2019-06-13 07:47] thunterdb commented on #467
@HyukjinKwon I was about to suggest that for now we just implement it as .to_pandas().transpose(), but I see that you went the high route with your implementation. This is great, I have seen requests from databricks customers for such a functionality.

[2019-06-13 07:48] thunterdb commented on #468
To simplify, `pd.DataFrame` should be a function that accepts similar arguments as pandas , and calls the actual constructor.

[2019-06-13 09:49] floscha commented on #468
@thunterdb I guess you mean `ks.DataFrame` right? 😉

@ueshin Sorry for being too vague. I was specifically referring to the case where a Spark DataFrame is used as the `data` argument. Then `index` will be used as a `Metadata` object and not accept a list as seen in the following code from *frame.py*:
[code]
However, if you're already in the progress of refactoring `_InternalFrame`, then we can pr

[2019-06-13 10:08] ueshin commented on #468
@floscha Thanks for clarifying.
Yeah, I'm already in progress and planning to remove the whole `elif isinstance(data, spark.DataFrame)` clause within a few step-by-step PRs.

Btw, @thunterdb's idea that we should separate the `ks.DataFrame` function as a user-facing API and hide the actual constructor might be helpful. WDYT?

[2019-06-13 10:52] #466 closed

[2019-06-14 06:50] yuwillrun opened #472 "function pandas version issue"
Hello. I'm adding `update` function to koalas, and i find the function has some changes between pandas `0.23` and `0.24`. I think `update` in `0.24` version is better. How do we deal with this situation ?

[2019-06-14 06:51] yuwillrun commented on #472
@ueshin @HyukjinKwon

[2019-06-14 07:21] ueshin commented on #472
Could you elaborate what kind of difference it is?
I think basically we should follow the newer version's behavior.

[2019-06-14 07:23] HyukjinKwon commented on #472
Yea, what's an issue?

[2019-06-14 09:14] yuwillrun commented on #472
`update` in `0.23`
http://pandas.pydata.org/pandas-docs/version/0.23.0/generated/pandas.DataFrame.update.html has `raise_conflict ` parameter, `update` in `0.24` has `errors` parameter instead. Them has similar function. I prefer to use `0.24 update`.
So i add function like `0.24`. When i run pytest,  i find the koalas default pandas version `0.23`. So i cant pass pytest.

[2019-06-14 09:23] HyukjinKwon commented on #472
Can you open a PR to show the codes? I wonder why this is related with Pandas version.

[2019-06-14 10:00] yuwillrun commented on #472
Maybe I didn’t express it clearly.It means i need run unit test under pandas `0.24` version.

[2019-06-14 10:06] HyukjinKwon commented on #472
I am still lost ..

If you need to run unit tests under pandas 0.24, you can install pandas 0.23 in your local. In pull requests, pandas versions of 0.23 and 0.24 are all tested.

[2019-06-18 03:40] #472 closed

[2019-06-18 07:42] #468 closed

[2019-06-19 20:41] icexelloss commented on #282
I think dt functions are implemented now. The ones that I don't implemented are

- tz related (because Spark timestamp doesn't have timezone)
- period and timedelta (period and timedelta type don't exist in Spark)

[2019-06-19 20:55] rxin commented on #282
Thanks. Closing this ticket now.

[2019-06-19 20:55] #282 closed

[2019-06-20 09:55] Genie-Liu opened #489 "how to use complicated type in series' apply"
Hi guys,

I'm trying to use series.apply to parse json string, but got trouble defining function return type. In spark, we can use StructType to define json schema.

After look into the code, I find that it will use as_spark_type to convert to equivalent spark type. Although it says it can accept list of pair (filename, type) or dictionary, it simply get the type from predefined spark type which a

[2019-06-20 13:24] Genie-Liu commented on #489
while my json values are all string type, I find this way to extract all the key as a column. But it will parse json every time it create a new column, not a fancy way.

[code]

[2019-06-20 14:22] hjoo commented on #281
Implementing the remaining functions.

[2019-06-20 16:29] rxin commented on #467
@floscha do you see yourself using T on big data?

[2019-06-20 17:24] floscha commented on #467
Generally yes. Considering the computational effort though, I would probably try to at least reduce the size of the dataset before calling `T`. Also, when for example writing the results to HDFS from Spark, I find it much more convenient to be able to do this from Koalas rather than converting the DataFrame to pandas just to call `T` and then convert back.

[2019-06-20 19:00] jaymandalal opened #491 "Error initializing dataframe on local dev box"
I have installed Koalas (see install log below) and attempting to play with it and i am encountering some basic issues loading a data frame. Am i missing something?

--- Repro ---
[code]

--- Install Log ---
[code]

[2019-06-21 00:41] tdliu commented on #421
What is the status of supporting reindex? @HyukjinKwon @ueshin

[2019-06-21 00:44] tdliu opened #492 "Support for pivot"
Customer requested that we implement pivot. They are migrating to Spark. Their legacy platform involves a lot of pandas code. They said pivot is an important method in their ETL scripts but they haven't provided a use case yet. Will push them a bit more but let me know if you need anymore context.

[2019-06-21 00:49] HyukjinKwon commented on #421
Seems like the order is not guaranteed in Spark but this API has a precondition that the DataFrame is ordered. So, it needs to sort the DataFrame and then somehow concatenate another column (I currently can't think of no way but `join` but It's possible that I am missing something).

Let me take another look.

[2019-06-21 00:51] HyukjinKwon commented on #491
Seems like it's an issue in Spark. Looks Spark was failed to be executed. BTW, Koalas doesn't guarantee Windows support yet as far as I know.

[2019-06-21 00:52] HyukjinKwon commented on #491
Can you show what happen when you run a simple example with PySpark?

[2019-06-21 00:53] HyukjinKwon commented on #492
(FYI, pivot_table is in progress at https://github.com/databricks/koalas/pull/386)

[2019-06-21 00:56] HyukjinKwon commented on #489
Firstly, about defining this, it's being discussed at https://github.com/databricks/koalas/pull/453 cc @rxin, @thunterdb, @floscha, @ueshin

Secondly, I think Koalas doesn't support nested type yet officially. This is failed at https://github.com/databricks/koalas/issues/420

Let me leave this resolved as a duplicate.

[2019-06-21 00:56] #489 closed

[2019-06-22 22:45] shril commented on #394
I have opened a PR for this. @thunterdb please have a look.

[2019-06-24 10:29] yuwillrun opened #497 "run test_dataframe.py issue"
when i run run test_dataframe.py
raise.
19 functions raise `ValueError: Cannot convert column into bool: please use '&' for 'and', '|' for 'or', '~' for 'not' when building DataFrame boolean expressions.`
![image](https://user-images.githubusercontent.com/23121539/60012191-eb23a080-96ad-11e9-9ca6-e32dc4e22025.png)

[2019-06-24 10:30] yuwillrun commented on #497
[code]

[2019-06-24 10:32] yuwillrun commented on #497
Do you meet this issue ? @ueshin

[2019-06-24 10:36] HyukjinKwon commented on #497
![Screen Shot 2019-06-24 at 7 36 07 PM](https://user-images.githubusercontent.com/6477701/60012602-545be180-96b7-11e9-9f7d-783e29a1e249.png)

It works fine to me.

[2019-06-24 10:49] ueshin commented on #497
@yuwillrun What version are you using?
I can see `self._metadata.index_map` in the stack, but it was already removed.

[2019-06-24 11:02] yuwillrun commented on #497
Maybe the metadata reason. Excuse me.Why Do you change to internal from metadata

[2019-06-24 11:04] HyukjinKwon commented on #497
See https://github.com/databricks/koalas/issues/322

[2019-06-24 11:05] yuwillrun commented on #497
Thanks

[2019-06-24 11:06] HyukjinKwon commented on #497
@yuwillrun, somehow your codebase seems not synced with the current master of this repository. Can you check if your repository is same as the master branch of this repo?

[2019-06-25 02:22] #497 closed

[2019-06-25 20:19] rxin commented on #467
Makes sense.  Looks like it's worth adding this.

The main design question is whether we should have a max row cap on this ... what do you guys think?

[2019-06-25 20:20] rxin opened #502 "plot: ufunc 'multiply' did not contain a loop with signature matching types dtype('<U32') dtype('<U32') dtype('<U32')"
I loaded the SF fire department dataset, and ... [fire-small.txt](https://github.com/databricks/koalas/files/3329631/fire-small.txt)

[code]

Error

[code]

[2019-06-25 20:20] rxin commented on #502
cc @HyukjinKwon @dvgodoy

[2019-06-25 23:50] HyukjinKwon commented on #467
To me +1 to add.

[2019-06-26 02:52] HyukjinKwon commented on #502
@rxin, do you have the codes that created `df`? and it would be great if the data is uploaded here if that's small .. files can be uploaded into the comments here.

[2019-06-26 04:54] rxin commented on #502
I've uploaded it.

[2019-06-26 06:25] harupy opened #506 "How to apply countDistinct to DataFrameGroupBy"
Is there any way to apply `countDistinct` to `DataFrameGroupBy` like the pyspark code below? I've been trying to find a workaround but no luck.

[code]

[2019-06-26 07:30] HyukjinKwon commented on #506
Out of curiosity, is there such way in Pandas?

[2019-06-26 07:50] harupy commented on #506
In Pandas, you can do:
[code]
or
[code]
https://stackoverflow.com/questions/18554920/pandas-aggregate-count-distinct

[2019-06-26 08:35] ueshin opened #508 "Upgrade conda to 4.7 in travis-ci."
When upgrading `conda` to `4.7.5`, an unknown error occurs.
See: https://travis-ci.com/databricks/koalas/jobs/210984050

[2019-06-26 08:37] ueshin commented on #508
The workaround is #507 for now, but `miniconda.sh` we download during the setup might be upgraded to `4.7.5` in the near future.

[2019-06-26 10:54] HyukjinKwon commented on #502
[fire-small.txt](https://github.com/databricks/koalas/files/3329631/fire-small.txt)

[2019-06-26 11:13] HyukjinKwon commented on #502
@rxin, does this work in Pandas too?

[code]

or is my data wrong? I uploaded into your PR description.

[2019-06-26 11:18] HyukjinKwon commented on #502
If that's the case, let me fix the error message.

[2019-06-26 17:00] dvgodoy commented on #502
I agree with you @HyukjinKwon , fixing this means raising the proper error.
Histograms are meant to be used with numerical columns only. For string columns, a barplot should do the trick.

[2019-06-26 20:01] garawalid opened #511 "Support multi-level columns in pivot_table"
This issue tracks `DataFrame.pivot_table` (#386)
The actual implementation can handle `values` as a list but it's disabled right now with this condition :
[code]
We need to implement multi-level columns before updating `pivot_table`

[2019-06-26 21:25] garawalid commented on #467
I agree also about a max row cap.

[2019-06-27 01:54] #382 closed

[2019-06-27 07:27] HyukjinKwon commented on #506
See https://github.com/databricks/koalas/pull/512

[2019-06-27 08:59] harupy commented on #506
Cool. Thanks!

[2019-06-27 10:38] #506 closed

[2019-06-27 16:53] harupy opened #514 "Add support for multiple aggregations on a single column"
It'd be useful if we could perform multiple aggregations on a single column like pandas.

[code]

[2019-06-28 03:30] harupy commented on #514
A simple example in pandas to perform multiple aggregations on a single column and flatten multi-level columns
[code]

[2019-07-01 04:30] #467 closed

[2019-07-02 04:57] ueshin commented on #508
We should skip conda 4.7.5 (https://github.com/databricks/koalas/pull/517#issuecomment-507517924).
I'd keep this to track what happens in conda 4.7.6 or upper.

[2019-07-03 13:37] RainFung opened #524 "Add an option to coalesce partitions in DataFrame.to_csv()"
`ks.DataFrame.to_csv` is too slow because it will transform to `pandas.DataFrame` first.Is there a way save to `csv` format directly?

[2019-07-03 16:07] HyukjinKwon commented on #524
Let's switch it to spark.write.csv

[2019-07-03 16:11] SaurabhNeklikar opened #525 "Import Error for "import databricks.koalas" - ImportError: cannot import name 'infer_dtype_from_object'"
Getting Import error while importing koalas in databricks notebook. It was working fine until yesterday.

Running -
import databricks.koalas as ks

Error -

ImportError: cannot import name 'infer_dtype_from_object'

[2019-07-03 16:49] ueshin commented on #525
Hi @SaurabhNeklikar,
Thanks for reporting this.
Could you provide what versions you are using, pyarrow, pandas, and numpy?

[2019-07-03 16:55] SaurabhNeklikar commented on #525
Hi,

I am running on below Databricks Runtime Version –

5.4 ML (includes Apache Spark 2.4.3, Scala 2.11)

So whichever is default versions for this cluster. Would this information help? Or need specific versions of individual packages?

Thanks & Regards,

Saurabh Neklikar
Information Technology
William Blair
The William Blair Building | 150 North Riverside Plaza, Chicago, Illinois 60606
+1 312 36

[2019-07-03 17:02] ueshin commented on #525
Thanks, that's enough.
I guess the new release `0.10.0` which was released a few hours ago with pandas `0.23` causes such an error.
Is it possible to downgrade Koalas to `0.9.0`?

[2019-07-03 17:03] sermolin opened #526 "import databricks.koalas as ks fails in 'import matplotlib.artist as martist'"
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-26-0376b7c81ae0> in <module>()
----> 1 import databricks.koalas as ks

~/anaconda3/envs/python3/lib/python3.6/site-packages/databricks/koalas/__init__.py in <module>()
     37
     38 from databricks.koalas.frame import DataFrame
---

[2019-07-03 17:17] SaurabhNeklikar commented on #525
How do I do that?

Saurabh Neklikar
Information Technology
William Blair
The William Blair Building | 150 North Riverside Plaza, Chicago, Illinois 60606
+1 312 364 8266 direct
sneklikar@williamblair.com<mailto:sneklikar@williamblair.com> | williamblair.com<http://www.williamblair.com/>
Facebook<https://www.facebook.com/WilliamBlairCo/> | LinkedIn<https://www.linkedin.com/company/166939> | YouTube<

[2019-07-03 17:24] #526 closed

[2019-07-03 17:29] ueshin commented on #525
I think `Libraries` tab in your cluster configuration contains `koalas`, then replace the `koalas` installation with `koalas==0.9`.

[2019-07-03 17:43] SaurabhNeklikar commented on #525
Got it. Thanks.

Sent from my iPhone

On Jul 3, 2019, at 12:29 PM, Takuya UESHIN <notifications@github.com<mailto:notifications@github.com>> wrote:

I think Libraries tab in your cluster configuration contains koalas, then replace the koalas installation with koalas==0.9.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/databr

[2019-07-03 17:45] rxin commented on #524
Yea I agree - we should use Spark's native one to parallelize it.

[2019-07-03 17:46] rxin commented on #514
@harupy would you be able to submit a pull request to address this?

[2019-07-03 17:46] rxin commented on #502
@dvgodoy mind submitting a pull request to fix this?

[2019-07-03 17:47] rxin commented on #492
@HyukjinKwon should we close this ticket now #386 is merged?

[2019-07-03 21:54] shril commented on #394
@thunterdb, you can close this issue.

[2019-07-04 00:09] HyukjinKwon commented on #492
There's actually [`DataFrame.pivot`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html?highlight=pivot#pandas.DataFrame.pivot) too. Let me take a look today.

[2019-07-04 00:10] #394 closed

[2019-07-04 01:53] harupy commented on #514
What I came up with to address this was

[code]

This gives
[code]

But the result is not exactly the same as pandas because pandas supports multi-level columns.

[2019-07-04 02:31] HyukjinKwon commented on #514
For multi-level columns, I thought we can simply add the index column into `groupBy`. For instance, as what we do here:

https://github.com/databricks/koalas/blob/0033b886598621d9f9123458d189caa6f7acdcca/databricks/koalas/groupby.py#L105-L114

[2019-07-04 03:10] #525 closed

[2019-07-04 05:27] ueshin commented on #525
Hi @SaurabhNeklikar, we've just released `0.11.0` to fix the regression with pandas `0.23`.
We'd appreciate if you would try again with the latest release.

Thank you again for reporting this issue!

[2019-07-04 07:22] harupy commented on #514
@HyukjinKwon
How would the output dataframe look like?

[2019-07-05 02:10] HyukjinKwon commented on #514
Ah, gotya, you mean https://github.com/databricks/koalas/issues/301? Yes, I think we don't currently support this.

[2019-07-05 05:38] harupy commented on #514
Yes. If the multi-index column structure was supported, we could store multiple aggregation results as a nested column.

[2019-07-05 12:32] SaurabhNeklikar commented on #525
Hi,

Yes it is working with the latest release too. Thanks for taking care.

Thanks & Regards,

Saurabh Neklikar
Information Technology
William Blair
The William Blair Building | 150 North Riverside Plaza, Chicago, Illinois 60606
+1 312 364 8266 direct
sneklikar@williamblair.com<mailto:sneklikar@williamblair.com> | williamblair.com<http://www.williamblair.com/>
Facebook<https://www.facebook.com/Wi

[2019-07-05 16:09] RainFung opened #535 "convert index to list errors"
[code]

[code]

[2019-07-07 13:24] dvgodoy commented on #502
@rxin @HyukjinKwon
Just submitted a PR to fix this :-)

[2019-07-08 02:38] RainFung commented on #524
@HyukjinKwon Hello. Can i improve pyspark `spark.write.csv` function first which it can merge `part-xxxx` to a final file ?

[2019-07-08 05:12] HyukjinKwon commented on #524
To merge part-xxx files, you can do `df.coalesce(1).write.csv`. It doesn't necessarily have to be same for now. You can just simply switch it to `spark.write.csv`. There's an example, for instance, see `to_parquet`, `to_delta`.

[2019-07-08 05:12] HyukjinKwon commented on #524
BTW, I think we should fix `to_json` as well.

[2019-07-08 06:06] RainFung commented on #524
`spark.write` will create a directory and a _success file.So i should do as below three steps:
1. `df.coalesce(1).write.csv`
2. remove _success and rename `part-xxxx`
3. delete directory
I think it's too bother so i suggest to import origin pyspark function.

[2019-07-08 06:13] HyukjinKwon commented on #524
We can just write them in a directory. It's fine. Just call df.write.csv.

[2019-07-08 06:55] #421 closed

[2019-07-08 06:55] #492 closed

[2019-07-08 06:59] HyukjinKwon commented on #535
Hm, I think we shouldn't add this support as of https://github.com/databricks/koalas#guardrails-to-prevent-users-from-shooting-themselves-in-the-foot for now.

[2019-07-08 17:59] timhughes opened #542 "pandas.merge_asof"
I am just wondering if there is any work going on with an equivalent to  `pandas.merge_asof`.  I know `koalas.merge` only was only added in May #232 so no pressure whatsoever :-)

Cheers for all the good work.

T

[2019-07-08 22:03] HyukjinKwon commented on #542
I think this can be implemented when cogroup feature is implemented in Spark side, which is in progress.

[2019-07-10 16:10] jonathanc42 opened #550 "Import from pyspark.sql.dataframe.DataFrame"
There be a method to import from a spark dataframe.

[2019-07-10 16:42] shreyanshu opened #551 "Unexpected behavior in ks.merge how='outer'"
Hi,

I have been trying to perform a outer join between two koalas dataframes on basis of a column, but am getting very unexpected results. Below is an example,

`left_kdf = ks.DataFrame({'A': [1, 2]})`
`right_kdf = ks.DataFrame({'B': ['x', 'y', 'z'], 'A':[3, 4, 1]})`
`left_kdf.merge(right_kdf, on=["A"], how='outer')`

The output that I get is

![image](https://user-images.githubusercontent.com/11

[2019-07-10 17:47] manojs123 opened #552 "databricks.koalas.DataFrame.append"
I continuously see this error, when I try to use append using Koalas, it works fine with Pandas though, am I missing something. Btw, I'm new to Python.

[code]

When I try to use append, Koalas gives me below error :

[code]

Thank you for the help!

[2019-07-10 22:38] hsubbaraj commented on #552
This is a recently implemented function, if you reinstall the latest version (koalas==0.12.0) this code will work!!

[2019-07-11 01:37] HyukjinKwon commented on #550
Can you clarify what it means? For instance, can you show an example code you want to do?

[2019-07-11 03:51] shreyanshu opened #553 "How to convert from Koala dataframe to Spark dataframe"
Is there a way to convert a Koalas DF to a Spark DF,

This is what I tried,
`import databricks.koalas as ks`
`kdf = ks.DataFrame({'B': ['x', 'y', 'z'], 'A':[3, 4, 1], 'E':[1,1,1]})`
`from pyspark.sql import SparkSession`
`spark = SparkSession.builder.getOrCreate()`
`sdf = spark.createDataFrame(kdf)`

But it gives the following error,
/lib/python3.5/site-packages/databricks/koalas/frame.py", line 5

[2019-07-11 07:31] HyukjinKwon commented on #553
you can do it via `kdf.to_dataframe()`

[2019-07-11 07:32] #553 closed

[2019-07-11 08:19] HyukjinKwon commented on #552
Yea, try higher version:

[code]

[2019-07-11 08:20] #552 closed

[2019-07-11 08:20] HyukjinKwon commented on #550
you can convert Koalas dataframe into Spark dataframe by `to_dataframe`.

[2019-07-11 08:20] #550 closed

[2019-07-11 13:08] jonathanc42 commented on #550
Hi HyukjinKwon, what I meant to do was vise versa to convert spark dataframe to koalas dataframe. I don't think it should be one way only especially when I am evaluating koalas and work with spark together.

[2019-07-11 23:39] hsubbaraj opened #554 "df.apply() is not implemented"
This is a pretty common function used in pandas notebooks, and its functionality is a little different than `applymap()`. I can start implementing this!
[code]

[2019-07-12 07:01] HyukjinKwon commented on #554
Yea, we should implement this. Problem is that we should allow different length, which currently `pandas_udf` doesn't support.

[2019-07-12 07:02] HyukjinKwon commented on #550
Which other way would you suggest?

[2019-07-12 08:11] pwais opened #555 "`unique()` has wrong return type"
cc https://github.com/databricks/koalas/issues/233

Not sure why https://github.com/databricks/koalas/pull/249 decided to return a `Series` instead of a `numpy` array... ?

[code]

[2019-07-12 09:04] pwais opened #556 "Add complete .iloc support"
cc https://github.com/databricks/koalas/issues/247

Not sure what https://github.com/databricks/koalas/pull/364 intended but may we please have real `iloc` support?  Given the current error message, it sounds like the case below could simply be translated to a spark SQL / DataFrame query.  Since the input to `iloc` necessarily fits in memory in the driver (else the user program OOMs), such transla

[2019-07-12 09:24] HyukjinKwon commented on #555
This is because of https://github.com/databricks/koalas#guardrails-to-prevent-users-from-shooting-themselves-in-the-foot

[2019-07-12 16:24] RainFung commented on #524
https://github.com/databricks/koalas/pull/557

[2019-07-12 19:43] pwais commented on #555
I guess you could claim that `unique()` may "materialize the entire working set in a single node's memory," but so could `iloc` (cc https://github.com/databricks/koalas/issues/556 ).  I'm not so sure the current solution is a guardrail tho.. what does that traceback even mean?

If `RDD::toLocalIterator()` was faster, you could probably use that in many cases and let the driver read as much it can

[2019-07-13 15:53] manuzhang commented on #362
@shril Any progress on your remaining functions ?

[2019-07-14 06:02] HyukjinKwon commented on #362
@manuzhang feel free to take over if we don't get response within few days.

[2019-07-19 00:44] #217 closed

[2019-07-19 02:24] RainFung opened #573 "next function to devlop"
Most of the remaining functions are related to index and sorting. Full sort is usually required But it can cause spark programs to run very slowly in spark. Basically, the computational class functions have been completed, and what is the focus of the next development?

[2019-07-19 04:26] HyukjinKwon commented on #573
Usually we target to add new features to bring it to usable state by pandas users at least. Nevertheless, the target of the next release is a bit different.

1. Find out and officially don't support some APIs, for instance, `to_pickle`. See https://github.com/databricks/koalas/pull/515

2. Supporting multi-index for columns. See, for instance, https://github.com/databricks/koalas/issues/511

3. So

[2019-07-19 04:35] ueshin commented on #573
Thanks for the summary.
I'm going to work on the basic infrastructure for 2) Supporting multi-index columns, also related to #301.

[2019-07-19 22:57] ueshin opened #578 "Support pandas 0.25."
Seems like we don't support pandas 0.25 related to plot functions so far.
https://travis-ci.com/databricks/koalas/jobs/217695045

[2019-07-19 23:31] ueshin commented on #578
Hi @dvgodoy,
Could you take a look at this and help us support pandas 0.25?
Thanks!

[2019-07-22 05:49] HyukjinKwon commented on #578
I happened to take a look around this one today .. I opened a PR.

[2019-07-22 19:59] #578 closed

[2019-07-23 00:09] #508 closed

[2019-07-24 02:38] #409 closed

[2019-07-24 06:36] weixiuli opened #586 "pyspark.sql.utils.AnalysisException: "Invalid usage of '*' in expression 'coalesce';""
I just learned about Koalas and it looks very cool.
But, there will be some error when i use it like that on pyspark:
[code]

[code]

[2019-07-24 06:39] weixiuli commented on #586
/cc @HyukjinKwon @ueshin , PTAL, thanks.

[2019-07-24 06:42] weixiuli commented on #586
My pyspark versions is v2.4.2.

[2019-07-24 11:45] HyukjinKwon commented on #586
Seems fixed in the current master.

[code]

The next release date is tomorrow (KST).

[2019-07-24 11:45] #586 closed

[2019-07-25 01:17] weixiuli commented on #586
@HyukjinKwon , Thank you!

[2019-07-25 01:33] RainFung commented on #586
你好，请问你是京东的同事么？ 我目前参与了这个项目的一部分开发工作，欢迎一起交流，我的微信是409908131

[2019-07-25 22:03] ueshin commented on #514
Hi @harupy,
We recently added a basic multi-index support in columns (#590).
Does that help you submit a PR?

[2019-07-26 16:46] #301 closed

[2019-07-26 18:16] ueshin commented on #551
Hi @shreyanshu, Thanks for the report.
I submitted a PR to fix this issue. (#595)
Could you review the PR if you have time?
Thanks!

[2019-07-26 18:24] kermany opened #596 "Add time series functionalities"
Pandas has many useful APIs for manipulating time series data (superior date time functions such as date range/calendar support/windowing etc), made it de-facto tool for time series data wrangling. Would be great to add those to Koalas.

[2019-07-26 22:21] patryk-oleniuk opened #598 "read_csv(names = ...) inconsistent with pandas"
When missing column values for some of the rows, koalas behaves very conservative, whereas pandas just inserts NaNs:

[code]

the output:
[code]

[2019-07-26 22:48] ueshin commented on #511
Hi @garawalid,
We recently added a basic multi-index support in columns (#590).
Does that help you submit a PR?

[2019-07-26 22:50] patryk-oleniuk opened #599 "DataFrame.sum( axis=1 ) - axis parameter for df operations"
I'm missing axis parameter in DataFrame functions.
Sum function is just an example, I'm missing it among many others, like `apply()`, `mean()` etc.:
[code]
prints:
[code]
Workaround I'm using for now (very inefficient):
[code]
prints:
[code]

[2019-07-27 06:05] HyukjinKwon commented on #596
I think we should better clarify what APIs we should implement under this ticket :) .. I suspect you want some particular time series APIs to have first in your mind for now?

[2019-07-27 06:06] HyukjinKwon commented on #573
0.14.0 is released. I am closing this.

[2019-07-27 06:06] #573 closed

[2019-07-28 15:18] harupy opened #603 "Can't select multiple columns when a dataframe has multi-index columns"
[code]

This code gave:

[code]

[2019-07-28 17:55] garawalid commented on #511
@ueshin thanks for notifying me!
I'll see what I can do.

[2019-07-29 07:46] #551 closed

[2019-07-29 12:13] HyukjinKwon commented on #598
Actually, this isn't easy to fix as it seems. Spark's CSV schema inference does not support incremental field addition in the middle. Looks we might be able to work around via using RDD API with `spark.read.csv(csv: RDD)` but it will degrade performance and somewhat hacky.

For now, I will simply add Spark schema support into `names` parameters to provide workaround to users for now.

[2019-07-29 15:28] HyukjinKwon commented on #599
I opened a PR - https://github.com/databricks/koalas/pull/605

[2019-07-29 18:25] #514 closed

[2019-07-29 18:26] ueshin commented on #603
I'll take this.

[2019-07-29 19:34] #599 closed

[2019-07-31 06:46] RainFung opened #608 "How to choose all columns as agg_columns"
[code]

Some functions require agg_columns all columns(include groupkey_names), but default agg_column choose data_columns which is not in groupkey_names. How can i solve this problem.

![image](https://user-images.githubusercontent.com/23121539/62189539-d075d300-b3a1-11e9-8019-170455f7a843.png)

[2019-07-31 06:49] RainFung commented on #608
@HyukjinKwon

[2019-07-31 20:53] #603 closed

[2019-08-01 00:09] #598 closed

[2019-08-01 01:58] RainFung commented on #608
@ueshin

[2019-08-01 22:38] garawalid opened #616 "Names in MultiIndex is not working as expected"
According to the documentation: names for each of the index levels. (name is accepted for compat).

[code]
Expected output :
[code]
Actual output:
[code]

I'm wondering if the implementation is not finished yet or it's a bug?

[2019-08-03 02:28] #608 closed

[2019-08-05 18:27] patryk-oleniuk commented on #409
Hey @HyukjinKwon , thanks for working on my issue and resolving it.
I discovered this code bring the wrong results. The apply function behaves very weird:
1. It only accepts modifications from the same kdf, does not support just returning 0.0
2. It does not return the grouping column as index, as pandas groupby.
3. It does not keep the column names.

[code]
gives out the wrong, empty result:
[code

[2019-08-05 18:46] patryk-oleniuk commented on #409
The nasty workaround to above, returning what I'd expect :

[code]

[2019-08-05 18:53] patryk-oleniuk opened #624 "Cannot operate on 2 different ks.DataFrames"
Example:
[code]
results in:
[code]
I ran into that error multiple times with different operations. This, together with implementing the `DataFrame.apply()`  ( https://github.com/databricks/koalas/issues/554 ) and re-implementing the `groupby.apply()` ( https://github.com/databricks/koalas/issues/409 )  is my current biggest pain in using the package.

[2019-08-05 19:17] rxin commented on #555
The problem with returning a numpy array is that if somebody runs unique on say user id, that'd blow up the driver immediately.

[2019-08-05 19:20] rxin commented on #524
If you add a coalesce, you will run into the same issue that the CSV file writing is not parallelized.

It's probably best to have an option to indicate whether we allow multiple output files, and explain what that means in terms of tradeoffs.

[2019-08-05 23:23] pwais commented on #555
Hi @rxin !  Thanks for your attention here.  I've sadly had to dump `koalas` entirely due to this issue, https://github.com/databricks/koalas/issues/556 , and others, so I hope this discussion results in actionable improvements to `koalas`.

So here's the root problem in my mind: `koalas` uses a facade for `unique()`, as introduced in https://github.com/databricks/koalas/pull/249 .  The outstandin

[2019-08-05 23:27] rxin commented on #555
Thanks for the feedback. But you can convert from the facade to what you want by just calling to_numpy, can't you?

[2019-08-05 23:37] rxin commented on #555
BTW one alternative is by default return a np array, similar to pandas, and there's an option or a different method that returns a series.

[2019-08-05 23:45] pwais commented on #555
I didn't know `to_numpy()` was an option, especially from the error message.  I hear you on using it as a possible mitigation, but I thought the goal of `koalas` was to not require user changes to existing code.  If my program has a large number of `pandas` operations, and I have to add `to_numpy()` all over the place, I'm much more likely to just dump koalas and do something els.  Moreover, if `t

[2019-08-06 00:01] rxin commented on #555
No I hear you loud and clear, but you are pointing out a fundamental issue that we know when we started the project.

That is, pandas's API is not designed to scale at all. It simply has too many APIs that do sort of random things that even the pandas authors themselves regret adding. Those are incredibly powerful though, and I don't think we will ever be able to support all of them, in identical

[2019-08-06 00:02] hsubbaraj opened #625 "concat(axis=1) currently is not supported"
Concatenating along the columns is a common use case but currently isn't supported in koalas. We can achieve this by joining the dataframes by their index.

[code]

[2019-08-06 00:03] rxin commented on #555
One addition: we should at the very least improve the error message, so people will find out about to_numpy without reading all the docs.

[2019-08-06 09:22] HyukjinKwon commented on #409
Thanks, @patryk-oleniuk. Let me open new issue based upon the comments.

[2019-08-06 09:24] HyukjinKwon opened #626 "groupby.apply returns empty when grouped key is missing"
Quoted from https://github.com/databricks/koalas/issues/409#issuecomment-518346376

I discovered this code brings the wrong results. The apply function behaves very weird:
1. It only accepts modifications from the same kdf, does not support just returning 0.0
2. It does not return the grouping key as index, as pandas groupby.
3. It does not keep the column names.

[code]
gives out the wrong, empty

[2019-08-06 09:27] HyukjinKwon commented on #625
I think this can be done with `join(index_column)` Are you interested in submitting a PR?

[2019-08-06 11:21] #626 closed

[2019-08-06 11:27] HyukjinKwon commented on #409
Oh, wait. Actually the function should return a pandas DataFrame:

[code]

as documented:

https://github.com/databricks/koalas/blob/429e26be5bbbf90f7887cfc5531ec1210a7f5f11/databricks/koalas/groupby.py#L645-L649

BTW, which pandas version do you use? Seems `pd.DataFrame({"column": 0.0}) ` is disallowed in pandas 0.24.2.

[code]

Seems working fine in my side if I do:

[code]

[code]

[2019-08-06 11:27] HyukjinKwon commented on #409
[code]

I just realised that this might look awkward because the type says it's Koalas but it should return pandas' .. maybe we have to come up with a better way.

[2019-08-06 11:33] HyukjinKwon commented on #624
Thanks for opening issues and testing it out. Computing between different DataFrames are possible I guess (via joining based upon indexes). However, we're not doing that cus it's potentially expensive.

Maybe, we can add an env to allow this case? WDYT @rxin and @ueshin?

This ticket basically describe the case:

[code]

[2019-08-06 11:35] HyukjinKwon commented on #624
We might have to allow an operation between DataFrames and have a .. environment variable to control it since that's expensive ..? Maybe let me give a shot and discuss there if we need that or not.

[2019-08-06 11:39] HyukjinKwon commented on #554
This actually requires mapPartitionsInPandas in upcoming Spark 3.0 (see https://issues.apache.org/jira/browse/SPARK-28198)

[2019-08-06 16:41] rxin commented on #624
Yea that makes sense. Implement it. Hide it behind a flag and have it off by default. The error message can say set x to true to turn it on, but it could be computationally expensive due to an implicit join.

[2019-08-06 17:15] patryk-oleniuk commented on #409
About 1. (weird return behaviors):
I was using pd version 0.23.0 to reproduce all the previously mentioned behaviors.
(this is because pandas 0.23.0 was pre-installed on Databricks `5.5 M` runtime. )
Indeed, when using 0.24.2 I get the correct results. So I guess it's just about installing the proper version of pandas :).
I also agree, that we should think about better ways of specyfying return ty

[2019-08-07 01:21] HyukjinKwon opened #628 "Koalas groupby.apply does not keep the index whereas pandas does."
[code]

[code]

[code]

[code]

[2019-08-07 01:21] HyukjinKwon commented on #409
About 2. maintaining the index, yes, seems possible. Let me take a look at https://github.com/databricks/koalas/issues/628

About 3., this isn't easy. Because Spark should know the column names before it executes.
I think we should execute the given `func` locally against a small sample of Koalas DataFrame, infer the schema, and executes it. I did this in, for instance, https://github.com/databric

[2019-08-07 01:41] hsubbaraj commented on #625
Yes, I'll have a PR submitted in a few days!

[2019-08-07 01:43] HyukjinKwon commented on #625
That's very nice!

[2019-08-07 03:23] HyukjinKwon commented on #628
Hm, this one actually doesn't look easy to do because index can be changed after `groupby.apply` but we cannot know without execution .. maybe we should stick to the workaround (https://github.com/databricks/koalas/issues/409#issuecomment-518352844) for now.

The problem here is that pandas' groupby.apply can drop its index as below:

[code]

[code]

and we don't know before execution given functi

[2019-08-07 06:42] HyukjinKwon commented on #628
Let me try this after #624

[2019-08-07 13:43] josiemundi commented on #312
+1 on this

[2019-08-07 17:55] #616 closed

[2019-08-08 18:25] patryk-oleniuk opened #631 "GroupBy.nlargest and GroupBy.nsmallest"
this method is not implemented:
Pandas reference:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.SeriesGroupBy.nlargest.html

[2019-08-09 01:08] juveseason opened #632 "Is there a way to config spark driver and executor memory in Koalas"
I was migrating a pandas code to Koalas, hoping to get speedup via Spark.
It was running ok when my input data set was small, about 1 million rows.
But when I try to use a larger data set, about 11 million rows, after running for an hour, it reported out of memory error.

I assume this is due to the spark executor and driver memory setting, maybe the default setting is not big enough?
- spark.driv

[2019-08-09 03:53] RainFung commented on #631
I will create pr for this function

[2019-08-09 09:45] HyukjinKwon commented on #624
It actually took me a while to fix. Here's the PR - https://github.com/databricks/koalas/pull/633.

[2019-08-10 23:43] garawalid opened #634 "sort_index is not working with MultiIndex"
`DataFrame.sort_index()` is not working when the DataFrame uses MultiIndex.

Reproduce the error:
[code]

[code]

[2019-08-10 23:44] garawalid commented on #634
cc @ueshin

[2019-08-11 11:44] garawalid opened #636 "Support column names in pivot_table"
This issue tracks DataFrame.pivot_table (#635).
The column name is missing. We can add it via `df.rename_axis("name", axis="columns")`. [pandas.DataFrame.rename_axis](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename_axis.html)

[2019-08-12 01:39] HyukjinKwon commented on #631
Thank you so much, @RainFung

[2019-08-12 01:46] HyukjinKwon commented on #632
Currently, Koalas does not support to set Spark properties out of the box.

It should be set into Spark itself currently it should be:

1. Initialises the Spark context first in codes.

[code]

2. Set the configuration values under `$SPARK_HOME/conf/spark-defaults.conf`.

[2019-08-12 02:05] HyukjinKwon commented on #628
I'm working on this.

[2019-08-12 09:54] juveseason commented on #632
Thank you very much for the answer.

[2019-08-12 10:01] HyukjinKwon commented on #632
Let me leave this closed for now.

[2019-08-12 10:01] #632 closed

[2019-08-12 19:55] ueshin commented on #634
Thanks for the report. I'll work on this.

[2019-08-13 02:59] RainFung commented on #631
There are some problem in thess function https://github.com/pandas-dev/pandas/issues/27894. I will create PR when the pandas issue solved.

[2019-08-13 12:43] HyukjinKwon opened #643 "Allow direct assignment in DataFrame.index"
Pandas allows assignment to `DataFrame.index`

[code]

whereas Koalas seems unable.

[code]

[2019-08-13 22:49] #634 closed

[2019-08-15 00:28] #628 closed

[2019-08-16 00:34] #624 closed

[2019-08-16 00:34] HyukjinKwon commented on #624
@patryk-oleniuk, it took me a while to resolve all. Now all related issues were resolved. should be able to proceed further. Thanks.

[2019-08-16 00:36] HyukjinKwon commented on #624
BTW, to enable this feature, `OPS_ON_DIFF_FRAMES` environment variable should be set to `true` for now. It will be a proper option as of https://github.com/databricks/koalas/commit/94adf06d622aaac1eb05c03407db8a1abc01632c . Will let you know when we do that.

[2019-08-18 02:46] RainFung commented on #631
https://github.com/databricks/koalas/pull/654

[2019-08-20 18:25] mjwestcott commented on #312
Also, using `koalas as kl` would be more consistent with `pandas as pd` and `numpy as np`.

[2019-08-20 23:20] HyukjinKwon commented on #312
Actually, let's don't change it for now unless there's technical reasons. It's troublesome to change it at the current status because we should move the packages around and users have to change their import style ...

[2019-08-21 01:05] HyukjinKwon opened #665 "Plot APIs improvement in Series"
Koalas: https://koalas.readthedocs.io/en/latest/reference/series.html#plotting
pandas: https://pandas.pydata.org/pandas-docs/stable/reference/series.html#plotting

We should improve Koalas' plot more.

[2019-08-21 01:05] HyukjinKwon opened #666 "Plot APIs in DataFrame"
pandas: https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#plotting

We should implement DataFrame.plot APIs.

[2019-08-21 01:08] HyukjinKwon commented on #643
This seems to be difficult because the operations between different DataFrames are dependent on index.

`df.index` and `['a', 'b', 'c']` are different datasets so we should figure out a way to join both by a certain axis column.

[2019-08-21 01:48] RainFung opened #667 "Can we check if each function is in the API document?"
Before, when I was developing functions, I forgot to add it documentation.

[2019-08-21 03:07] HyukjinKwon commented on #667
There's no way to do it so we need to manually check. Can you manually check and update the documentation if there are missing ones?

[2019-08-21 03:10] #667 closed

[2019-08-21 03:11] RainFung commented on #631
I have finish it. Can you close this issue?

[2019-08-21 03:32] patryk-oleniuk commented on #631
Closing, thanks so much @RainFung for your work!

[2019-08-21 03:32] #631 closed

[2019-08-21 13:16] charlesdong1991 commented on #666
May I work on it? @HyukjinKwon

[2019-08-21 14:59] HyukjinKwon commented on #666
Of course please go ahead!

[2019-08-22 14:00] raghavansandhya commented on #666
@charlesdong1991  Let me know If I can help with any sub modules?

[2019-08-22 14:44] HyukjinKwon commented on #666
Please implement each plot API at https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#plotting. If anyone is working on the sub items, please leave a comment that says you're working on that to avoid to duplicate efforts.

[2019-08-22 15:19] charlesdong1991 commented on #666
@raghavansandhya sure, if you want to implement any sub module, pls go ahead! I am still preparing my PR which is not ready for review.

Just as @HyukjinKwon said, if you did any implementation, pls leave a comment so I will skip that module to avoid duplicate efforts.

[2019-08-24 05:44] itholic opened #682 "There's a little typo in README.md"
It's nothing special, but I found a few typos, so please check #683 when someone available

Thanks.

[2019-08-24 06:08] itholic commented on #682
An additional typo was found, so I will raise the issue again after cleaning up.

[2019-08-24 06:08] #682 closed

[2019-08-24 06:12] itholic opened #685 "Some typos in README.md & CONTRIBUTING.md"
It's nothing special, but I found a few typos.
please check #684 when someone available.
Thanks.

[2019-08-25 06:35] itholic opened #689 "Add 'toPandas' test for indexes."
A test for the 'to_pandas' exists in the indexes.py as doctest, but for 'toPandas' is missing.
I added this #688  because I think it would be better to test this part for compatibility with Spark.

[2019-08-25 06:36] #689 closed

[2019-08-26 19:03] #636 closed

[2019-08-27 10:06] RainFung opened #700 "Add numpy function to groupby.agg"
Recently, I begin to use koalas to test various `groupby` function in real world condition. I found koalas `groupby.agg` dont support `numpy` function in agg dictionary.
[code]

[2019-08-27 10:13] RainFung commented on #700
Numpy solution cant implement in `spark.expt`.Can we solve this by pandas_udf?
[code]

[2019-08-27 10:21] RainFung commented on #700
@HyukjinKwon Can you cc this and recommend some solution?

[2019-08-27 10:55] RainFung opened #701 "implement pd.DataFrame.rename function"
[code]

[2019-08-28 04:12] harupy commented on #700
Wrapping a numpy function with `pandas_udf` seems to work.
[code]

The code above gave:

[code]

[2019-08-28 07:38] HyukjinKwon opened #708 "Implement DataFrame.style"
Seems pandas support `style` property
I should research Pandas' and implement it in Koalas

[2019-08-29 01:15] HyukjinKwon commented on #700
Yes, for numpy functions, please use `pandas_udf` as suggested. Seems like that's the only way.

[2019-08-29 01:27] RainFung commented on #700
Do we add some code wrapping a numpy function with pandas_udf in `groupby.agg`? If needed, I can create a PR about this.

[2019-08-29 01:29] RainFung commented on #701
I'll create a PR for this

[2019-08-29 01:32] HyukjinKwon commented on #700
Yes, I think so to make it work similarly as pandas.

You might have to execute the function against small sample to know and infer `returnType`, and you will also have to extract the type from type hint.

See https://github.com/databricks/koalas/blob/master/databricks/koalas/groupby.py#L772-L788 as an example.

[2019-08-29 07:50] HyukjinKwon opened #715 "Convert global or limit-related variables into configurations."
https://github.com/databricks/koalas/commit/94adf06d622aaac1eb05c03407db8a1abc01632c added configuration base like Pandas. See https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html

Currently we have multiple variables that should be converted into configuration values. We should identify and convert it to configuration _all_.

- [x] Support typed values in configurations (#714)
- [

[2019-08-29 07:56] HyukjinKwon commented on #715
@itholic are you interested in working of some of them? Don't have to do everything in one go.

[2019-08-29 07:58] HyukjinKwon commented on #715
cc @RainFung and @charlesdong1991 too just in case you guys are interested in this.

[2019-08-29 08:02] charlesdong1991 commented on #715
nice one! what a coincidence! i asked if `max_rows` should be flexible or not yesterday, and today issue is here 😆  i am working on `scatter` and `hexbin` plots now, but would like to take `Add 'plotting.max_rows'` and `Add 'plotting.sample_ratio'` later if you don't mind. @HyukjinKwon

[2019-08-29 08:04] HyukjinKwon commented on #715
Please go ahead for both items!

[2019-08-29 08:49] leehaejoon opened #716 "Add configuration value "compute.shortcut_limit""
related with #715  , I'm working on "compute.shortcut_limit"

[2019-08-29 09:02] itholic opened #718 "Add configuration value "compute.max_rows""
elated with #715 , I'm working on "compute.max_rows"

[2019-08-29 17:41] ueshin commented on #715
@HyukjinKwon As for `SPARK_KOALAS_AUTOPATCH` and `KOALAS_USAGE_LOGGER`, we need them when initializing Koalas, so we shouldn't use the configurations.
I removed them from the list in the description.

[2019-08-29 21:32] hari75 opened #720 "Support read_sql in koalas"
Requesting about read_sql() in koalas that they can do in pandas to read from external database.

[2019-08-30 00:42] HyukjinKwon commented on #715
Thanks!

[2019-08-30 01:20] HyukjinKwon commented on #720
It could be worked around as below for now:

[code]

[2019-08-30 03:27] HyukjinKwon commented on #50
Seems now it's pretty consistent:

[code]

[code]

[code]

[2019-08-30 03:27] #50 closed

[2019-08-30 04:01] #685 closed

[2019-08-30 05:21] itholic opened #722 "Add configuration value: "compute.default_index_type""
elated with #715 , I'm working on "compute.default_index_type"

[2019-08-30 05:26] itholic opened #724 "Add configuration value: "compute.ops_on_diff_frames""
elated with #715 , I'm working on "compute.ops_on_diff_frames"

[2019-08-30 09:14] RainFung commented on #700
https://github.com/databricks/koalas/pull/726