[2019-08-30 17:32] manugarri opened #727 "java.io.IOException: No FileSystem for scheme: s3"
Im trying to do a simple s3 IO (ignore the gzip argument for now):

[code]

However I get the classic spark error:

[code]

Which in spark is usually fixed by adding the aws jar.

How do we fix this in koalas?

[2019-08-31 05:37] HyukjinKwon commented on #727
Seems like you need to specify hadoop-aws package (for instance, `org.apache.hadoop:hadoop-aws:2.7.2`).

Currently, Koalas does not support to set Spark properties out of the box.

It should be set into Spark itself currently. There are two ways I can think of for now:

1. Initialises the Spark context first in codes.

[code]

2. Set the configuration values under `$SPARK_HOME/conf/spark-defaults.

[2019-08-31 23:59] manugarri commented on #727
I see, that makes sense, thanks!

[2019-08-31 23:59] #727 closed

[2019-09-02 00:45] #708 closed

[2019-09-02 02:03] #724 closed

[2019-09-02 02:03] #722 closed

[2019-09-02 02:03] #718 closed

[2019-09-04 01:26] #720 closed

[2019-09-04 20:37] jimfulton opened #745 "Can't predict from model with more than 256 features"
When running a model to generate predictions, koalas+mlflow create PySpark UDFs that take an argument per feature column.

PySpark currently has a limitation of 256 arguments per UDF.  This limitation seems shallow and easy to hack around. See https://issues.apache.org/jira/browse/SPARK-28978.

Of course, I tried koalas with a model with 500+ features. :)

Unless I'm mistaken (quite possible), thi

[2019-09-05 02:55] #715 closed

[2019-09-06 08:00] charlesdong1991 opened #755 "Add precommit in workflow to standardize code style"
This is not a function but more like coding/contributing related.

I know now quite many open source projects add `black` for instance in their pre-commit pipeline to kind of standardize the code style. I tried to `black` several files and found some look more 'pretty'. Not sure if it is something Koalas wants to have as well.

If you like it, I would be happy to work on this.

[2019-09-06 17:37] ueshin commented on #755
Basically I'd prefer to have a source code formatter to standardize the code style.

I'm wondering whether the pre-commit hook can format only the updated codes since it's possibly difficult to review so many code changes in a PR for enabling the formatter. If it can, we will eventually have fully formatted codes after a while. If we won't have so many changes in the PR, then it'd be no problem.

[2019-09-06 18:16] charlesdong1991 commented on #755
Thanks for your comment! @ueshin

Indeed, most of files I believe will need to be reformatted, and it's difficult to review at once. What I plan to do is to have a WIP PR to implement the pre-commit hook, and then create PRs for each or several files using a selected formatter to avoid huge amount of changes at the same time, once all files or most of files are reformatted, then we merge the pre-c

[2019-09-06 19:54] ueshin commented on #755
Sounds great. I agree that the formatter is nice for a project.
Sounds like `black` is good enough for us. `yapf` says it's still in "alpha" stage.
WDYT? @HyukjinKwon

Let me try the `black` in my local for a while in the meantime.

[2019-09-06 20:14] ueshin commented on #755
Oh, almost all files changed. We definitely shouldn't do in one PR. haha

[2019-09-06 20:17] charlesdong1991 commented on #755
yeah, i tried locally as well, since some warnings already showed in pycharm for me, so I would expect almost all files have to be changed. I am submitting a PR for `pre-commit`, and then shall I create PRs to reformat one batch of files in each PR?

Does this sound good to you? @ueshin @HyukjinKwon

[2019-09-08 00:46] HyukjinKwon commented on #755
How many files and lines should it be changed? I think it might be fine since we don't currently backport and maintain minor or maintenance releases unless it changes everything with some thousands changes.

[2019-09-08 09:19] charlesdong1991 commented on #755
almost all `*.py` files i think, I will create a Draft PR, and present those for all. You could take a look and decide what to do next. @HyukjinKwon

[2019-09-08 12:47] kevinsuedmersen commented on #99
I would like to see this too

[2019-09-09 20:30] ueshin opened #765 "Add index_col for spark IO reads."
We should provide `index_col` argument for spark IO reads to avoid creating default indexes in the case index columns are known.

- `read_csv`
- `read_delta`
- `read_table`
- `read_spark_io`
- `read_parquet`

[2019-09-09 20:31] ueshin commented on #765
`DataFrame.to_koalas()` as well?

[2019-09-10 00:27] HyukjinKwon commented on #765
@itholic, are you interested in submitting a PR for this?

[2019-09-10 01:58] itholic commented on #765
@HyukjinKwon Sure, i'll work on it from now on. :)

[2019-09-11 13:35] leehaejoon commented on #716
finished at #717 , close

[2019-09-11 13:35] #716 closed

[2019-09-11 15:57] brookewenig opened #770 "Add "sep" parameter for read_csv"
I'd like to read in a tab-delimited CSV file. In pandas and in Spark, I can specify sep="\t", but in Koalas it isn't supported. Could you please add support for this?

[2019-09-11 17:12] brookewenig opened #771 "Support for Multi-level Pie Charts"
I'd love to visualize my data using a Multi-level Pie Chart. This would be a great application of group by's at scale with Koalas.

https://datavizcatalogue.com/methods/sunburst_diagram.html
<img width="583" alt="Screen Shot 2019-09-11 at 9 38 10 AM" src="https://user-images.githubusercontent.com/6416014/64719197-9b6a9f00-d47c-11e9-9586-4b76b8fe5e59.png">

[2019-09-11 20:41] zero323 commented on #166
@thunterdb FYI Since today [it is](https://anaconda.org/conda-forge/pyspark-stubs) also published to Conda Forge.

[2019-09-11 23:13] brookewenig opened #772 "Filtering rows throws error when result is empty"
In Pandas, if I filter for rows and there are none that satisfy the condition, it returns an empty DataFrame.

With Koalas, it throws an error. I think it should return an empty dataframe, like Pandas.

Note: data is a koalas dataframe in the screenshot below
![Screen Shot 2019-09-11 at 4 11 21 PM](https://user-images.githubusercontent.com/6416014/64741906-19e03480-d4af-11e9-9a4e-5d8bfbd4f260.png)

[2019-09-11 23:19] brookewenig opened #773 "Clear Plots"
When I plot a DataFrame, then in a separate cell plot again, the first plot is not cleared.

I think the plots should be auto-cleared (e.g. plt.clf()).
![Screen Shot 2019-09-11 at 2 37 58 PM](https://user-images.githubusercontent.com/6416014/64742099-ddf99f00-d4af-11e9-9ffa-da8a3c1141c4.png)

[2019-09-12 01:20] itholic commented on #772
Thank you for your issue reporting!

Sorry, but if you don't mind, could you show me the python code you used to make Koalas DataFrame if it possible?

I just tested it with the example you uploaded. In my case, both results are returning an Empty DataFrame like below:

![스크린샷 2019-09-12 오전 10 14 01](https://user-images.githubusercontent.com/44108233/64746452-89553300-d546-11e9-8bc2-4a2f2

[2019-09-12 01:22] itholic commented on #772
Thank you for your issue reporting!

Sorry, but if you don't mind, could you show me the python code you used to make Koalas DataFrame if it possible?

I just tested it with the example you uploaded.

In my case, both results are returning an Empty DataFrame like below:

![스크린샷 2019-09-12 오전 10 14 01](https://user-images.githubusercontent.com/44108233/64746452-89553300-d546-11e9-8bc2-4a2f

[2019-09-12 01:23] itholic commented on #772
Thanks for your issue reporting!

Sorry, but if you don't mind, could you show me the python code you used to make Koalas DataFrame if it possible?

I just tested it with the example you uploaded.

In my case, both results are returning an Empty DataFrame like below:

![스크린샷 2019-09-12 오전 10 14 01](https://user-images.githubusercontent.com/44108233/64746452-89553300-d546-11e9-8bc2-4a2f297

[2019-09-14 02:45] brookewenig commented on #772
When going from a Pandas DF to Koalas DF, I agree, there are no issues. However, this issue seems to come up when reading directly from a CSV file. I can reproduce this issue with two different CSV sources. Take a look at the notebook linked here and you can see the error: https://databricks-prod-cloudfront.cloud.databricks.com/public/793177bc53e528530b06c78a4fa0e086/0/15446625/100107/latest.html

[2019-09-14 07:15] itholic commented on #772
Thanks! i've just reproduced your situation and try to find why this issue happens.

If you look at `/databricks-datasets/bikeSharing/data-001/day.csv`, you can see a line like below:

<img width="922" alt="스크린샷 2019-09-14 오후 4 04 34" src="https://user-images.githubusercontent.com/44108233/64904767-72ab0980-d709-11e9-96ea-fc08856d3a0c.png">

with above `*** WARNING` line, i can see the sam

[2019-09-14 07:16] harupy commented on #773
@brookewenig

I faild to reproduce this issue. Did I miss something?

## Environment

- Databricks Community Edition
- Runtime version: 6.0 beta
- koalas version: 0.17.0
- notebook: [click here](https://databricks-prod-cloudfront.cloud.databricks.com/public/4027ec902e239c93eaaa8714f173bcfc/7872419575180801/3144542009007501/4764411236566651/latest.html)

<img width="501" alt="Screen Shot 2019-09-14

[2019-09-14 07:37] harupy commented on #773
I digged into how `display` works with the code below.

[code]

The output says:

[code]
The full output is included in [this notebook](https://databricks-prod-cloudfront.cloud.databricks.com/public/4027ec902e239c93eaaa8714f173bcfc/7872419575180801/3144542009007501/4764411236566651/latest.html).

[2019-09-14 10:03] harupy commented on #773
I also checked 5.5 LTS.

[code]

[2019-09-14 10:38] harupy commented on #773
I can reproduce almost the same result as @brookewenig on `5.5 conda beta`.
<img width="498" alt="Screen Shot 2019-09-14 at 19 26 34" src="https://user-images.githubusercontent.com/17039389/64906806-adbb3600-d725-11e9-9997-f8fffa3d49d2.png">

[2019-09-14 11:09] harupy commented on #773
This issue doesn't happen on Jupyter ([notebook](https://github.com/harupy/temp/blob/master/koalas_plot_issue.ipynb)).

![Screenshot from 2019-09-14 20-04-16](https://user-images.githubusercontent.com/17039389/64907300-6cc62000-d72b-11e9-9db3-e6d0073e0403.png)

[2019-09-14 17:36] #770 closed

[2019-09-14 17:45] ueshin commented on #772
Hmm, that's interesting. Let me check, too. Thanks for sharing the notebook!

[2019-09-14 17:53] ueshin commented on #773
@harupy Thanks for the investigation!
Sounds like it's related to how the `display` function handles `matplotlib`.
Does that mean it happens even with pandas DataFrame?

[2019-09-15 00:45] harupy commented on #773
Yes, pandas DF behaves the same.

[2019-09-15 01:05] harupy commented on #773
Found out why multple plots on different cells don't interfere **on Juypter**.

https://github.com/ipython/ipython/blob/5bcd244b377b0c3dd626eba08b5a1776552039ca/IPython/core/display.py#L1466-L1490

    matplotlib figures automatically after each cell is run**. This means that
    plots in different cells won't interfere. Sometimes, you may want to make
    a plot in one cell and then refine it in

[2019-09-15 02:31] harupy commented on #773
Quick (but dirty) workaround on Databricks runtime older than `6.0` is

[code]

### Ref.
https://ipython.readthedocs.io/en/stable/config/callbacks.html#ipython-events

### Notebook
https://databricks-prod-cloudfront.cloud.databricks.com/public/4027ec902e239c93eaaa8714f173bcfc/7872419575180801/3144542009007501/4764411236566651/latest.html

[2019-09-15 03:37] harupy commented on #772
I created a simple notebook to investigate this issue.

https://github.com/harupy/temp/blob/master/koalas_filter_issue.ipynb

It seems the error occurs when pyarrow converts a datetime column.

[2019-09-16 02:36] #765 closed

[2019-09-16 02:37] HyukjinKwon commented on #773
Perfect analysis @harupy! Thank you so much.

[2019-09-16 02:46] HyukjinKwon commented on #773
@brookewenig, I think workaround was provided properly and seems not an issue in koalas. Please let me know if you think further action is required for this ticket.

[2019-09-16 02:46] #773 closed

[2019-09-16 02:57] HyukjinKwon commented on #772
Thanks @harupy for analysis and the codes!

[2019-09-16 03:06] HyukjinKwon commented on #771
Thanks @brookewenig. let me take a look for this one.

[2019-09-16 03:56] HyukjinKwon commented on #771
@brookewenig, was this pie chart generated via pandas? pandas itself seems not supporting this out of the box but seems we should use bokeh or matplotlib (see https://stackoverflow.com/questions/33019879/hierarchic-pie-donut-chart-from-pandas-dataframe-using-bokeh-or-matplotlib).

I am asking this because if pandas does not support, we should find another way to integrate bokeh or matplotlib which

[2019-09-16 16:07] brookewenig commented on #771
@HyukjinKwon No, this chart is not supported by pandas (supported by bokeh/matplotlib)

[2019-09-16 17:19] kermany opened #782 "When using drop on koalas dataframe and then merge, dropped columns persist"
It seems that after dropping a col from a kdf, if we merge it with another one and create a new dataframe, the dropped column persists.
This is in databricks environment
e.g:
[code]

[2019-09-17 02:53] HyukjinKwon opened #783 "Single pass for hist-plots in DataFrame"
Once https://github.com/apache/spark/pull/25801 is resolved, we can do it in a single pass.

Currently, which column has to be executed for whole DataFrame.

[2019-09-17 06:33] itholic commented on #782
Hi kermany :)

Maybe if you can, Could you give some detail environment your code are running at?
(maybe OS, python version, etc?)

because In my case, i failed to reproduce situation what you faced,

and there're no problem in jupyter notebook, python interpreter, python script either like below:

<img width="847" alt="스크린샷 2019-09-17 오후 3 20 26" src="https://user-images.githubusercontent

[2019-09-17 06:36] HyukjinKwon commented on #782
hey @kermany thanks for reporting and @itholic thanks for trying it out.

Which koalas version did you use @kermany?

[2019-09-17 08:16] HyukjinKwon opened #788 "Implement DataFrame.pop"
Select one Series and drop it in the DataFrame in-place (see https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pop.html?highlight=pop#pandas.DataFrame.pop)

Related to https://github.com/databricks/koalas/issues/362

[2019-09-17 08:16] HyukjinKwon commented on #788
cc @harupy and @itholic, are you interested in this?

[2019-09-17 08:19] HyukjinKwon opened #789 "Implement Series.pop"
filter out given arugmnet in the series. See https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.pop.html?highlight=pop#pandas.Series.pop

Related to #362

[2019-09-17 08:20] HyukjinKwon commented on #789
cc @itholic and @harupy are you interested in it?

[2019-09-17 09:00] itholic commented on #789
@HyukjinKwon Oh it looks interesting. i'll try this out :)

[2019-09-17 10:45] harupy commented on #789
`pandas.DataFrame.pop` and `pandas.Series.pop` use the same function internally.

https://github.com/pandas-dev/pandas/blob/v0.25.1/pandas/core/generic.py#L821-L869

[2019-09-17 11:42] harupy commented on #789
And they both have the exact same doc.

- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.pop.html
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pop.html

[2019-09-17 12:01] HyukjinKwon commented on #789
Yes i checked that too but from my cursory look, we cannot share implementation in Koalas. In this case, it might better to have two separate APIs with two separate examples. It's fine to have some differences if that looks obviously better.

[2019-09-17 12:22] itholic commented on #788
i'm working on it

[2019-09-17 12:42] harupy commented on #788
@itholic thanks!

[2019-09-17 12:58] harupy commented on #788
[The pandas doc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pop.html) says `pop` takes `str`, but it also can take a tuple of `str` when a dataframe has multi-index columns.

@HyukjinKwon
Do you think this should be covered in docstring and tests?

[2019-09-17 13:01] HyukjinKwon commented on #788
That would be so nice if they are covered.

[2019-09-17 13:55] kermany commented on #782
Thanks @itholic! This is using Databricks notebooks with koalas 0.17.0

[2019-09-17 14:06] itholic commented on #788
@harupy It sounds such a nice suggestion 😃
I just added DataFrame.pop with basic example at #791 ,
And will try to support with tuple for multi-index also as you commented.

[2019-09-17 14:20] harupy commented on #782
The internal dataframe still has `c2` even after dropping it.

[code]

https://databricks-prod-cloudfront.cloud.databricks.com/public/4027ec902e239c93eaaa8714f173bcfc/7872419575180801/138200887632135/4764411236566651/latest.html

[2019-09-17 15:19] harupy commented on #782
I think I found why this issue is happening for 0.17.0 (which me and @kermany use).

- `drop` doesn't mutate `DataFrame._internal.sdf` but `data_columns` and `column_index`.
- For 0.17.0, `merge` uses `Dataframe._sdf` which is `Dataframe._internal.sdf`.

[2019-09-17 15:29] harupy commented on #782
But, from the commit below, `merge` starts using `DataFrame._internal.spark_internal_df` which selects columns with `data_columns` ([code](https://github.com/databricks/koalas/blob/468a757b658872c5379ac65ee9bcc8b1147bd3c9/databricks/koalas/internal.py#L570)).

https://github.com/databricks/koalas/commit/468a757b658872c5379ac65ee9bcc8b1147bd3c9#diff-5ba644c40e914732959b9b4867f30c53L4991

I think @i

[2019-09-17 17:24] ueshin commented on #788
Thanks for considering the multi-index columns support.
I believe now that we have a basic infrastructure to support multi-index columns and tuple names for Series and Index using `column_index`. Actually managing Spark column names with `data_columns` is less useful now. We should rather first handle `column_index` properly.
I'm still working on fixing existing APIs. Hopefully we can think of mul

[2019-09-18 01:28] HyukjinKwon commented on #782
Seems like `drop` should actually drop the column in Spark DataFrame; otherwise, it might cause such issues somewhere else.

Yes, I used the latest branch too to reproduce.

[2019-09-18 01:29] HyukjinKwon commented on #782
@harupy since you debugged most of it, are you interested in fixing it? in `drop()`, I think `self._sdf` should drop the given column as well, not only in its metadata.

[2019-09-18 02:03] ueshin commented on #782
IMO, we should manage the columns only in metadata in such a case to avoid creating Spark DataFrame, but I have to admit I don't make it to handle all the cases yet.

[2019-09-18 02:43] HyukjinKwon commented on #782
Maybe we can drop the column for now ..? and we find a better way to clean up the unnecessary DataFrame creations.

[2019-09-18 02:49] HyukjinKwon commented on #782
Since the issue itself is now resolved, let me anyway resolve this issue.

[2019-09-18 04:40] #782 closed

[2019-09-19 01:38] #772 closed

[2019-09-19 23:41] wishcsdev opened #801 "Databricks dataframe numpy implementation"
Hi,

I am trying to to apply a basic numpy function on a koalas dataframe column. However, I keep getting the following error.

Here is what I have attempted so far:
1) read csv from Azure data lake using koalas
2) check dataframe is valid and not empty
3) check column is a float value and not an object
4) try both  applymap and pipe as outlined in the docs
5) read.csv using spark and convert to S

[2019-09-19 23:50] wishcsdev commented on #801
5.5 Conda Beta (includes Apache Spark 2.4.3, Scala 2.11)

The following are installed locally on databricks notebook (not on the cluster)
dbutils.library.installPyPI("pandas", version='0.24.2')
dbutils.library.installPyPI("numpy", version='1.17.2')
dbutils.library.installPyPI("seaborn", version='0.9.0')
dbutils.library.installPyPI("scikit-learn", version='0.21.3')
dbutils.library.installPyPI("plot

[2019-09-20 00:03] harupy commented on #801
This might help
https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.Series.apply.html#databricks.koalas.Series.apply

[2019-09-20 00:09] wishcsdev commented on #801
thanks. I tried this. the second function above sq(df) is a Series function.

Unfortunately my data is in a dataframe once koalas reads it. I need a dataframe to series function for the apply() to work. Or a way to read the data in a series from the csv and then use the function.

Series has a to_frame function. But Dataframe does not have an equivalent to_series function.
Also, my data is time se

[2019-09-20 00:14] harupy commented on #801
Sorry I removed my comment by mistake which was:

[2019-09-20 01:18] harupy commented on #801
Is this what you want to do?

[code]

[2019-09-20 03:36] thoo opened #804 "pivot_table function with renaming columns"
Here is the example from the documentation.

[code]

The above code works as expected.  Then I rename the columns like

[code]
This works fine with `applymap` and other functions like `to_datetime` but as soon as I use `pivot_table` , I got an error.

[code]
The above code will give the following error:

[code]

Is it not allowed to change the column name right now??  Thanks.

[2019-09-20 03:55] harupy commented on #804
Seems like `df.columns = new_columns` doesn't change the internal dataframe columns.

[code]

[2019-09-20 04:57] ueshin commented on #804
@harupy Actually the root cause is the `pivot_table` doesn't handle metadata (`_InternalFrame`) properly. This is the same as `merge` case at #782. So far fixing `columns` is easier way, though, but it doesn't fix the case multi-index columns are used.

[2019-09-20 05:57] HyukjinKwon commented on #804
BTW, thanks for reporting this @thoo. the issue looks very easy to understand and reproduce.

[2019-09-20 13:46] thoo opened #805 "Issue with multiple indexes."
[code]
If I run ,
[code]

I think `table.index` should have both `names: ['A','B']`.  Is `MultiIndex` currently not supported? I looked into the source and `MultiIndex` was there.

[2019-09-20 15:07] wishcsdev commented on #801
Hi, this worked! Thank you.
Can you please explain the logic behind why we need to write 2 'type hint' Series functions to implement a basic np.square function on a Dataframe?

Also, the data set I am working with is 40GB and converting it to Pandas Series and then to Koalas Series is not a feasible option. Is there a way I can minimize writing twice the code to implement external library function

[2019-09-20 15:08] hari75 opened #807 "rolling method for koalas"
Requesting for the rolling() method that is available in pandas to be implemented in koalas.

[2019-09-20 16:39] ueshin commented on #804
Shall we fix the `columns` setter to rename the Spark columns?
@itholic @harupy Do you want to fix it?

I'll handle `merge` and `pivot_table` soon.

[2019-09-20 17:01] ueshin commented on #805
@thoo Thanks for the report. Yeah, it should behave the same as pandas'.

[2019-09-20 17:05] harupy commented on #804
I'll work on this.

[2019-09-20 17:06] ueshin commented on #804
@harupy Great, thanks!

[2019-09-20 17:25] wishcsdev opened #808 "Pandas read_csv(squeeze='True') to enable koalas Series and not Dataframe"
Would be extremely useful to directly read in a koalas.Series from read_csv and not have to convert Dataframe to Series (which also does not exist in Koalas).
Thank you!

[2019-09-20 18:47] harupy commented on #801
Seems like `pipe` works without type hint. The code above can be shortened as

[code]

[2019-09-20 20:22] wishcsdev commented on #801
I used the same logic when I saw your first solution! Thanks!

[2019-09-20 20:55] #788 closed

[2019-09-21 02:37] thoo commented on #808
@ueshin  I am working on this one.

[2019-09-21 03:56] itholic commented on #804
oh It seems pretty interesting,
thanks for suggestion @ueshin ,
and go for it @harupy ! 😃

[2019-09-21 09:44] RainFung opened #814 "raise OptionError: "No such keys(s): 'display.html.border'" when print dataframe"
[code]

[code]

[2019-09-21 12:13] RainFung opened #815 "groupby.nunique raise ArrowIOError"
[code]

[2019-09-21 14:54] HyukjinKwon commented on #814
@RainFung, do you mind if I ask full codes with pandas version? seems like an issue in pandas.

[2019-09-21 14:55] HyukjinKwon commented on #815
@RainFung, can you also share the full codes with pandas / pyarrow version if possible?

[2019-09-21 22:05] #801 closed

[2019-09-22 08:18] HyukjinKwon commented on #801
Thanks for reporting this @wishcsdev and providing the solution @harupy

[2019-09-22 08:19] #804 closed

[2019-09-22 08:20] #808 closed

[2019-09-22 23:02] thoo opened #817 "Bug in merge dataframe to series."
[code]
The above code return this error:
[code]

[2019-09-23 00:58] thoo opened #819 "Raise error for duplicate columns in join"
[code]
The above code will raise  the following error.
[code]
In `pandas` it will raise the following error which is more helpful.
[code]

[2019-09-23 05:17] #819 closed

[2019-09-23 13:57] zHaytam commented on #625
Hello, any news on this?

[2019-09-23 20:16] itholic commented on #789
i'm working on this.

[2019-09-23 20:35] itholic opened #822 "Implement Series.drop"
Return item and drop from frame, see https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.drop.html#pandas.Series.drop

i think maybe it is a little more convenient way to implement Series.drop before Series.pop like we did for Dataframe's pop.

Related to #362

[2019-09-23 20:35] itholic commented on #822
i'm working on it

[2019-09-23 21:02] charlesdong1991 opened #823 "Implement Named Aggregation"
Pandas has put forward a named aggregation for groupby aggregation since 0.25.0, I am working on an implementation on this.

[2019-09-24 13:29] thoo opened #827 "Feature request: pd.CategoricalDtype"
It would be nice to have categoricalDtype like [pandas.CategoricalDtype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.CategoricalDtype.html#pandas.CategoricalDtype).

[2019-09-24 20:45] #817 closed

[2019-09-25 23:06] ueshin commented on #701
FYI: @WeichenXu123 is working on this at #806.

[2019-09-26 07:46] HyukjinKwon commented on #827
I think we should rather explicitly don't support this for now due to missing type and implementation in PySpark

[2019-09-26 07:47] HyukjinKwon commented on #625
@hsubbaraj, are you working on this?

[2019-09-26 20:49] ueshin commented on #24
Resolved by #389.

[2019-09-26 20:49] #24 closed

[2019-09-27 02:33] #805 closed

[2019-09-27 07:24] smalory commented on #555
The way I see it; pandas took a very strange decision to return a numpy array in this case as opposed to a pandas Series. It feels inconsistent. I don't think this discussion would exist were pandas `unique` to return a pandas Series, since koalas `unique` returns a koalas Series and so the consistency would hold.

Because of this, to have a truly consistent API with pandas, there would need to be

[2019-09-27 10:50] HyukjinKwon commented on #814
Closeing this due to no feedback.

[2019-09-27 10:50] #814 closed

[2019-09-27 18:26] rxin commented on #555
Thanks for the comment @smalory.

@ueshin can we fix the error message?

[2019-09-27 18:27] rxin commented on #827
This is like dictionary encoding right? One way to do it (rather complicated) is to have a translation layer in Koalas ourselves.

[2019-09-27 18:34] Devarsh-UTD opened #834 "Understanding Groupbyapply"
Hello there, firstly thank you for such an amazing package that bridges the gap between Pandas and PySpark.
I started using koalas approximately 1 week back and everything was intuitive till the time i stumbled upon `koalas.Groupby.Apply`.

Code:
[code]
Here features_data is a  pd.Dataframe.

Output from Koalas.Groupby.Apply:

![Screen Shot 2019-09-27 at 2 27 26 PM](https://user-images.githubuserc

[2019-09-28 01:20] #555 closed

[2019-09-28 01:45] brookewenig opened #837 "Add unit option for to_datetime"
I'd like to convert my Unix timestamp to a datetime.

In pandas, I can pass in unit='s'. Can we please support this option in Koalas? Otherwise, my datetime is not parsed properly (see attached)
<img width="961" alt="Screen Shot 2019-09-27 at 6 44 02 PM" src="https://user-images.githubusercontent.com/6416014/65809839-e7913100-e156-11e9-962e-353388707b7f.png">
<img width="1057" alt="Screen Shot 201

[2019-09-28 02:11] harupy commented on #837
@ueshin @HyukjinKwon
Can I work on this?

[2019-09-28 03:03] HyukjinKwon commented on #837
Please go ahead!

[2019-09-28 10:47] harupy commented on #834
The issue is the code I highlighted below in `Groupby.apply` ([link](https://github.com/databricks/koalas/blob/1c11cc71f1710325f8ee2911f4f78a57940205c4/databricks/koalas/groupby.py#L819-L828)).

[code]

`pdf = pdf.groupby(input_groupnames).apply(func)` makes `len(pdf)` much smaller than `limit` (which is 1000 by default) and `kdf` created using the first 1000 records is returned.

[2019-09-28 10:51] harupy commented on #834
Notebook to reproduce the issue.
https://databricks-prod-cloudfront.cloud.databricks.com/public/4027ec902e239c93eaaa8714f173bcfc/4475210719991087/2980686694056275/4764411236566651/latest.html

[2019-09-28 14:29] Devarsh-UTD commented on #834
Thabk you @harupy for reproducing the issue and explaining it, any work arounds?

[2019-09-28 14:32] harupy commented on #834
@Devarsh-UTD
You could use `agg` to take the sum of `trans_type_value` in each group like below.

[code]

[2019-09-28 14:34] harupy commented on #834
`apply` doesn't support a function which returns a series or a scalar yet.

https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.groupby.GroupBy.apply.html

[2019-09-28 14:35] Devarsh-UTD commented on #834
Thanks for the prompt reply. Since i wanted to post this on git hub i took a simple example of 'sum()', in reality what i wanted to achieve through this function was to groupby ID and then for each group train a separate scikit learn model using pandas_wraps. Any suggestions to achive this ade welcome. Also, this means that this is an actual issue right, nothing wrong on my side in terms of coding

[2019-09-28 14:36] Devarsh-UTD commented on #834
Let me test it out. :)

[2019-09-28 14:38] Devarsh-UTD commented on #834
Just to note that i usually return from the function like this -
pd.Dataframe(return_value)

[2019-09-28 14:46] harupy commented on #834
Like this?

[code]

[2019-09-28 14:56] Devarsh-UTD commented on #834
def train_model(each_group_df):
   df = each_group_df.copy()
   df= df['ID'].unique().tolist()
   model = ModelConstructor(...)
   model.fit(each_group_df)
   df['model_str'] = pickle.dumps(model)
    Return df

ks_df=ks_df.groupby('ID').apply(trainmodel)

[2019-09-28 16:24] harupy commented on #834
Not sure if this is a proper way to do what you want to do...
[code]

[2019-09-28 17:34] Devarsh-UTD commented on #834
Thnx. Let me check it out.

[2019-09-28 17:36] Devarsh-UTD commented on #834
Well what you are doing here is basically what i did. But the output is not proper as discussed above, which is the main problem.

[2019-09-28 18:07] #837 closed

[2019-09-29 00:27] thoo commented on #827
@rxin That's is correct.
Currently, with pandas, we usually set the categorical columns for the training data as `X[cols] = X[cols].astype('category')` and then save the categorical dictionary. Then, we remap the dictionary to the test data.  It is similar to labelencoder from scikit-learn but can handle the unknown values in test dataset out of the box.

[2019-09-29 00:44] harupy commented on #834
Actually, it is a bit different because I put type hint `ks.DataFrame[int, str]` to skip schema inference.

[2019-09-29 14:22] HyukjinKwon commented on #834
Hmmm .. https://github.com/databricks/koalas/issues/834#issuecomment-536175397 this looks actually a potential issue ..  @harupy do you mind if I ask to document this limitation for now? Maybe we should think about a way to fix it properly (e.g., do not allow to return directly in this case).

[2019-09-29 15:09] brookewenig commented on #343
Any update on this? For the demo, I'd actually really like tail to be implemented.

[2019-09-29 15:32] HyukjinKwon commented on #343
^ WDYT @rxin, @thunterdb and @ueshin?

[2019-09-30 01:42] harupy commented on #834
@HyukjinKwon
No, not at all. I'll create a PR for this.

[2019-09-30 05:33] Devarsh-UTD commented on #409
Thank you guys for the replies. I will surely check out all of the suggestions by tomorrow evening...!!

[2019-09-30 05:35] Devarsh-UTD commented on #409
Thank you guys for the replies. I will surely check out all of the suggestions by tomorrow evening...!!

[2019-09-30 06:34] HyukjinKwon commented on #834
Thanks!

[2019-10-01 02:14] harupy commented on #834
@HyukjinKwon
I just started thinking the current implementation is **HIGHLY** dangerous.

[code]

Here pandas returns correct values, but koalas doesn't because it only uses the first 1001 records. The problem is this code can run without raising any error or warning to users. @Devarsh-UTD 's case was lucky because the difference is obvious and noticeable.

[2019-10-01 02:39] HyukjinKwon commented on #43
Hey @thunterdb, let me leave this closed as of #843 for now!

[2019-10-01 02:39] #43 closed

[2019-10-01 03:40] HyukjinKwon opened #852 "Dummy issue for storing images"

[2019-10-01 03:40] #852 closed

[2019-10-01 03:41] HyukjinKwon commented on #852
![plot1](https://user-images.githubusercontent.com/6477701/65932457-b9f30300-e448-11e9-9b75-dc8b9fa76ca1.png)

![plot2](https://user-images.githubusercontent.com/6477701/65932460-bb243000-e448-11e9-9587-e801bc258aa3.png)

[2019-10-01 03:48] Devarsh-UTD commented on #834
Let me get back to you by tomorrow evening.

[2019-10-01 09:06] HyukjinKwon commented on #834
@harupy Ack. we should fix it. We can even fix it first to remove the shortcut but only infer its schema (see https://github.com/databricks/koalas/pull/845). Let's fix it before the next release.

[2019-10-01 09:12] HyukjinKwon commented on #834
One alternative might be to run a sample on Koalas DataFrame, collect as Pandas DataFrame and use its schema. We can implement this by a configuration as well.

[2019-10-01 09:19] HyukjinKwon commented on #834
@harupy Ack. we should fix it. We can fix it first to remove the shortcut but only infer its schema (see https://github.com/databricks/koalas/pull/845). Let's fix this one before the next release.

There's no perfect way to infer the schema. Ideally we should specify the type hint properly.
We can increase the size of configuration to infer, or disable by None to throw an error saying type hint sh

[2019-10-01 16:29] harupy commented on #834
ok! I'll try!

[2019-10-02 01:14] harupy commented on #834
After removing the if clause which returns pdf as a shortcut like below,  `test_apply_with_new_dataframe` starts failing.

[code]

[2019-10-02 02:02] HyukjinKwon commented on #834
Seems like there's inconsistency between `spark_df.groupby(...).apply(...)` and `pandas_df.groupby(...).apply(...)` about handling indexes.

[code]

It can be debugged as below:

[code]

**Before:**

[code]

**After:**

[code]

[2019-10-02 02:09] HyukjinKwon commented on #834
BTW, it should be safe to do because it's guaranteed to have the same grouped data in `spark_df.groupby(...).apply(func)`.

Say, if we have a Spark DataFrame as below:

[code]
[code]

[code]

The `func`'s `pdf` becomes, each grouped by `a`.

[code]
[code]

So, applying `groupby(...).apply(...)` won't change its output but only correct the index as pandas' style:

[code]

[code]

[code]

[2019-10-02 08:04] #822 closed

[2019-10-02 08:26] harupy commented on #834
@HyukjinKwon Thanks!

[2019-10-03 05:06] KetaoChen opened #864 "Implement DataFrame.first"
I am working on the implementation of DataFrame.first.
Like pandas DataFrame.first (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.first.html?highlight=first#pandas.DataFrame.first)
Related to #362

[2019-10-03 10:22] KetaoChen commented on #864
Sorry, I just noticed that the Datetime index is deprecated.

[2019-10-03 10:22] #864 closed

[2019-10-03 17:36] brookewenig opened #870 "Regression: Merge command breaks in 0.18"
When I try to run this code in Koalas 0.17, it works fine, but in 0.18, I get this error:
org.apache.spark.sql.AnalysisException: Reference &#39;year&#39; is ambiguous, could be: left_table.year, right_table.year.;

[code]

[2019-10-03 18:00] ueshin commented on #870
@brookewenig Thanks for the report.
It should be fixed in the current master. I tried it with master and it worked.

[code]

It will be available in the next release. We are planning to release tonight, or within this week.

[2019-10-03 21:49] ueshin opened #872 "DataFrame.info"
Implement `DataFrame.info`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html
`memory usage` is not needed for Koalas.

[2019-10-03 21:52] ueshin opened #873 "Index.to_numpy"
Implement `Index.to_numpy`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Index.to_numpy.html

[2019-10-03 21:58] ueshin opened #874 "Series.drop_duplicates"
Implement `Series.drop_duplicates`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.drop_duplicates.html

[2019-10-03 22:03] ueshin opened #875 "SeriesGroupBy.unique"
Implement `SeriesGroupBy.unique`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.SeriesGroupBy.unique.html

[2019-10-03 22:10] ueshin opened #876 "DataFrame.query"
Implement `DataFrame.query`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html

[2019-10-03 22:11] ueshin opened #877 "DataFrame.stack"
Implement `DataFrame.stack`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.stack.html

[2019-10-03 22:13] ueshin opened #878 "DataFrame.pct_change"
Implement `DataFrame.pct_change`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pct_change.html

[2019-10-03 22:14] ueshin opened #879 "GroupBy.head"
Implement `GroupBy.head`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.head.html

[2019-10-03 22:16] ueshin opened #880 "Index.unique"
Implement `Index.unique`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Index.unique.html

[2019-10-03 22:19] ueshin opened #881 "Series.reindex"
Implement `Series.reindex`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.reindex.html

[2019-10-03 22:21] ueshin opened #882 "Series.replace"
Implement `Series.replace`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.replace.html

[2019-10-03 22:22] ueshin opened #883 "SeriesGroupBy.nlargest/nsmallest"
Implement `SeriesGroupBy.nlargest` and `SeriesGroupBy.nsmallest`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.SeriesGroupBy.nlargest.html
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.SeriesGroupBy.nsmallest.html

[2019-10-03 22:31] ueshin opened #884 "DataFrame.where"
Implement `DataFrame.where`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.where.html

[2019-10-03 22:34] ueshin opened #885 "DataFrame.iterrows"
Implement `DataFrame.iterrows`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iterrows.html

[2019-10-03 22:37] ueshin opened #886 "DataFrame.unstack"
Implement `DataFrame.unstack`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.unstack.html

[2019-10-03 22:41] ueshin opened #887 "DataFrame.itertuples"
Implement `DataFrame.itertuples`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.itertuples.html

[2019-10-03 22:42] ueshin commented on #885
I don't think we will support this kind of APIs. cc @HyukjinKwon

[2019-10-03 22:42] ueshin commented on #887
I don't think we will support this kind of APIs. cc @HyukjinKwon

[2019-10-03 22:44] ueshin opened #888 "Series.mode"
Implement `Series.mode`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.mode.html

[2019-10-03 23:47] #834 closed

[2019-10-04 00:01] Devarsh-UTD commented on #834
Thank you guys.

[2019-10-04 00:07] HyukjinKwon commented on #834
Thank YOU guys :-)

[2019-10-04 03:35] harupy commented on #834
Thank you guys :)

[2019-10-04 05:32] HyukjinKwon commented on #852
![Screen Shot 2019-10-04 at 2 32 23 PM](https://user-images.githubusercontent.com/6477701/66183415-d5ae1180-e6b3-11e9-93e8-bb7d92b5e392.png)

[2019-10-04 07:48] Patil2099 commented on #881
@ueshin Can you explain a little bit about the issue?

[2019-10-04 07:49] Patil2099 commented on #882
@ueshin Can you explain a little bit about the issue?

[2019-10-04 07:52] HyukjinKwon commented on #882
It basically means that we should implement an API that works exactly same as pandas'. For instance see below:

[code]

[code]

[2019-10-04 07:53] HyukjinKwon commented on #881
This is same as https://github.com/databricks/koalas/issues/882#issuecomment-538287853

[2019-10-04 08:41] itholic commented on #888
Could I try this If it's not so urgent?

[2019-10-04 14:05] ueshin commented on #888
Sure, please feel free to go ahead. Thanks!

[2019-10-04 15:02] ratchetwrench opened #893 "Add 'list' to agg functions"
Given:
[code]

Should return:
[code]
So that I may operate on a list of items from a groupBy operation.

[2019-10-04 16:53] brookewenig opened #894 "Loc: Setting value for an entire row"
Could you please implement this functionality?

df.loc[['viper', 'sidewinder'], ['shield']] = 50

A Databricks' customer uses this style of programming a lot, and on the docs, I see it isn't supported: https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.DataFrame.loc.html

[2019-10-04 18:31] ueshin commented on #893
Seems like pandas doesn't support it as well:

[code]

Btw, we have a workaround here, we can call Spark's aggregate functions:

[code]

[2019-10-04 19:16] charlesdong1991 commented on #893
emm, but pandas does support something like this, not sure if this is what he meant:
[code]
Not sure if Koalas wants to support such, but I do love this workaround! 😃

[2019-10-04 19:32] ueshin commented on #893
ah, I see. we might want to support it. cc @HyukjinKwon

[2019-10-04 22:40] ratchetwrench commented on #893
@charlesdong1991 correct, I meant ```list``` not ```'list'```

[2019-10-04 23:05] ueshin commented on #893
Seems #726 is related to this issue.

[2019-10-05 05:57] akhilanandbv003 commented on #872
Can I give it a try?

[2019-10-05 06:38] harupy opened #897 "Some parameters in plot.py are surrounded by backticks"
Some parameters in `plot.py` are surrounded by backticks. Should they be removed?

<img width="760" alt="Screen Shot 2019-10-05 at 15 33 03" src="https://user-images.githubusercontent.com/17039389/66251007-8df7ba80-e785-11e9-8563-ee3575d9a1f2.png">

---

The code corresponding to the fig above

[code]

[2019-10-06 05:09] HyukjinKwon commented on #897
@harupy, are you interested in submitting a PR?

[2019-10-06 10:58] harupy commented on #897
Created a PR↑

[2019-10-07 01:02] rportilla-databricks opened #900 "GroupBy.shift"
Standard Spark functionality is missing but implemented in the inner _shift function. Adding part_cols will allow this to easily scale.

[2019-10-07 01:54] itholic commented on #883
I'm working on it

[2019-10-07 02:36] itholic commented on #882
I'm working on this.

[2019-10-07 05:39] KetaoChen commented on #491
I am using windows 10, and I installed koalas according to the github step by step.
It was stuck at "df = ks.from_pandas(pdf)", and showed System cannot find the path specified.

System cannot find the path specified.

  File "<stdin>", line 1, in <module>
  File "E:\koalas\databricks\koalas\namespace.py", line 69, in from_pandas
    return DataFrame(pobj)
  File "E:\koalas\databricks\koalas\frame

[2019-10-07 06:36] #897 closed

[2019-10-07 06:38] HyukjinKwon commented on #883
Yea, seems it's already implemented.

[2019-10-07 06:38] #883 closed

[2019-10-07 07:24] ueshin commented on #883
oops, sorry, I missed it.

[2019-10-07 12:31] ueshin commented on #900
Had an offline discussion and found the request is to support `groupby(...).shift()`.

[2019-10-07 12:40] ueshin commented on #870
I'd close this since this was fixed in `0.19.0`.

[2019-10-07 12:40] #870 closed

[2019-10-08 00:17] itholic commented on #894
i'm working on it.

[2019-10-08 02:48] itholic commented on #894
created PR #905  to solve this.

[2019-10-08 08:45] #874 closed

[2019-10-08 12:13] HyukjinKwon commented on #491
This one also looks like an issue in PySpark:

[code]

Are you able to run simple problem written in PySpark?

[2019-10-08 12:14] #491 closed

[2019-10-09 03:30] rportilla-databricks commented on #596
@HyukjinKwon , we need pandas `date_range` at minimum to support historical data queries.

[2019-10-09 15:47] ueshin commented on #900
I'm working on this.

[2019-10-09 19:37] charlesdong1991 commented on #880
i will take this one

[2019-10-10 01:54] HyukjinKwon opened #913 "start using new bootstrap-based sphinx theme"
See https://github.com/pandas-dev/pandas/commit/6396bc3735cd6eef0b47d39bdb46f8be0faf6265

[2019-10-10 09:14] #882 closed

[2019-10-10 10:46] zHaytam opened #915 "Specifying types or changing a column's type"
Hello,

Is it possible to specify the columns types when loading data (e.g. csv) or changing a column's type after creating a dataframe?

Thanks!

[2019-10-10 11:44] HyukjinKwon commented on #915
Can you try this -https://github.com/databricks/koalas/pull/604?

[2019-10-10 12:05] zHaytam commented on #915
It seems to work, although users would need to specify all columns since it uses `selectExpr`. I guess this does the job for now, but an implementation of `dtype={‘a’: np.float64, ‘b’: np.int32, ‘c’: ‘Int64’}` and `to_numeric` or `as_type` would be great!

[2019-10-10 13:14] zHaytam commented on #915
I don't know why sometimes, the result is full of None

[2019-10-10 13:59] HyukjinKwon commented on #915
Do you mind if I ask your codes to reproduce and investigate further?

[2019-10-10 15:32] #900 closed

[2019-10-10 15:35] ueshin commented on #915
Btw, I'm working on adding `dtype` argument as well as other options for `read_csv`.

[2019-10-10 20:58] jimfulton opened #917 "Dataframe nlargest is very slow"
The existing implementation is naive, just sorting and picking the N largest.  This is O(R * ln(R)) where R is the number of rows.  Users expect O(R * ln(N)), where N is the number passed to `nlargest`.  I get this is complicated in a distributed setting. :)

Googling I found advice to use the RDD `top` method.

This is much faster for me:

[code]

I tested with a df of length 17 million and an N

[2019-10-10 23:39] #915 closed

[2019-10-11 00:31] HyukjinKwon commented on #917
thanks for a headup. Can you roughly show the perf difference between them? DataFrame APIs are supposed to be more optimal and I would get surprised in RDD one is faster in general. However, such things happen in our real life :-).

[2019-10-11 12:07] #823 closed

[2019-10-13 01:05] #894 closed

[2019-10-15 15:26] itholic opened #931 "is_monotonic_decreasing & is_monotonic_increasing for index not work properly"
When we use `is_monotonic_decreasing` or `is_monotonic_increasing` for index,

pandas works like below:

[code]
Since the index order is literally motononic decreasing, they return `True`

But our case,

[code]

as seen above, it returns `False`.

because our existing logic always order by index column before calculate the each rows increasing or decreasing.

So they always calculate result based

[2019-10-16 19:41] arrayslayer commented on #879
Hi,
I looked into how one could implement this.
I think that combining the existing standalone head logic with the groupby logic should be enough. That is, after doing group by as usual, we use sdf_limit(n) on the result.

If this makes sense, should I go ahead with this implementation?

Thanks!

[2019-10-17 05:16] itholic opened #933 "getitem for Series doesn't work properly"
When we get item from Series, pandas works like below:

[code]

but in koalas, it raises `pyspark.sql.utils.AnalysisException: "Can't extract value from 0#6L: need struct type but got bigint;"`

so i think we should fix it to work properly like same as pandas.

[2019-10-18 13:42] ueshin commented on #879
@arrayslayer Thanks for the comment!
I'm afraid I don't think the logic works, but I might miss something.
Please go ahead and feel free to submit the PR with your logic.

[2019-10-18 16:09] kokes opened #940 "Include Dask license again"
The Dask license was removed in #284, where the user-facing Dask code got deleted, but there are still bits of Dask in the codebase, at least in tests. As noted in #12:

And since these tests are still in place, I suggest the license gets included again.

(I'm not a licensing expert, I'm not sure what the implications of code copying are, I'm just following the quote from the issue above.)

[2019-10-19 05:10] HyukjinKwon commented on #940
No, the tests are completely different if you refer this file:

https://github.com/dask/dask/blob/master/dask/dataframe/tests/test_dataframe.py
vs
https://github.com/databricks/koalas/blob/master/databricks/koalas/tests/test_dataframe.py

and we now have anything copied from Dask.

[2019-10-19 05:10] #940 closed

[2019-10-19 08:05] kokes commented on #940
Look at the issue I linked, where the author talks explicitly about adapting Dask code. And the code is still live in your test suite, see e.g.:

https://github.com/dask/dask/blob/e734544ef74aa0b1db1144d3f0a193b8f313d9d1/dask/dataframe/tests/test_dataframe.py#L156
https://github.com/databricks/koalas/blob/465861cbb70dbe98ba8b5ac5477ed7c99b184b2d/databricks/koalas/tests/test_dataframe.py#L307

[2019-10-21 02:18] HyukjinKwon commented on #940
Here's the test you pointed out:
![Screen Shot 2019-10-21 at 4 18 14 AM](https://user-images.githubusercontent.com/6477701/67171983-d46e2b80-f3b9-11e9-9240-2393cde6d934.png)
![Screen Shot 2019-10-21 at 4 18 18 AM](https://user-images.githubusercontent.com/6477701/67171985-d506c200-f3b9-11e9-84af-42bc3fec6c20.png)

I don't think we should add a license when it borrows an idea.

[2019-10-21 11:03] damupras commented on #625
I want to learn koalas with databricks

[2019-10-21 11:10] HyukjinKwon commented on #625
please go ahead.

[2019-10-22 01:40] #880 closed

[2019-10-22 01:40] #931 closed

[2019-10-22 02:47] #933 closed

[2019-10-22 06:14] HyukjinKwon opened #941 "Python 3.8 support"
PySpark doesn't not support Python 3.8 yet. https://github.com/apache/spark/pull/26194 fixes it
We should clarify supported Python versions.

[2019-10-23 02:18] #888 closed

[2019-10-23 04:28] damupras commented on #625
Hi
Thanks

[2019-10-23 04:36] GBJim opened #943 "read_sql causing IllegalArgumentException: "requirement failed: Option 'dbtable' is required.""
Hi:

I try to read the data from Hive via **read_sql** API
This is my JDBC URL:
`jdbc_string = 'jdbc:hive2://hive@{MY_IP}:10000/default'`

It works nicely when I call **read_sql_table API**. The column names of the table are loaded.
`
table_status = ks.read_sql_table("my_table", jdbc_string)
`
As for the case of **read_sql**, I got the error of _IllegalArgumentException: "requirement failed: Optio

[2019-10-23 11:17] ueshin commented on #943
@GBJim thanks for the report.

I guess you are using PySpark<2.4?
Actually the `read_sql` with query (or `read_sql_query`) only support PySpark>=2.4.
We should add a note to mention that.

btw, although I haven't tried it, I guess here we have a workaround to use `read_query_table` with subquery instead.

[code]

Also, if your Spark cluster is on the same cluster as Hive's and Spark can read the d

[2019-10-24 05:33] itholic opened #948 "create index by using list"
are we planning to support create index by using list like pandas?

[code]

if so, maybe i could be going to work on it.

[2019-10-24 06:39] GBJim commented on #943
@ueshin
Thank you for your reply!  It's really helpful!

[2019-10-24 06:39] #943 closed

[2019-10-24 16:19] harupy opened #951 "`datetime.datetime` is not recognized as the equivalent python type to `types.TimestampType()`"
Actually, this isn't an issue. I was looking for a workaround for [this comment](https://github.com/databricks/koalas/pull/478#issuecomment-545888595), wrote the code below and got `ValueError`.

[code]

The cause is that `datetime.datetime` is not recognized as the equivalent python type to `types.TimestampType()`.

[code]
https://github.com/databricks/koalas/blob/master/databricks/koalas/typedef

[2019-10-24 21:52] dmitrypol commented on #887
are you planning to implement it?

[2019-10-25 00:29] HyukjinKwon commented on #951
Oh, yes. looks like we should add. It works in pandas right?

[2019-10-25 00:31] HyukjinKwon commented on #887
Sorry I missed the cc, @ueshin. Yeah, I don't think so too in general. One possibility I was thinking of was `toLocalIterator`, though ..

[2019-10-25 00:33] HyukjinKwon commented on #887
@dmitrypol not yet sure. maybe we could map it to `toLocalIterator` but this kind of API is discouraged by design in general in Koalas. Needs some discussion.

[2019-10-25 00:47] harupy commented on #951
Let me check if this code works when using `pandas` instead of `koalas`.

[2019-10-26 01:38] harupy commented on #951
It worked with pandas. I'll create a PR.

[2019-10-26 06:49] gatorsmile opened #958 "MultiIndex.from_tuples"
[code]

Due to the missing MultiIndex.from_tuples, it returns the following error:
[code]

[2019-10-26 06:54] gatorsmile commented on #876
[code]
[code]

[2019-10-26 07:02] gatorsmile opened #959 "DataFrame.quantile"
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.quantile.html

[code]

[code]

[2019-10-27 01:41] gatorsmile opened #960 "Support start in DataFrame.iloc"
[code]
[code]

[2019-10-27 03:48] gatorsmile opened #961 "Top-level Pandas functions - merge"
https://pandas.pydata.org/pandas-docs/stable/reference/general_functions.html

[code]

[2019-10-27 04:47] gatorsmile opened #962 "Top-level Pandas functions - qcut"
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html

[2019-10-28 07:39] itholic commented on #961
Thanks for posting issue. i'm going to work on this.

[2019-10-28 08:48] HyukjinKwon commented on #948
+1. cc @ueshin

[2019-10-28 08:53] ppakawatk opened #965 "groupby.diff with datetime column"
Hi,

I'm trying to convert my Pandas script to Koalas script, and found this error when trying to do GroupBy.diff with datetime column.

Here's the code to reproduce the case:

import databricks.koalas as ks
import datetime as dt
df = ks.DataFrame({'a': [1, 2, 3, 4, 5, 6], 'b': [1, 1, 2, 3, 5, 8], 'c': [dt.date(2019, 1, 1), dt.date(2019, 1, 3), dt.date(2019, 1, 10), dt.date(2019, 1, 11), dt.date(2

[2019-10-28 09:00] HyukjinKwon commented on #959
FYI, there's `quantile` implementation in Series to refer. cc @itholic, @harupy, @charlesdong1991

[2019-10-28 09:00] HyukjinKwon commented on #961
Please go ahead!!

[2019-10-28 09:02] HyukjinKwon commented on #965
I think this issue basically due to the lack of calender support in PySpark (SPARK-24695). We might have to work around with long type for now.

[2019-10-28 20:32] ueshin opened #967 "The options argument is not passed to Spark reader properly."
The issue was reported at dev-list (['read_delta' with timestamp option](https://groups.google.com/forum/#!topic/koalas-dev/6FJAPLbnTN8)).

[code]

retrieves only the most recent version of the table.

This is because the `options` argument is not passed to Spark reader properly.

[2019-10-28 20:34] ueshin commented on #967
I'll work on this.

[2019-10-29 00:22] itholic commented on #959
@HyukjinKwon Thanks for the inform. so, you mean we have to implement not only `DataFrame.quantile` but also `Series.quantile`, right?

[2019-10-29 01:21] #967 closed

[2019-10-29 05:18] itholic commented on #961
@HyukjinKwon i just finished. could you check related PR when you available?

[2019-10-29 05:38] itholic commented on #959
i just ended up my another work. I'll take this work from now on.

[2019-10-29 05:55] itholic commented on #958
I'm working on this.

[2019-10-29 08:29] charlesdong1991 opened #971 "BUG: Index setter is not working when `None` is assigned to `name`"
with Pandas:
[code]
if set name to `None` as below:
[code]
then idx will turn to
[code]
but in Koalas, this will raise an error, e.g.
[code]

[2019-10-29 08:33] charlesdong1991 commented on #948
i'd love to have this!!

[2019-10-29 08:34] itholic commented on #971
Good catch 😄
Are you interested in fix this bug? if not, maybe i can handle it.

[2019-10-29 08:43] charlesdong1991 commented on #971
haha, you are pretty aggressive on issues!! 😅
But pls feel free to go fix it if you want! @itholic

[2019-10-29 08:43] itholic commented on #948
@charlesdong1991 sure, you can fell free to work on this. let's get started! 😸

[2019-10-29 13:04] itholic commented on #971
in my case, it raises `AssertionError` rather than `ValueError` like

[code]

maybe this is an another issue??

[2019-10-29 13:13] charlesdong1991 commented on #971
ah! sorry about this, this is my bad!

mine is the same, i didn't copy paste the whole error message but simply put a `ValueError` to tell this is not working. I will change it in the issue description.

[2019-10-29 13:30] itholic commented on #971
ah i got it !
you don't need to sorry about that since i did made such mistakes here and there 😄
Anyway, i just made PR about this at #974

[2019-10-30 06:33] #951 closed

[2019-10-30 06:45] #961 closed

[2019-10-30 09:27] HyukjinKwon opened #977 "Implement missing Expanding and Rolling APIs in Series, Frame, SeriesGroupBy, FrameGroupBy"
See https://github.com/databricks/koalas/blob/master/databricks/koalas/missing/window.py

It mimics the class hierarchy from pandas internally. Ideally, we will be able to share implementation across APIs (like `cumsum`).

[2019-10-30 09:28] HyukjinKwon commented on #977
I am starting with Expanding in Series and Frame.

[2019-10-31 02:06] #971 closed

[2019-10-31 12:43] pandareen opened #988 "How do I write koalas code in Scala?"
Is there any related development for Scala users?

[2019-11-01 01:35] HyukjinKwon commented on #988
Nope, it's currently purely Python only and doesn't current'y have a plan for Scala API.

[2019-11-01 01:35] #988 closed

[2019-11-01 08:45] itholic commented on #977
I am starting with Rolling in Series and Frame.

[2019-11-01 09:15] HyukjinKwon commented on #977
Please go ahead!

[2019-11-01 10:55] pandareen commented on #988
Thanks

[2019-11-04 06:36] harupy opened #999 "Applying a logistic operator on NaN returns None instead of Bool"
[code]

[2019-11-04 20:25] dliu96 commented on #625
is concat(axis=1) supported in koalas yet?

[2019-11-04 20:45] #958 closed

[2019-11-04 20:48] #948 closed

[2019-11-05 01:31] HyukjinKwon commented on #999
It's subtle .. thanks for catching this. Are you interested in opening a PR for this issue @harupy ?

[2019-11-05 01:36] HyukjinKwon commented on #625
You can work around as below:

[code]

In fact, are you interested in creating a PR like the above? cc @itholic, @charlesdong1991, @harupy

[2019-11-05 03:08] harupy commented on #999
Yes, I'll create a PR!

[2019-11-05 08:02] HyukjinKwon opened #1003 "Triage Top Missing APIs to explicitly don't support or implement."
@ueshin wrote and ran some notebooks to analyze statistics from missing API calls as below. We might need to explicitly don't support with a proper workaround in its exception message and/or implement it first.

- [x] Series.\_\_iter\_\_(self)
- [x] DataFrame.apply(self, func, axis=0, broadcast=None, raw=False, reduce=None, result_type=None, args=(), **kwds) #1259
- [x] Series.values
- [x] Index.v

[2019-11-05 13:05] pandareen opened #1007 "ks.groupby won't drop groups with one or more null keys"
This is basically where the pandas groupby adopts its behaviour from r.
I can submit a pr if this is not on anyones roadmap

[2019-11-05 13:51] harupy commented on #1007
pyspark doesn't drop null groups. I didn't know this.

[code]

[2019-11-05 14:19] pandareen commented on #1007
@harupy correct. That is to keep it consistent with r library

[2019-11-05 21:59] charlesdong1991 opened #1010 "name property of ks.Series([1,2,3]) is '0' not None"
Just notice a Series behaviour in a WIP PR,

[code]
is this designed on purpose? i think in pandas this should be `None`.

[2019-11-06 01:34] HyukjinKwon commented on #1010
I think it was because:

[code]

However, for series, yes. I think we should fix. Maybe we should add an internal field name that's matched to `None` .. ?

cc @ueshin

[2019-11-06 02:45] HyukjinKwon commented on #1007
Yeah, I noticed this behaviour as well lately. Please go ahead for a PR!

[2019-11-06 03:59] harupy opened #1013 "Error when using bitwise-and operator with compute.ops_on_diff_frames enabled"
[code]

gave

[code]

[2019-11-06 04:01] harupy commented on #1013
This works.

[code]

[2019-11-06 04:11] HyukjinKwon opened #1014 "Limitation section in our official documentation"
- Expensive operations In general
- Reserved column names (`__...__`)
- Disallow duplicated column names
- Default index Overview (?)
- ...

[2019-11-06 04:13] HyukjinKwon commented on #1014
cc @ueshin, @thunterdb, @rxin, WDYT about this? and do you guys have some items to document in your mind?

[2019-11-06 06:17] rxin commented on #1014
Looks good. We can always get started with a smaller set and expand over time.

[2019-11-06 06:59] HyukjinKwon commented on #1014
Cool, let me get this done as are for now.

[2019-11-06 11:58] hadacruz opened #1016 "Accessing datetime column"
Hello.
I have a dataframe, and I'm trying to access some datetime column.
When I type kdf['col'] and run, I get the following error. Why? Thanks.

/databricks/spark/python/pyspark/sql/dataframe.py:2188: UserWarning: toPandas attempted Arrow optimization because 'spark.sql.execution.arrow.enabled' is set to true, but has reached the error below and can not continue. Note that 'spark.sql.execution.a

[2019-11-06 12:01] HyukjinKwon commented on #1016
@hadacruz  can you show the codes you ran and equivalent codes in pandas as well in order to check the behaviours?

[2019-11-06 12:06] hadacruz commented on #1016
I uploaded a csv file and created a table, where all columns are strings.
Then:

df = spark.sql("select * from table_csv")
kdf =df.to_koalas()
.....
kdf['col'] = ks.to_datetime(kdf['col'])

[2019-11-06 16:03] pandareen commented on #1007
Okay thanks, I'm on it

[2019-11-07 00:26] #1013 closed

[2019-11-07 05:37] #959 closed

[2019-11-07 22:44] koshy1123 opened #1028 ".head() is slow on koalas but really fast for spark dataframe"
I have a partitioned parquet table (117M rows, ~1000 partitions) that is stored on S3 with the Hive metastore pointing to a table name, say, `table_foo`. Let's say it's partitioned by columns, `p1`, `p2`

I read the table as a koalas dataframe as:
[code]

When I try a `.head()`, it _seems_ like it's scanning the WHOLE table instead of just looking at one partition and returning the first 5 rows. I

[2019-11-08 01:49] HyukjinKwon commented on #1028
I think it's because of https://koalas.readthedocs.io/en/latest/user_guide/options.html#default-index-type

You might have to use different default index type, can you try `distributed` type?

Such limitations might have to be more exposed to users .. that will be handled at https://github.com/databricks/koalas/issues/1014

[2019-11-08 09:10] Yagrini opened #1031 "Cannot import databricks.koalas"
I'm using python3.5, after installing koalas using pip i can't import it.
I get the error  **_ImportError: cannot import name 'pandas_udf'_**
Do I need to install Koalas in all worker nodes?

[2019-11-08 10:13] itholic opened #1032 "Groupby with MultiIndex of DataFrame raises ValueError"
there is some issue at groupby when MultiIndex column like:

[code]

it raises error even compute.ops_on_diff_frames option is True.

in pandas, it works well.

[code]

[2019-11-08 14:58] HyukjinKwon commented on #1031
Seems like your PySpsrk version is too low. What's your PySpark version?

[2019-11-08 17:46] koshy1123 commented on #1028
Sweet - that was way faster! Thanks for the pointer. I'll close this one for now.

[2019-11-08 17:46] #1028 closed

[2019-11-08 19:27] ueshin commented on #1028
If you have columns to be used as index, you can also use `index_col` argument for `ks.read_table` which uses the given columns as index and avoid attaching the default index.

[2019-11-08 19:28] koshy1123 opened #1033 "Does Koalas respect partitions when filtering on partitioned columns?"
I'd posted earlier about how `.head()` seemed slow for a large dataset when compared to a spark dataframe's `.head()` ([Prev Issue](https://github.com/databricks/koalas/issues/1028)). This was solved by switching to `distributed` type index.

However, using the `distributed` type index didn't seem to speed it up for filters on partitioned columns. For context, I have a partitioned parquet table (1

[2019-11-08 21:10] koshy1123 commented on #1033
Some more clues: It looks like if I specify an `index_col` on the `read_table`, it's faster.

[2019-11-10 18:20] manesioz commented on #881
Hey, if no one is working on this I would like to give it a try. Seems like `reset_index()` is already implemented (https://github.com/databricks/koalas/blob/master/databricks/koalas/series.py#L997) but it doesnt provide the same functionality as Panda's `reindex`. Are you looking for `reset_index()` to be extended? Or an entirely new function? Let me know what you have in mind, thanks

[2019-11-10 18:25] manesioz commented on #881
Is anyone working on this, or could I start a PR?

[2019-11-11 00:32] HyukjinKwon commented on #881
Please go ahead!

[2019-11-11 00:33] HyukjinKwon commented on #1016
@hadacruz can you show full codes that I can test? How did you create `table_csv`?

[2019-11-11 00:36] HyukjinKwon commented on #1033
Hm, this is interesting. Would you mind showing `kdf[(kdf['p1']=='hello') & (kdf['p2']=='world')].to_spark().explain(True)`? It would be nicer if we can see:

1. `sdf.filter("p1 = 'hello' and p2 = 'world'").explain(True)`
2. `kdf[(kdf['p1']=='hello') & (kdf['p2']=='world')].to_spark().explain(True)` with `index_col` - in this case default index will be ignored.
3. `kdf[(kdf['p1']=='hello') & (kdf[

[2019-11-11 01:05] itholic commented on #1032
I'm working on this

[2019-11-11 20:56] ueshin commented on #1033
ah, I see.
The `distributed` default index uses `monotonically_increasing_id`, but it's non-deterministic, then Spark doesn't push down filters.

[2019-11-11 21:00] ueshin commented on #1033
Seems like other default indexes also use non-deterministic expressions.
We should use `index_col` as long as possible.

[2019-11-12 03:19] GBJim commented on #542
Is there a rough date to release **merge_asof** in Koalas?

[2019-11-12 09:25] HyukjinKwon commented on #542
I roughly suspect is right after Spark 3.0 is released. Won't be too long since Spark 3.0 preview was released as well.

[2019-11-12 13:49] itholic commented on #879
@arrayslayer hi mate, 😸 Are you planning to work on this??

[2019-11-12 13:50] itholic commented on #884
i created the PR :)

[2019-11-12 14:38] HyukjinKwon commented on #1014
I reworded to "Best Practices" and opened a PR at https://github.com/databricks/koalas/pull/1041

[2019-11-12 21:09] srowen commented on #814
FWIW I can reproduce this on a notebook on DB Runtime 6.1 ML / pandas 0.24.2. If it's of any interest I can show it offline.

[2019-11-12 21:16] koshy1123 commented on #1033
Thanks for the responses - I see the points above in the explains. Note that I'm hiding sensitive information with `{COLUMNS}` or `{COLUMNS: TYPES}` (when a schema like format is used) or `{COLUMNS - index_col}` (to indicate the index column was not listed here). Here they are:
1. No `index_col` specified (`kdf[(kdf['p1']=='hello') & (kdf['p2']=='world')].to_spark().explain(True)`):
[code]

2. Wit

[2019-11-12 22:09] ueshin commented on #1033
@koshy1123 Thanks for sharing the explain results.
Btw, could you do us one more favor?
For each explains for kdf above, try `to_spark('index')` instead of `to_spark()`. (If you already have a column named "index", please use another name for `to_spark()` instead.)
I guess `to_spark()` with index name should be nearer the actual execution.

[2019-11-13 03:25] vyankteshkanungo opened #1043 "DataFrame.idxmax"
Implement `DataFrame.idxmax`

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.idxmax.html

[2019-11-13 05:26] SanRioJack opened #1044 "Top-level Pandas conversion function - to_numeric"
Implement `pandas.to_numeric`

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html

[2019-11-13 12:35] SanRioJack opened #1047 "koalas.Series.mode() not returning sorted values"
Koalas.Series.mode is not returning values in sorted order
Pandas Version: 0.25.3
Koalas Version: 0.21.0

`pdf = pd.read_csv('/test/test.csv', index_col=0)`
`kdf = ks.from_pandas(pdf)`

Pandas Series mode function returns values in sorted order

`pdf.Numeric_float_col.mode().head()`
`0    58.351226`
`1    98.002419`
`2    98.023862`
`3    99.022165`
`4    99.039145`
`dtype: float64`

Whereas perfo

[2019-11-13 19:34] koshy1123 commented on #1033
@ueshin do you mean to use the name of my index column, example `primary_id` or the string `index`?

[2019-11-13 20:18] ueshin commented on #1033
I mean the string `index`.

[2019-11-13 21:31] ueshin commented on #1047
Repost here too:
ah, we might need to sort the result values since the doc says it returns values in sorted order. here, also https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.mode.html Otherwise we should remove "in sorted order" from the doc.
cc @HyukjinKwon

[2019-11-13 21:32] ueshin commented on #1047
Basically Koalas doesn't guarantee the row order without a special reason, though.
What do you think about this case? @HyukjinKwon

[2019-11-13 22:19] ueshin commented on #1043
I guess we can handle `DataFrame.idxmin` at the same time.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.idxmin.html

[2019-11-14 00:41] HyukjinKwon commented on #1047
Ah, thanks @ueshin. I missed that comment. @itholic can you make a PR to remove that sentence in the doc for now?

[2019-11-14 02:43] #1047 closed

[2019-11-14 03:13] #1014 closed

[2019-11-14 04:30] HyukjinKwon commented on #814
I suspect this is the problem from pandas (e.g., https://github.com/pandas-dev/pandas/issues/28348) .. error happened in `pdf.to_html(show_dimensions=True, notebook=True)` which is a pure pandas API call.

[2019-11-14 04:31] HyukjinKwon commented on #814
@srowen, does it consistently happen?

[2019-11-14 15:05] srowen commented on #814
Huh. I reran the same notebook and I don't see the problem. The link above also suggests it worked after resetting the notebook. No idea. I wasn't using koalas, note, just pandas.

[2019-11-15 06:06] HyukjinKwon commented on #879
@itholic please go ahead to work on this. Seems inactive.

[2019-11-15 08:48] itholic commented on #879
@HyukjinKwon Thanks for the comment :)
okay then i'm going to work on this from now on.

[2019-11-16 01:25] vyankteshkanungo commented on #1043
yes, I agree!

[2019-11-17 08:32] itholic commented on #878
I'm working on this

[2019-11-18 17:57] richardagalvez commented on #195
You need not go from koalas -> pandas -> spark dataframe. You can go directly from a koalas dataframe to spark via the to_spark() method (https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.DataFrame.to_spark.html)

[2019-11-18 20:01] iabdrashitov opened #1053 "DataFrame.dropna(axis=1)"
Does anybody work on adding axis=1 support to the dropna method?

[2019-11-18 21:07] koshy1123 commented on #1033
Sorry for the delay. Here are the updated explain results using `.to_spark('index')`

### No Index column specified
[code]

### Index column has been specified on read using `index_col=`
[code]

### With `distributed` index type + No Index Column

[code]

[2019-11-19 00:20] HyukjinKwon commented on #195
I wrote some documentations for this :-) https://koalas.readthedocs.io/en/latest/user_guide/pandas_pyspark.html

[2019-11-19 01:37] itholic commented on #1053
i can take it if you want to use it.
or you want to work on this and make the PR??

[2019-11-19 02:34] itholic commented on #1043
i'm working on this

[2019-11-19 03:31] iabdrashitov commented on #1053
I can work on it

[2019-11-19 03:51] itholic commented on #1053
@iabdrashitov Cool. let's go ahead! 😸

[2019-11-19 03:58] itholic commented on #1044
Basically, i think koalas doesn't support multi-type for `Series` or `DataFrame` since it works internally with spark dataframe that doesn't support multi-type for column.
cc. @HyukjinKwon @ueshin if it's right, maybe we explicitly wouldn't support this function maybe?

[2019-11-19 06:19] HyukjinKwon commented on #1044
That's correct that we can't support the examples provided. However, there's valid cases, for instance, convert a string column to a numeric column.

[2019-11-19 06:19] HyukjinKwon commented on #1053
Please go ahead.

[2019-11-19 06:30] itholic commented on #1044
@HyukjinKwon ah, that makes sense.
okay then i'm working on this from now on.

[2019-11-21 01:34] itholic commented on #1003
i think `Series.__iter__(self)` is quite widely & frequently used by data scientists.

so in my opinion, how about make it available for now with proper warning message although it has risk of memory issue when large-size dataset?

now it raises `PandasNotImplementedError` like below,

[code]
how about just use `to_numpy()` internally and explicitly notice to the doc about the risk when using this

[2019-11-21 01:47] guyao commented on #875
Out of curiosity, what behaviors is expected for SeriesGroupBy.

`SeriresGroupBy` should be generated by `Series.groupby`, where parameter `by` of `groupby` could be `Series` or `label(s)` .

If `by` is `Series`,
`_resolve_col` does not allow other Series as index
It is not possible to do things like using one series as other's index

[code]

So only thing could do is kser.groupby(kser). If so, th

[2019-11-21 03:52] HyukjinKwon commented on #1003
Spark has `toLocalIterator` so we might be able to use it for `iteritems` or `iterrows`.

For `__iter__`, it's really easy for users to make mistakes (e.g., they could even just do list(ser) if we implement `__iter__`.

[2019-11-21 03:56] HyukjinKwon commented on #1003
Think about such case that users run a for loop expecting a lazy execution magically, e.g.:

[code]

and it suddenly hangs or out-of-memory error.
Their codes are usually from pandas so it looks to me too much error prone

I think we can maybe implement both `iteritems` or `iterrows` with explicit warnings for now .. but `__iter__` I am not sure yet.

[2019-11-21 04:32] HyukjinKwon commented on #875
Yeah, that should be fixed to allow other Series.

`groupby` should support columns from a different DataFrame when [the option](https://koalas.readthedocs.io/en/latest/user_guide/options.html#operations-on-different-dataframes) is enabled but seems it's not working for now.
I noticed this problem too but couldn't fix it yet.

[2019-11-21 08:22] itholic commented on #1003
@HyukjinKwon

thanks for sharing your experiences !! okay now i've got totally understand.

for now, i seems better to just keep as an open issue to discuss.

[2019-11-21 16:58] harupy opened #1063 "why corr returns pandas dataframe?"
This is not an issue, but just out of curiosity. Why does `corr` return pandas dataframe instead of koalas dataframe?

https://github.com/databricks/koalas/blob/723aefcad70f86dc34b55dbd65bd0968381cd750/databricks/koalas/ml.py#L34-L60

[2019-11-22 01:41] HyukjinKwon commented on #1063
I think we should fix

[2019-11-22 01:43] #999 closed

[2019-11-22 01:44] harupy commented on #1063
@HyukjinKwon
Got it. I'll open a PR for this.

[2019-11-22 01:45] #884 closed

[2019-11-22 02:09] guyao opened #1064 "Does spark DataFrame.limit guarantees any order?"
This is just a question, not an issue.
Out of curiosity, does spark.DataFrame.limit guarantees the order ?

That method is used to implement many methods like `.head`, `.iloc`
In pandas the data is small and the order could be guaranteed. But in koalas, the data is distributed. Is it guaranteed those methods would keep order?

[2019-11-22 02:22] HyukjinKwon commented on #1064
Yeah, this is a pretty important issue in Koalas.

Currently, it does not guarantees the natural order in general. Natural order can be kept when it only performs map operation (without shuffle) but if shuffle happens, the order cannot be kept.

So, if users want the order, they should sort by, for example, index.

[2019-11-22 02:23] HyukjinKwon commented on #1064
We should still think about how we'll handle this in general.

[2019-11-22 02:35] guyao commented on #1064
Thank you!

Follow up of my last question, do you mean `spark DataFrame.limit(n)` will return `first n` result ( in natural order, if no shuffle happens)

For example, if read a file as DataFrame, the file would be split into partitions P1, P2 ... , where P1 contains first part of file, ...  If I tried to call df.limit(n), it will return first n of P1 (if n < # P1)

Is that correct? (sorry it more

[2019-11-22 02:37] HyukjinKwon commented on #1064
Yes, that's correct :-).

[2019-11-22 02:37] guyao commented on #1064
I was thinking about what pandas users expected when using `iloc[slice(start, end, step)]`
Do people really know which start index, end index he need when he is using an uncountable dataframe.

( but I think user still expected order if the DF is small )

[2019-11-22 02:41] HyukjinKwon commented on #1064
Yes, it's a bit questionable at this moment. Maybe we should do one of these: ...

1. We just disallow all such cases
2. Document the case when the order can be deterministic
3. Document that the index always should be sorted before such operations
4. Internally always sort on the index in such cases

[2019-11-22 05:45] ag-og opened #1066 "Dataframe.apply"
Implement Dataframe.apply()

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html

[2019-11-22 06:22] #789 closed

[2019-11-22 06:47] ag-og commented on #886
Any update on this issue?

[2019-11-22 08:30] shlok-dev opened #1067 "pandas.crosstab absent for Koalas"
Please implement pandas.crosstab

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html

[2019-11-23 09:36] harupy commented on #1063
Resolved via #1069

[2019-11-23 09:36] #1063 closed

[2019-11-25 06:10] itholic opened #1072 "An option `distributed-sequence` of `default_index_type` seems not work properly."
There is a spark dataframe like below.

[code]

and i want to add default index using `_InternalFrame.attach_default_index` with `distributed-sequence` index.

so i set option `compute.default_index_type` to `distributed-sequence` like below.

[code]

Finally, i made default index with my `sdf`, but the result seems not correct.

[code]

i expected that the default index has ascending order like b

[2019-11-25 08:28] itholic commented on #1072
i have had some misunderstood, close

[2019-11-25 08:28] #1072 closed

[2019-11-25 10:53] burakyilmaz321 commented on #872
Hi @ueshin ! I was thinking about how to implement this in spark. I think null counts would be problematic since counting (and printing) nulls for every column is quite expensive in spark. Any suggestion here? Besides, I can start working on this and send a PR that adds a method to [koalas.DataFrame](https://github.com/databricks/koalas/blob/master/databricks/koalas/frame.py#L271)

[2019-11-25 13:18] harupy opened #1073 "Series.__getitem__ doesn't work when Series is given"
[code]

[2019-11-25 18:32] guyao commented on #1073
I found one comment about the concern of implementing `__iter__`
https://github.com/databricks/koalas/issues/1003#issuecomment-556908359

But personally it is not ideal way to raise this kind of exception.
🤔

[2019-11-25 22:18] ueshin commented on #1033
@koshy1123 Thanks for sharing the explain results.
As we can see, when we use the default index it doesn't push-down filters.
We should use `index_col` as long as possible.

[2019-11-25 23:25] ueshin commented on #1066
This is a duplicated issue. #554.

[2019-11-25 23:38] #1066 closed

[2019-11-26 01:06] harupy commented on #1073
@guyao the issue is Series.__getitem__ is not expected to take Series. I created a PR to address this.

[2019-11-26 06:01] shlok-dev commented on #701
Any update on this issue?

[2019-11-26 15:05] itholic commented on #1067
wow, it looks a little complicated to implement.
but i'm going to try this for you 😄

[2019-11-26 15:05] itholic commented on #1067
I'm working on this.

[2019-11-27 04:59] shlok-dev commented on #1067
Hey @itholic which release will this go into? And, when will this be available for use.

[2019-11-27 05:39] itholic commented on #1067
@shlok-dev
1. actually the release schedule is up to maintainers of Koalas like @HyukjinKwon , @ueshin .
2. and currently very limited functionalities is available.
(now it can support for 2 factors only as an example described at #1080 )
(and of course, I'm steadily working to support as many features as possible.)
3. if you think even this limited functionalities is okay for now,
maybe we can tr

[2019-11-27 09:10] shlok-dev commented on #1067
That's fine, @itholic Stability is much more important. I can wait till you maximize the support for this method. I'll prioritize accordingly. Appreciate your help man!

[2019-11-27 09:43] itholic commented on #1067
@shlok-dev It's my pleasure. thanks for understanding :)

[2019-11-29 00:22] nickhalmagyi opened #1084 "ValueError when reading dict with None"
I find that reading a dict
[code]
but for pandas there is no error
[code]

I have tried setting dtype=np.int64 but this has not helped.

[2019-11-29 09:08] RainFung commented on #701
I will check it later and reply to you tonight.

[2019-11-29 12:32] RainFung commented on #701
It's already implemented in lastest version.

[2019-11-29 12:32] #701 closed

[2019-11-30 07:11] itholic commented on #1084
Thanks for reporting issue for Koalas!

i'm going to try to fix this.

[2019-11-30 07:19] itholic commented on #1084
@ueshin @HyukjinKwon Could you let me know about maybe is there a special reason that we are disallowing to creation DataFrame with null dataset??

[2019-12-01 08:18] itholic opened #1088 "ops on diff Series works not properly when it has MultiIndex."
Assuming that there are two `Series` with `MultiIndex` like below.

[code]

now `kser1 + kser2`  works like below.

[code]

but i think it's not correct, since pandas works like below.

[code]

[2019-12-01 08:18] itholic commented on #1088
I'm working on this.

[2019-12-01 11:20] MammadTavakoli opened #1090 "how convert a dataframe with null values to csv?"
When i use to_csv in koalas for converting a Data-frame to CSV, the null values fill with ` \"\"` , but i want null values be null. The code is:

`df.to_csv(path='test', num_files=1)`
How can set koalas to don't do this for null values?

when I canverto it to pandas and save the pandas dataframe evry thing is ok:
[code]

[2019-12-01 11:56] itholic commented on #1090
Thanks for reporting issue for Koalas :D

if maybe it possible, could you show me how `df` looks like for reproducing your case??

In my case,

[code]

above example make csv file look like below, and i couldn't see the `\"\"` string.

[code]

thank you :)

[2019-12-01 13:39] MammadTavakoli commented on #1090
I see my empty cells. I use this:
K = df.iloc[[0]]['col1'].to_string()
For I in k:
        Print(ord(i))
The result is:
48
32
32
32
32
32

[2019-12-02 04:21] HyukjinKwon commented on #1090
Koalas' `to_csv` also supports to take PySpark's CSV options (see https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/DataFrameWriter.scala#L777-L814).

Can you try `nullValue` option or `emptyValue`? e.g., `to_csv(..., nullValue="...")`

[2019-12-02 04:47] HyukjinKwon commented on #872
@burakyilmaz321 please go ahead for other APIs. For this API, I think we can calculate via using Pyspark API (e.g., select(count(column.isNotNull)))`

[2019-12-02 06:20] HyukjinKwon commented on #1084
It's because PySpark, by default, tries to infer the type from the given data. If there's no data or only nulls in the column, PySpark cannot infer its data type for a DataFrame.

[code]

pandas has `object` type that can contain everything; whereas PySpark does not have such type. So, it's actually an issue in PySpark.

[2019-12-02 06:21] HyukjinKwon commented on #1084
Maybe we should have a way to explicitly set the schema and avoid type inference in Koalas so that we can allow both null and empty DataFrame cases.

[2019-12-02 07:54] nickhalmagyi commented on #1084
So pandas has the "dtype" keyword, e.g.
[code]
It allows for only a single type to be passed, which is then enforced for all columns.

Could you allow the full schema to be passed as a keyword, much like for Spark DF's? Something like

[code]
If the dtypes cannot be parsed such as here:
[code]
then it would error.

[2019-12-02 08:49] HyukjinKwon commented on #1084
Yeah, I think the last case should would.

[2019-12-02 11:33] MammadTavakoli commented on #1090
The value of cell is `space`, the ord of that is 32.
but i dont know how replace that with null.

[2019-12-02 18:36] itholic opened #1094 "Not support rename DataFrame.columns assigning directly."
when rename columns of DataFrame,

pandas are supporting below way,

[code]

but koalas not.

[code]

[2019-12-02 18:40] itholic commented on #1094
FYI.

koalas can change name of columns like this,

[code]

or like that

[code]

but i think both ways are complicated than below

[code]

[2019-12-03 02:10] itholic opened #1095 "disable 'str' for 'SeriesGroupBy', disable 'DataFrame' for 'GroupBy'"
as commented https://github.com/databricks/koalas/pull/1050#discussion_r352922925 ,

we're gonna block generating `SeriesGroupby` by  its column name to follow the behavior of pandas.

[code]

i think it's better to fix this in separated PR with a separated Issue to make it more clarify and add related tests for existing functions.

**+**

and also `by` should not allowed as type of `DataFrame` li

[2019-12-03 02:10] itholic commented on #1095
I'm working on this.

[2019-12-03 02:24] HyukjinKwon commented on #1090
Can you try `to_csv(..., nullValue=" ")`?

[2019-12-03 03:58] #1073 closed

[2019-12-03 05:07] itholic opened #1098 "Change pyspark version to 2.4 for python3.5 in travisCI."
In our official doc `Getting started`, says that we support pyspark 2.4+.

<img width="960" alt="스크린샷 2019-12-03 오후 1 45 25" src="https://user-images.githubusercontent.com/44108233/70021928-b1987f00-15d5-11ea-823a-334e4a9cf70b.png">

but our travisCI is using pyspark 2.3 for python3.5, so that some tests are failing.

<img width="996" alt="스크린샷 2019-12-03 오후 2 06 35" src="https://u

[2019-12-03 08:20] HyukjinKwon opened #1101 "Test issue"

[2019-12-03 08:20] #1101 closed

[2019-12-03 08:35] TommiTallgren commented on #1101
Thanks, good improvement idea!

[2019-12-03 09:22] #1088 closed

[2019-12-03 10:33] MammadTavakoli commented on #1090
the problem is with space. when a cell value is `space `after save the as csv file, the space fill with `\"\"`.

[code]

[2019-12-03 21:13] #885 closed

[2019-12-04 00:28] HyukjinKwon commented on #1098
Let's do this later when Spark 3.0 is released.

[2019-12-04 03:13] RainFung opened #1103 "Why do we keep tuple type for list elements in internal index_names?"
Hello. Recent I found that there are two cases in `index_names`  element.

One, `index_names` element is None when names parameter is not setting.
[code]

Second, `index_names` element is single element in tuple like (name, ) when setting `names` parameter or using `set_index`.
[code]

I wonder know why do we keep tuple type for list elements? Can we remove the tuple and keep elements value direct

[2019-12-04 04:00] ueshin commented on #1103
Now that index names support tuple names and it's for the consistent access between a scalar name and a tuple name.
The same thing is in `column_index`. Now that we support multi-index columns and `column_index` stores its name as tuple.

[2019-12-04 19:22] ueshin commented on #502
I'd close this since this is fixed at #766.

[2019-12-04 19:22] #502 closed

[2019-12-05 01:26] HyukjinKwon opened #1109 "Re-enable PyArrow 0.15 support back"
We should enable https://github.com/databricks/koalas/pull/1108 back once we have enough documentation and error messages.

[2019-12-05 06:07] ueshin commented on #873
This was resolved by #1058.

[2019-12-05 06:07] #873 closed

[2019-12-07 01:35] #1103 closed

[2019-12-09 14:29] ktksq commented on #881
@manesioz hi, Are you planning to work on this??

[2019-12-09 14:30] manesioz commented on #881
hi @ktksq I was planning on it but I have been busy lately with other things, please feel free to make a PR instead, sorry about that!

[2019-12-10 03:40] #1095 closed

[2019-12-10 03:47] #1044 closed

[2019-12-10 09:26] #1043 closed

[2019-12-10 13:30] itholic opened #1112 "cumsum() for Sries/DataFrame works not properly."
assuming that we have dataframe like below.

[code]

let's do `cumsum()` on this,

pandas

[code]

whereas koalas

[code]

it seems sort the order by index automatically so that the result are not proper.

[2019-12-10 13:31] itholic commented on #1112
i'm fixing this.

[2019-12-11 12:54] RainFung opened #1118 "deprecated Index.delete"
`delete` API is based on index position, but we does not have it now.

[2019-12-11 21:24] ueshin commented on #554
I'd close this as well since duplicated. #65

[2019-12-11 21:24] #554 closed

[2019-12-12 03:46] itholic opened #1122 "Policy for None in Index looks like different from pandas."
in pandas.
[code]

koalas.
[code]
is it intended? or should be fixed?

[2019-12-12 05:25] #878 closed

[2019-12-12 09:34] HyukjinKwon commented on #65
Actually, I think we could hack this via `df.groupby(F.spark_partition_id()).apply(pands_udf)`. Let me take a look soon.

[2019-12-12 11:52] HyukjinKwon commented on #1118
is `delete` deprecated in pandas? If so, let's don't add.

[2019-12-12 11:58] HyukjinKwon commented on #1122
pandas uses `NaN` (Not a Number) in numeric columns to represent missing values by default (and `NaT` for missing values in time type).

So, if there's missing value in numeric column, pandas changes the data type to float automatically. This might not be not ideal as pointed out by a pandas author (https://www.youtube.com/watch?v=_-gJtO0XR48&feature=youtu.be)

I am not sure if we really should fo

[2019-12-12 11:58] HyukjinKwon commented on #1122
cc @ueshin, @rxin, @thunterdb FYI

[2019-12-12 18:27] ueshin commented on #1122
Related discussion at #263.

[2019-12-13 02:37] #1118 closed

[2019-12-13 03:33] #872 closed

[2019-12-16 02:22] HyukjinKwon opened #1133 "Support for Array type hints in APIs that take Python native functions (e.g., DataFrame.apply)"
[code]

[2019-12-17 07:31] #879 closed

[2019-12-18 07:36] #1112 closed

[2019-12-18 09:02] shreyanshu opened #1141 "pandas.cut absent in Koalas"
I was converting my existing pandas code to koalas and am stuck on getting around the cut() method we have in pandas.

Here is the link to the pandas documentation,
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html

[2019-12-19 01:20] HyukjinKwon opened #1143 "Leverage NamedTuple and TypedDict for type hinting"
https://docs.python.org/3/library/typing.html#typing.NamedTuple
https://docs.python.org/3/library/typing.html#typing.TypedDict

We can use both to avoid schema inference in APIs such as `DataFrame.transform`. This looks added from Python 3.6. Koalas supports Python 3.5 yet. So we should wait for now.

[2019-12-19 01:20] HyukjinKwon commented on #1143
cc @thunterdb

[2019-12-20 09:14] RainFung opened #1148 "implement numeric_only parameter for functions"
There are many functions need `numeric_only` parameter to deter whether to keep object data. Can we find some ways implementing this function?

[2019-12-23 06:50] HyukjinKwon commented on #1148
I am not sure how to. I currently think the only way is just to implement each by if-else.

[2019-12-28 10:49] beobest2 opened #1157 "Fix some typos in install.rst & best_practices.rst"
It's nothing special. A few typos have been found.
please check https://github.com/databricks/koalas/pull/1156 when someone available.
Thank you.

[2019-12-28 18:12] HyukjinKwon commented on #1157
Fixed at #1156

[2019-12-28 18:12] #1157 closed

[2019-12-29 14:33] beobest2 opened #1158 ".loc behavior when using 'slice'"
I test as shown in the documentation below.
I found something strange.

https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.Series.loc.html
![image](https://user-images.githubusercontent.com/7010554/71557962-02927a80-2a91-11ea-94e1-c448125d5a37.png)

pandas :
'sidewinder' is at the end of the list, so it prints normally.

[code]

but koalas prints 'sidewinder'

[code]

Input is

[2019-12-30 01:38] itholic commented on #1158
thanks for reporting, let me take a look at this

[2019-12-30 03:17] itholic commented on #1158
fix this at #1159

## summary

the existing logic was determining range from start to stop by string order alphabetically, so couldn't keep natural order.

we have to determine the range from start to stop with natural order like pandas.

## for more detail

for example, let's assume that we have `kdf` like below

[code]

and perform `iloc` on this with `slice` from 'cobra' to 'viper' like below,

[2020-01-02 19:41] deepyaman opened #1166 "DataFrameGroupBy.describe"

[2020-01-02 19:43] deepyaman commented on #1166
I have implemented a version of `DataFrameGroupBy.describe` that "works" for my project. I feel like the implementation is not ideal, but I'm happy to share and make fixes based on feedback to get it right, if that sounds good to you all.

[2020-01-02 20:20] deepyaman commented on #1166
I've patched the behavior as follows.

The only change in `_spark_groupby` is the `aggfunc` option I added to support `describe`, `"quartiles"`. This is the piece I'm actually least comfortable with, since it's adding functionality that isn't there in `pandas`. I investigated a number of options, but I may have missed the option to implement `DataFrameGroupBy.quantile` (it's been a month or so, I

[2020-01-03 00:55] itholic commented on #1166
Thanks for sharing your experience :D
If you don't mind, could you create a PR for this?
i think it makes easy for comparing to existing code and get code review 😸

[2020-01-03 02:15] HyukjinKwon commented on #1166
Yeah, please go ahead for a PR.

[2020-01-04 10:38] Hoeze opened #1167 "Convert from / to Dask types"
Hi, I'm searching for a good way to convert from PySpark dataframes to lazy Dask dataframes.
Does Koalas support this type of conversion?

[2020-01-04 23:52] deepyaman commented on #1166
@itholic @HyukjinKwon Done! I've opened #1168, also noting a few of the obvious tasks that I haven't completed yet (only ported the code from my project so far). I've also added a manual test to show the functionality working.

[2020-01-05 03:59] itholic commented on #1166
@deepyaman thanks for the contribution! i'll check soon. 😃

[2020-01-06 05:01] HyukjinKwon commented on #1167
Nope, Koalas does not support and not plan Dask conversion

[2020-01-06 05:01] #1167 closed

[2020-01-08 02:31] itholic opened #1173 "loc works not properly for some cases."
assuming that we have `Series` like the below

[code]

for given `kser`, below examples are working differently from pandas.
(`pser` is pandas' `Series` that has exactly same shape with `kser`)

[code]
[code]

[2020-01-08 03:13] itholic commented on #1173
i'm working on here

[2020-01-08 03:23] itholic commented on #1173
this is resolved at #1159 , but let it open for now, since that PR is not yet merged

[2020-01-08 07:37] #1158 closed

[2020-01-08 07:41] #1173 closed

[2020-01-08 10:26] #383 closed

[2020-01-08 21:10] ueshin opened #1175 "Support MultiIndex for `loc` indexer with slice as `row_sel`."
We should support MultiIndex for `loc` indexer with slice as `row_sel`.

[code]

[2020-01-08 21:14] ueshin opened #1176 "Support slice as `col_sel` for `loc` indexer."
We should support slice as `col_sel` for `loc` indexer.

[code]

[2020-01-09 00:42] HyukjinKwon commented on #1176
@itholic are you interested in this?

[2020-01-09 00:55] HyukjinKwon commented on #1175
@itholic, are you interested in this?

[2020-01-09 00:56] chunyang opened #1178 "DataFrame.transform operates per-element when transform function is type-annotated"
[`DataFrame.transform`](https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.DataFrame.transform.html#databricks.koalas.DataFrame.transform) is behaving differently than its pandas equivalent when its return type is annotated. Consider the example below.

[code]

Koalas version: 0.24.0
Numpy version: 1.18.0
Pandas version: 0.25.3

[2020-01-09 01:04] HyukjinKwon commented on #1178
I believe expecting global aggregation within the function doesn't work in Koalas:

[code]

because `v` will be multiple Series's as the segments of a whole Series `v`. I think the example above worked because it executed the shortcut path where it just uses pandas API (when the schema inference is required).

I think this limitation has to be clarified in the documentation at this moment.

[2020-01-09 01:13] chunyang commented on #1178
Ah I see, yes clarifying in the documentation would be great. Thanks! I can confirm the non-shortcut path without type annotations does not work.
[code]

[2020-01-09 01:20] #1090 closed

[2020-01-09 01:30] chunyang commented on #1178
Would it be possible to pass a koalas Series instead of a pandas Series to the transform function? Conceptually if we have a reference to the whole Series, then we can perform global aggregation on it?

[2020-01-09 02:10] #1178 closed

[2020-01-09 02:17] itholic commented on #1175
@HyukjinKwon Oh, I was reviewing the various indexers and considering implementing this part. I will be happy to.

[2020-01-09 02:20] HyukjinKwon commented on #1178
Valid point. Problem is there are many missing APIs in Koalas at this moment.

My intention was that we should expose pandas APIs as are so people can work around via `transform` or `apply`, for some APIs Koalas currently does not support.

[2020-01-09 02:23] HyukjinKwon commented on #1178
If we think about this case only, I think it can make sense to pass Koalas series but if we think about other APIs like `groupby.apply()`, it's difficult to pass Koalas series as is.

Probably we should revisit about this later. For now, I am sure you can work around via just looping Series in the Frame.

[2020-01-09 03:12] itholic commented on #1175
i'll take this and #1176  also

[2020-01-09 03:12] itholic commented on #1176
yeah i'm happy to take it. and i'll take #1175 also

[2020-01-09 22:44] chunyang commented on #1178
Thanks for the explanation Hyukjin, I understand the reasoning better now. Looking forward to a revisit in the future, I think it could be a very user friendly feature!

[2020-01-10 22:27] ueshin opened #1190 "Fix the index of `Index.to_series()`."
The index of `Index.to_series()` doesn't address the change of the index itself.

E.g.,

[code]

whereas

[code]

[2020-01-11 00:38] ueshin commented on #1190
I'll take it.

[2020-01-13 22:29] chunyang commented on #65
Would groupby-apply introduce exchange/shuffle on every `apply`? If so, seems like that would be an expensive operation.

[2020-01-14 00:12] HyukjinKwon commented on #65
Yeah, we should avoid. With Spark 3.0, we can avoid a shuffle with `mapInPandas` API.

[2020-01-15 02:29] itholic opened #1194 "Support pandas>=1.0.0"
~~As pandas 1.0.0 will be released soon, we need prepare for it.~~

As pandas 1.0.0 has released, we need support it.

so I have created some to-do list below.

- [x] update the list of APIs that are newly added .
- [x] update the list of APIs that are deprecated.
- [x] update the list of APIs that are removed.
- [x] update the name of APIs that are renamed.
- [x] list up & update the implementati

[2020-01-15 02:44] itholic commented on #1194
cc @ueshin @HyukjinKwon

If those lists look fine, let me take this work.

[2020-01-15 03:36] itholic commented on #1194
Please let me know if there are more things should be considered for supporting pandas 1.0.0., i'll add to list.

[2020-01-15 10:30] HyukjinKwon commented on #1194
Yeah, please go ahead.

[2020-01-15 19:13] sushmit86 opened #1195 "Exponential moving average in Koalas"
I am trying to calculate the exponential moving average by groups

[code]

This gives me an error

[code]

[2020-01-15 19:25] #1195 closed

[2020-01-16 04:49] #1166 closed

[2020-01-16 17:54] ueshin commented on #1194
Btw, will we drop or keep `pandas<1.0`?
Dropping the older versions might be easy, but I don't think we should drop them until most of pandas users move to `pandas>=1.0`.
@itholic Could you roughly think about the design and estimate how more efforts we will need if we keep them?

[2020-01-17 00:55] chunyang opened #1200 "Using nested dicts leaks pyspark.sql.Row abstraction"
Please consider the example below. Starting with an initial pandas DataFrame, a round trip through Spark DataFrame will preserve the nested dict fields, but a round trip through koalas DataFrame will expose `pyspark.sql.Row` objects.

[code]

This seems to be due to different code paths for schema inference in Spark vs Koalas?
Spark: https://github.com/apache/spark/blob/v3.0.0-preview2/python/pysp

[2020-01-17 22:44] ueshin commented on #1200
Firstly, Koalas doesn't support nested types yet, and I'm not sure it will or not. If you want to handle nested types, you should just use PySpark.

Then ..

Yeah, actually the type inference is different from Spark's and we rely on Arrow so far, and Arrow doesn't support map type inference or conversion yet. I'm not sure whether it's correct to infer this case as map type, though.

As for returni

[2020-01-19 05:39] itholic commented on #1194
I have roughly estimate how more efforts we will need if we keep `pandas < 1.0.0` until most of users moved to `pandas >= 1.0.0`.

For now, i think we can handle most of them with proper warning or error message for each pandas version user.

and i think it can be categorized in some ways. (of course might we need more consideration for more detail cases)

### 1. newly added elements in pandas 1.0

[2020-01-19 13:22] deepyaman commented on #755
@ueshin @HyukjinKwon @charlesdong1991  Is standardized formatting using `pre-commit` and `black` something you all are still open to/looking to do? To address some of the comments I’ve read above:

* Yes, the diff will be huge and almost everything. That being said, you shouldn’t really need to verify much, since the functionality remains the same, verified by Black checking the AST.
* Black can’t

[2020-01-20 00:01] HyukjinKwon commented on #1194
For "removed elements in pandas 1.0.0", I think we can just remove in Koalas too because they should be removed in Koalas anyway, and Koalas is still premature and we're trying to move fast at this moment. WDYT @ueshin? I don't mind keeping them as deprecation warnings either if you feel so.

[2020-01-20 00:02] HyukjinKwon commented on #1194
"renamed elements", this one too. I think we can just rename. It's very easy to workaround.

[2020-01-20 00:21] itholic commented on #1194
then are we just raise Exception for below case?

[code]

[2020-01-20 00:24] HyukjinKwon commented on #1194
Yes, I think it's fine to break this case - it can be very easily worked around `kmidx.drop('koalas')`

[2020-01-20 01:01] itholic commented on #1194
@HyukjinKwon

Ah, i got it.

Hmm.. If that policy is finally decided, then i think there won't be so much trouble for supporting both versions of `pandas < 1.0.0` and `pandas >= 1.0.0`

[2020-01-20 05:57] itholic opened #1203 "Discussion about pd.NA for pandas >= 1.0.0"
Related with #1194

In pandas 1.0.0 to be released soon, they support `pd.NA` as a new  scalar for missing value for handling missing data consistently to all data types (https://dev.pandas.io/docs/whatsnew/v1.0.0.html#experimental-na-scalar-to-denote-missing-values)

since i think this is pretty remarkable factor in pandas 1.0.0, seems we need some discussion how koalas will handle this.

[2020-01-21 02:19] itholic commented on #1203
I think we can discuss about this more correctly after pandas 1.0.0 is released and after test a lot with enough & variable use cases.

[2020-01-21 03:19] shchoichoi opened #1204 "CSV error when using quotation mark escape character("") with commas"
When using the following raw csv text, pandas correctly parses the quotation mark correctly as string followed by a comma, while koalas fails to recognize the escape character ("") using the `df.read_csv` function
[code]

The code:
[code]

The output:
[code]

[2020-01-21 06:17] itholic opened #1206 "Bug in Index.to_frame() when name is assigned after Index created"
[code]

[2020-01-21 06:17] itholic commented on #1206
i'm fixing.

[2020-01-22 02:35] HyukjinKwon commented on #755
Please open a PR. I am interested in taking a look!

[2020-01-22 03:22] itholic opened #1210 "Update index_names of _InternalFrame when Index name changed"
When doing something with `_InternalFrame`,

sometimes i feel a little confusing when such like below case.

[code]
it is okay when i just use `idx` itself with new name 'koalas' like above,

but the problem is occurred when i want to work with `_InternalFrame`,

since the internal `index_names` has not changed like the below.
(to be honest, the `index_map` and other internal factors also have sam

[2020-01-22 06:45] HyukjinKwon commented on #1204
You can use `'"'` as the escape:

[code]

[2020-01-22 16:12] sushmit86 opened #1213 "Faster calculation of moving averages in Koalas."
I am trying to calculate the exponential moving average to a koalas dataframe. I am able to achieve this as below

[code]

However, when I try to implement the above in a dataset that has 30M records it takes 4 hrs to complete. Is there any way to speed this up

[2020-01-22 20:59] shchoichoi commented on #1204
Thanks 😄

[2020-01-22 20:59] #1204 closed

[2020-01-22 21:35] ueshin commented on #1210
Yup, as I mentioned before (https://github.com/databricks/koalas/pull/1120#discussion_r357477773), `Index.rename` (or `@names.setter`) should be fixed.
I submitted the PR #1214.

[2020-01-23 01:29] HyukjinKwon commented on #1213
@sushmit86, can you check here https://koalas.readthedocs.io/en/latest/user_guide/best_practices.html? In particular,  [Use distributed or distributed-sequence default index](https://koalas.readthedocs.io/en/latest/user_guide/best_practices.html#use-distributed-or-distributed-sequence-default-index)

[2020-01-23 01:30] HyukjinKwon commented on #1213
Also, it would be help analyze further if you are able to provide full codes probably with data if possible.

[2020-01-23 11:35] deepyaman commented on #755
Great! I'll try and pick this up in the next week.

[2020-01-23 17:52] sushmit86 commented on #1213
@HyukjinKwon  I will check and let you know. The data is proprietary so I will cook up some data and test it. Will share once I have it ready

[2020-01-23 19:05] dmatrix opened #1219 "Koalas does not support http/https scheme for ks.read_csv(URL)"
It seems like Koalas does not support full URL schemes as pandas does for reading files. For example, this code snippet will throw an exception:

import databricks.koalas as ks
import pandas as pd

ks_df = ks.read_csv("http://bit.ly/uforeports")
...
java.io.IOException: No FileSystem for scheme: http

The workaround is to read in as pandas and convert it as follows:
ufo = pd.read_csv("http://bit.l

[2020-01-23 20:02] sushmit86 commented on #1213
@HyukjinKwon While investigating I encountered another problem Here is the code

[code]
The output to this is

cust_id	sales	days	koalas_moving_average
3	b	400	78.1	400.0
2	a	300	14.1	300.0
4	b	500	87.2	450.0
0	a	100	12.1	175.0
1	a	200	13.1	250.0

while if we use pandas as below

`pdf = kdf.to_pandas()
pdf['pandas_moving_average'] = pdf.groupby('cust_id')['days'].apply(lambda x: x.ewm(alpha=0.5, a

[2020-01-24 07:09] #1206 closed

[2020-01-24 07:09] #1210 closed

[2020-01-24 08:09] HyukjinKwon commented on #1213
^ this seems like a bug. Let me fix it.

[2020-01-24 12:02] HyukjinKwon commented on #1213
The issue above will be fixed by https://github.com/databricks/koalas/pull/1224

[2020-01-24 16:57] dmatrix commented on #1219
Here is the output of a different row order:

<img width="856" alt="Screen Shot 2020-01-24 at 8 54 17 AM" src="https://user-images.githubusercontent.com/1117597/73087444-5cffda80-3e87-11ea-9ef3-4f04b4947659.png">

[2020-01-24 23:04] patryk-oleniuk commented on #1219
I am also missing that behavior of koalas

[2020-01-24 23:14] patryk-oleniuk opened #1226 "ks.read_csv() - compression parameter ( *.csv.gz )"
I'm missing the CSV compression behavior from pandas:
[code]
We can use one of the Spark `codec` implementations explained here:
https://stackoverflow.com/questions/40163996/how-to-save-a-dataframe-as-compressed-gzipped-csv

[2020-01-24 23:15] ueshin commented on #1219
Here's two things:

- read files over `http` protocol
  - so far, Koalas relies on Spark DataFrameReader which doesn't support `http` protocol. We need some workaround to support it.
- `head` doesn't show the expected head records.
  - Koalas doesn't guarantee the row order. If we wan to make it, we need extra huge overhead.

[2020-01-27 20:36] patryk-oleniuk opened #1228 "DataFrame.apply(func, axis=1)"
I'm missing the access of the whole row in the DataFrame.apply function, like

[code]

Prints out:
[code]

We should implement `DataFrame.apply(row_func, axis=1)` using the UDFs.

[2020-01-27 21:32] ueshin commented on #1228
related to #65

[2020-01-27 22:03] ueshin opened #1230 "Support slice as `rows_sel` for `iloc` indexer."
Now that we have an infrastructure to support slice as `rows_sel` for `iloc` indexer.
E.g.,

[code]

[2020-01-28 02:05] HyukjinKwon commented on #1226
What does `ks.read_csv` currently returns? Spark can detects the compression codec from the extension as well. Seems like a bug in Koalas if it doesn't work.

[2020-01-28 02:09] HyukjinKwon commented on #1228
I'll start work on this soon. Maybe it will be impossible to support exactly same API but should be able to provide workaround.

[2020-01-28 02:10] patryk-oleniuk commented on #1226
[code]
just returns an empty dataframe ..
[code]

[2020-01-28 02:30] HyukjinKwon commented on #1226
thanks for confirmation!

[2020-01-28 02:30] #1226 closed

[2020-01-28 04:00] itholic opened #1235 "Some arithmetic operators for IndexOpsMixin don't work with magic method."
Assuming that we have Series like the below.

[code]

- rfloordiv

[code]

- rsub

[code]

I think there are more cases have same issue.

[2020-01-28 04:05] itholic commented on #1235
i'm working on this to solve.

[2020-01-28 04:06] HyukjinKwon commented on #1235
Does it throw the same exception when we perform arithmetic operators (e.g., a - b vs b - a)?

[2020-01-28 04:30] itholic commented on #1235
They're working well with arithmetic operators like you exampled.

and they raise exception when only in magic method with type of `Series` or `Index` like the below.

[code]

any idea ?

[2020-01-28 04:36] HyukjinKwon commented on #1235
It might be better to fix anyway but I was wondering if it causes a real issue because these dunder methods are not supposed to called directly.

[2020-01-28 04:44] itholic commented on #1235
yes right. i just found them very coincidently, and also think it's not so have high priority to solve for now.

[2020-01-28 18:25] ueshin commented on #1219
As for the `head` behavior, we added a config to perform natural ordering when head (#1231).
If you turn `compute.ordered_head` to `True`, you will see the same result as pandas'. Please be careful that it will cause a performance overhead.

[2020-01-29 17:01] itholic opened #1239 "[Support pandas 1.0.0] List of changes to move to pandas 1.0.0"
Related with #1194

There are several errors detected in `pandas 1.0.0` with the existing tests.

(Below list would continuously be updated. if solved, let's check the box)

## DataFrameGroupBy

- [x] `DataFrameGroupBy.idxmin` doesn't work anymore with non-monotonically increasing/decreasing index
**(Fixed for passing tests at https://github.com/databricks/koalas/pull/1197/commits/4d68cf667f743734

[2020-01-29 17:01] itholic opened #1240 "[Support pandas 1.0.0] list-up Koalas error with existing tests"
Related with #1194

There are several errors detected in `Koalas` with `pandas 1.0.0` with the existing tests.

(NOTE: Those errors are not raised in `Koalas` with `pandas < 1.0.0`)

(Below list would continuously be updated. if solved, let's check the box)

## DataFrame

- [x] `DataFrame.max` with `axis=1`
[code]

- [x] `DataFrame.info`
[code]
I think this because of the below https://github.com/

[2020-01-29 17:03] itholic commented on #1240
i'm checking continuously & will add more list

[2020-01-29 17:03] itholic commented on #1239
i'm checking continuously & will add more list

[2020-01-31 01:26] HyukjinKwon commented on #1003
@itholic, when you have some time, can you take a look for `DataFrame.take`, and `DataFrame.query`?

`take` seems we can just reuse existing indexer, and `query` seems we can just delegate to Spark's `filter` API. For example,` kdf.to_spark().filter("...")`.

[2020-01-31 01:27] HyukjinKwon commented on #1003
`SeriesGroupBy.unique`, seems easy as well but it seems it returns an array. We can either explicitly don't support or support this by returning a series.

[2020-01-31 01:52] itholic commented on #1003
@HyukjinKwon sure, i'll manage them after finishing pandas 1.0.0 support for Koalas 😸

[2020-01-31 05:23] itholic commented on #1240
i'm confirming whether merging this issue to #1239 or not.

[2020-01-31 18:12] beobest2 opened #1248 "Output of print ks.Series"
I tried to check the __print()__ function output of koalas Series
I noticed that there is a difference in output from pandas Series

[code]
Output of print(ks) is  "Column<b'0'>"
This does not represent data inside the Series.

[2020-01-31 18:20] beobest2 commented on #1248
I simply removed the \_\_str\_\_function from *series.py* and it works fine.
please check this out.

[code]

[2020-01-31 18:52] beobest2 commented on #1248
I submitted PR https://github.com/databricks/koalas/pull/1250

[2020-02-01 06:12] beobest2 opened #1252 "Check parameters when grouping in multiple columns"
[code]

Checking grouping by multiple columns forms a hierarchical index. I works fine.
[code]

I missed square brackets around the parameter to __groupby__.
koalas couldn't catch a mistake and did __groupby__ job with the first parameter ('B' column).

[code]

[2020-02-01 06:22] itholic commented on #1252
Thanks for the report.

are you interested in trying to create a Pull Request to fix this?

[2020-02-01 10:22] beobest2 commented on #1252
@itholic You're welcome :) I'm going to take a look at this

[2020-02-02 00:55] #1248 closed

[2020-02-02 09:15] beobest2 commented on #1252
I submitted PR https://github.com/databricks/koalas/pull/1253

[2020-02-03 07:26] beobest2 opened #1255 "ValueError when creating koalas Dataframe with duplicate column name"
There is ValueError when creating koalas Dataframe with duplicate column name.
[code]

It works fine without duplicate column name.
[code]

[2020-02-03 07:49] HyukjinKwon commented on #1255
This limitation is actually inherited from Spark. I don't think there's a good way to handle this. It is documented under https://koalas.readthedocs.io/en/latest/user_guide/best_practices.html#do-not-use-duplicated-column-names at this moment.

[2020-02-03 07:55] beobest2 commented on #1255
@HyukjinKwon  I missed the document. Thanks for the explanation :)

[2020-02-03 07:55] #1255 closed

[2020-02-04 03:34] #1252 closed

[2020-02-06 19:13] ueshin commented on #1194
Sorry for the delay.
IMO as below:

- newly added elements
  - we can just adding such elements.
- removed elements
  - If we already implemented, I'd prefer to keep it and show the deprecation message.
  - If it's in the missing list, I'd prefer to keep it but move it to deprecation list.
- renamed elements
  - If it's a simple case like the example above, we can just rename it to the new one.

[2020-02-07 10:45] Callum027 opened #1260 "When using ks.readcsv, Koalas type inference differs from pandas due to the use of Spark's inferSchema logic"
Hi guys,

I'm using Koalas to combine two sets of similar data, and there is a step where we block rows using a direct comparison on a specific column. As part of this, we remove all `NaN` values from that column using `DataFrame.dropna`, but in our tests, we found that for `float` columns, Koalas would convert that row to an `int` if the values did not have decimal components. This is not exactly

[2020-02-07 10:52] HyukjinKwon commented on #1228
I made a PR https://github.com/databricks/koalas/pull/1259

[2020-02-07 18:50] patryk-oleniuk opened #1261 "Documentation - list API's planned to never be implemented"
I'm missing a page that explicitly lists APIs that are planned not to be supported, and why.

This issue somewhat helped me, but I feel it should be a bit more public and kept up to date.
https://github.com/databricks/koalas/issues/1003

Probably under `User Guide` --> `Best Practices` ?

Thanks!

[2020-02-08 13:27] beobest2 commented on #1260
I have printed types before implementing "dropna"

[code]

result :

[code]

As the result shows, Koalas was already recognized as "integer" before running "dropna" function.

I tested again using "from_pandas". (Convert the created pandas Dataframe to a Koalas Dataframe.)

[code]

[code]

Even if "dropna" was performed in Koalas, it was confirmed to recognize "float" as the same.

Let me check th

[2020-02-08 14:36] beobest2 commented on #1260
@Callum027

Koalas uses the Spark engine internally.
If Koalas reads csv and infers the data types, it follows spark's __inferSchema__ logic.

[code]

In Pandas, if a missing value exists, the data type is always float. ( as in the __zipcode__ column in the example above)
If there is no missing value, (as in the __birth_year__ column) Pandas also decides to be an integer.
spark has no logic for mi

[2020-02-09 05:52] HyukjinKwon commented on #1260
Missing value being float is known issue and that's one of thing even pandas authors don't quite like. So far, Koalas tried to copy this behaviour but In pandas 1.0.0, it targets to replace `np.nan` (https://pandas.pydata.org/pandas-docs/version/1.0.0/whatsnew/v1.0.0.html#experimental-na-scalar-to-denote-missing-values).

I think it's time for Koalas to consider to keep the type but interprets as

[2020-02-09 07:45] ttelfer opened #1268 "ImportError when importing koalas on azure databricks runtime 6.3 ML."
ImportError: cannot import name 'Timedelta' from 'pandas._libs.tslibs' (/databricks/python/lib/python3.7/site-packages/pandas/_libs/tslibs/__init__.py)

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<command-3047841609493545> in <module>
      1 from pyspark.sql import SparkSession
      2 fro

[2020-02-09 09:40] HyukjinKwon commented on #1268
@ttelfer thanks for reporting a bug. Seems like the error is from pandas as can be seen.

Are you able to do `import pandas` correctly?

[2020-02-09 14:24] itholic commented on #1261
I agree it might better adding those APIs to official docs with reasonable reasons.

cc. @HyukjinKwon @ueshin what do you think?

[2020-02-09 14:38] itholic commented on #1260
totally agree. maybe related with #1203

[2020-02-09 15:37] itholic commented on #1194
@ueshin Thanks for giving the opinion 👍

Okay, then finally we can handle the elements for pandas 1.0.0 as below.

### 1. Newly added elements
- Just adding

### 2. Removed elements
- Keeping with deprecation message

### 3. Renamed elements
- Just Renaming for simple case, otherwise, discuss case-by-case

I'll clean up tomorrow at #1197 with following those rules.

[2020-02-09 18:27] ttelfer commented on #1268
I cannot import pandas.

[2020-02-10 00:05] Callum027 commented on #1260
@beobest2 , thanks for investigating this so quickly. This makes a lot of sense. For any data imported via CSV, while not ideal, I think importing it via pandas first and using `ks.from_pandas` is an acceptable solution for now.

[2020-02-10 00:59] HyukjinKwon commented on #1268
That seems like the problem in pandas.

[2020-02-10 00:59] #1268 closed

[2020-02-10 00:59] HyukjinKwon commented on #1261
Yeah, I think it sounds fine.

[2020-02-10 01:20] itholic commented on #1261
@HyukjinKwon okay i'll add them to official docs while i'll work for #1003

[2020-02-10 12:59] itholic commented on #1003
i have investigated this, how about we implement with returning a `Series` like we did for `Series.unique` like the below??

[code]

[2020-02-11 00:27] #65 closed

[2020-02-11 00:27] #1228 closed

[2020-02-13 02:56] HyukjinKwon commented on #1003
Yes, I think it's fine to implement.

[2020-02-13 03:08] itholic commented on #1003
Okay let me implement, thanks :)

[2020-02-13 05:23] itholic commented on #1003
i've investigated `DataFrame.take`.

pandas can just do like the below with using `iLocIndexer`.

[code]

but in Koalas, we're raising Error like the below.

[code]

So, this issue seems just same with `iAtIndexer`.

[2020-02-13 07:39] HyukjinKwon commented on #886
I investigated this for whole day, and seems we shouldn't implement this API. It creates rows * index columns:

[code]

I don't think this practically works since Spark partitions it row based. This is much worse than `transpose` we had to think multiple times. Let's don't do this for now.

[2020-02-13 08:18] HyukjinKwon commented on #1003
Actually we will be able to work around ^ case. I am working on [`map_partitions`](https://docs.dask.org/en/latest/dataframe-api.html#dask.dataframe.DataFrame.map_partitions). We will be able to use it to implement `take`.

[2020-02-13 08:19] HyukjinKwon commented on #1003
I am hesitant about implementing `DataFrame.unstack(self, level=-1, fill_value=None)` case (see https://github.com/databricks/koalas/issues/886)

[2020-02-13 08:44] itholic commented on #1003
Ah, i just explored that API. please let me know if you finish implementing `map_partitions` !! 👍

[2020-02-13 08:47] itholic commented on #1003
I'm not pretty sure but i think we'd better implement that even with limited functionality, if there are many user's requirements.

[2020-02-13 09:22] HyukjinKwon commented on #1003
^ The problem is Spark doesn't really scale out in columns. If there's 10 columns and 10,000 rows, it becomes 100,000 columns, and Spark won't probably work. Let's see if people actually request this or not.

[2020-02-13 22:48] ueshin commented on #886
Makes sense. Shall we move it to "won't support" list?

[2020-02-14 00:51] HyukjinKwon commented on #886
Sure, will do.

[2020-02-14 02:02] patryk-oleniuk opened #1280 "df.apply(func_without_typehint, axis=1) is not running in parallel"
I was hoping that each operation, per row is gonna be executed in parallel.
However this code (and many other experiments I did, including logging to MLflow) shows that it just executes it sequentially for every row.
[code]
This is taking 60 sec with > 12 Spark workers.
I was expecting every row to be executed in parallel, that would result in around 5 seconds.

Am I doing something wrong?

My wor

[2020-02-14 02:48] HyukjinKwon commented on #1280
There are two possibilities I can think of at the moment:

- When the records is lower then [`compute.shortcut_limit` (default 1000)](https://koalas.readthedocs.io/en/latest/user_guide/options.html#available-options), it executes via just normal pandas API as a shortcut because pandas will be faster in small datasets

- Can you check your index type of the dataframe (see https://koalas.readthedocs

[2020-02-14 03:06] patryk-oleniuk commented on #1280
Thanks for extremely fast reply.
This helped!
[code]
Distributing the index didn't.
Any idea how to improve the function to execute in parallel  even for smaller datasets?

[2020-02-14 03:18] HyukjinKwon commented on #1280
Can you try this?

[code]

When `kdf.apply` takes a function with a type hint, it wouldn't try the shortcut path as it can know the type right away from the given type.

The reason it tried the shortcut was, `lambda x: do_job(x["col"])` lambda didn't have the type hint. This seems taking 7~8 secs in my local.

[2020-02-14 03:23] patryk-oleniuk commented on #1280
Yes, that works for me too, and by default (without any custom settings, also for more amount of workers and more rows).

Interesting how the type hint can change execution tree. I guess this is the "execute first 1000 rows in pandas and see the output type" kind of behavior..

Anyway, works like a charm now.

[2020-02-14 03:28] HyukjinKwon commented on #1280
Yes .. we should definitely make such logic more visible and easy to use. Thanks for your feedback. I will think about how to make it easier and visible more.

[2020-02-14 03:34] ueshin commented on #1280
One more thing I want to notice is:
The parallelization is based on Spark partitions.
Even if the setting is proper and the function has type hint, if all the data are, let's say, in only one partition, the function will be executed sequentially.

[2020-02-14 06:29] GODLMM opened #1282 "ops_on_diff_frames will cause a big performance overhead?"
Hello, when i want to do some operations on the slice of original df , it will make a big performance overhead.
[code]
the output:
[code]
What can i do to avoid it? thx

[2020-02-14 06:33] HyukjinKwon commented on #1282
Yes, it does cause a big performance overhead because it requires to join whenever different dataframes are needed to be performed together. See also https://koalas.readthedocs.io/en/latest/user_guide/best_practices.html#reduce-the-operations-on-different-dataframe-series

[2020-02-14 06:47] GODLMM commented on #1282
thanks for your answer, but I was confused why it cost almost double time for each loop?

[2020-02-14 08:36] GODLMM commented on #1282
copy data first and then will be fine. is there any reason? thx
[code]
output:
[code]

[2020-02-14 09:40] HyukjinKwon commented on #1282
This is interesting. Basically it's because you didn't create another new dataframe but used the same dataframe (`kdf_2`'s copy). You can also slightly fix the second example not to create another dataframe by selecting it:

[code]

[2020-02-14 10:18] GODLMM commented on #1282
I got it. sorry to keep bother you. but my point is if kdf_2's copy is the same kdf_2, the results of third block may be the same as the second block? but it was the same as result of the first block like the code you answer me.
[code]
thx for answering me so quickly, haha~

[2020-02-14 10:57] HyukjinKwon commented on #1282
Oh right. Seems so. Yes, then I think you illustrated the problem properly.

[code]

this matters and there is currently no better way to improve the overhead by `ops_on_diff_frames` sadly :-(.

[2020-02-14 11:14] GODLMM commented on #1282
ok ,so sad, hope you can slove it in the future. thx~

[2020-02-16 03:13] achapkowski opened #1285 "Pandas accessor support"
Can you extend this api like pandas accessor pattern and custom types?

[2020-02-17 03:03] HyukjinKwon commented on #1285
@achapkowski can you elaborate it a bit more with examples written in pandas?

[2020-02-17 16:39] deepyaman commented on #755
Sorry for the delay in getting to this. #1284 is ready for review, to see (1) if this is something you all want to purse and (2) what the next steps would be in terms of cleaning it up, or (potentially) customizing it to fit the project needs.

[2020-02-17 16:40] deepyaman commented on #755
@HyukjinKwon Sorry for the delay in getting to this. #1284 is ready for review, to see (1) if this is something you all want to purse and (2) what the next steps would be in terms of cleaning it up, or (potentially) customizing it to fit the project needs.

[2020-02-18 10:16] achapkowski commented on #1285
Sure please see: https://pandas.pydata.org/pandas-docs/stable/development/extending.html

[2020-02-19 18:23] deepyaman commented on #755
FWIW, just noticed Pandas also uses Black now (`0.25.*`, `1.*.*`). See https://github.com/pandas-dev/pandas/blob/master/doc/source/development/contributing.rst#python-pep8--black.

[2020-02-20 02:50] matthewgson commented on #1028
I'm having the same issue described above, but setting different default index type ```distributed``` or ```distributed-sequence``` did not solve the problem. I have 213 million row data (10gb parquet) I took me 3 min on my local computer to run ```.head()```

However, when I export it into spark dataframe, ```.show()``` is running very fast. I'm wondering what is causing this problem...

[2020-02-20 03:00] HyukjinKwon commented on #1028
Can you show your full codes? There should be virtually no differences if we use `distributed`.

[2020-02-20 03:05] matthewgson commented on #1028
[code]
I also tried with
[code]
Above takes a long time, by the way,
[code]
Above spark is very fast. I checked with ```.show(100)``` and so forth.
Am I missing something?

[2020-02-20 04:12] HyukjinKwon commented on #1028
Ah, that's probably because of the CSV schema inference which requires to scan whole data once. You can currently work around via manually specifying the schema e.g.: `ks.read_csv("...", names="column1 string, column2 int")`.

[2020-02-20 04:48] HyukjinKwon commented on #755
Hm, does pandas also apply the change to the whole code base?

[2020-02-20 08:00] charlesdong1991 commented on #755
yeah, pandas started using black quite a while ago, and it was the initial reason to propose this here @deepyaman

@HyukjinKwon  FYI, I recall that pandas first applied black for batches of files first (so several PRs for reformatting), and then in the meantime add black as part of linting check in CI, so CI won't pass if users do not black their PR or if the current codebase have codes incompatib

[2020-02-20 15:52] DaveOuds opened #1297 "Can't writeStream back to kafka"
Hi all!
I'm consuming data from kafka, which I want to parse using koalas and afterwards produce it back to kafka.
However, whenever I try to write a stream it wont work. Depending on the output mode of the stream I get one of two errors:

- Update/Append:
py4j.protocol.Py4JJavaError: An error occurred while calling o90.start.
: org.apache.spark.sql.AnalysisException: Expression(s): monotonically_

[2020-02-20 21:50] ueshin commented on #1297
Hi @DaveOuds, thanks for trying to use Koalas!
Unfortunately, Koalas doesn't support Structured Streaming so far.

[2020-02-20 21:52] DaveOuds commented on #1297
Hey @ueshin,
Noted, thanks for the quick feedback!

[2020-02-20 21:52] #1297 closed

[2020-02-21 05:51] matthewgson opened #1300 "Unexpected Koalas groupby.apply groupby.agg behavior"
I found some unexpected groupby.agg or groupby.apply behavior.
Here's a reproducible example.

[code]
I was trying to group by multiple columns and calculate the ratio using ```my_divider``` function.

When I run below codes in pandas, it works as expected.
[code]

However, in Koalas dataframe

[code]
.agg works with 'sum' function as expected but .agg does not understand function defined above.
[

[2020-02-21 15:34] deepyaman opened #1302 "Implement 'keep' parameter for ``drop_duplicates``"
Possible implementation #1303

[2020-02-22 00:33] #755 closed

[2020-02-24 17:35] itholic opened #1305 "Index.to_series() works not properly"
When converting an Index to Series for comparing operation like the below,

there is something problem.

[code]

The existing implementation seems only can convert from index to series properly when the index is came from DataFrame like the below.

[code]

[2020-02-25 02:44] #886 closed

[2020-02-25 19:03] patryk-oleniuk opened #1307 "DataFrame.apply(func, axis=1) returns Series with unmatched index"
Env: koalas 0.27.0, Databricks DBR 6.2.

Consider the following code for pandas:
[code]
That prints a series with the proper index:
[code]
But if we do the same for koalas, we get a wrong index (and also wrong name, BTW):
[code]
That causes a lot of problems when merging that index with a new df, e.g.
[code]
The workaround is to always reset_index before apply.

[2020-02-25 23:11] #1302 closed

[2020-02-26 01:17] HyukjinKwon commented on #1307
The problem here is that we can't tell what's the index given the type hints. So the index is being lost currently. Yes, `reset_index` is a nice workaround.

We should find a proper way to specify index type in the type hint... Let me at least document it for now.

[2020-02-26 13:17] sorenmc opened #1312 "Databricks runtime not supported"
I am currently trying to migrate a function utilizing pandas to koalas. I am using a databricks notebook to do this, but i receive an error when i try to import koalas, that seems like it is related to pandas.

I run Databricks runtime 5.5 LTS (includes Apache Spark 2.4.3, Scala 2.11), and have tried to install koalas 3 different ways on the cluster including pip, dbutils and the inbuilt cluster p

[2020-02-26 13:37] sorenmc commented on #1312
Issue was caused by another package that had installed pandas==0.19 which is incompatible with koalas.

[2020-02-26 13:37] #1312 closed

[2020-02-26 15:04] itholic commented on #1312
@sorenmc thanks for trying to report issue :)

[2020-02-27 17:46] patryk-oleniuk commented on #1307
Hmm, not sure why couldn't we just get the same index as the originating df?
Especially for `df.apply(func, axis=1)` that returns single type value per row.

[2020-02-28 01:53] HyukjinKwon commented on #1307
It's because the output index can be different from the original DataFrame:

[code]

We can't detect the index type before the function execution. That's why it can return index type properly when the type hints are not specified (hence the type is inferred after executing the function once).

[2020-02-28 01:56] HyukjinKwon commented on #1307
Do you actually have any good idea to specify the index type? One possibility is we leverage https://docs.python.org/3/library/typing.html#typing.NamedTuple and have a reserved name to specify index type. I was thinking about supporting this but there would be no way for Python 3.5 to use because this is new from. Python 3.6

[2020-03-01 03:54] itholic commented on #1240
closed since all check lists are resolved.

[2020-03-01 03:54] #1240 closed

[2020-03-01 03:54] itholic commented on #1239
close since all check lists are resolved.

[2020-03-01 03:54] #1239 closed

[2020-03-01 03:55] itholic commented on #1194
Closing.

[2020-03-01 03:56] itholic commented on #1194
Closing since related PRs are merged.

[2020-03-01 03:56] #1194 closed

[2020-03-01 14:04] Harshitg opened #1317 "Implement to_sql"
As a feature request, implementing to_sql capabilities would be very helpful

Thanks

[2020-03-02 18:50] #1305 closed

[2020-03-02 19:07] patryk-oleniuk commented on #1307
Eh, I feel like it's tricky, every solution I can think of is just so nasty and not convenient..

But anyway, I actually don't understand.. for `kdf.apply()` that is:
1. Row-based - `axis=1`
2. Apply function returns a single value (NOT `ks.Series` or `ks.DataFrame`)
We can just take the same index from the row that is processed, right?
And then we can just make index parameter as not supported fo

[2020-03-03 02:27] HyukjinKwon opened #1320 "Implement SeriesGroupBy.unique"
[code]

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.SeriesGroupBy.unique.html

[2020-03-03 02:27] HyukjinKwon commented on #1003
DataFrame.tail will be tracked at #343. SeriesGroupBy.unique will be tracked at #1320

[2020-03-03 02:27] #1003 closed

[2020-03-04 16:14] wesm opened #1323 "pyarrow interoperability and integration testing"
We're starting to get some bug reports in Apache Arrow from koalas users

https://issues.apache.org/jira/browse/ARROW-7986

[A user commented](https://issues.apache.org/jira/browse/ARROW-7986?focusedCommentId=17049939&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-17049939)

We've been working on providing tools to enable third party extensibility as well as inform

[2020-03-04 17:16] jorijnsmit commented on #1084
This also occurs when initialising an empty dataframe through `ks.DataFrame([])`.

[2020-03-04 20:47] ueshin commented on #1323
Thanks for escalating the issue here!

It seems related to Spark UDT and Arrow.
Actually we can have a workaround to convert from/to pandas DataFrame/Series including Spark UDT objects, but I don't know how it works when manipulating pandas/Koalas.
If the user wants to use it in some function taking user functions, like `apply`, `applymap`, etc., Koalas doesn't support Spark UDTs since Koalas reli

[2020-03-05 00:54] wesm commented on #1323
At the moment I don't think we have an API to provide for user-defined "unboxing" of array cell types into the corresponding Arrow storage, so we'd need to do a bit of thinking about what should happen. Here is a JIRA issue about the topic

https://issues.apache.org/jira/browse/ARROW-8004

[2020-03-05 02:42] HyukjinKwon commented on #1084
Thanks for sharing that, @jorijnsmit.

[2020-03-07 08:26] Harshitg commented on #1317
To add, in the meantime one can always convert the kDF into a sDF and push it to sql. The understanding is correct?

[2020-03-08 03:17] HyukjinKwon commented on #1317
Yup, you can also leverage [DataFrame.to_spark_io](https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.DataFrame.to_spark_io.html) and [koalas.read_spark_io](https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.read_spark_io.html#databricks-koalas-read-spark-io) to read and write from/to external DBMSs.

You might want to take a look at [databricks.koalas.sql

[2020-03-09 09:48] sorenmc opened #1332 "Return type consistency in docs"
It is currently not transparent what the return type of a kolas dataframe / series is.

Take for example
[DataFrame.max()](https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.DataFrame.max.html)

maxscalar for a Series, and a Series for a DataFrame.

Returned type i receive is a pandas.Series

[Series.value_counts()](https://koalas.readthedocs.io/en/latest/reference/api/databri

[2020-03-10 03:14] #877 closed

[2020-03-10 03:45] HyukjinKwon commented on #1332
I think we should match it to Koalas Series.

[2020-03-10 09:04] Harshitg commented on #1317
DataFrame.to_spark_io is amazing at achieving that. I have a unrelated question, the inserts happen row by row instead of batches, isn't it?

[2020-03-10 09:31] HyukjinKwon commented on #1317
Yes, in general.

[2020-03-10 10:03] jorisvandenbossche commented on #1323
Did https://github.com/databricks/koalas/pull/1324 fix the original reported issue from https://issues.apache.org/jira/browse/ARROW-7986 about converting the sparse vector to a koalas Series?

[2020-03-10 17:29] raghavansandhya commented on #881
Hi @ktksq  are you working on this ?

[2020-03-10 17:31] raghavansandhya commented on #875
Hi @HyukjinKwon Can I try working on this ?

[2020-03-11 03:30] HyukjinKwon commented on #875
Please go ahead!

[2020-03-11 03:31] HyukjinKwon commented on #881
Seems not. @raghavansandhya, if you're interested in, please go ahead!

[2020-03-11 09:34] #1332 closed

[2020-03-12 00:35] #1190 closed

[2020-03-12 01:27] #1230 closed

[2020-03-12 01:40] HyukjinKwon commented on #8
I believe this was implemented by https://github.com/databricks/koalas/pull/453

[2020-03-12 01:40] #8 closed

[2020-03-12 01:44] #111 closed

[2020-03-12 01:55] HyukjinKwon commented on #124
@rxin, we have implemented everything except two:

- select
- selectExpr

*`spark_schema` is partially implemented at Series instead as `spark_type`.

For `select`, it conflicts with [pandas' `select`](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.select.html) so it might be better to don't implement for now.

`selectExpr` case is a bit arguable too because we hav

[2020-03-12 01:55] #124 closed

[2020-03-12 01:59] HyukjinKwon commented on #205
There is a tradeoff, yes. The current direction of this project is to stick to lazy evaluation :-). I am resolving this ticket.

[2020-03-12 01:59] #205 closed

[2020-03-12 02:28] HyukjinKwon commented on #263
note: We should now consider NA in pandas 1.0.0 too.

[2020-03-12 02:28] HyukjinKwon commented on #280
Fixed in https://github.com/databricks/koalas/issues/280

[2020-03-12 02:28] #280 closed

[2020-03-12 02:30] HyukjinKwon commented on #281
Fixed in #496

[2020-03-12 02:30] #281 closed

[2020-03-12 03:26] HyukjinKwon commented on #287
Made a PR at #1336

[2020-03-12 03:32] HyukjinKwon commented on #293
All other plots except:

- [`DataFrame.plot.hexbin`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.hexbin.html#pandas.DataFrame.plot.hexbin)
- [`DataFrame.plot.scatter`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.scatter.html#pandas.DataFrame.plot.scatter)
- [`DataFrame.boxplot`](https://pandas.pydata.org/pandas-docs/stable/r

[2020-03-12 03:36] HyukjinKwon commented on #322
I think this is completely done now. We could fix followups if there are some bugs. Let me track it in separate tickets.

[2020-03-12 03:36] #322 closed

[2020-03-12 03:42] HyukjinKwon commented on #405
Let me leave this as won't fix at this moment. There is no way to use the same DataFrame by the limitation of Spark API.

[2020-03-12 03:42] #405 closed

[2020-03-12 03:43] itholic commented on #293
i think we have `DataFrame.plot.scatter` ??

https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.frame.DataFrame.plot.scatter.html#databricks-koalas-frame-dataframe-plot-scatter

[2020-03-12 03:46] HyukjinKwon commented on #410
This was fixed by providing a workaround, option `compute.ops_on_diff_frames`. Now we support the operations on different DataFrames. We should still avoid to losing the original frame in this project in general though.

[2020-03-12 03:46] #410 closed

[2020-03-12 03:50] HyukjinKwon commented on #524
@itholic, are you interested in taking this over? Basically we should add an option that combines partitions when we write out the files. We should add it in `to_csv`, `to_json`, `to_parquet`, and `to_spark_io`.

[2020-03-12 03:51] #535 closed

[2020-03-12 03:52] itholic commented on #524
@HyukjinKwon, Seems interesting. I'll take this over :)

[2020-03-12 04:37] HyukjinKwon commented on #293
Ah, sure. Seems that's not in the documentation. I will add it in https://github.com/databricks/koalas/pull/1337

[2020-03-12 04:37] HyukjinKwon commented on #293
Ah, sure. I edited the comment.

[2020-03-12 04:38] HyukjinKwon commented on #665
We will track it in #293

[2020-03-12 04:38] #665 closed

[2020-03-12 04:39] HyukjinKwon commented on #293
Actually all plots in Series are implemented. We should implement two plots in DataFrame. We will track it in #666

[2020-03-12 04:39] #293 closed

[2020-03-12 04:39] HyukjinKwon commented on #666
All other plots except:

- [`DataFrame.plot.hexbin`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.hexbin.html#pandas.DataFrame.plot.hexbin)
- [`DataFrame.boxplot`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.boxplot.html#pandas.DataFrame.boxplot)

are implemented. @dvgodoy would you be interested in continuing the efforts?

[2020-03-12 04:40] HyukjinKwon commented on #745
This is fixed at SPARK-28978.

[2020-03-12 04:40] #745 closed

[2020-03-12 06:51] HyukjinKwon commented on #1323
Yes, the issue https://issues.apache.org/jira/browse/ARROW-7986 can be closed. #1324 fixed the original issue.

However, we should note that this UDT support itself is supposed to be private at this moment, and Koalas does not currently support nested types.

[2020-03-12 06:55] HyukjinKwon commented on #1320
This duplicates #875

[2020-03-12 06:55] #1320 closed

[2020-03-12 07:03] HyukjinKwon commented on #1300
@matthewgson, thanks for reporting an issue. It was a horrible mistake .. The fix is on the way

[2020-03-12 09:37] HyukjinKwon commented on #1300
Made a fix at #1339

[2020-03-12 09:38] HyukjinKwon commented on #1282
I am leaving this resolved, for now. Will track the performance improvement in Spark side.

[2020-03-12 09:38] #1282 closed

[2020-03-12 09:40] HyukjinKwon commented on #1260
I am resolving this as a duplicate of #1203 at this moment.

[2020-03-12 09:40] #1260 closed

[2020-03-12 09:42] HyukjinKwon commented on #1213
I am leaving this resolved. The blocker bug was fixed. Let's track it in a different ticket if you still face the performance issue.

[2020-03-12 09:42] #1213 closed

[2020-03-12 09:43] HyukjinKwon commented on #1133
Relates to #1143

[2020-03-12 09:45] HyukjinKwon commented on #1033
I am closing this ticket as the workaround is provided at this moment.

[2020-03-12 09:45] #1033 closed

[2020-03-12 09:46] HyukjinKwon commented on #1031
Closing this due to no feedback from the reporter.

[2020-03-12 09:46] #1031 closed

[2020-03-12 09:46] HyukjinKwon commented on #1016
Closing this due to no feedback.

[2020-03-12 09:46] #1016 closed

[2020-03-12 09:47] HyukjinKwon commented on #960
This was fixed at https://github.com/databricks/koalas/commit/e4e5a1c9740ddbc7d4d40e9c7e30e254fb6bda5d

[2020-03-12 09:47] #960 closed

[2020-03-12 09:48] HyukjinKwon commented on #917
Closing this, no feedback. Performance issue might be related to https://koalas.readthedocs.io/en/latest/user_guide/best_practices.html.

[2020-03-12 09:48] #917 closed

[2020-03-12 09:51] HyukjinKwon commented on #815
Closing this due to no feedback.

[2020-03-12 09:51] #815 closed

[2020-03-12 09:51] HyukjinKwon commented on #807
I believe most of them are added now.

[2020-03-12 09:51] #807 closed

[2020-03-12 15:43] Harshitg opened #1341 "[Question] read_spark_io partition_col, numPartition values and head"
Code:
[code]
Two questions here:
1. Even after specifying numPartitions and partition_cols, the explain function shows numPartitions as 1. Is there something amiss here?
`Relation[created_on#0,changed_on#1,id#2,instu_id#3,ecl_model_name#4,product_group#5,productgroup_desc#6,product_code#7,category#8,currency_code#9,counterparty_id#10,maturity_date#11,al_position#12,outstanding#13,outstanding_LCY#1

[2020-03-12 15:56] matthewgson commented on #1300
@HyukjinKwon Thank you for updates! but one thing I'm curious about is `AnalysisException: "Undefined function: 'my_divider'  This function is neither a registered temporary function nor a permanent function registered in the database 'default'` part above.
Will it be necessary to define & register a function using `@pandas_udf()` and `spark.udf.register('my_udf',my_divider_udf)` before applying i

[2020-03-13 00:33] #287 closed

[2020-03-13 03:02] HyukjinKwon commented on #1341
@Harshitg are you able to get multiple partitions when you use PySpark alone?

[2020-03-13 03:38] #556 closed

[2020-03-15 09:38] Harshitg commented on #1341
It would be seem, PySpark also shows numPartitions = 1.  Also any reason, why toPandas is getting executed here:
`
toPandas at C:\Users\XXXX\AppData\Roaming\Python\Python37\site-packages\databricks\koalas\internal.py:799`

[code]
[code]

[2020-03-16 11:04] sorenmc commented on #1332
kdf.nunique still returns a pandas series

[2020-03-16 11:37] HyukjinKwon commented on #1332
Thanks for letting me know. Will fix soon

[2020-03-17 04:40] #1175 closed

[2020-03-18 01:32] #1176 closed

[2020-03-18 10:23] akashkumar398 opened #1353 "minmax scaler not wotking with koalas dataframe"
the below code resulting in error with koalas data frame but working fine with pandas data-frame
# Scale the training feature

df = ks.DataFrame(df)
scaler = MinMaxScaler(feature_range=(0, 1)).fit(df)
train_scaled = scaler.transform(df)

ValueError: cannot copy sequence with size 1375219 to array axis with dimension 323

[2020-03-18 12:37] HyukjinKwon commented on #1353
`MinMaxScaler` seems from sklearn. The data does not live in client side so it will be impossible to use Koalas DataFrame with sklearn at this moment. The support is not in the plan currently.

[2020-03-18 12:37] #1353 closed

[2020-03-20 03:11] #1300 closed

[2020-03-20 03:45] #625 closed

[2020-03-22 14:29] #1341 closed

[2020-03-23 12:13] syonekura opened #1361 "Duplicated key when groupby -> apply is used"
Hello, I opened this thread in [SO](https://stackoverflow.com/questions/60790960/koalas-groupby-apply-returns-cannot-insert-key-already-exists), but viewing other issues reported here ([[1]](https://github.com/databricks/koalas/issues/1300), [[2]](https://github.com/databricks/koalas/issues/1007)), I'm suspecting that this could also be a bug.

I'm not sure if I'm missing something about the group

[2020-03-23 13:31] rabejens opened #1362 "Job aborted due to stage failure when running in AWS EMR"
I set up an EMR 6.0.0 Cluster on AWS. I then added an EMR notebook, and installed Koalas in it. When I try to run the [Getting Started](https://koalas.readthedocs.io/en/latest/getting_started/10min.html), at point 3, I get:

[code]

Steps to reproduce:

1. Set up an EMR Cluster with EMR 6.0.0, Hadoop and Spark active, deactivate all other services
2. Let the cluster boot, takes about 10 minutes
3.

[2020-03-23 14:10] HyukjinKwon commented on #1362
The error is from `VirtualEnvFactory` during Koalas installation, which isn't in either Koalas or Apache Spark. Seems like you should ask it at Amazon EMR.

[2020-03-23 14:10] #1362 closed

[2020-03-23 19:24] syonekura commented on #1361
Hi again, I encountered this [closed issue in pandas](https://github.com/pandas-dev/pandas/issues/32384), it seems that the grouping column is kept when one performs apply, and it is explicitly tested for (so it's a feature of pandas)

The problem arises then koala's apply has to infer the schema, runs the pandas groupby - apply and then initiates a koalas.DataFrame with the result (that after gro

[2020-03-24 00:16] itholic commented on #1361
Thanks for reporting the issue & detailed investigation 👍

I think we should handle this logic and add the test explicitly like pandas.

@ueshin , @HyukjinKwon , WDYT about this?

[2020-03-24 00:26] itholic commented on #1361
@ueshin , @HyukjinKwon

For saving your time, the summary of this issue is like the below.

- in pandas.
[code]

- but in koalas
[code]

[2020-03-24 00:55] HyukjinKwon commented on #1361
Thanks, yeah. It would be great to fix to match at this moment.

In Spark, it supports the duplicated columns in some contexts. In some contexts, it doesn't.
So, we're thinking about disallowing duplicated column & index names in general [as described in the best practice](https://koalas.readthedocs.io/en/latest/user_guide/best_practices.html#do-not-use-duplicated-column-names) due to the limitati

[2020-03-25 10:56] Harshitg opened #1365 "read_sql_query / read_spark_io on mssql trigger toPandas"
While executing koalas, i am continuously getting triggers to toPandas usage in

[code]
![image](https://user-images.githubusercontent.com/1675591/77529247-40971300-6eb5-11ea-9a50-035256f1e4e0.png)

![image](https://user-images.githubusercontent.com/1675591/77529279-50165c00-6eb5-11ea-8fd0-d18c0b278bb8.png)

Any idea what's going wrong here

[2020-03-25 10:58] HyukjinKwon commented on #1365
Are you able to make it working by purely using PySpark, and what exception message did you have?

[2020-03-25 11:57] Harshitg commented on #1365
Oh yes, on PySpark per say there is no issue. My mistake to not be clear, i had a question around is there a reason toPandas is getting triggered?

[2020-03-25 13:08] HyukjinKwon commented on #1365
Do you mind sharing the exception message you had?

[2020-03-26 06:09] Harshitg commented on #1365
While executing:
[code]
I am reading the kdF dataframe, however the internals are converting it into pdf

[code]

[2020-03-26 06:22] HyukjinKwon commented on #1365
1. about `toPandas`, I think it's being called when it's rendered at your shell or notebook. If you don't print out, it won't collect the data. For example, try to set your final results into a variable and don't print out.

2. That exchange will probably be because of default index. See https://koalas.readthedocs.io/en/latest/user_guide/best_practices.html#use-distributed-or-distributed-sequence-

[2020-03-26 06:32] Harshitg opened #1372 "Documentation: read_spark_io examples"
Read_spark_io currently has to_spark_io examples in the document. If by design, please close this.

`https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.read_spark_io.html#databricks.koalas.read_spark_io`

[2020-03-26 06:33] HyukjinKwon commented on #1372
Ah, thanks for checking the example. Yeah, it's just to show roundtrip between `to_spark_io` and `read_spark_io` :-)

[2020-03-26 06:33] #1372 closed

[2020-03-26 06:44] Harshitg commented on #1365
1. Thanks for clarification, i can confirm it is happening while rendering.
2. I will check.

Closing for now

[2020-03-26 06:44] #1365 closed

[2020-03-26 09:36] Harshitg opened #1373 "df.cache() question"
PySpark allows for giving an argument for caching type. How can we pass this in Koalas?

Spark
[code]

[2020-03-26 10:26] itholic commented on #1373
Happy to see you @Harshitg , Thanks for reporting an issue for Koalas :D

Since Koalas is supporting cache as a `cache()` of PySpark under-the-hood, we can't specify the storage level for now. (It uses `MEMORY_ONLY` by default)

https://github.com/databricks/koalas/blob/fd60bfed206a1aef3e57a08356536fad9a3d7281/databricks/koalas/frame.py#L10025-L10027

For specifying the storage level (as you said,

[2020-03-28 14:53] syonekura commented on #1361
@itholic I would love to submit a PR for this, I'll give it a try during this weekend

[2020-03-28 23:32] itholic commented on #1361
@syonekura Sure, let's try :smile_cat:

[2020-03-29 12:50] Hoeze commented on #1109
Hi, I'm using other libraries like e.g. TileDB that depend on PyArrow 0.15.
When will there be a Koalas release with PyArrow v0.15 allowed?

[2020-03-29 14:00] MrPowers commented on #1109
[PyArrow 0.16.0 was recently released](https://pypi.org/project/pyarrow/0.16.0/), so it'd be nice to get that version supported too.

Thanks for the great work on this library!

[2020-03-29 23:06] Hoeze opened #1376 "to_delta and to_parquet are dropping the index"
Hi, I don't know if I made a mistake but `ks.DataFrame.to_delta` and `ks.read_delta` are dropping my index columns:
![grafik](https://user-images.githubusercontent.com/1200058/77863412-7e33cd00-7222-11ea-8980-304631d4fa18.png)

Is there a way to keep the index with the dataset?
Also, does this index actually give a performance boost compared to default Spark joins when I merge two large (terabyte

[2020-03-30 00:13] HyukjinKwon commented on #1109
Thanks, @MrPowers. I think we will add both 0.15 and 0.16 support very soon!

[2020-03-30 00:18] HyukjinKwon commented on #1376
Can you try to specify the index columns via `ks.read_detla(index_col=["configName", "start", "emd"])`?

[2020-03-30 08:36] Hoeze commented on #1376
Yes I tried, the columns are just missing.

[2020-03-30 10:18] Harshitg opened #1378 "datarfame.loc question"
[code]
[code]
Operation
[code]
The output is incorrect "C" should have become 10.

or Operation

`kdf.loc[kdf["A"] <= kdf["B"],['C']] = 10
`
[code]

Is there anything that is getting missed?

[2020-03-30 19:31] ueshin commented on #1373
As PySpark has both `cache()` and `persist()`, we can just add `persist()` method the same as PySpark.
Btw, the default value is `MEMORY_AND_DISK` instead of `MEMORY_ONLY`.

Also it might be good if `_CachedDataFrame` has `storage_level` property for users to check the current storage level.

@itholic Do you want to submit the PR?

[2020-03-31 01:22] itholic commented on #1373
@ueshin

Thanks for the comment and fixing the mistake!

Sure, I'll add the `DataFrame.persist()` soon.

@Harshitg I'll try to make the `DataFrame.persist()` method until next release so that you can use the caching type after then. 😸

[2020-03-31 04:16] Harshitg commented on #1373
@itholic Thanks for the prompt response.

[2020-03-31 05:00] Harshitg commented on #1378
Found a workaround as follows:

`kdf['C'] = kdf['C'].mask(kdf["A"] <= kdf["B"],10)
`

[2020-03-31 07:24] itholic commented on #1373
@Harshitg My pleasure :D

[2020-03-31 18:13] #1373 closed

[2020-03-31 20:23] #1376 closed

[2020-04-01 04:22] walter-cavinaw opened #1386 "Suggestions for rolling & series operations"
first I wanted to say that I am impressed by what you are building and how rapidly you are iterating. I am an avid user of dask which is functionally very similar to koalas+pyspark combo.

I thought I would point out some of the things that would hold me back from switching over to using koalas. Maybe these are not actually problems or they can be circumvented, if so please let me know if I am mis

[2020-04-01 04:39] HyukjinKwon commented on #1386
Yes, what you said is true. Koalas is currently implementing by sending all partitions to single note and calculating, which can easily end up with OOM (as documented). So, at this moment, it's preferred to perform rolling operations with groupby.

it is a good point to support rolling across multiple partitions.

Reading from Dask' doc:

Seems they simply make a copy and send to another.

I am no

[2020-04-01 17:10] walter-cavinaw commented on #1386
For the cumulative functions, I don't think its necessary to be able to do it in parallel. It would be great just to be able to do it. Dask is also a task scheduler so I think the way it works is that it just perform the operation on partitions one after the other. Obviously you don't take advantage of parallelism, but at least I can perform cumulative functions across a dataset too big for memory

[2020-04-06 14:54] itholic opened #1398 "Different behaviour for mod between pandas and Koalas"
pandas and Koalas are using different way for calculating the `mod` for negative values like the below.

[code]

I think It would be better to match this behaviour to the pandas.

[2020-04-07 21:56] brookewenig opened #1403 "Column assignment doesn't support type list"
In Pandas, I can assign a column of type list (code works below with df). But in Koalas, I get `TypeError: Column assignment doesn't support type list`. Could this please be supported?

[code]

[2020-04-08 21:30] #1398 closed

[2020-04-09 01:55] #1109 closed

[2020-04-09 03:45] itholic opened #1411 "Incompatible behavior with pandas for Series.div() when divide by zero."
The existing implementation of `Series.div()` doesn't same as pandas.

[code]

[2020-04-09 06:38] apremgeorge opened #1413 "Py4JJavaError: An error occurred while calling o1446.filter."
Hi,
I have a proc_cnt which koalas df with column count, (coding in databricks cluster)
[code]
My query function throws ParseException
[code]
May I know the issue
Thanks

[2020-04-09 11:53] HyukjinKwon commented on #1413
Can you check the documentation of https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.DataFrame.query.html? We don't currently support `@` properly. There is a workaround documented there as well.

[2020-04-09 12:04] HyukjinKwon opened #1414 "Document that we don't support the compatibility with non-Koalas APIs yet."
Seems like people want to convert their codes directly from pandas to Koalas. One case I often observe is, they want to convert the codes that works together with other Python standard functions such as `max`, `min`, or list/generator comprehensions, e.g.)

[code]

In Koalas, such example does not work. We should preemptively document and guide users to stick to Koalas APIs only.

[2020-04-09 12:47] vkrot-exos commented on #1307
Is there currently a clean way to add a dataframe column based on udf accepting rows (axis=1)
I also tried
[code]
But it does not work with distributed index. Any suggestions how to implement without hopping back to spark and using `withColumn`? This to_spark/to_koalas() method bloat the code

Most likely there are other ways to do that, but quick search didn't reveal anything

[2020-04-09 13:01] HyukjinKwon commented on #1307
I think you should probably use [`pandas_wraps`](https://github.com/databricks/koalas/blob/d5e7a4ef6b9729290745948271ca9d3a0a3c4b32/databricks/koalas/typedef.py#L298-L382) for now; however, yes I think we should have a more elegant way.

[2020-04-09 13:45] vkrot-exos commented on #1307
@HyukjinKwon , yes, it works, thanks for lightning-fast reply!

[2020-04-09 13:57] HyukjinKwon commented on #1414
@beobest2 would you be interested in this?

[2020-04-09 17:11] beobest2 commented on #1414
@HyukjinKwon Sure, let me try. thank you

[2020-04-09 18:02] ueshin commented on #876
This was done at #1273.

[2020-04-09 18:02] #876 closed

[2020-04-10 17:01] Titan0022 opened #1417 "Implement resample"
Have a lot of workflows that depends on resampling time series data

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.resample.html

[2020-04-10 18:46] venkateshdatta1993 commented on #881
Hi @raghavansandhya are you working on this?

[2020-04-11 14:56] beobest2 commented on #1414
@HyukjinKwon
I have written the document below, does this match your intentions?
If not, please understand my lack of understanding.

===
FAQ

[Can I use the code used for Pandas as is?]

Replacing the Pandas module with Koalas works fine for most.
However, some compatibility with non-Kalas APIs is not yet supported.
Koalas cannot be used with other Python standard functions like `max`, `min` and

[2020-04-12 04:38] HyukjinKwon commented on #1414
I think we should better move them to Best Practice. I think we could rephrase, for example as below. Feel free to reword or rephrase.

Title: Use Koalas APIs directly whenever possible

Contents:
While Koalas has similar APIs with pandas, some APIs are not explicitly supported. For example, Python built-in functions such as `min`, `max`, etc. require the given argument to be iterrable. Koalas doe

[2020-04-12 04:40] HyukjinKwon commented on #1414
You can open a PR and we can iterate the review for better trackability.

[2020-04-12 04:47] beobest2 commented on #1414
okay~ I'll open a PR. thank you

[2020-04-13 00:31] raghavansandhya commented on #881
No I am working on the other group by unique issue as of now.. Please go ahead and start

[2020-04-13 01:11] #1361 closed

[2020-04-14 05:35] apremgeorge commented on #1413
Thanks for that, removed @ and used as it is. worked.
and
Couldn't find set() in koalas, how to create set?

[2020-04-14 05:39] HyukjinKwon commented on #1413
Can you point out the pandas API link? I would like to check.

[2020-04-14 12:32] apremgeorge commented on #1413
Thanks, just the python data structure set()
[code]
The set() will create the iterable values from the index values.

[2020-04-14 12:37] HyukjinKwon commented on #1413
Oh, you mean the Python built-in function `set`, right? It wouldn't work out of the box. You might want to check https://github.com/databricks/koalas/pull/1420

[2020-04-15 03:34] mks2192 opened #1421 "str.split(expand = True)"
in dataframe string split into multiple columns is not available. what is alternative to that

[2020-04-15 05:07] apremgeorge opened #1422 "TypeError: copy() got an unexpected keyword argument 'deep'"
Hi,
In koalas I understand .copy() is implemented not like pandas, but I get error from the outside package scorecardpy
[code]
Is there any fix for it?

[2020-04-15 10:48] #1414 closed

[2020-04-15 12:32] itholic commented on #1422
@HyukjinKwon @ueshin

How about we add dummy keyword `deep` argument for hot-fixing this for now?

[2020-04-15 12:57] itholic commented on #1421
Would you mind if you show me a little bit of your code examples?

I'm not sure what you exactly want to, but maybe the below way will work for you??

[code]

[2020-04-15 19:53] mks2192 commented on #1421
Thanks. It was super helpful.

I believe its possible to use most of the pandas function using map_in_pandas ?

More specifically I was looking for this

`Temp = kdf.map_in_pandas(lambda pdf:pdf.col1.str.split("_", expand = True))`

`Temp.columns  = ['S1', 'S2']`

[code]

[2020-04-15 22:12] itholic commented on #1421
@mks2192

It doesn't support for aggregation-like methods which needs operation through the whole dataset.

In this case, It's possible to use `map_in_pandas` because the `str.split` is applied to row by row.

It's really happy that It helped you :D

[2020-04-15 23:12] apremgeorge opened #1425 "Handling missing values in datatime field throws error."
I have the missing values in datetime column in koalas dataframe,
[code]
I convert to koalas datatime, but thats not working, thorwing error
[code]
Any help on error please, if there is no missing values then same works charm.

[2020-04-16 01:28] #1422 closed

[2020-04-16 02:49] #875 closed

[2020-04-16 06:22] ueshin commented on #1425
What environment are you working on? Seems like it's working in my local.

[code]

[2020-04-16 23:48] #1411 closed

[2020-04-17 01:11] apremgeorge commented on #1425
I am working in Databricks us-west-2c, Thanks

[2020-04-17 01:22] ueshin commented on #1425
Thanks for letting me know.
I tried my example above on Databricks, but it still worked.

It would be really helpful if you could share a simple reproducible example.

[2020-04-17 01:39] apremgeorge commented on #1425
![image](https://user-images.githubusercontent.com/30790120/79522838-1f82a600-80a0-11ea-929c-288ad6a4c76c.png)

[2020-04-17 02:17] itholic opened #1428 "Incompatible with pandas when floordiv with np.nan"
There is an incompatible behaviour with pandas when floordiv with np.nan

[code]

[2020-04-17 10:02] Callum027 opened #1430 "Series.astype() does not not respect "truthyness" as in pandas"
As you can see in the code below, I'm trying to convert a `str` to a `bool` below, as part of a quick way to see if a string is not `None`, empty or only consisting of whitespace. Since Koalas seems to hook directly into Spark's `Column.cast` and Java does not have the concept of "truthy" and "falsey" as in Python, the conversion fails and `None` is inserted instead.

This is a very tricky issue a

[2020-04-17 18:21] ueshin commented on #1425
So I need an example where I can reproduce the error to investigate.
Can I ask some questions?

- Do you see any difference between my example and yours?
- How did you create the `cleaned_Data`?
- Is it possible to share the whole stack trace?

also,

- What version of Databricks Runtime are you working on?
- Did you install any other libraries?

Thanks!

[2020-04-17 18:31] ueshin commented on #1430
Thanks for the report!
That's a good point, and I guess we should follow pandas' behavior.
I'll be working on this.

[2020-04-18 02:00] ueshin commented on #1421
I submitted a PR to support `expand` parameter with a restriction that `n` parameter must be a positive integer and the number of columns follows `n`.
Could you take a look at the PR #1432? Thanks!

[2020-04-20 10:01] #1421 closed

[2020-04-20 10:03] #1430 closed

[2020-04-20 10:04] #1428 closed

[2020-04-20 13:07] Lukas012 opened #1433 "kdf.head(10) vs df.limit(10).toPandas()"
I've got a PySpark DataFrame df.
`df = ...`
When I invoke:
`df.limit(10).toPandas()`
I get the result very quick.

When I invoke:
`kdf = df.to_koalas()`
`kdf.head(10)`

The results takes a very long time (if I even get it). Furthermore disk is filled until job get crashed due to "No space left on device".

Why? From my point of view both commands should do the same.

Environment:
- JupyterHub
- Sp

[2020-04-20 13:19] HyukjinKwon commented on #1433
The biggest difference between them are, Koalas assume the size of the data is large. Very large and does not fit in single note. So, it does distribute data, shuffle, and etc even for small datasets.
Can you share your full codes?

[2020-04-20 13:59] Lukas012 commented on #1433
Of course:

[code]
Spark History UI:
![grafik](https://user-images.githubusercontent.com/2796837/79760114-e193b500-831f-11ea-926a-1fd85dece2a9.png)

[2020-04-20 19:10] ueshin commented on #1433
Could you try to set default index to "distributed"?
I guess the default index might be the cause. Could you take a look at https://koalas.readthedocs.io/en/latest/user_guide/options.html#default-index-type and https://koalas.readthedocs.io/en/latest/user_guide/best_practices.html#specify-the-index-column-in-conversion-from-spark-dataframe-to-koalas-dataframe?

[2020-04-21 08:31] Lukas012 commented on #1433
Thanks a lot @ueshin! That was it!

[2020-04-21 08:35] #1433 closed

[2020-04-23 09:39] HyukjinKwon opened #1443 "Image storage"
![Screen Shot 2020-04-23 at 5 26 21 PM](https://user-images.githubusercontent.com/6477701/80076779-9f6cac80-8587-11ea-8c92-07d7b992733b.png)

![Screen Shot 2020-04-23 at 5 27 38 PM](https://user-images.githubusercontent.com/6477701/80076898-c2975c00-8587-11ea-9b2c-69c9729e9294.png)

![Screen Shot 2020-04-23 at 5 26 37 PM](https://user-images.githubusercontent.com/6477701/80076790-a1cf0680-8587-11e

[2020-04-23 09:39] #1443 closed

[2020-04-24 20:58] dk09630 opened #1449 "Timezone issue."
While reading a csv file which contains the date in format 2018-09-27 01:05:10, it gives an error UnknownTimeZoneError: 'GMT+05:30'. The same works fine while reading from pandas

[2020-04-24 21:16] #1449 closed

[2020-04-24 21:16] dk09630 commented on #1449
Closing it since it was mostly related to Spark

[2020-04-27 02:57] Tom-Deng opened #1450 "Is there something wrong with concat when axis=1?"
![image](https://user-images.githubusercontent.com/17919002/80329598-6d07cb80-8875-11ea-9208-a3b571dd292a.png)

tmp3.shape is expected to be (195638, 32)

dtype info
![image](https://user-images.githubusercontent.com/17919002/80329737-d1c32600-8875-11ea-99d7-3fd3c6db21c5.png)

[2020-04-27 03:02] tahervali commented on #881
Hi @venkateshdatta1993 are you still working on this?

[2020-04-27 03:05] venkateshdatta1993 commented on #881
Hey @tahervali
No I'm working on another. Please go ahead and pick up.
Thanks.

[2020-04-27 03:15] HyukjinKwon commented on #1450
@Tom-Deng, do you mind showing the results of `concat(tmp_list[0].head(10), tmp_list[1].head(10))`? It will be helpful to show `tmp_list[0].head(10)` and `tmp_list[1].head(10)`.

[2020-04-27 04:01] Tom-Deng commented on #1450
tmp_list[0].head(10)
![image](https://user-images.githubusercontent.com/17919002/80332754-5023c600-887e-11ea-812b-e47f81bf3a8e.png)
tmp_list[1].head(10)
![image](https://user-images.githubusercontent.com/17919002/80332829-924d0780-887e-11ea-98e4-cc3e5530e6a5.png)

 csv file
[csv_file.zip](https://github.com/databricks/koalas/files/4537406/csv_file.zip)

[2020-04-27 04:21] HyukjinKwon commented on #1450
Can you show your full codes? It produces the same results in my side:

[code]
[code]

[code]
[code]

[2020-04-27 05:18] Tom-Deng commented on #1450
reference:  https://github.com/szilard/benchm-ml

The wrong place:
![image](https://user-images.githubusercontent.com/17919002/80336098-dc3aeb00-8888-11ea-83b8-b643c76edc2f.png)

full code
[github.tar.gz](https://github.com/databricks/koalas/files/4537609/github.tar.gz)

version info
![image](https://user-images.githubusercontent.com/17919002/80336287-76029800-8889-11ea-9c65-62012153cbbf.png)

[2020-04-27 07:36] user919lx opened #1451 "Python Kernel with remote Spark cluster"
I have a JupyterHub on a server,and my Spark clustes are on other servers. They comunicate with Jupyterhub by sparkmagic and livy.

It works fine in PySpark Kernel by sparkmagic as I install koalas in PySpark environment.

But I can't make koalas work in JupyterHub origin Python kernel, error info:`ImportError: Unable to import pyspark - consider doing a pip install with [spark] extra to install p

[2020-04-27 07:55] HyukjinKwon commented on #1451
Are you able to install PySpark? Koalas is dependent on PySpark, and it's required.

[2020-04-27 07:56] HyukjinKwon commented on #1450
@Tom-Deng, can you post a copy-and-paste-able codes? It's a bit difficult for me to guess and write the codes to reproduce your case.

[2020-04-27 09:17] Tom-Deng commented on #1450
Code and used data are in compressed package "github.tar.gz" with last comment.

[2020-04-27 18:08] ueshin commented on #1450
I found out the reason. It's because you created the `d1` by `d1 = d1a.append(d1b)` which will contain duplicated index values.
So far Koalas uses join on index columns to implement `concat(..., axis=1)`, so if there are duplicated values, it will produce more rows than the original row number.

Could you use `d1 = d1a.append(d1b, ignore_index=True)` as a workaround?

[2020-04-28 02:17] user919lx commented on #1451
I install pyspark on jupyterhub,but I can't query hive table because jupyterhub's server isn't spark cluster

[2020-04-28 03:15] HyukjinKwon commented on #1451
I am not aware of how sparkmagic and JupyterHub work. If that's just codes being sent from jupyterhub to the spark cluster, you might have to install Koalas in the cluster.

[2020-04-28 07:56] Tom-Deng commented on #1450
This modification is valid.

[2020-04-28 07:56] #1450 closed

[2020-04-30 03:14] user919lx commented on #1451
This is the architecture of sparkmagic.sparkmagic wrap api request to livy,it send code through livy to spark cluster,and recive results.
![architecture](https://github.com/jupyter-incubator/sparkmagic/raw/master/screenshots/diagram.png)

I have installed koalas in spark cluster, and it's work well in pyspark kernel by sparkmagic.

My problem is that  I want to run koalas in python3 kernel (for di

[2020-05-01 01:15] HyukjinKwon commented on #1451
In the codes, can you run `from pyspark.sql import SparkSession` and get the Spark session by `SparkSesion.builder.getOrCreate()`?

I assume you use Livy as a Yarn cluster mode(?). If you run Livy as a client mode, Livy should be able to import both PySpark and Koalas in the node where Livy is installed.

[2020-05-01 11:14] sebastianvermaas opened #1456 "Add Spark JDBC read"
For enterprise use, I'd like to poll the extension of read methods to JDBC, given that drivers are available in the Spark Context.

**Current Solutions**
[code]

**New Solution**
[code]

[2020-05-01 17:05] ueshin commented on #1456
I guess you can use `ks.read_sql_table()` (https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.read_sql_table.html).
Or `ks.read_spark_io()` for the general purpose (https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.read_spark_io.html).

[2020-05-01 18:30] sebastianvermaas commented on #1456
Never noticed the read_sql_table, thank you!

[2020-05-01 18:30] #1456 closed

[2020-05-03 07:42] hanman2016 opened #1458 "ImportError: No module named 'numpy.testing.nosetester'"
I got this error after installing koalas library on my cluster.
I tried importing numpy library then this encountered.
Please help to sort it out

[2020-05-03 07:46] hanman2016 commented on #1458
At cluster level error after installing coalas on cluster.
Below error thrown in driver log. command not able to execute.

ImportError: Something is wrong with the numpy installation. While importing we detected an older version of numpy in ['/databricks/python/lib/python3.5/site-packages/numpy']. One method of fixing this is to repeatedly uninstall numpy until none is found, then reinstall this v

[2020-05-04 00:43] HyukjinKwon commented on #1458
Are you able to import numpy, e.g. `from numpy.testing.nosetester import import_nose`? Seems this is not a Koalas issue definitely.

[2020-05-06 08:13] mao-ouyang opened #1464 "read_csv appear ：TypeError: 'bool' object is not iterable"
When will index_col be equal to Flase?
This problem is caused by index _col equal to False. At present, the judgment that increasing index_col is not equal to False temporarily solves the problem.
![image](https://user-images.githubusercontent.com/46299753/81151188-52d79700-8fb3-11ea-92e1-4ae02a0b2116.png)
![image](https://user-images.githubusercontent.com/46299753/81151419-8e726100-8fb3-11ea-90c6

[2020-05-06 08:19] HyukjinKwon commented on #1464
`index_col` should be either a string or a list of strings. it won't be a bool. I think we can make a fix to show a better error message with `ValueError`, though.

[2020-05-06 08:19] #1458 closed

[2020-05-06 08:32] mao-ouyang commented on #1464
If the data index_col is empty, the user will have this problem by using the parameter index_col = False

[2020-05-06 11:39] HyukjinKwon commented on #1464
If you want `index_col` to be empty, you can specify `None` instead. We can fix it to throw a better error message, I guess.

[2020-05-06 18:21] scook12 opened #1465 "Support for API Extensions"
### Issue
pandas exposes a pretty simple API to let library developers extend pandas objects via registering accessors. It would be awesome if koalas would support a similar feature.

### Resources
Docs: https://pandas.pydata.org/pandas-docs/stable/reference/extensions.html

Public API: https://github.com/pandas-dev/pandas/blob/master/pandas/api/extensions/__init__.py

Accessors: https://github.co

[2020-05-07 00:38] #1464 closed

[2020-05-07 00:39] #1413 closed

[2020-05-07 00:39] HyukjinKwon commented on #1451
I am leaving this closed due to no feedback.

[2020-05-07 00:39] #1451 closed

[2020-05-07 00:40] HyukjinKwon commented on #1425
I am closing this due to no feedback.

[2020-05-07 00:40] #1425 closed

[2020-05-07 00:42] HyukjinKwon commented on #1280
I think this was partially documented at https://koalas.readthedocs.io/en/latest/user_guide/transform_apply.html

[2020-05-07 00:42] #1280 closed

[2020-05-08 03:06] Tom-Deng opened #1469 "get_dummies uses the prefix parameter whose type is dict return KeyError"
Use get_dummies demo with prefix  and columns
![image](https://user-images.githubusercontent.com/17919002/81365829-c5638680-911b-11ea-8896-cdfb8f3cc68d.png)
pandas result like this:
![image](https://user-images.githubusercontent.com/17919002/81365863-e1672800-911b-11ea-901d-9ab3467ce93b.png)

[2020-05-08 03:33] HyukjinKwon commented on #1469
cc @itholic can you take a look when you're available?

[2020-05-08 04:44] itholic commented on #1469
@HyukjinKwon Sure, leave it to me. I'll take it.

[2020-05-09 16:52] thewarpup opened #1475 "Koalas.read_*() methods replace path(type:str)"
Replacing path types accepted by all read_*() methods supported under Koalas from path(type: str) to path(type: filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]]) equivalent to all Pandas.read_*() methods

[2020-05-10 12:34] ikravets opened #1476 "save and load parquet with MultiIndex (row) index and columns"
I'm experimenting with Koalas. My pandas dataframes use MultiIndex both for rows and columns. Such pandas dataframes can be saved to / loaded from parquet files using PyArrow. Koalas can successfully translate such dataframes to/from pandas. However, Koalas cannot save/load such dataframes directly to/from parquet. Having to go through Pandas just to load/store the data severely limits the support

[2020-05-10 19:33] ikravets opened #1477 "implement IndexSlice selection for MultiIndex"
When using MultiIndex in Pandas it's customary to select using tuple of slices or values, usually using [`pd.IndexSlice[]`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.IndexSlice.html) syntactic sugar. This is currently not implemented for Koalas.
See https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html for more examples.

[code]

[2020-05-10 19:37] ikravets commented on #1475
I second the support of `pathlib.Path`. This is easy to implement and seems idiomatic for python 3.

[2020-05-11 02:08] itholic commented on #1469
This is because It didn't consider about `dict` as a `prefix` type.

I just created a PR to fix this.

[2020-05-11 04:09] HyukjinKwon commented on #1475
It doesn't make much sense to support buffer which lives in single machine because Koalas targets to scale out the dataset. I think we should explicitly don't support it.

[2020-05-11 06:51] #1469 closed

[2020-05-12 11:05] thewarpup commented on #1475
@HyukjinKwon I am working on project that show case Pandas as well as Koalas functionalities together. So long story short; I need to pass an IO type object to Koalas.read_csv() and Koalas.read_excel() methods. I hope it is not as difficult to implement. If not can I know an ETA on this update?

[2020-05-13 09:11] sebastianvermaas opened #1492 "Pyspark functions vs Koalas methods"
Hi, this is more of a question, but I was wondering why so many Koalas methods are explained as `pythonUDF`s?

I guess my questions are:
- Is this intended behavior? If so, could you explain why?
- What is the "optimal" pick here? Does this change when data is larger, smaller, etc?

Examples

**String methods**

*Koalas*
[code]

*Pyspark*
[code]

**Datetime methods**

*Koalas*
[code]

*Pyspark*

[

[2020-05-13 10:08] sebastianvermaas opened #1493 "Best way to Fill NA's on large dataset"
Would the below be an appropriate way to fill na's? Or is there a better way?

[code]

[2020-05-13 10:09] sebastianvermaas commented on #1493
Is replace method an alternative?

[code]

[2020-05-13 10:57] HyukjinKwon commented on #1493
Koalas has `DataFrame.fillna` as well:

[code]

[2020-05-13 10:57] #1493 closed

[2020-05-13 11:02] HyukjinKwon commented on #1492
It's because the behaviour of `upper` is different between PySpark and Pandas. So I had to use Pandas UDF to match the behaviour. We should ideally avoid to use Pandas UDF there, yes.

There's a blog coming soon how to workaround this and directly leverage PySpark functions in Koalas. You can do, for example, as below:
[code]

[2020-05-13 11:03] HyukjinKwon commented on #1492
I will leave that blog post link in our official documentation soon, probably at https://koalas.readthedocs.io/en/latest/getting_started/videos_blogs.html

[2020-05-13 11:03] #1492 closed

[2020-05-14 15:32] beobest2 opened #1498 "Support 'max_rows' parameter in DataFrame.to_markdown()"
https://github.com/databricks/koalas/blob/master/databricks/koalas/frame.py (line: 1767)
![image](https://user-images.githubusercontent.com/7010554/81952614-a85e1480-9641-11ea-9718-14de6c18fc25.png)

According to the code above, the `to_markdown` function in Koalas DataFrame seems to support the `max_rows` parameter. However, `to_markdown`, which can be supported by pandas version from 1.0.0, did

[2020-05-14 16:10] itholic commented on #1498
I think we can just remove the `max_rows` parameter with related note in docstring and code since pandas doesn't support it.

[2020-05-14 22:35] beobest2 commented on #1498
Okay I will just remove the max_rows parameter.

[2020-05-14 23:05] itholic commented on #1498
Yup, go for it :)

[2020-05-15 00:03] itholic commented on #1378
Let me take a look at this one.

[2020-05-15 02:33] HyukjinKwon commented on #1378
Thanks, @itholic

[2020-05-15 03:11] #1498 closed

[2020-05-15 17:18] ueshin commented on #1378
FYI: `kdf.loc[kdf["A"] <= kdf["B"], 'C'] = 10` should work now.

[2020-05-16 05:51] itholic commented on #1378
Anyway, we have same problem with `iLocIndexer`

[code]

[2020-05-16 13:11] itholic commented on #524
@HyukjinKwon
Why don't we just set the `num_files` parameter to 1 for combining output files into a single file?

[2020-05-18 01:26] Callum027 opened #1506 "List type not supported for annotating functions for apply"
[code]
Result:
[code]
Using the actual type doesn't seem to work either:
[code]

[2020-05-18 01:31] Callum027 commented on #1506
Probably related to #1403 .

[2020-05-18 01:34] Callum027 commented on #1506
Sorry, this appears to be duplicate of #1133 . I'll close this issue in favour of that one.

[2020-05-18 01:34] #1506 closed

[2020-05-18 01:37] Callum027 commented on #1133
Hi there, I was wondering if there has been any progress with this? I'd like to be able to annotate my functions that generate lists, so it doesn't have to infer the type and incur a performance penalty.
[code]
Result:
[code]

[2020-05-18 02:19] HyukjinKwon commented on #524
Yes, I think this case was fixed as of https://github.com/databricks/koalas/pull/677

[2020-05-18 02:19] #524 closed

[2020-05-18 02:35] itholic commented on #1506
Thanks for your concern to Koalas :)

[2020-05-19 03:14] Tokkiu opened #1513 "read_csv parse column error when value contains comma"
I have a CSV file for example:
(I need to use double quotes to specify a json str)

name,text
ary,"{""k1"":""a1"",""k2"":""a2""}"
alice,"{""k1"":""a3"",""k2"":""a4""}"

When using pandas, it works perfectly.
But when moved to koalas, using ks.read_csv().
this file would be recognized to:

name, text
ary,'{"k1":"a1"
alice,'{"k1":"a3"

The rest part of 'text' column is missing.

I think this should

[2020-05-19 03:53] HyukjinKwon commented on #1513
Hm, I think that behaviour is technically undocumented in pandas side because it says `escapechar` is `None` by default. You can work around as below:

[code]

[2020-05-19 03:55] #1513 closed

[2020-05-19 04:09] beobest2 opened #1516 "subset parameter in DataFrame.replace"
[code]

@HyukjinKwon
When I tried adding the above test to the test case, I found that pandas does not support the `subset` parameter. So when I looked into the old version, pandas didn't support the `subset` parameter from the beginning. I found that the current `replace` parameter matches the spark `replace`. So, what are your thoughts on deleting a `subset` from Koalas for pandas?

ref>

[panda

[2020-05-19 04:19] HyukjinKwon commented on #1516
Seems like that parameter was added to address https://github.com/databricks/koalas/pull/495#issuecomment-505129634 issue. The current `DataFrame.replace` seems incomplete.

Can we support `dict` and `list` in `to_replace`? Then I think we can remove it.

[2020-05-19 05:38] beobest2 commented on #1516
I will check if `to_replace` support  `dict` and 'list'

[2020-05-19 11:27] hopitas commented on #1417
Same here.

[2020-05-20 11:53] itholic opened #1520 "np.nan unexpectedly cast to None when Series has only np.nan."
When create `Series` which contains only `np.nan`, it unexpectedly cast to `None` like the below.

[code]

but pandas,

[code]

Is it a bug or intended?

[2020-05-20 17:03] HyukjinKwon commented on #1520
Hm, I can't reproduce in my local:
[code]

[2020-05-21 00:48] itholic commented on #1520
Ah? here is my environments below.

[code]

[code]

I have two environment for Koalas, and this bug is occurred in both

Could you share you environment if you don't mind?

[2020-05-21 05:40] Callum027 opened #1523 "Apply Spark Column operations directly on a Series"
On issue #1492, I noticed it was noted the following operation was possible on a column of a Koalas `DataFrame`:
[code]

By any chance, is there currently a way to apply Spark SQL/Column functions to a Koalas `Series`? I can imagine it looking something like so:
[code]

[2020-05-21 07:00] itholic commented on #1523
Hi, @Callum027 . Thanks for the attention to the Koalas :)

Unfortunately, I think there is no way to apply Spark function to the `Series` directly for now.

we can brutally workaround using `to_frame()` like the below:
(I guess maybe you already know this way and might not be an exactly way what you want)

[code]

@HyukjinKwon , @ueshin Could you look at this when available if there is any other

[2020-05-22 02:13] HyukjinKwon commented on #1523
Maybe we should have a method called something like `spark_apply` in both DataFrame and Series ..

[2020-05-22 02:18] Callum027 commented on #1523
So something like this?
[code]
I think that's a great idea, and would solve what I'm trying to do without having to convert the DataFrame (or worse, a Series...) to a Spark DataFrame.

[2020-05-22 02:31] itholic commented on #1523
Looks cool. or maybe like this?

[code]

or

[code]

[2020-05-22 05:09] Callum027 commented on #1523
If there would be no efficiency issues resulting from calling `spark_apply` (or really, `sdf.withColumn` or whatever it is behind the scenes) multiple times, then either (or both!) seem like a good format to go with!

[2020-05-22 09:48] Callum027 commented on #1523
I think something like this would be great as well, if possible? Just throwing ideas out there.
[code]

[2020-05-22 11:29] HyukjinKwon commented on #1523
I opened a PR. The idea is basically to collect everything related to Spark itself to `.spark` namespace. This specific issue could be worked done via:

[code]

Given that the current APIs in Pandas such as `Series.transform`, `Series.apply`, `DataFrame.apply`, `DataFrame.transform`, etc, I named it `Series.spark.transform` and made the usage similar. Also, it shares the same limitation.

[code]

[2020-05-24 01:41] Callum027 commented on #1523
Does that include the limitation where the output has to be the same type as the input? I'm planning on using it to tokenize a string into a list of strings, so if there was a way to be able to use a function that produces a type that is different to the input, that would be really great.

[2020-05-24 06:14] HyukjinKwon commented on #1523
That one will have to be an API called `apply`. Let me take a look for that case as well.

[2020-05-24 07:45] Callum027 commented on #1523
I saw #1535 and thought I should elaborate on what I was wanting to do.

Say I have a UDF called `tokenize`, that takes in a string and turns it into a list of token strings:
[code]

So given an input like this:
[code]

I would want the following output:
[code]

This operation would change the type of the data, but since it does an operation on the values themselves without removing or adding anyt

[2020-05-24 08:14] HyukjinKwon commented on #1523
Ah, ^ this case will work with `kser.transform`. What I meant of the length is the size of the whole series instead of each value.

[2020-05-24 08:15] HyukjinKwon commented on #1523
tada

[code]

[2020-05-24 08:17] HyukjinKwon commented on #1523
Let me leave it per https://github.com/databricks/koalas/pull/1530 then ..

[2020-05-24 08:17] #1523 closed

[2020-05-24 08:19] HyukjinKwon commented on #1520
Maybe it's because I use the latest of Spark 3.0.0.

[2020-05-24 08:25] Callum027 commented on #1523
Thanks for getting this done so quickly, @HyukjinKwon ! I really appreciate the effort!

[2020-05-24 22:36] itholic commented on #1520
@HyukjinKwon A ha, thanks for the information! Then I think we should fix this before migrate to Spark 3.0.0.

[2020-05-26 04:41] vsriram11 commented on #1016
@HyukjinKwon  would you consider re-opening? I'm actually having the exact same issue. The problem seems to be with ks.to_datetime() internals - it fails with a "pyarrow.lib.ArrowTypeError: an integer is required (got type Timestamp)" if trying to turn the koalas dataframe into a pandas dataframe, or even when performing other operations that require python collection like count().

I worked aroun

[2020-05-26 04:52] itholic commented on #1016
Hi, @vsriram11 . Thanks for the report an issue !
Could you show an example code for us to reproduce this issue and solve it ? :)

[2020-05-26 05:10] HyukjinKwon commented on #1016
@vsriram11, feel free to open new ticket with the reproducible steps.

[2020-05-27 12:27] beobest2 commented on #1516
I have checked Koalas support `dict` and `list` in `to_replace`
It works fine. May I delete `subset` parameter?

[code]

[2020-05-27 13:23] HyukjinKwon commented on #1516
Yep, please go ahead

[2020-05-27 13:41] deba46 opened #1542 "Implement Pandas rolling window with options such as center,min_periods, win_type etc"
For ex : Pandas code
df2 = df['xx'].rolling(window=25, min_periods=10, win_type='hamming', center=True)
in Koalas df['xx'].rolling(25) - works
Also if possible please implement apply function while using window .
Ex.  df['xx'].rolling(window=25, min_periods=10, win_type='hamming', center=True).apply(func)

[2020-05-27 18:49] thomasrockhu opened #1545 "Codecov migration to marketplace app"
Hi, Tom from [Codecov](https://codecov.io) here.

We noticed that you are using Codecov with fairly high frequency, and we’re so excited to see that! However, because you are not using our app, you may have experienced issues with uploading reports or viewing coverage information. This is due to rate-limiting issues from GitHub.

**In order to prevent any future outages, we ask that you move over

[2020-05-28 02:33] HyukjinKwon commented on #1542
Yeah, we should implement them.

[2020-05-28 13:33] achapkowski commented on #1465
For pyspark dataframes, you can register custom accessors by doing the following.  If this gets add it core, I believe it will work here too.

[code]

Then call the code:

[code]

**Usage**

[code]

[2020-05-28 14:03] HyukjinKwon commented on #1465
Seems pretty good. @achapkowski are you interested in opening a PR? Let's make sure the documentation and usage is similar or same as pandas'.

[2020-05-29 21:46] brookewenig opened #1555 "ks.sql not respecting pd.options.display.max_rows"
When running ks.sql("SELECT * from {ks_df}"), I was expecting to get a truncated output based on pd.options.display.max_rows (set to 60). However, it displayed hundreds of records as output.

Can we adjust this to use pd.options.display.max_rows to limit the number of records displayed?

[2020-05-29 22:06] ueshin commented on #1555
You can use `ks.options.display.max_rows` instead of `pd...`.
[code]

[2020-05-29 23:01] brookewenig commented on #1555
Fascinating! I didn't realize the default was so different for pandas and koalas.

ks.options.display.max_rows defaults to 1000, and pd.options.display.max_rows defaults to 60.

[2020-06-02 02:50] HyukjinKwon commented on #852
![spark_components](https://user-images.githubusercontent.com/6477701/83474582-4ddd0900-a4c7-11ea-9e98-41d39b6f4940.png)

[2020-06-03 14:16] deba46 opened #1562 "Implement resample from pandas"
Thanks in advance

[2020-06-04 02:27] HyukjinKwon commented on #1562
Should be able to via using [`DataFrame.apply_batch`](https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.DataFrame.apply_batch.html) for now.

[2020-06-04 10:38] deba46 commented on #1562
Hi, Thank you , i will give it a try

[2020-06-05 21:05] leihuang commented on #526
May I ask if you solved the problem and how? I have the same problem. Thanks!

[2020-06-05 21:30] leihuang commented on #526
So it seems it's a `matplotlib` problem, hence your closing the issue, right?

[2020-06-06 03:57] tyrinwu commented on #881
@tahervali are you working on it :P?

[2020-06-08 18:47] ueshin opened #1570 "Fix lint-python failure due to Sphinx 3.1.0."
Sphinx 3.1.0 which was published recently causes the following lint-python failure.

The upper bound was set at #1569.
We should fix the failures and remove the upper bound.

[code]

[2020-06-08 19:35] ueshin commented on #1417
Close this due to the duplication with #1562.

[2020-06-08 19:35] #1417 closed

[2020-06-11 17:06] scook12 commented on #1465
@achapkowski let me know if you're going to take this on - if not, I can take a look at it next week.

[2020-06-11 19:23] #1516 closed

[2020-06-12 01:21] HyukjinKwon commented on #1465
Please go ahead @scook12!

[2020-06-15 00:56] GCPBigData opened #1579 "Bug import"
https://colab.research.google.com/drive/1CmWY3mKhhlnLEy7G9yGAoIMORwrj3T9R?usp=sharing

import databricks.koalas as ks

ImportError                               Traceback (most recent call last)
<ipython-input-20-0376b7c81ae0> in <module>()
----> 1 import databricks.koalas as ks

6 frames
/content/spark-3.0.0-preview2-bin-hadoop3.2/python/pyspark/sql/utils.py in require_minimum_pyarrow_version()

[2020-06-15 01:03] HyukjinKwon commented on #1579
Thanks, @GCPBigData. The error is actually from PySpark side so Koalas can't control it.

[2020-06-16 10:25] #1579 closed

[2020-06-16 12:08] sebastianvermaas commented on #1492
Thank you @HyukjinKwon appreciate your taking the time!

[2020-06-18 00:52] HyukjinKwon commented on #1443
![Screen Shot 2020-06-18 at 9 51 45 AM](https://user-images.githubusercontent.com/6477701/84965259-63019b00-b149-11ea-8537-ab9a9e35802e.png)

[2020-06-18 00:57] HyukjinKwon commented on #941
This will be supported in Koalas 1.0 per https://github.com/databricks/koalas/pull/1587

[2020-06-18 00:57] #941 closed

[2020-06-18 01:03] HyukjinKwon commented on #1443
![Screen Shot 2020-06-18 at 10 03 12 AM](https://user-images.githubusercontent.com/6477701/84965839-f5566e80-b14a-11ea-84ed-9fcda6e69bcf.png)

[2020-06-18 01:12] HyukjinKwon commented on #1443
![Screen Shot 2020-06-18 at 10 11 48 AM](https://user-images.githubusercontent.com/6477701/84966301-2aaf8c00-b14c-11ea-9889-c13f0212edb7.png)

[2020-06-18 02:24] itholic commented on #1443
Cool

[2020-06-19 03:06] #1143 closed

[2020-06-19 03:06] #1307 closed

[2020-06-19 07:29] ueshin commented on #1378
All the issues mentioned above were fixed at #1592.

[code]
[code]
[code]

[2020-06-19 07:31] #1378 closed

[2020-06-19 09:04] HyukjinKwon commented on #852
![Screen Shot 2020-06-19 at 6 04 19 PM](https://user-images.githubusercontent.com/6477701/85115870-59feef80-b257-11ea-9ae9-51e5ed1b54da.png)

[2020-06-20 22:28] scook12 commented on #1465
Thanks @HyukjinKwon!

[2020-06-22 14:15] gclendenning opened #1606 "IllegalArgumentException when replacing strings in series"
First of all, koalas is awesome :)

I'm trying to extract substrings from a Series of text. However, these substrings aren't always present, resulting in "NaN" (the string not the float). I would like to convert these to np.nan or None so that I can use ks.fillna. However I get an IllegalArgumentException

: java.lang.IllegalArgumentException: requirement failed: All input types must be the same e

[2020-06-23 02:02] krazyeom opened #1607 "How to can I set it up for driver memory for pyspark on Koalas?"
When I test a sample code on [https://gist.github.com/patryk-oleniuk/043f97ae9c405cbd13b6977e7e6d6fbc](https://gist.github.com/patryk-oleniuk/043f97ae9c405cbd13b6977e7e6d6fbc)

but I've got the following error message after running the code.

[code]

I think it has only 1g memory to run pyspark for driver. I'd like to config it for more than 1g. But I cannot find a config file on Koalas. I tried t

[2020-06-23 05:33] HyukjinKwon commented on #1607
There was a similar issue answered at https://github.com/databricks/koalas/issues/632. See also https://koalas.readthedocs.io/en/latest/user_guide/best_practices.html#leverage-pyspark-apis

[2020-06-23 05:33] #1607 closed

[2020-06-23 15:29] sebastianvermaas opened #1608 "Rename changes logical plan"
Please let me know if I am doing something wrong here, but I would not expect that the `rename()` operation would redact previous operations.

[code]
everything looks good,

[code]

[code]
[code]

Once I rename the `value` column, however, it seems that the `add_months` no longer applies.
[code]

[code]

EDIT:
I receive the same result when trying to use the new `kss.spark.transform()` accessor.
[

[2020-06-23 15:37] sebastianvermaas commented on #1608
From my understanding, there is no Koalas API for the same functionality at this time?

[2020-06-23 20:05] ueshin commented on #1608
@sebastianvermaas Thanks for the report. Seems like it's a bug. I'll submit a PR to fix soon.