[2020-06-23 20:48] ueshin commented on #1608
Btw, we should not use `F.col`, which won't usually refer the corresponding Spark column in Koalas internally.
We should use `Series.spark.column` to refer or `Series.spark.transform` to convert.

[2020-06-24 00:13] #1608 closed

[2020-06-24 09:19] chi2liu opened #1611 "What does API coverage mentioned in the 1.0.0 version released reaches 75% actually mean？"
The API coverage mentioned in the 1.0.0 version released reaches 75%.
What specific classes and methods does API coverage count here?
For example, the API coverage of DataFrame class includes only public methods and attributes, not private methods？

[2020-06-24 09:48] HyukjinKwon commented on #1611
Yup, private methods are not counted, of course. There are API lists in pandas at, for example, https://pandas.pydata.org/docs/reference/frame.html.

It means the API counts in DataFrame, Series and Index which are main APIs in pandas. Other factors are not counted for simplicity. For example, plotting has 90% coverage but it wasn't counted.

[2020-06-25 01:50] #1611 closed

[2020-06-25 13:38] chi2liu commented on #1611
Thanks!

[2020-06-25 17:07] candalfigomoro opened #1612 "Provide an utility to add an increasing id column"
In pandas, adding a new column with an increasing sequential id is trivial:
[code]
so we don't need any specific function.

Koalas itself does create an increasing id when it generates a default index (see https://github.com/databricks/koalas/blob/master/databricks/koalas/internal.py#L514) but  `attach_default_index`, `attach_distributed_column` and `attach_distributed_sequence_column` methods are

[2020-06-26 01:12] Callum027 commented on #1612
Here's a way to work around it, for now:
More a workaround than anything, but here's a way to add an ID column using Spark's `monotonically_increasing_id` function that should be good enough for your use case.

[code]

[2020-06-26 21:33] ueshin opened #1614 "DataFrame.droplevel"
Implement `DataFrame.droplevel`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.droplevel.html

[2020-06-26 21:33] ueshin opened #1615 "Series.droplevel"
Implement `Series.droplevel`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.droplevel.html

[2020-06-26 21:37] ueshin commented on #1615
This will be able to be done at the same time as #1614.

[2020-06-26 21:38] ueshin commented on #1615
This might be able to be done at the same time as #1614.

[2020-06-27 05:51] lopez- opened #1616 "Implement Series.cov"
I am working on the implementation of Series.cov
Like pandas Series.cov (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.cov.html)
Related to #362

[2020-06-28 13:15] jijosg commented on #1614
I would like to work on this.

[2020-06-28 14:15] itholic commented on #1614
@jijosg Let's go! :D

[2020-06-29 03:13] HyukjinKwon commented on #1616
Thanks, @lopez-

[2020-06-29 06:22] jijosg commented on #1614
Since i am a newbie to this, please let me know if this question is not relevant.
The original implementation of droplevel refers to _get_axis(axis) method to get the level names, are we supposed to implement that method as well? I couldnt find the existing implementation of such a function. @itholic  if you could guide me forward that would be helpful.
Thanks

[2020-06-29 06:44] itholic commented on #1614
Hi, @jijosg .
I don't think we have to necessarily implement `_get_axis` for now.
Just feel free to implement method whatever you want, and I'll review it for you after then :D

[2020-06-29 14:46] Lukas012 opened #1618 "Koalas very slow compared to pandas"
Hello,

we want to use koalas. We did some tests and compared it to pandas. However, koalas was in all cases significantly slower. We tried koalas in local[32]-Mode (but the results are similar in our distributed spark cluster):

Environment:
Koalas 1.0.1
PySpark 2.4.5 (similar results with PySpark 3.0.0)

Following Code:
[code]

We made these performance comparision with koalas and pandas:
[code]

[2020-06-29 16:06] rslangham commented on #1362
@rabejens ,  any solution to this?  I am running into similar issue

[2020-06-29 19:56] ueshin commented on #1618
pandas can run much faster if the data fits within a single node, whereas Spark has an overhead of the distribution.
Could you try with larger dataset which doesn't fit within a single node? Koalas will still run with it.

[2020-06-30 17:05] Lukas012 commented on #1618
We reconstructed the code above using plain Spark 3. There was no significant difference between koalas and Spark regarding the time. However spark / koalas needed much much much more CPU resources than plain pandas (x10 - 20 in my feeling). But since this is no koalas issue, this issue is closed.

By adding more columns (strings and numbers) to the 100-million-row-dataframe and applying complexer

[2020-06-30 17:05] #1618 closed

[2020-07-01 10:30] HyukjinKwon commented on #1615
@itholic are you interested in this?

[2020-07-01 10:32] HyukjinKwon commented on #1362
Again, this isn't Apache Spark or Koalas issue. This is an issue specifically from Amazon EMR's Spark.

[2020-07-01 11:32] HyukjinKwon commented on #1618
Thanks for your input, @Lukas012.

[2020-07-01 11:42] #1465 closed

[2020-07-01 11:48] itholic commented on #1615
@HyukjinKwon Yup, I'm gonna take this one.

[2020-07-02 10:03] WestXu commented on #1477
Also missing:
`kdf.loc(axis=0)[:, 'd']`

which now raises:
`TypeError: 'LocIndexer' object is not callable`

[2020-07-03 00:22] jainayush007 opened #1626 "Plotly on koalas dataframes"
I can easily use plotly's interactive charts by below 2 lines of code:

import pandas as pd
pd.options.plotting.backend = "plotly"

However, unable to use Plotly with Koalas Dataframes. Is there a workaround or can there be an enhancement to include this feature?

[2020-07-03 02:17] #1612 closed

[2020-07-03 02:18] HyukjinKwon commented on #1626
I don't think there is an easy workaround at this moment.

[2020-07-03 08:38] jainayush007 commented on #1626
So, what is an alternative, of a visualization library which works both on pandas and koalas without needing much of code change? Visualization is an important component during EDA and Data Analysis and right now I feel this is a limitation for being able to move pandas codes to koalas.

[2020-07-03 11:41] HyukjinKwon commented on #1626
Currently the only alternative is to use matplotlib for now. I am happy to review and merge if somebody works on it in Koalas.

[2020-07-03 13:10] jainayush007 commented on #1626
I am running this on a colab environment. Unfortunately getting an interactive plot from matplotlib on colab is not supported. So, I need to get back to pandas to be able to create interactive plots.

[2020-07-06 09:38] shengjh opened #1633 "Binary operation got "AnalysisException" after doing kdf[key] = kdf[key] + 1"
Hello, I'm new to koalas and trying to process spatial data based on Series or DataFrame.

When i modify a colum in a DataFrame like code sample below, an `AnalysisException`  is raised.

**Code Sample**
[code]

**Error Output**
[code]

**Software versions**
[code]
Is it a BUG? Hope for some help.

[2020-07-06 10:20] HyukjinKwon commented on #1633
This is definitely a bug. Will take a look.

[2020-07-07 02:20] #1633 closed

[2020-07-07 06:44] #343 closed

[2020-07-07 18:56] DumbMachine commented on #1626
I'd like to work on implementing the `matplotlib` features for `plotly`, if this is a required feature.

[2020-07-07 21:04] jainayush007 commented on #1626
Thanks Ratin. Interactive visualization is the way to go in my opinion and
matplotlib has lot of limitations when it comes to that.

On Wed 8 Jul, 2020, 12:26 AM Ratin Kumar, <notifications@github.com> wrote:

[2020-07-07 21:14] ueshin commented on #1626
@DumbMachine Please feel free to go ahead and submit a PR. Thanks for working on this!

[2020-07-07 23:59] DumbMachine commented on #1626
`Plotly` backend for `pandas` currently supports:
1. `line`
2. `scatter`
3. `area`
4. `bar`
5. `box`
6. `histogram`

So I will start by implementing these.

[2020-07-08 12:02] DumbMachine commented on #1626
Small update, Made some changes to get plotly up and working. Below is a small example. If this does it, then I will open the `PR`.
![image](https://user-images.githubusercontent.com/23381512/86916108-b52e4e80-c140-11ea-828a-15206814d6a0.png)
(sorry about the image size)

[2020-07-08 16:39] jainayush007 commented on #1626
Great start! Pandas has a feature to enable a visualization library by
selection -

import pandas as pd
pd.options.plotting.backend = "plotly"

Would we be able to setup something similar for Koalas? This would also,
enable a pandas-like approach to visualization. I would think this would
keep the syntax closer and similar to pandas style of enabling and using
plotly.

On Wed, Jul 8, 2020 at 5:32

[2020-07-08 17:19] HyukjinKwon commented on #1626
Koalas support such options - https://koalas.readthedocs.io/en/latest/user_guide/options.html. We could implement this in a similar way.

[2020-07-08 17:24] ueshin commented on #1626
Awesome work!

Yeah, shall we have a conf `ks.options.plotting.backend = "plotly"` and switch the behavior to follow the pandas' usage?
FYI: the file for options is https://github.com/databricks/koalas/blob/master/databricks/koalas/config.py

[2020-07-08 20:20] DumbMachine commented on #1626
Have opened a PR. The plotting works as expected. I have tested the
1. `ks.options.plotting.backend = "plotly"`
2. `ks.options.plotting.backend = "pandas_bokeh"`

 options. Using the `options` strategy allows for compatibility with other libraries as well like `pandas_altair`.

[2020-07-09 12:14] #1614 closed

[2020-07-10 02:04] #1403 closed

[2020-07-10 13:38] lfdversluis opened #1645 "Cannot read parquet file from Pandas"
I computed some data using pandas which I wrote to a file. The df looks like this https://i.imgur.com/pxCLrUh.png
I wrote it to parquet using `plot_df.to_parquet("test.parquet", flavor='spark')`

Now when I read it in using spark, there is no issue, yet note there being one additional column which apparently pandas adds:
[code]

Now if I run `kdf = df.to_koalas()` I get
[code]

The issue looks sim

[2020-07-10 23:04] ueshin commented on #1645
You can specify the index column:

[code]

or

[code]

See also: https://koalas.readthedocs.io/en/latest/user_guide/pandas_pyspark.html#pyspark

[2020-07-13 04:34] itholic opened #1647 "Index.to_frame() seems not working properly."
[code]

The above code is working well.

But the same shape of DataFrame which is made from Index.to_frame() seems not work properly.

[code]

[2020-07-13 04:36] itholic commented on #1647
Let me fix this for completing #1630

[2020-07-13 06:49] ueshin commented on #1647
What's the problem?

[2020-07-13 08:28] itholic commented on #1647
I thought we should always manage the `data_spark_columns` and `index_spark_columns` separately because the internal Spark columns should be changed when the external Koalas columns are changed.

For example,

[code]

The above code is working well.

But the same shape of `DataFrame` which is made from `Index.to_frame()` seems not work properly.

[code]

Hmm.. but probably It seems not not problem

[2020-07-13 08:30] itholic commented on #1647
I just changed the title and description of this issue.

[2020-07-13 09:19] itholic commented on #1647
Anyway, could I have some additional question about `InternalFrame` that I often feel confusing?

Don't we need to address the values of internal Spark columns after modifying the external values ?

For example, let's say we have a `Series` like the below.

[code]

And let's modify this by filtering with `where`, and make a new `Series` named `new_kser`.

[code]

Even though the `new_kser` has the

[2020-07-13 23:27] ueshin commented on #1647
`InternalFrame` doesn't work only with `spark_frame` but with all the metadata.
The `data_spark_columns` contains all the changes since the last time `spark_frame` is created.

Even if `spark_frame` shows the values of `[1, 2, 3]`, `data_spark_columns` has the operation of `kser.where(kser < 2)`.

[code]

We always use both to show the actual values.

[code]

[2020-07-13 23:29] ueshin commented on #1647
The case of `Index.to_frame()` you mentioned above is maybe an issue of the function or `util.align_diff_frames`.
I'll take a look.

[2020-07-13 23:30] ueshin commented on #1647
Then what's blocking #1630?

[2020-07-14 09:28] itholic commented on #1647
@ueshin Oh, now It's clear for me. Thanks !! :D

[2020-07-14 10:45] #1626 closed

[2020-07-14 13:48] jainayush007 commented on #1626
Hi,
I am on Koalas 1.0.1. But unable to use the feature -
[image: image.png]

[image: image.png]

Thanks
Ayush Jain

On Tue, Jul 14, 2020 at 4:15 PM Hyukjin Kwon <notifications@github.com>
wrote:

[2020-07-14 17:46] ueshin commented on #1626
@jainayush007 This feature will be available in the next release.

[2020-07-14 18:00] jainayush007 commented on #1626
Ah I see! Do we know when would the next release happen?

On Tue, Jul 14, 2020 at 11:17 PM Takuya UESHIN <notifications@github.com>
wrote:

[2020-07-14 18:06] ueshin commented on #1626
The current target is 7/16 2020. https://koalas.readthedocs.io/en/latest/development/contributing.html#release-cadence

[2020-07-15 07:28] xiaocai2333 opened #1651 "Fillna doesn't get the correct result when arg "method" is "ffill"."
Fillna the method of Koalas Series  doesn't get the correct result when method "ffill" not work.

After I execute fillna with method "ffill", print the whole result, it is right. But when I print the value which is filled, it is None.

example:
[code]

I think r1[2] and r2[2] should be "John", but I got "None".

[2020-07-15 11:29] Lukas012 opened #1652 "StackOverflowError when using ks.append"
[code]

While invoking .count() following exception occurs:
[code]

Why do I get a stackoverflow exception? On my spark worker nodes there is enough Memory. It seems to me, that the driver memory is the limit, but I don't understand why it does not execute the .append on the workers?

[2020-07-15 17:30] boatcoder opened #1653 "Tutorial notebook isn't loading right now"
Says to check for logs, but that window/panel is blank.

Really interested in kicking the tires....

I've tried it twice and gave the first one 30 minutes (because I was in a meeting) and it never got initialized.

[2020-07-15 17:46] ueshin commented on #1653
Do you mean [this one](https://mybinder.org/v2/gh/databricks/koalas/master?filepath=docs%2Fsource%2Fgetting_started%2F10min.ipynb)?
It actually seems working in my end.

[2020-07-15 17:56] #1653 closed

[2020-07-15 20:35] ueshin commented on #1651
@xiaocai2333 Thanks for the report! I submitted a PR #1654.

[2020-07-15 20:54] #1615 closed

[2020-07-15 21:47] hvardhan20 commented on #881
Hey, I'd like to work on this.

[2020-07-15 21:53] ueshin commented on #881
@hvardhan20 Please go ahead, thanks!

[2020-07-16 03:59] shengjh opened #1657 "How to create a DataFrame with column name case-sensitive"
Hello, I find it is not easy to create a case-sensitive columns  DataFrame.
[code]
I googled this error and i should to set pyspark option `spark.sql.caseSensitive=true`.
So I tried `ks.set_option`, but it failed by `_check_option`.
Is there any way to set pyspark option? Or how to create a case-sensitive DataFrame?

[2020-07-16 04:03] HyukjinKwon commented on #1657
Case sensitivity is not properly supported yet. There's a Spark configuration to enable `spark.sql.caseSensitive` but this is strongly discouraged for many reasons.

I think we should document that case sensitivity is not recommended, and users could turn on  `spark.sql.caseSensitive` if they should use on their own risk.
https://koalas.readthedocs.io/en/latest/user_guide/best_practices.html#do-no

[2020-07-16 04:03] HyukjinKwon commented on #1657
@shengjh are you interested in submitting a PR to document this in https://koalas.readthedocs.io/en/latest/user_guide/best_practices.html#do-not-use-duplicated-column-names?

[2020-07-16 04:08] itholic commented on #881
@hvardhan20  😺 👍

[2020-07-16 04:32] shengjh commented on #1657
Yes, glad to do this.

[2020-07-16 04:56] #1651 closed

[2020-07-16 13:33] #1657 closed

[2020-07-17 19:38] DumbMachine opened #1661 "Simplify the Plot Assessors"
Current `plot` accessors have separate implementations for both `Series` and `DataFrame` despite having a very similar API structure.  Since there exist separate functions for both `plot_series` and `plot_frame`, a single class can handle plots for both.

I will open a PR for to solve this issue, ([cross ref](https://github.com/databricks/koalas/pull/1639#issuecomment-659824221))

[2020-07-19 23:42] polocorona opened #1663 "java.lang.IllegalArgumentException when using toPandas"
Hi! I bootstrapped an EMR 5.30.1 cluster using koalas with conda. I'm getting in a dead-end here with the following error whenever trying to convert a koalas dataframe to a pandas dataframe after computing some operations. Here's the full traceback:

[code]
any ideas on how to fix it?

[2020-07-20 02:16] HyukjinKwon commented on #1663
From a cursory look, you might need to set `ARROW_PRE_0_15_IPC_FORMAT` to `1`. See https://github.com/databricks/koalas#getting-started. EMR has its own different Spark fork which might cause a problem since they have their own modified Spark fork if I am not wrong.

[2020-07-20 07:54] Tom-Deng opened #1664 "Throw an AnalysisException when displaying the results returned by the koalas series operation with numpy"
According to https://www.kaggle.com/c/ashrae-energy-prediction/overview，I want to finish the data analysis with koalas. When I operate series with numpy，the returned result can not only be displayed but also calculated.

![image](https://user-images.githubusercontent.com/17919002/87913166-31aa2100-caa1-11ea-8108-d594c3e54f46.png)

full code：
[input_less.tar.gz](https://github.com/databricks/koalas

[2020-07-20 08:44] Tom-Deng opened #1665 "Throw an PythonException when displaying the results returned by the koalas dataframe operation with iloc"
According to https://www.kaggle.com/c/ashrae-energy-prediction/overview，I want to finish the data analysis with koalas. When I operate dataframe with iloc，the returned result can not only be displayed but also calculated.

![image](https://user-images.githubusercontent.com/17919002/87917546-bac45680-caa7-11ea-956c-2e84bac266c0.png)

full code：
[input_less_dataframe.tar.gz](https://github.com/datab

[2020-07-20 14:20] polocorona commented on #1663
Thanks @HyukjinKwon `ARROW_PRE_0_15_IPC_FORMAT` is actually set to 1.

[2020-07-20 14:44] FredericJames opened #1666 "df.to_parquet doesn't create partitions"
My environment: Databrick platform: runtime 7.0 ML
Koalas: 1.0.1

I'm trying to write parquets from a koalas dataframe to S3 with partitions. The partitions are not created (I tried with a single or multiple partition cols).
If I'm using the pyspark API, the partitions are created.

code:
no partition created
df.to_parquet(path='s3://{bucket}/{Path_to_data}, mode='overwrite', compression='gzip', p

[2020-07-20 16:22] polocorona commented on #1663
Solved it! I downgraded pyarrow to 0.14.1 (previously using 0.17.1) version and it worked!

[2020-07-20 16:22] #1663 closed

[2020-07-20 19:57] ueshin commented on #1664
This error must be fixed in Koalas 1.1.0. Could you try it with 1.1.0 again? Thanks!

[2020-07-20 22:36] ueshin commented on #1666
Seems like it's a bug.
Could you use `DataFrame.spark.to_spark_io` as a workaround?

[code]

I'll work on fixing this.

[2020-07-21 00:27] ueshin commented on #1666
I submitted a PR #1667.

[2020-07-21 01:07] FredericJames commented on #1666
Thank you. I'll wait the fix. It's mainly for my data scientist and I 'd like to keep it simple for them.
I'll use the pyspark api until then.

[2020-07-21 01:43] itholic commented on #1663
@polocorona Thanks for the sharing :D

[2020-07-21 02:17] Tom-Deng commented on #1664
Good job. This problem has been fixed in Koalas 1.1.0
![image](https://user-images.githubusercontent.com/17919002/88005190-5c48b800-cb3b-11ea-8c1b-c0b6a088e5ce.png)

[2020-07-21 02:17] #1664 closed

[2020-07-21 07:23] HyukjinKwon commented on #1665
Can you show the full exception message?

[2020-07-21 13:57] #1666 closed

[2020-07-21 19:07] ueshin opened #1670 "Remove the upper bounds for numpy and matplotlib."
So far pandas sets upper bounds for `numpy` and `matplotlib`.
Let's see how pandas handles the upper bounds.
https://github.com/pandas-dev/pandas/blob/master/requirements-dev.txt

[2020-07-22 08:29] CaoTianze opened #1673 "Is DataFame have union or some equivalent method?"
In **pyspark.sql.DataFrame**, it have 3 methods : union, unionAll, unionByName.But i can't find some equivalent method in databricks.koalas.DataFrame.

[2020-07-22 09:14] Tom-Deng commented on #1665
All the error messages in the attachment.

---------------------------------------------------------------------------
PythonException                           Traceback (most recent call last)
~/miniconda3/envs/blackhole_qatest0507/lib/python3.6/site-packages/IPython/core/formatters.py in __call__(self, obj)
    700                 type_pprinters=self.type_printers,
    701                 defer

[2020-07-22 11:45] Tom-Deng opened #1674 "Upgraded koalas and Spark, the same datasets but out of memoy"
Dataset: https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/HG7NV7

We used the 2005, 2006, 2007 dataset. The size of these datasets are about 2GB.

In the same configuration，when we handle these datasets with koalas 0.32 and spark 2.4.4, the resut is nomal.
![image](https://user-images.githubusercontent.com/17919002/88172197-2a2a7980-cc53-11ea-8866-8ba341c48c6d.png)
When we

[2020-07-22 12:17] lfdversluis commented on #1645
Forgot to comment.

Your suggestion indeed works. I think this is something that koalas (by design) cannot pickup upon automatically? It's not a big deal, but it in code it might appear a bit as a "magic" index name. On the other hand, the one that output the pandas dataframe could've exported it without that index as well, so that would be a counter argument.

Feel free to close this one if you'd

[2020-07-22 14:44] #1673 closed

[2020-07-22 14:45] CaoTianze commented on #1673
concat is the solution

[2020-07-22 15:52] ueshin commented on #1645
Actually parquet files output by pandas have a metadata on which columns should be indices.
Do you want to work on picking up the metadata automatically?

[2020-07-22 16:18] ueshin commented on #1645
For the case when you do `spark.read.parquet("test.parquet").to_koalas()`, we can't pick up automatically since Spark DataFrame doesn't have such metadata.

[2020-07-24 02:57] HyukjinKwon commented on #1674
Looks like your Spark version was also upgraded to Spark 3.0. Does the same error happens even with Spark 2.4?

[2020-07-24 02:59] HyukjinKwon commented on #1665
Looks like this is the same issue with https://github.com/databricks/koalas/pull/1641. Does the same issue happens when you use a different default index type?

[2020-07-25 15:44] polocorona opened #1676 "toPandas at /home/hadoop/conda/lib/python3.7/site-packages/databricks/koalas/internal.py:743 job gets stucked"
I'm trying to preview a small ks.Series generated after this:

[code]

This is a test with 100 items. And still, the toPandas job simply doesn't finish up when I execute `test_series`.

This is my koalas configuration:

[code]

`ARROW_PRE_0_15_IPC_FORMAT` is set to 1 in the spark-env file.

Any help?

[2020-07-26 04:02] itholic commented on #1676
Could you show me a full code or schema of `target_users` and `get_user_conversions_feature_nunique` if available ?

[2020-07-27 06:15] Tom-Deng commented on #1665
I don't quite understand what you mean. What is a different default index type?

[2020-07-27 12:22] HyukjinKwon commented on #1665
Please take a look at https://koalas.readthedocs.io/en/latest/user_guide/options.html#default-index-type

[2020-07-28 23:26] harnalashok opened #1679 "Unable to install koalas on lubuntu--segmentation fault"
On ubuntu, I have no problem in installing koalas and invoking the library as:

`import` databricks.koalas as ks

But, on lubuntu (version 18, 64bit), lightweight brother of ubuntu, conda installation is successful. But when I open ipython and call koalas as above, ipython breaks and I get a message of 'Segmentation fault'. I have tried to install koalas through pip also but to no avail.  I have t

[2020-07-28 23:33] ueshin commented on #1679
Could you share the error detail or the screen shot which shows the whole error message?
Also, what if `import pandas` or `pyarrow` or `pyspark`?

[2020-07-29 02:43] ueshin opened #1680 "Use PyArrow 1.0.0 in CI."
Now that PyArrow 1.0.0 is available. We should add the test env with PyArrow 1.0.0.

[2020-07-29 06:05] HyukjinKwon commented on #1652
I think this is a typical issue of self-appending multiple times:

[code]

this kind of pattern doesn't work very well at Spark in general.

[2020-07-29 18:13] paulochf opened #1684 "ValueError: no signature found for builtin type <class 'dict'> when trying to create object column with dicts"
Hello!

I'm trying to get the same results as I would have with a pandas DataFrame, but I got this error instead.

Is it expected? Any chance to get this working with koalas in the future using an official way?

I'm using
pandas 1.1.0
koalas 1.1.0
spark 2.4.5

Thanks!

[code]

[2020-07-30 01:21] #1680 closed

[2020-07-30 02:40] HyukjinKwon commented on #1684
I believe you can do it as `df.apply(lambda *a, **kw: dict(*a, **kw))` for now.

[2020-07-30 02:40] HyukjinKwon commented on #1684
But Koalas does not support the nested type yet. You might have to flatten the data for now.

[2020-07-30 04:26] itholic opened #1685 "Matching behavior with pandas 1.1.2"
There are several behavior changing in pandas 1.1.0.

Koalas should follow those changes.

I roughly listed up the APIs which Koalas should follow as below.

- [x] DataFrame.truncate
- [x] AtIndexer with MultiIndex
- [x] GroupBy.nunique
- [x] Index.monotonic
- [x] GroupByRolling.max
- [x] GroupByRolling.mean
- [x] GroupByRolling.min
- [x] GroupByRolling.std
- [x] GroupByRolling.sum
- [x] GroupByRo

[2020-07-30 04:28] itholic commented on #1685
I'll open the PR to manage them.

[2020-07-30 06:15] nitishsinghal29 opened #1687 "Warnings while running Koalas operations in python environment"
I gave it a try using koalas for my Data Science project and implemented couple of usecases using koalas api. When I try running these logic in my python environment, it gives couple of warnings, as below:
[code]

But when I run the same logic on my spark cluster it works fine without any warnings which is expected.
I am wondering is it something that I need to take care of setting some options wh

[2020-07-30 06:20] HyukjinKwon commented on #1687
[code]
this is from Hadoop.

[code]

these are from Spark. I think these warnings go away when you run it in a cluster as you said. In local, I think you can just ignore in general.

[code]

this warnings can be removed when you change default index in Koalas, see also https://koalas.readthedocs.io/en/latest/user_guide/options.html#default-index-type

[2020-07-30 06:20] #1687 closed

[2020-07-30 21:23] ueshin commented on #1053
I'll take this.

[2020-07-31 03:54] #1684 closed

[2020-07-31 09:36] luistelmocosta opened #1690 "reset_index is super slow"
Hello, I am trying to load a dataset that does not have a particular index and I would like to know if my approach is correct.

I read that due to koalas index issues we should always specify the index, so I did it like this:

`df = df_tmp.to_koalas(index_col = ['A', 'B'])` since A and B are the columns that make a value unique.

However I need to drop the index because I will need these columns f

[2020-08-01 10:59] harnalashok commented on #1679
I am attaching three screen shots. Segmentation fault occurs when I call pyarrow. The first screen shot is the successful installation of koalas. IInd screenshot is regarding segmentation fault in ipython and IIIRd when I call pyarrow in pyspark.  Thanks.

![2020-08-01-161836_1024x768_scrot](https://user-images.githubusercontent.com/47495816/89100327-d3236200-d413-11ea-834f-55040ff3c10f.png)
![202

[2020-08-01 15:51] ueshin commented on #1679
Could you try with the higher version of pyarrow, like `0.14.1` if the underlying Spark `<3.0` or `0.15` or higher if Spark `>=3.0` ?

[2020-08-02 04:57] HyukjinKwon commented on #1690
I think the root cause is that we don't support the assignment of index to the columns. I will make a quick fix.

[code]

[code]

[2020-08-02 12:43] harnalashok commented on #1679
This time I created a virtual environment for koalas as mentioned in the installation. pyarrow version installed was 1.0.0. Other software installed are:

Downloading and Extracting Packages
readline-8.0         | 281 KB    |
libutf8proc-2.5.0    | 85 KB     |
pyparsing-2.4.7      | 60 KB     |
libgcc-ng-9.3.0      | 8.2 MB    |
gflags-2.2.2         | 114 KB    |
libev-4.33           | 105 KB    |

[2020-08-03 02:42] #1053 closed

[2020-08-03 03:10] HyukjinKwon commented on #1679
Looks like an issue in PyArrow. It might be best to report in their repo.

[2020-08-03 03:10] #1679 closed

[2020-08-03 18:45] ueshin commented on #1690
I'm fine with the fix at #1696, but I'm not sure it will solve the issue here.

If the index after `reset_index()` needs to be sequential values, it won't fix.
In that case, attaching `distributed-sequence` default index could still be heavy. Cache could be helpful:

[code]

If the index after `reset_index()` doesn't care the values, you can just use `distributed` default index when resetting.

[c

[2020-08-04 01:35] #1690 closed

[2020-08-04 05:58] #1645 closed

[2020-08-04 18:19] ueshin commented on #1476
FYI: for the read path, it was resolved at #1695.

[2020-08-05 08:30] Tom-Deng commented on #1665
When I set compute.default_index_type to distributed-sequence， this problem no longer recurs.
![image](https://user-images.githubusercontent.com/17919002/89390127-e0ed2600-d738-11ea-94b3-c0953391e0e5.png)
![image](https://user-images.githubusercontent.com/17919002/89390144-e77b9d80-d738-11ea-8bca-949d8227d50f.png)

[2020-08-05 08:31] Tom-Deng commented on #1674
It may be the influence of resources. When the current resource is determined to be exclusive, the problem does not recur.

[2020-08-05 08:31] #1674 closed

[2020-08-05 10:57] HyukjinKwon commented on #1665
Thanks @Tom-Deng for confirming this.

[2020-08-06 03:33] nitishsinghal29 opened #1700 "Missing offset implementation in rolling function"
I am trying to use rolling function with offset value, like we can do following in pandas:

This works:
[code]
Now If I try to do the same using koalas with offset, It does not work:
(using koalas 1.1.0)
[code]
Documentation says, window parameter can be an `int, or offset`. But doesn't look like the case.
https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.DataFrame.rolling.ht

[2020-08-09 13:15] harnalashok commented on #1679
The problem is solved at this [link](https://issues.apache.org/jira/browse/ARROW-9655?filter=-2).

[2020-08-10 15:51] #1652 closed

[2020-08-10 15:51] Lukas012 commented on #1652
Ok. So I close.

[2020-08-11 11:43] Tom-Deng opened #1706 "How to automatically generate the rst format files same with docs'"
In the source code，the rst format files like this：
![image](https://user-images.githubusercontent.com/17919002/89893192-7d686a00-dc0a-11ea-95b8-fdb971576b12.png)
But generate locally like this：
![image](https://user-images.githubusercontent.com/17919002/89893383-cf10f480-dc0a-11ea-9777-e6224ab42481.png)
How to automatically generate the rst format files same with docs'？

[2020-08-11 11:57] #1665 closed

[2020-08-11 15:39] kumarvc commented on #371
I am also facing similar issue. What was the fix to resolve this issue?

[2020-08-11 19:21] LucasG0 commented on #1007
Hi, pandas 1.1.0 recently added a `dropna` parameter in order to allow groupby on null keys.
By default (True), null keys are dropped, and it has pyspark behavior when set to False.
I think it would be interesting to add it to koalas dataframe `groupby` method.
May i work on it ?

[2020-08-11 19:58] ueshin commented on #1706
I'm not quite sure what you want.
The docs in the reference folder are not automatically generated but manually managed.

[2020-08-11 20:03] ueshin commented on #1007
@LucasG0 Awesome, please go ahead! Thanks!
cc @itholic as working on pandas 1.1 support

[2020-08-11 22:29] itholic commented on #1007
Thanks, @LucasG0 .
And thanks for the notice, @ueshin

[2020-08-11 22:35] itholic commented on #1706
Hi, @Tom-Deng .
In my case, my local document list are not really different from the origin one.

![스크린샷 2020-08-12 오전 7 31 55](https://user-images.githubusercontent.com/44108233/89955425-f0ef9300-dc6d-11ea-857f-f92133e261c3.png)

Could you try `../../dev/lint-python` which includes `sphinx-build` for Koalas rather than `sphinx-apidoc -o reference` manually ??

[2020-08-12 06:17] itholic commented on #1679
Thanks for the sharing, @harnalashok

[2020-08-12 19:01] #1661 closed

[2020-08-13 09:03] Tom-Deng commented on #1706
In other words，the files in the rst format under the reference folder are all manually written, not generated by the sphinx-apidoc tool?

[2020-08-13 09:09] Tom-Deng commented on #1706
Thank you very much. I tried to execute it, but I can see that the rst file under the refrence folder is not generated, but the existing rst file is used directly to generate the document. How did you solve this problem like 'no module named databricks.koalas.mlflow.PythonModelWrapper'.
![image](https://user-images.githubusercontent.com/17919002/90116018-7a46b880-dd87-11ea-8f0d-c876f9037572.png)

[2020-08-13 12:58] HyukjinKwon commented on #1706
Looks like it's because `matplotlib` wasn't installed probably. Can you upgrade `matplotlib` in your local, and try again?

[2020-08-13 15:06] akifcakir opened #1709 "How to apply a function includes a class inside ?"
Hi all , I am trying to scale the my computation with koalas (instead of pandas). I have a class and I try to apply one of the function from the class on a dataframe two columns. With pandas df it works as expected, but when I do with koalas df, it throws the error
```Could not convert <__main__.XYZ object at 0x7f7746dfbef0> with type XYZ: did not recognize Python value type when inferring an Arro

[2020-08-13 18:27] ueshin commented on #1709
Koalas doesn't support the custom type as a return type from UDFs. How about:

[code]

[2020-08-14 07:45] akifcakir commented on #1709
@ueshin thanks a lot for your answer, with this approach it completes the job in example notebook and my original case.

![image](https://user-images.githubusercontent.com/27499720/90224264-b02f7f80-de0f-11ea-8032-f1d31d6cd732.png)

Nevertheless when I tried to run df.head() in original case, **I am getting that error in below with a warning**. I tried with `spark.conf.set("spark.sql.execution.arr

[2020-08-14 16:55] nitishsinghal29 opened #1710 "Docs Update: pivot_table does not have columns concatenated by “_”"
As per the docs for pivot_table (v_1.1.0): https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.DataFrame.pivot_table.html#databricks.koalas.DataFrame.pivot_table

I was trying to get the pivoted dataframe with final columns concatenated by “\_” as the docs says in `aggfunc` parameter documentation. But the final dataframe has the multilevel columns instead of concatenated by “_

[2020-08-14 21:28] ueshin commented on #1710
Thanks for the report! I submitted a PR to remove the outdated description (#1711).
Unfortunately, the behavior that the final columns are concatenated by “_” in the pivoted dataframe is not supported now.

[2020-08-14 21:40] ueshin commented on #1709
As per the error message, I guess you are using DBR 6.x.
If so, you should do `spark.conf.set("spark.sql.execution.arrow.enabled", "false")` instead of `spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "false")` if you want to disable Arrow optimization.

[2020-08-14 23:54] #1710 closed

[2020-08-15 07:41] akifcakir commented on #1709
Thanks for the answer,

I tried with `spark.conf.set("spark.sql.execution.arrow.enabled", "false")` and it run after 38 min it crashed with the error in below. Also it scaled up to 8 worker during the run.

![image](https://user-images.githubusercontent.com/27499720/90307880-f271c300-deda-11ea-84df-34cdaaee5a1f.png)

org.apache.spark.SparkException: Job aborted due to stage failure: Task 51 in sta

[2020-08-17 06:49] dgreenshtein commented on #1362
I am running the same setup, the only difference I am using emr-5.30.1. All works as expected.

[2020-08-19 22:40] LucasG0 commented on #881
Hi, I may need this functionnality for #1007 so I started working on this.
While testing, I saw that `assertPandasEqual` compares pandas series using `(left == right).all()`, which fails to compare two identical series containing NaNs. Is this intended ? I noticed pandas dataframes are compared using `equals()`.

[2020-08-19 23:49] ueshin commented on #881
Sure, please go ahead!
For the testing, that's a good point. Let me try to change it to use `equals()`.

[2020-08-20 21:59] LucasG0 opened #1717 "DataFrame reindex(fill_value) fails when containing NaNs"
In pandas we have :

[code]

But with koalas :

[code]

All NaNs are replaced why only those inserted by new index values should be replaced.

Also, I think the parameter `copy` introduces an extra copy around line 7808.
One should copy here only if no copy was performed before.

I am working on this issue.

[2020-08-21 08:53] fujikosu opened #1720 "Does koalas groupby preserve the order appeared in the original dataframe like pandas?"
I'm implementing a function which groups dataframe and sort in each group with a key in descending order and then pick top k records from each group. There is no sorting function which works on groupby-dataframe so I applied sort_values first and then groupby. The function would look like this.

[code]

pandas doc says that groupby preserves the order like this below so the function above works fo

[2020-08-24 18:59] ericbugin opened #1724 "Koalas read_json cannot read json when Pandas can"
[code]

[2020-08-24 23:22] ueshin commented on #1724
The first parameter `path` must be the file path in Koalas ([databricks.koalas.read_json](https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.read_json.html)).
You can use pandas and covert it to Koalas.

[code]

[2020-08-24 23:30] ericbugin commented on #1724
Im aware of the roundabout way. I am more interested in not being reliant on Pandas when working on Spark.

[2020-08-24 23:31] ueshin commented on #1720
Note that, for groupby-head case, the row order within each group will be preserved.

[2020-08-25 03:21] HyukjinKwon commented on #1724
Currently we don't have a plan to support http scheme. We could alternatively parse the url inside the Koalas and falls back & leverages pandas to create a Koalas DataFrame.

My only concern is that, http scheme isn't really for large dataset in general. It won't really be able to load it in a distributed manner and if the file is big, it will just throw an out of memory exception.

[2020-08-25 14:50] thehomebrewnerd opened #1726 "Key order not maintained on merge"
If I am reading the[ ks.merge docs](https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.DataFrame.merge.html#databricks.koalas.DataFrame.merge) correctly, if I perform an inner merge, the order of the left keys should be maintained:

[code]

However, this seems to not be the case:

[code]

The `id` column order does not match the original sequential order in the left dataframe.

[2020-08-26 04:08] HyukjinKwon commented on #1726
I think we should fix the doc. the order is not guaranteed in general.

[2020-08-26 11:13] #1717 closed

[2020-08-26 20:17] applecool opened #1729 "Koalas doesn't work with spatial dataframes"
Hi,

I work with spatial dataframes which are created using the geopandas library. As the spatial dataframes contain geometries, they can get pretty massive. It would be awesome if Koalas can support Spatial DF's. Is there any plan to support geopandas - something like  `ks.from_geopandas(spdf)` in the future roadmap?

[2020-08-26 23:55] itholic commented on #1729
Looks interesting.
Let me investigate if there is any issue applying it to Koalas.
Thanks for the suggestion, @applecool :)

[2020-08-27 03:41] HyukjinKwon commented on #1729
Let's don't add this support for now. `geopandas` itself is also a thirdparty library. We could think about leaving it as a thridparty unless there's a big needs for that.

[2020-08-27 03:41] #1729 closed

[2020-08-27 15:34] LucasG0 opened #1732 "Series(data=df, index=None) seems to be incorrectly instantiated"
Hi, I saw it is now possible to create a Series from a DataFrame without any additional index parameter.
However, I can not `print` or `sort_index` a Series which has been created in this way.
I guess the Series is incorrectly instantiated and probably other actions would fail too.

[code]

[2020-08-27 22:05] raxit65535 commented on #1317
If we convert kDF to sDF, would it add any latency ?

If we use DataFrame.to_spark_io, what would be the value in `path`.. If there any practical example for using `DataFrame.to_spark_io` with any RDBMS ?

Thanks

[2020-08-28 03:18] HyukjinKwon commented on #1317
They are virtually same except that there's a bit of overhead to handle metadata which is arguably trivial compared to execution and runtime.

`path` will have to be a URL. e.g.) `hdfs://a/b/c`.

There are examples in the documentation, see also https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.DataFrame.to_spark_io.html.

You could leverage JDBC Spark source via `DataFrame.t

[2020-08-28 03:19] HyukjinKwon commented on #1732
Can you share the full error message? Looks like you're running it in Windows, is it correct?

[2020-08-28 03:50] LucasG0 commented on #1732
Yes I am running it on Windows, I edited with full error message.

[2020-08-28 03:57] LucasG0 commented on #881
Just saw the edit, `almost=True` is fine, thanks !

[2020-08-28 04:32] HyukjinKwon commented on #1732
@LucasG0, are you able to create a pandas DataFrame and select via `df[column_name]`?

[2020-08-28 11:36] LucasG0 commented on #1732
Yes, using pandas 1.0.5.

[code]

[2020-08-28 15:34] #1726 closed

[2020-08-28 17:01] LucasG0 commented on #1732
Actually, it fails with an index parameter too.

[code]

[2020-08-28 17:07] ueshin commented on #1732
I guess, passing `DataFrame` to the constructor of `Series` is not supported?

[2020-08-29 10:21] LucasG0 commented on #1732
In deed `Series` doc does not specify that `DataFrame` can be passed as data.
But the constructor seems to handle it so I wonder if this behavior is intended.

[2020-08-29 17:57] ueshin commented on #1732
Ah, yeah, but actually the constructor taking `DataFrame` is intended for internal use so far.
What's the behavior of pandas?

[2020-08-30 15:32] LucasG0 commented on #1732
Alright, pandas does not support it either.

[2020-08-31 00:59] #1732 closed

[2020-08-31 00:59] HyukjinKwon commented on #1732
I'll tentatively resolve this ticket since pandas doesn't support either.

[2020-09-01 09:02] #1720 closed

[2020-09-01 09:02] HyukjinKwon commented on #1706
I am leaving this close per no more feedback from the author.

[2020-09-01 09:02] #1706 closed

[2020-09-01 13:52] itholic commented on #1098
@HyukjinKwon Now Spark 3.0 is released. Should we revisit ? or just leave it as it is for now?

[2020-09-01 14:04] itholic commented on #1285
I think this issue was resolved in #1617 .

[2020-09-01 14:04] #1285 closed

[2020-09-01 21:53] LucasG0 opened #1740 "DataFrame.reindex with a koalas Index parameter is not implemented"
In pandas, we have :

[code]

But it is not implemented in koalas :

[code]

It could be interesting to have this feature, I will submit a PR for this.

[2020-09-04 04:26] itholic commented on #1010
closed since it's resolved in #1712 .

[2020-09-04 04:26] #1010 closed

[2020-09-04 18:16] chengyineng38 commented on #666
I just tried to create a boxplot using `DataFrame.boxplot` but am blocked since it's not yet implemented. Is this on the roadmap of being implemented?

[2020-09-07 01:04] HyukjinKwon commented on #666
I'll resolve this ticket and file new issues for the two plot APIs not implemented yet, and then pin these issues

[2020-09-07 01:04] #666 closed

[2020-09-07 01:04] HyukjinKwon opened #1751 "Implement DataFrame.plot.hexbin and DataFrame.boxplot"
We should implement:

- [`DataFrame.plot.hexbin`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.hexbin.html#pandas.DataFrame.plot.hexbin)
- [`DataFrame.boxplot`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.boxplot.html#pandas.DataFrame.boxplot)

[2020-09-07 01:04] HyukjinKwon commented on #666
Here: https://github.com/databricks/koalas/issues/1751

[2020-09-07 12:06] #881 closed

[2020-09-10 16:37] itholic opened #1758 "Creating MultiIndex via Index class."
pandas can create MultiIndex via Index class as shown below.

[code]

Koalas also seems can do, but the type is still `Index`, not `MultiIndex`

[code]

[2020-09-10 16:42] itholic commented on #1758
Seems pandas use `__new__` when they create various kind of Index via single class. https://github.com/pandas-dev/pandas/blob/v1.1.2/pandas/core/indexes/base.py#L289-L430

Maybe we should follow this to support various of Index type with single class ??

[2020-09-10 16:45] ueshin commented on #1758
Cool. Do you want to work on it?

[2020-09-10 16:48] itholic commented on #1758
@ueshin Sure, seems interesting :)

[2020-09-11 01:38] HyukjinKwon commented on #371
This looks like an issue that you're using low Spark version (2.4) but high Arrow version. Can you try to set `ARROW_PRE_0_15_IPC_FORMAT` environment variable?

[2020-09-14 12:53] jimfulton opened #1769 "DataFrame.apply moves all data to single executor"
When trying to use apply with Spark 2.4, I get "20/09/14 06:45:37 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation." and all computation in the apply is done on a single node.

That's bad. :) It's especially bad because many (most?) Koalas users use Jupyter and can't see that this is happening because

[2020-09-14 13:10] jimfulton commented on #1769
Oh, this is occurring with Spark 3.0.1 as well.

[code]

[2020-09-14 13:15] andyvanyperenAM opened #1770 "KeyError when joining on index level"
When using the index level (multi-index) as join key, an KeyError is raised.
The multi-index originates for example from a groupby operation in previous steps.
In pandas, it is allowed to join on index keys.

example.
[code]

results in the error

[code]

Anyone else with this problem? Is it fundamendal or a bug? Possible workarounds in the first case?

Koalas version 1.2.0
OS: Windows 10
python 3

[2020-09-14 13:40] itholic commented on #1770
Thanks for the reporting, @andyvanyperenAM !
It seems like bug, let me check !

[2020-09-15 09:52] HyukjinKwon commented on #1769
This is because the default index is being used. Please also see https://koalas.readthedocs.io/en/latest/user_guide/options.html#default-index-type and https://koalas.readthedocs.io/en/latest/user_guide/best_practices.html#specify-the-index-column-in-conversion-from-spark-dataframe-to-koalas-dataframe

[2020-09-15 12:46] rsotogar opened #1775 "Unable to run df.head() after creating dummies"
Hi,

My code runs OK, but when I create dummy features from my categorical variable I get an error trying to print the results:

![Screenshot 2020-09-15 at 14 43 12](https://user-images.githubusercontent.com/59261157/93211668-d8d5cc80-f761-11ea-87db-1375c59d865c.png)

I have no idea what this means. If I ignore the fact that I cannot print my dataframe and continue,  the rest of operations run OK.

[2020-09-15 14:12] jimfulton commented on #1769
Thanks.  So doing:

`ks.set_option('compute.default_index_type', 'distributed')`

In the toy example I gave above avoids the "No Partition Defined for Window operation! " warning.

When I try to use this with a table read from Hive:

[code]

I get:

`java.lang.AssertionError: assertion failed: No plan for HiveTableRelation`

Note that I haven't even created a Koalas data frame.

In another session

[2020-09-15 18:03] ueshin commented on #1769
You have to initialized Spark first if you use a Spark session with non-default settings; otherwise Koalas tries to initialize it with default settings.

For the document, it's just to make sure the options don't affect other examples. I don't think it's related to the error.

[2020-09-15 18:09] ueshin commented on #1775
Could you share a simple example to reproduce the error?

The examples in the document seems working finely.

[code]

[2020-09-15 18:35] jimfulton commented on #1769
I did initialize spark first as shown in the first example. I just didn't show it for brevity.

[2020-09-15 19:43] ueshin commented on #1769
I see, but I'm afraid I don't see any issues so far:

[code]

[code]

[2020-09-15 20:33] ueshin commented on #1670
The upper bounds will be removed in pandas 1.2. https://github.com/pandas-dev/pandas/pull/35780

[2020-09-15 22:11] jimfulton commented on #1769
I was using Spark non-local 2.4.4. I'll try with local Hive and with Spark 3.

[2020-09-16 11:28] ntrang086 commented on #1084
So what is the plan for this issue? What should we do we empty columns so that it doesn't through such an error?

[2020-09-16 13:17] jimfulton commented on #1769
I verified that I don't get an error with local spark. 🤷

[2020-09-16 14:15] jimfulton commented on #1769
Some parting suggestions, fwiw:

- Having the default sequence type be 'sequence' is a foot gun, especially since many (most) users won't be able to see the window warnings, because Jupyter.
- `compute.ops_on_diff_frames`  is a foot gun.  Is it possible to get this right? I'm skeptical. I still don't understand how I would, at least assuming a non-sequence index.
- AFAICT, `apply` on axis 1 would

[2020-09-16 18:49] jimfulton opened #1779 "DataFrame.koalas.apply_batch seems to repartition"
I'm dealing with a case where I need to keep partitions small. If I don't, I get lots of errors relating to memory usage (exceeding memory limits, PyArrow length errors, NullPointer exceptions).

In my applicatiion, I'm repartitiing data to 800 partitions, but the output of `apply_batch` has 200 partitions.  Sometimes, repartiting that again works, but sometimes the repartioning fails (e.g. `TaskK

[2020-09-16 19:25] ueshin commented on #1779
You can control the partition number for shuffle in general by a Spark config `spark.sql.shuffle.partitions`. https://spark.apache.org/docs/latest/sql-performance-tuning.html, but I'd recommend to use Spark 3.0 where no shuffle is needed during `apply_batch`.

For `NullPointerException`, do you have any simple example to reproduce it?

[2020-09-16 19:38] jimfulton commented on #1779
Thanks! I was just looking for a setting like that.

I'm looking forward to Spark 3. :) It doesn't seem to be supported by AWS Glue or EMR.  I'm hopeful I can make it work in our on-prem cluster.

WRT NullPointer exception, no simple example, sorry.  IN the dataset I'm messing with, I got no error with 3 million records, then got the error with 4 million, then made it go away by repartitioning the

[2020-09-16 19:42] #1769 closed

[2020-09-16 21:47] jimfulton commented on #1779
Thanks, you definitely answered my question.

(The answer didn't solve my problem. My analysis seems to be off. :) I need to do some more digging on that.)

[2020-09-16 21:47] #1779 closed

[2020-09-21 05:09] #1685 closed

[2020-09-21 06:51] andyvanyperenAM commented on #1770
Thanks @itholic, I tried the bug fix in your PR and it resolves my issue!

[2020-09-21 08:11] itholic commented on #1770
Nice, @andyvanyperenAM .
Good to hear that!! 👍

[2020-09-21 08:40] rsotogar commented on #1775
`
#libraries

from pyspark import SparkConf
from pyspark.sql import SparkSession

import databricks.koalas as ks
import numpy as np

#create spark session

conf = SparkConf().setAll([("spark.driver.memory", "2g"), ("spark.master", "local"), ("spark.executor.memory", "2g"), ("spark.memory.fraction", "0.6")])
spark = SparkSession.builder.config(conf = conf).getOrCreate()

#read and cache dataset
df

[2020-09-21 08:43] rsotogar commented on #1775
I must also say that it seems to be working fine if I ommit this:

`df.loc[df["brand"] == "chevroelt", ["brand"]] = "chevrolet"
df.loc[(df["brand"] == "vw") | (df["brand"] == "vokswagen"), ["brand"]] = "volkswagen"
df.loc[df["brand"] == "mercedes", ["brand"]] = "mercedes-benz"
df.loc[df["brand"] == "toyouta", ["brand"]] = "toyota"
df.loc[df["brand"] == "maxda", ["brand"]] = "mazda"
df.loc[df["mode

[2020-09-21 21:19] #1770 closed

[2020-09-23 17:37] mwb222 commented on #1084
So one way I've been able to get around this issue, @ntrang086, is initializing the empty dataframe in Spark (with an explicit schema) and then translating to koalas.

`
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, TimestampType, NumericType, ArrayType

schema = StructType([
            StructField("a", StringType()),
            StructField("b", TimestampType()),

[2020-09-24 13:02] ntrang086 commented on #1084
@mwb222 Thanks for sharing the workaround. My use case is that: starting with a non-empty pandas dataframe, convert it to koalas and then try to use koalas functionalities. I've encountered this type of error when doing this. The issue is that when using koalas groupby on a dataframe converted from pandas, sometimes I end up with empty dataframes that are a result from the groupby call in koalas.

[2020-09-26 07:35] itholic opened #1800 "Creating Slack channel for Koalas user."
Like mlflow as below, how about Koalas also has our own Slack channel to communicate with users ?

<img width="355" alt="스크린샷 2020-09-26 오후 4 33 05" src="https://user-images.githubusercontent.com/44108233/94335337-04846c80-0016-11eb-83de-3e544f372640.png">

<img width="1279" alt="스크린샷 2020-09-26 오후 4 32 24" src="https://user-images.githubusercontent.com/44108233/94335339-05b59980-0

[2020-09-27 08:43] #1758 closed

[2020-09-28 16:47] mwb222 commented on #1084
Ah I see - I haven't run into that situation in my own work so don't know if the workaround above will help, but it might be worth a try to see if the explicit schema carries through in the background. Sorry!

[2020-09-29 10:48] amin-nejad opened #1806 "`astype()` handling of `None`"
`koalas` appears to ignore `None` values when converting the type of a `DataFrame` or `Series` using `.astype()` instead of converting them which is the `pandas` behaviour. For instance when converting to `str`, in `pandas` `None` becomes `'None'` but this does not happen in `koalas`. Example below shown by using `sorted()` which can't handle `None`:

## Example
[code]

Is there a reason for this

[2020-09-29 11:29] HyukjinKwon commented on #1806
@itholic can you take a look when you find some time?

[2020-09-29 13:42] amin-nejad opened #1807 "`fillna()` `inplace` unexpected behaviour"
When using `inplace=True` with `fillna()` on a `Series` that does not have any `na`s to fill, the entire `DataFrame` to which the `Series` belongs is replaced by the `Series`. Let me demonstrate with an example:

## Koalas example
[code]

As you can see, `data` has been replaced with `data['b']`. This is does not happen with `pandas` as shown below. Again this only happens with `inplace=True`.

##

[2020-09-30 18:39] ueshin commented on #1807
Thanks for the report! I'll handle it.

[2020-09-30 18:57] ueshin commented on #1807
As for the data type, pandas DataFrame after `fillna` contains float values (`1.0`, `2.0`) and a string value (`Missing`) in the same column, but Spark doesn't allow to have different data type values in a column, so does Koalas, which contains string values as Spark type coercion rule.

[2020-09-30 19:30] ueshin commented on #1084
@ntrang086 How about using type hints for the function you are trying to apply, assuming you are trying to use `apply` or something which take a user function?

[2020-10-01 02:38] #1740 closed

[2020-10-01 12:08] amin-nejad commented on #1807
Thanks @ueshin!

[2020-10-02 05:55] #1807 closed

[2020-10-02 07:09] jainayush007 commented on #1626
Hi,

I started using this. Seems like is a scale issue here. Here is an example -

This is the URL of the dataset - '
https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/coronavirus/corona_dataset_latest.csv
'

Koalas + Plotly -
[image: image.png]

Pandas + Plotly -
[image: image.png]

Thanks
Ayush Jain

On Tue, Jul 14, 2020 at 11:36 PM Takuya UESHIN <notifications@github.com>
w

[2020-10-02 17:34] ueshin commented on #1626
Hi, we can't see the images.
Could you upload the image somewhere we can see, and also could you elaborate what the issue is?

Btw, I guess opening a new issue would be better?

Thanks.

[2020-10-03 11:24] ntrang086 commented on #1084
The function doesn't return a single value of a specific type like str, float or int, but returns a pandas dataframe or pandas series which can be empty and this has caused the issue described above. Koalas already knows the return type is a pandas dataframe or series and has a problem "accepting" it :) . I could try it what you suggested and see how it goes but not sure it'd work.

[2020-10-03 19:20] jainayush007 opened #1817 "Plotly charts not same as pandas"
Hi,

Seems like is a scale issue on koalas plots using plotly. It doesn't show all dates while pandas plot does!

This is the URL of the dataset - 'https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/coronavirus/corona_dataset_latest.csv'

Here is an example -

Koalas + Plotly -
![image](https://user-images.githubusercontent.com/31528721/95000083-6119f580-05db-11eb-9fcf-05c0fc66

[2020-10-03 19:22] jainayush007 commented on #1626
Sure, I just created issue  #1817

[2020-10-05 04:05] itholic commented on #1806
Sure, let me take a look

[2020-10-05 18:16] amin-nejad opened #1819 "Operations on Columns of Differing Types"
I just noticed this difference between `koalas` and `pandas` when it comes to performing operations on columns of different types e.g. `int` and `str`. Pandas will throw a `TypeError` whereas `koalas` won't and will actually return something. I'm sure this isn't a bug but I wondered if there's anywhere where this behaviour is documented that I can read about? The return types seem to be a little u

[2020-10-05 20:28] ueshin commented on #1819
Some of the string operations seem bugs. Let us investigate it and submit a PR.

Regarding the sidenote, PySpark (and PyArrow) doesn't allow to have different data type values in a single column, so neither does Koalas. That's one of strict restrictions of Koalas.

[2020-10-06 11:59] kismsu opened #1825 "apply_batch does not work properly with databricks-connect"
Hi, when I run my code with pyCharm and databricks-connect on Spark 2.4.5 cluster I get
[code]
I believe this is due to the fact that in apply function
[code]
does not work as expected with databricks-connect, as pyspark.__version__ returns the version of connect package, not Spark version

[2020-10-06 12:28] maxpagels opened #1826 "ModuleNotFoundError: No module named 'databricks' when using apply_batch or apply_transform"
Hi,

I'm using Spark in client mode and I've gotten Koalas working, but the `apply_batch` method seems to indicate that koalas is missing from the executor nodes. It it really so that koalas must be explicitly installed to worker nodes? Or is it another issue / something simple I'm missing? Spark version: 2.4.3, Koalas version: 1.2.0.

Example:
[code]

Error:
[code]

[2020-10-06 12:56] Noam2710 opened #1827 "Series Boxplot"
Hey, in the Series Boxplot you show the top 1k absolute values.
However, may be some values which are fliers but don't have a big absolute value.
In my opinion, you should take the absolute value of the **difference**.

https://github.com/databricks/koalas/blob/b0e1c41389cd5ec09858cbf2a2f94ea38672a1bb/databricks/koalas/plot.py#L479-L492

I will illustrate another issue by a screen shot -

![image]

[2020-10-06 20:12] ueshin commented on #1826
Hi @maxpagels, yes, Koalas must be explicitly installed to worker nodes, as well as pandas, PyArrow, and numpy.

[2020-10-06 20:13] ueshin commented on #1827
cc @HyukjinKwon

[2020-10-06 20:40] gatorsmile commented on #1825
I think we do no plan to support it in DBConnect in the near future.

cc @juliuszsompolski @youngbink

[2020-10-07 05:56] kismsu commented on #1825
Not sure I understand what do you mean. Are you saying DataFrame.apply should not work in DBConnect, and I should move my code to the notebook every time I have apply in my code?

[2020-10-07 07:17] HyukjinKwon commented on #1827
@dvgodoy, sorry maybe dumb question. Why do we make the fliers as absolute values? I thought that we should keep their sign as is so they can be shown as proper outliners whether it is positive or negative but now it looks like they are all converted to positive absolute values? Reading the comment at https://github.com/databricks/koalas/pull/294#issuecomment-491607026, looks it was intentional.

[2020-10-07 12:25] #1806 closed

[2020-10-07 16:35] dvgodoy commented on #1827
@HyukjinKwon you and @Noam2710 are absolutely right - it was a silly mistake on my part when I implemented this. I got so concerned about limiting the number of fliers that I ended up introducing this error.

[2020-10-07 19:07] youngbink commented on #1825
@kismsu  we don't yet officially support Koalas with DB Connect (for any versions). It seems like this particular issue might be avoided with 7.1, but it could have other issues until we officially support it.

[2020-10-07 20:15] kismsu commented on #1825
Ok, I see. This is good to know. We're trying to get into 7.1 actually but have to sort out some infrastructure issues. Thanks.

[2020-10-08 02:01] #1007 closed

[2020-10-08 03:01] HyukjinKwon commented on #1827
@dvgodoy would you mind opening a PR to fix this when you find some time?

[2020-10-08 03:01] HyukjinKwon commented on #1827
@dvgodoy, thanks for confirmation. Would you mind opening a PR to fix this when you find some time?

[2020-10-08 18:22] #1819 closed

[2020-10-09 10:02] bnriiitb opened #1836 "Couldn't get day from a date"
I am trying to get **day** from a **date** column. I have seen a ticket created on a similar issue but it got closed as the creators didn't post the reproducible code.

**Environment**

[code]

**Spark Config**
[code]
**Code**

[code]

**Error Stacktrace**
[code]

[2020-10-09 19:36] sid-kap opened #1837 "Increase upper numpy version bound?"
In https://github.com/databricks/koalas/pull/1734, it looks like the numpy upper bound was lowered to `<1.19.0`. Is there something in koalas that is incompatible with 1.19.x? If not, can it be increased to `<1.20.0`?

cc @ueshin

[2020-10-10 04:56] itholic commented on #1837
Thanks for the report, @sid-kap . :)

Let me check if the tests works well on numpy `1.19.x`.

[2020-10-10 07:52] geoHeil opened #1838 "why will a single head trigger a window function?"
When reading a file, it is instant in scala API, a little bit slower in pyspark, but Koalas is very vey slow. In fact koalas is generating a whole different DAG (including a window function) for:

[code]

How can I make Koalas faster and get rid of this unnecessary window function (= I fear it is used to construct the index in pandas and do not know if it is possible to get rid of it)

![image](ht

[2020-10-10 08:01] geoHeil commented on #1838
https://github.com/databricks/koalas/issues/1028

[2020-10-10 08:08] geoHeil commented on #1838
https://koalas.readthedocs.io/en/latest/user_guide/options.html#default-index-type

After setting `ks.set_option('compute.default_index_type', 'distributed')` it is still slow and the window function is being used

[2020-10-12 02:23] #1837 closed

[2020-10-12 02:26] HyukjinKwon commented on #1838
Weird. Window should not be used in this case. can you share your full codes?

[2020-10-12 02:52] sid-kap commented on #1837
Thank you!

[2020-10-12 20:15] vkrot-exos opened #1840 "Type hints do not works for many spark types"
Type hints do not support float type and many others.
Sample code that does not work:
[code]

It throws error:
[code]

Changing `b` column type from `float` to `double` fixes this error
`strinng` columns are also not supported in this scenario

[2020-10-12 20:31] vkrot-exos opened #1841 "Return empty column name when column schema cannot be infered"
This is not an issue, but would be nice to have column name listed in exception text when some column schema cannot be inferred because of all column values are nulls.
Sample code:
[code]

There is no type hint for `f` func and all values for column `b` are nulls, thus schema cannot be inferred.
This code throws exception which is a bit confusing for new users: `ValueError: can not infer schema fr

[2020-10-12 20:34] vkrot-exos commented on #1840
temporary workaround I'm using:
[code]

I can create a PR, but is it safe always to assume `np.object` can be substituted by `str`?

[2020-10-12 21:09] ueshin commented on #1841
Hi @vkrot-exos, thanks for the suggestion!
It sounds a good idea. Would you mind submitting the PR to modify the error message?
Thanks!

[2020-10-12 21:18] ueshin commented on #1840
Sounds like we are missing some of the type mapping. I guess we can handle it in `as_spark_type` ([typehints.py#L90-L128](https://github.com/databricks/koalas/blob/master/databricks/koalas/typedef/typehints.py#L90-L128)).

For `np.object`, I'm afraid we shouldn't assume it's `str` since date type or bool type including nans or some more data types could also be `np.object`.

Would you mind submitt

[2020-10-12 21:52] ueshin commented on #1836
You should install Koalas in executors as well.
How did you install Koalas?
Also, is it possible to upgrade Databricks Runtime to version 7.1 and above as it pre-installs Koalas.

[2020-10-13 04:27] bnriiitb commented on #1836
I have installed koalas through pip and **I am able to use koalas but when I tried to get day from date then it's throwing error.**
[code]

[2020-10-13 05:05] ueshin commented on #1836
Yeah, it can work as long as Koalas doesn't use pandas UDF internally which is used in `ks.to_datetime(df.enq_dt,errors='coerce')`.
Could you follow the official [instructions](https://docs.databricks.com/libraries/index.html) to install libraries?

[2020-10-13 06:44] bnriiitb commented on #1836
I have followed the instructions mentioned on the page but no luck.

[2020-10-13 06:46] bnriiitb commented on #1836
Upgrading the runtime to a higher version fix this issue? If it's certain I can probably do that.

[2020-10-13 07:38] bnriiitb commented on #1836
It worked after upgrading the runtime

[2020-10-13 07:38] #1836 closed

[2020-10-13 22:49] ueshin commented on #1817
cc @DumbMachine Could you take a look at this when you have time?

[2020-10-13 23:51] mihirrane commented on #1817
I tried to perform read_csv() similar to pandas but I got this result
![image](https://user-images.githubusercontent.com/21999153/95927679-0fb0f980-0d85-11eb-91da-b9e03621dfab.png)

Py4JJavaError: An error occurred while calling o3673.csv.
: java.io.IOException: No FileSystem for scheme:

I would like to work on resolving this issue if it's okay.
Thanks!

[2020-10-13 23:57] mihirrane commented on #1817
I just saw the issue #1219 and I think that answers my question

[2020-10-14 04:42] #1827 closed

[2020-10-16 09:40] darshats opened #1856 "numpy.timedelta64 not supported in type hint?"
Hello,
I have a function which which I've added a type hint of type np.timedelta64. This raises :
TypeError: Type <class 'numpy.timedelta64'> was not understood.

I didnt see any callouts about this type not supported in the docs, but might have missed something! I am on koalas 1.3.0

Full stack:

[code]

[2020-10-16 18:06] ueshin commented on #1856
Hi @darshats, Thanks for trying Koalas.

Unfortunately Koalas doesn't support `np.timedelta64`, not only in type hints but as a whole, so far.
We'll add a documentation about supported types soon.

Thanks.

[2020-10-20 19:59] kaleyneufeld opened #1858 "Apply causes"
I've been trying to use 'apply' to modify a column in a dataframe. This used to work with previous versions. For example,

`df['col1'] = df['col1'].apply(lambda x: x)`
`df.head()`

causes

[code]

[2020-10-20 20:19] ueshin commented on #1858
Hi @kaleyneufeld, Could you share the reproducible example so that we can investigate? Thanks!

[2020-10-21 00:43] HyukjinKwon commented on #1858
Just my guts but I think it's because `ARROW_PRE_0_15_IPC_FORMAT` is not set (see also https://github.com/databricks/koalas#getting-started)

[2020-10-21 14:37] kaleyneufeld commented on #1858
@ueshin here is some example code:
[code]

@HyukjinKwon I just tried setting `ARROW_PRE_0_15_IPC_FORMAT` to 1 and still got the same error message

[2020-10-21 21:19] ueshin commented on #1670
I'd close this as they were removed at #1845 and #1839.

[2020-10-21 21:19] #1670 closed

[2020-10-21 21:43] ueshin commented on #1858
@kaleyneufeld Thanks for sharing it.
I tried it with Koalas `1.2.0`, `1.3.0`, and the latest master, but it's working as expected.

What are the versions of Koalas, Spark, PyArrow?

[2020-10-22 00:48] HyukjinKwon commented on #1670
Nice!

[2020-10-22 15:09] kaleyneufeld commented on #1858
@ueshin I'm using Spark 2.4.5, Koalas 1.3.0, and PyArrow 2.0.0

[2020-10-22 17:13] ueshin commented on #1858
In that case, I'd also suspect `ARROW_PRE_0_15_IPC_FORMAT` is not set properly.

Could you try:

[code]
and
[code]

Both should return `'1'`.

[2020-10-22 17:23] ueshin commented on #1858
Also, what if with an older PyArrow, like `0.14.1`?

[2020-10-26 11:05] itholic commented on #1840
Let me take a look at this one

[2020-10-27 19:55] LucasG0 opened #1872 "DataFrame.reindex does not support named columns index"
Hi, it seems currently not possible to reindex a `DataFrame` with a named columns `Index`, the new name is missing.

[code]

But in pandas :

[code]

I will submit a PR for this.

[2020-10-29 22:32] #1872 closed

[2020-11-04 08:37] vkrot-exos opened #1885 "udf schema inference should not set column nullable=false"
When udf is applied to dataframe and no return schema hint is provided - schema is infered based on data sample and makes wrong assumption about columns nullability. Looks like if all values in some column are not null - resulting schema nullable=false.
But this is a wrong assumption, cause only a sample of data was examined.
Sample code leading to runtime error:
[code]

printSchema output:
[code]

[2020-11-04 12:01] ahmedanis03 commented on #1133
Is there any workaround for this until it fixed?

[2020-11-04 12:03] vkrot-exos opened #1886 "group by index?"
Most likely I missed it in docs, but how can I groupby on index column?
Following code, which is valid for pandas, does not work
[code]

[2020-11-04 15:30] chi2liu opened #1887 "Implementing the full functionality of the 'sample' function"
The current implementation of the sample function is based on the sample function of pyspark, and the parameter n is not supported, and frac cannot be empty.

From the source code of pandas, https://github.com/pandas-dev/pandas/blob/master/pandas/core/generic.py#L5076
the implementation of the sample function relies on methods such as iloc, take and reindex. These methods are currently supported b

[2020-11-04 19:40] FK7 opened #1888 "ValueError: Cannot describe a DataFrame without columns"
Hi,

I am using koalas in Cloudera Spark 2.4.0 and when I describe dataframe, I get "ValueError: Cannot describe a DataFrame without columns".

`

databricks.koalas.frame.DataFrame

Index(['client', 'purchasing_document', 'company_code', 'purch_doc_category',
       'purchasing_doc_type', 'control_indicator', 'deletion_indicator',
       'status', 'created_on', 'created_by',
       ...
       'bud

[2020-11-04 21:48] #1840 closed

[2020-11-05 12:40] HyukjinKwon commented on #1886
Seems like a bug ..

[2020-11-05 12:42] HyukjinKwon commented on #1888
Can you show the types of your DataFrame? It's possible that your DataFrame does not have any numeric types:

[code]

[2020-11-05 12:43] HyukjinKwon commented on #1888
It works in pandas so we should probably fix too.

[2020-11-09 05:49] HyukjinKwon commented on #1133
It's WIP. `np.array[...]` or `List[...]` will be provided to work around soon.

[2020-11-09 05:49] HyukjinKwon commented on #1133
cc @itholic FYI

[2020-11-09 06:42] HyukjinKwon commented on #1885
As a workaround, you can specify the schema in the type hints (https://koalas.readthedocs.io/en/latest/user_guide/typehints.html#type-hinting-with-names) which should be more performant.

[2020-11-09 19:22] #1885 closed

[2020-11-10 07:13] itholic commented on #1133
Will work on this from now on.
Maybe we can do this like `List[...]` one.

[2020-11-12 10:19] SingleCloud opened #1907 "Function "replace" Case"
I got an unexpected result when using funciton "replace" to replace "np.nan"

         c1    c2
     0    1    inf
     1    2    -inf
     2    3    NaN

         c1    c2
     0    1    0
     1    2    0
     2    3    NaN

         c1    c2
     0    1    0
     1    2    0
     2    3    0

[2020-11-12 22:00] #1133 closed

[2020-11-13 05:01] #1826 closed

[2020-11-16 01:08] LucasG0 commented on #1907
Hi, I think it may come from the fact that `np.nan` is not equal to itself. I am interested in working on this issue if it is free. :)

[2020-11-16 02:22] itholic commented on #1907
Please go ahead, @LucasG0 ! :)

[2020-11-16 06:01] itholic commented on #1888
Let me take a look at this one.

[2020-11-16 10:24] shakirshakeelzargar opened #1915 "Koalas Dataframe Not Saving to a CSV file."
Here is my code
[code]

The error raised is:
[code]

[2020-11-16 19:13] ueshin commented on #1915
Hi @shakirshakeelzargar, Thanks for trying Koalas!

Sounds like you are missing `winutils.exe` a hadoop binary.
Could you try to install it?
https://stackoverflow.com/questions/40764807/null-entry-in-command-string-exception-in-saveastextfile-on-pyspark

[2020-11-17 03:55] #1915 closed

[2020-11-17 12:47] shakirshakeelzargar opened #1917 "Skiprows not working in case of Koalas Dataframe read_csv method"
Here is my code
[code]
I want to skip first n number of rows because actual data does not start from first row. i have some junk data in couple of top rows. Any suggestions?

[2020-11-17 12:48] shakirshakeelzargar commented on #1915
@ueshin Will I require any such file in Linux/Debian as well?

[2020-11-17 19:08] ueshin commented on #1915
@shakirshakeelzargar I don't think we need such files in Linux/Debian, AFAIK.

[2020-11-17 19:13] ueshin commented on #1917
@shakirshakeelzargar Unfortunately, Spark doesn't support such operations, and neither does Koalas, at least so far.
If the file is small enough, you can use pandas and convert it to Koalas.

[code]

[2020-11-18 12:30] shakirshakeelzargar commented on #1917
@ueshin If its a large file. What is the best way to skip n number of rows?? Only using Koalas?

[2020-11-19 05:52] itholic commented on #1917
Could you show me an example "junk data" placed at the top of 6 rows ??

[2020-11-19 08:51] shakirshakeelzargar commented on #1917
This is top 10 rows of my data
[code]
So I want to use this row(col1,col2,col3,col4) as header names and skip all rows above it. In pandas we can easily do it by passing skipwrows parameter to read_csv. But how this can be achieved in koalas?

[2020-11-20 04:42] itholic commented on #1562
Let me take a look at this one

[2020-11-21 06:44] jpoletti opened #1925 "Weird behavior with Series.map"
I have an issue with the following piece of code:

[code]
Up until this point the code runs without warnings, but if I add `print_df` to see the results, I get [this Py4j error](https://pastebin.com/ZNaDCcWD). I get similar errors when trying to see the resulting dataframe with `df` (I'm using jupyter lab) and when trying to use `df["language"].to_pandas()`

Thanks in advance.

[2020-11-23 01:57] HyukjinKwon commented on #1925
@jpoletti, can you show your data and full codes to reproduce?

[2020-11-23 03:37] jpoletti commented on #1925
Hi, @HyukjinKwon, after a lot of reading i found what seems to be the problem, together with the solution:
https://stackoverflow.com/questions/62109276/errorjava-lang-unsupportedoperationexception-for-pyspark-pandas-udf-documenta
Looks like  an issue with Arrow, PySpark and Java 11, that can be solved by adding 2 lines in `spark-defaults.conf`.

[2020-11-24 01:10] HyukjinKwon commented on #1925
Thanks @jpoletti

[2020-11-24 01:10] #1925 closed

[2020-11-24 16:30] lamesjaidler opened #1927 "Runtime differences for Koalas SQL vs Koalas dataframe methods"
Hi,

I've observed a significant difference in the runtime of similar operations when using Koalas SQL vs Koalas dataframe methods:

`import numpy as np`
`import pandas as pd`
`import databricks.koalas as ks`
`n_columns = 5`
`n_rows = int(1e6)`
`X = pd.DataFrame(np.arange(n_columns * n_rows).reshape(n_rows, n_columns), columns=np.arange(n_columns).astype(str))`
`X.columns = ['A', 'B', 'C', 'D', 'E

[2020-11-24 20:26] amueller commented on #1887
I also noticed that ``Series.sample`` doesn't support ``frac`` right now (koalas  1.4.0). Is that expected? And/or do you need a hand with implementing ``sample``?

[2020-11-24 21:49] xinrong-databricks opened #1929 "Implement Koalas Missing APIs"
Help wanted! A few popular pandas APIs are missing in Koalas. We are going to implement them!

Please use this thread to comment on which function you will be working so we don't duplicate work. Please mention this issue in your PR so that the list below can be updated.

- DataFrame
  - [ ] [cov](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.cov.html)
  - [ ] [first](

[2020-11-24 21:52] xinrong-databricks commented on #362
Hi @HyukjinKwon, since we have https://github.com/databricks/koalas/issues/1929 for tracking missing API, shall we close this issue? Thank!

[2020-11-24 22:03] ueshin commented on #1887
Hi @amueller,

Seems like `Series.sample` supports the `frac` parameter now.
- https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.Series.sample.html

For #1893, now it's stuck by a performance concern (https://github.com/databricks/koalas/pull/1893#discussion_r521869698).
Could you kindly advice us if you have a good idea?

Thanks!

[2020-11-25 01:35] itholic commented on #1927
Let me take a look at this one

[2020-11-25 01:36] itholic commented on #1927
Thanks for the report, @lamesjaidler !

Let me take a look at this one.

[2020-11-25 02:04] itholic commented on #362
+1

[2020-11-25 02:26] HyukjinKwon commented on #1927
This is likely because of default index, see also https://koalas.readthedocs.io/en/latest/user_guide/best_practices.html#use-distributed-or-distributed-sequence-default-index

[2020-11-25 04:34] itholic commented on #1927
For the first case, I'd say `X_ks.sum()` is slower than `ks.sql(sql_query)` because it performs `transpose` which is expensive for generating the result as shown below.

[code]

You can see the `transpose()` at line 671 below.

https://github.com/databricks/koalas/blob/86aa350ae3c88c72e6cbd932ccadfb249052b01b/databricks/koalas/frame.py#L663-L671

And for the second case, `ks.sql(rule_sql)` is slow

[2020-11-25 05:18] HyukjinKwon commented on #1927
If performing Koalas' `transpose` is expensive, we should switch it to pandas'. The results to transpose is small so I wonder how it makes it slow though.

[2020-11-25 15:15] lamesjaidler commented on #1927
Thanks for looking - so the culprit for SQL being faster in the first case is due to .sum() having to transpose the results from wide to long? As @HyukjinKwon says, I would've thought that process would've been quick given the size of the resulting dataset.

[2020-11-25 19:57] ueshin commented on #1927
Hi @lamesjaidler,

I'm afraid I don't think the comparison above is what you want. I can see a couple of problems there:

### the benchmarks above don't measure the execution time but the planning time

As the Koalas execution is lazy, `%timeit ks.sql(sql_query)` or `%timeit X_ks.sum()` is just creating the Koalas DataFrame, not executing any jobs.
You should use `to_pandas()` or something to meas

[2020-11-25 21:01] ueshin commented on #1927
@HyukjinKwon

I tried to use pandas' transpose:

Before:

[code]

After:

[code]

Although the planning time is not different since it needs to run a Spark job once anyway (in `pivot` or `to_pandas()`), the execution time was shorter because it can start with the transposed pandas DataFrame.

As we have more similar places to use transpose on Spark, we might want to use pandas's transpose in some

[2020-11-26 08:35] HyukjinKwon opened #1933 "Implement plots and switch the default plot backend to plotly"
I took a look for the plots not implemented for Plotly, which we can actually implement:

- [x] `DataFrame.plot.area` (https://plotly.com/python/filled-area-plots/): https://github.com/databricks/koalas/pull/1934

- [x] `DataFrame.plot.hist` (https://plotly.com/python/histograms/) #1999

    ![Screen Shot 2021-01-12 at 10 12 47 PM](https://user-images.githubusercontent.com/6477701/104318885-644e47

[2020-11-26 08:49] AishwaryaKalloli commented on #1929
Hi, I would like to help. I was planning on picking `combine_first` functionality.
Can you let me know if I can work on it. Thanks!

[2020-11-27 01:56] HyukjinKwon commented on #1929
Please go ahead @AishwaryaKalloli!

[2020-11-27 03:17] zys2017 opened #1935 "cannot import name 'pandas_udf'"
hi, my py version is 3.6.5, pyspark version is 2.2.0, but cannot import pandas_udf, do u have any advice?

thanks!

[2020-11-27 07:02] HyukjinKwon commented on #1935
The minimum Spark version Koalas supports is 2.4.x. See also https://koalas.readthedocs.io/en/latest/getting_started/install.html#dependencies

[2020-11-27 07:02] #1935 closed

[2020-11-28 22:03] xinrong-databricks commented on #1929
Certainly, thank you @AishwaryaKalloli!

[2020-12-01 00:29] timyabng opened #1941 "tail() cannot resolve new column name after calling apply() method"
Hi! I use koalas 1.4.0 with Spark 3.0.1 on Ubuntu 20.04.1 Desktop.

After using 'apply()' method,  when I call the 'tail()' method, I got  the "pyspark.sql.utils.AnalysisException: Cannot resolve column name "`Initial`" among (__index_level_0__, PassengerId, Survived, Pclass, Name);" error.

koalas 1.3.0 with Spark 3.0.1 has the same issue.
Before calling apply() method, tail() is ok.

Seems tail(

[2020-12-01 18:41] AishwaryaKalloli commented on #1929
Just finished the set up in my local, hopefully will have some updates soon!

[2020-12-02 05:45] #1941 closed

[2020-12-03 03:26] #362 closed

[2020-12-03 14:08] AishwaryaKalloli commented on #1929
I have committed the code, let me know if it is in the right direction. If it is I'll add the test cases and docs.

[2020-12-09 10:24] HyukjinKwon opened #1958 "plot does not work in Ubuntu"
Plotting with `matplotlib` 3.3.0+ causes an exception because of Pillow dependency added at https://github.com/matplotlib/matplotlib/commit/370e9a2d5d9e637abc90b3270d368642c69f66c6#diff-60f61ab7a8d1910d86d9fda2261620314edcae5894d5aaa236b821c7256badd7 on Ubuntu:

[code]

[code]

[2020-12-09 11:24] #1958 closed

[2020-12-09 21:29] vaibhavsingh007 commented on #1456
Hi, how do we specify the jdbc driver in ks.read_sql_table()?

[2020-12-10 02:22] HyukjinKwon commented on #1456
e.g)

[code]

[2020-12-10 16:18] vaibhavsingh007 commented on #1456
Thanks @HyukjinKwon I did check that doc before though it doesn't say how to pass the driver. Should I just create a separate Spark session with driver config (spark.jars) and Koalas will detect that Spark session automatically instead of creating its own?

[2020-12-10 17:41] vaibhavsingh007 commented on #1456
Yes, that seems to work. I was able to create ks dataframe using OP's method above:

[code]

[2020-12-11 18:23] rguillome commented on #371
@HyukjinKwon  :-1:
`Arrow legacy IPC format is not supported in PySpark, please unset ARROW_PRE_0_15_IPC_FORMAT`

[2020-12-11 22:30] shril commented on #1929
Hi @ueshin, @HyukjinKwon can I proceed with the following Dataframe APIs -
- cov
- first
- between_time
-  insert
I'll start with the dev once you give me the approval.

[2020-12-11 22:33] ueshin commented on #1929
@shril sure, please go ahead! Thanks!

[2020-12-12 00:41] shril commented on #1929
@ueshin I was going through this blog post of yours - [https://databricks.com/blog/2020/03/31/10-minutes-from-pandas-to-koalas-on-apache-spark.html](https://databricks.com/blog/2020/03/31/10-minutes-from-pandas-to-koalas-on-apache-spark.html), and it suggested using `map_in_pandas` as a better alternative workaround because it does not require moving data into a single client node and potentially

[2020-12-12 00:48] ueshin commented on #1929
@shril I don't have a strong opinion on it. If you can implement it without `apply_batch()`, you don't need to use it.

[2020-12-12 05:04] shril commented on #1929
Hi @ueshin, I am slightly confused. We don't have `DatetimeIndex` like pandas, so can we convert our index to pandas and use it's `indexer_between_time` function.

[code]

This is the small implementation I tried. Do you think that `to_pandas()` might result in out-of-memory errors?

[2020-12-16 04:20] #1907 closed

[2020-12-17 09:03] shakirshakeelzargar opened #1973 "How to Insert data to SQL"
I want to insert data into SQL using koalas dataframe, but i dont see to_sql method available. Is there any way to insert the data into database?

[2020-12-17 09:57] shakirshakeelzargar opened #1974 "HIVE JDBC Connection Using Pyspark-Koalas returns Column names as row values"
I am using Pyspark to connect to HIVE and fetch some data. The issue is that it returns all rows with the values that are column names. It is returning correct column names. Only the Row values are incorrect.
Here is my Code:
[code]
 Here is the code Output:
[code]

[2020-12-19 07:13] shril opened #1976 "Support for DateTime Index in Koalas"
Discussion in this PR #1968.
cc: @itholic, @HyukjinKwon

[2020-12-21 10:31] HyukjinKwon commented on #1974
@shakirshakeelzargar can you confirm if it works with Apache Spark?

[2020-12-21 11:09] shakirshakeelzargar commented on #1974
@HyukjinKwon I tried with Pyspark as well. Get the same issue. However i found a workaround. When we give Query like this, it gives the issue
[code]
But when we give the query like mentioned below, it works fine

[code]
However we give the db_name/schema in the connection string as well. But i dont know why this issue comes up

[2020-12-21 11:15] #1974 closed

[2020-12-21 11:16] HyukjinKwon commented on #1974
i remember Hive JDBC isn't an official support in Apache Spark. In any event, seems this isn't a Koalas issue.

[2020-12-21 11:16] HyukjinKwon commented on #1974
Thanks for confirming it @shakirshakeelzargar.

[2020-12-22 02:43] HyukjinKwon commented on #1973
You can use [DataFrame.to_spark_io](https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.DataFrame.to_spark_io.html#databricks.koalas.DataFrame.to_spark_io) to insert. I think it might be better to show more examples there.

[2020-12-23 01:23] dbanda opened #1981 "Type inference not consistent with pandas"
The behavior of creating a dataframe with mixed types is different in Koalas from that in Pandas.  Pandas correctly infers that the type of a column with mixed types should be `object`.

Example:

[code]

This behavior isn't clear from the documentation as https://koalas.readthedocs.io/en/latest/user_guide/types.html implies that the Pandas object type is fully supported.

There are many real-worl

[2020-12-29 06:39] itholic commented on #1981
Thanks for the interest to Koalas, @dbanda.
Koalas doesn't support mixed type since its internal Spark DataFrame doesn't support mixed type, neither.
Hope we can support mixed type in the near future, but let me just mention this limitations to our documents for now.

[2020-12-31 07:47] feiwofeifeixiaowo commented on #1838
same here, any solutions on this issue?

[2021-01-03 00:34] HyukjinKwon commented on #1838
@feiwofeifeixiaowo, Just to confirm, does it still show a window even when you set `ks.set_option('compute.default_index_type', 'distributed')`? It would be easier to analyze further if you have a self-contained reproducer.

[2021-01-05 05:44] #1981 closed

[2021-01-05 07:58] itholic opened #1992 "Supporting allows_duplicate_labels for Series and DataFrame"
pandas experimentally started to support `allows_duplicate_labels` when creating `Series` or `DataFrame` to control whether the index or columns can contain duplicate labels from [pandas 1.2](https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.2.0.html#optionally-disallow-duplicate-labels
).

[code]

They said,

Thus, I think Koalas also better to prepare supporting this feature.

[2021-01-11 09:45] dbanda opened #2002 "Join key disabiguation inconsistent with pandas"
Join in koals breaks when on keyword is supplied to join on a shared column.

[code]

The above works in pandas, but in koalas throws a pyspark error: `pyspark.sql.utils.AnalysisException: "Reference 'B' is ambiguous, could be: right_table.B, B.;"`

[2021-01-12 22:42] xinrong-databricks commented on #2002
Thanks for raising this!

Currently DataFrame.join requires the (join) key column (i.e. `B`) to be the index of the `right` parameter, (i.e. `b`). Unfortunately, this doesn't match pandas behavior.

I'll look into this to see how we can improve this!

[2021-01-15 02:32] itholic opened #2009 "Supporting nullable data types for float data, Float32 and Float64"
pandas experimentally starts to support [nullable data types for float data](https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.2.0.html#experimental-nullable-data-types-for-float-data), Float32 and Float64 from pandas 1.2.

The difference from the existing float32 and float64 as below.

[code]

[code]

[2021-01-15 02:40] ueshin commented on #2009
I'm investigating them as well as `Int64`, `Int32`, etc. or `boolean`, `string` types.

[2021-01-21 01:53] chogg opened #2014 "iterating through groups in a for loop"
I would like to iterate through groups in a dataframe. This is possible in pandas, but when I port this to koalas, I get an error.

[code]

Here is the error:

[code]

Is this kind of group iteration possible in koalas? The koalas documentation kind of implies it is possible - https://koalas.readthedocs.io/en/latest/reference/groupby.html

I don't know why the name of the group key is getting turn

[2021-01-21 01:56] chogg commented on #2014
Is this related: https://github.com/databricks/koalas/issues/1770

[2021-01-21 02:41] ueshin commented on #2014
@chogg Unfortunately, Koalas doesn't support group iterations so far.

[2021-01-21 10:24] RicSpd opened #2015 "koalas Series not showing after apply (java.lang.IllegalArgumentException)"
I'm trying to apply a custom function to a koalas Series using the `apply` method. However, when I perform some operations on the resulting Series, such as `.loc` or `.value_counts()`, I get an error similar to #1858.
I tried to set manually `ARROW_PRE_0_15_IPC_FORMAT` to `'1'` as suggested in the cited issue but with no success.

Below is a small reproducible example along with the error message.

[2021-01-21 17:43] chogg commented on #2014
Thanks for letting me know.

[2021-01-21 17:46] chogg commented on #2014
@ueshin Do you have any idea of when this might be supported? Does it take a lot of work to implement?

[2021-01-21 19:33] ueshin commented on #2015
You need to set the environment variable in executors as well.
Could you try set the config when you create a `SparkSession`:

[code]

[2021-01-21 20:10] chogg commented on #1929
Is iterating through groups on the roadmap for API coverage? I would find that helpful.

[2021-01-22 01:43] itholic commented on #2014
Thanks for the interest in Koalas, @chogg .

Unfortunately there is no clear development plan right now.

Because Koalas deals with large amounts of data, implementing `__iter__` can potentially be fairly dangerous.

You can also find the related discussion in the past from [here](https://github.com/databricks/koalas/issues/319) and [here](https://github.com/databricks/koalas/issues/1003).

[2021-01-22 08:34] RicSpd commented on #2015
With your suggestions I don't get the error anymore! Thanks a lot.

P.S.: I just realized that setting the environment variable in **both** driver and executors was already suggested by the following warning message after importing koalas

[code]

but I still wouldn't have known the exact configuration attribute names.
Thanks again for the quick response!

[2021-01-22 08:34] #2015 closed

[2021-01-22 17:14] xinrong-databricks commented on #1929
@chogg Thanks for the suggestion! We'll look into this and keep you updated.

[2021-01-22 21:06] ueshin commented on #2015
Happy to hear the issue has gone!

[2021-01-25 18:34] amueller opened #2018 "Can't use __eq__ with list"
In pandas doing
[code]
does element wise comparison if the length match.
I koalas, this doesn't seem to be supported. Is that something you would consider adding?

Thanks!

[2021-01-26 00:03] amueller commented on #827
@thoo You can use OneHotEncoder in recent versions of sklearn to do that :)

@rxin The ``.astype('category')`` pattern to replace by integers and have a mapping to string categories is pretty common, it would be great to have something like that.

[2021-01-27 01:32] itholic commented on #2018
Thanks for the report, @amueller .
I'd say we can consider to add this after some investigation.
Let me investigate and will submit a suggestion to the PR soon.

[2021-01-27 23:15] jimfulton opened #2023 "Pandas doesn't require matplotlib, koalas shouldn't either."
Pandas will use `matplotlib` if it's available, but `matplotlib` isn't a dependency if Pandas.

We're deploying batch-processing applications for use in data pipelines, which will never try to plot anything and don't need `matplotlib`.

We are required to scan our deployments with Veracode, and Veracode raises many issues with `matplotlib` and `matplotlib`'s dependencies.

We can work around this

[2021-01-28 05:22] HyukjinKwon commented on #2023
Yeah, I think we can keep it as an optional dependency

[2021-01-29 02:35] ueshin commented on #1976
FYI: We started working on it #2025.

[2021-01-31 03:50] HyukjinKwon commented on #827
This is under discussion and we're investigating the feasibility.

[2021-02-01 19:00] piyushcse29 opened #2030 "pip installed failed on EMR"
FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…
Collecting koalas
  Downloading https://files.pythonhosted.org/packages/1d/91/58c88fc3221d7c21d854d7d9c0fe081bf1ac244c1e4496bb2b56e1f31e25/koalas-1.6.0-py3-none-any.whl (668kB)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib64/python3.7/site-packages (from koalas)
Collecting

[2021-02-01 19:12] ueshin commented on #2030
Seems like it's failing to install pyarrow 3.0.0. Could you try with pyarrow 2.0.0? Thanks!

[2021-02-01 19:50] piyushcse29 commented on #2030
Yes, working with pyarrow 2.0.0. Hope you can make it compatible. Thanks.

[2021-02-01 20:47] ueshin commented on #2030
Actually Koalas does work with pyarrow 3.0.0 as you can see in #2031.
The problem is the pyarrow installation which is out of our control.
I'm afraid you should ask the pyarrow community.
Thanks.

[2021-02-01 20:48] #2030 closed

[2021-02-02 00:17] itholic opened #2032 "Support datetime for std"
pandas support datetime64 or datetime64tz dtypes for `std` from pandas 1.2 (https://github.com/pandas-dev/pandas/pull/37436)

And it returns Timedelta Series which is Koalas currently cannot support.
[code]

[2021-02-03 00:11] HyukjinKwon commented on #2023
Fixed in https://github.com/databricks/koalas/pull/2029

[2021-02-03 00:11] #2023 closed

[2021-02-03 00:35] ueshin commented on #1976
The PR was merged.
@shril Do you want to add the method you need in `DatetimeIndex`?

[2021-02-05 19:57] FJLD opened #2043 "Problem with Loc / Index"
I'm trying to use this code from Jupyter Lab to Databricks:

`df=df[df.columns.drop(df.loc[:,df.columns.str.contains("cod|DES|rut|razon", regex=True)])]`

 but it doesn't work raising this Error:
/databricks/python/lib/python3.7/site-packages/databricks/koalas/indexing.py:1166: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise compar

[2021-02-05 20:31] ueshin commented on #2043
I guess `df[df.columns[~df.columns.str.contains("cod|DES|rut|razon", regex=True)]]` should work?

[2021-02-05 20:43] ueshin commented on #2043
Btw, we should support bool list-like object for `loc` indexer.

[code]

whereas:

[code]

Then, we can

[code]

Thanks for the report, @FJLD!

[2021-02-06 17:46] jimfulton commented on #2023
Thanks!

[2021-02-07 02:05] FJLD commented on #2043
Ty @ueshin the cade that you give work perfectly :)

[2021-02-07 02:06] #2043 closed

[2021-02-07 19:17] franperezlopez opened #2044 "to_datetime() error"
I'm using the method koalas.to_datetime() to cast a string as a datetime. This is the code:
[code]
executing the second line, you get this warning:
[code]
executing the third line (`to_pandas()`), an exception is thrown ... is this a bug or should I change the way of using to_datetime()??
[code]

[2021-02-08 00:03] HyukjinKwon commented on #2044
The error:

[code]

likely from the JVM version and Arrow issue. You will have to add `-Dio.netty.tryReflectionSetAccessible=true`. See also https://spark.apache.org/docs/3.0.0/index.html#downloading

[2021-02-08 00:03] #2044 closed

[2021-02-08 02:30] daweimau commented on #1562
[Fixed link](https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.DataFrame.koalas.apply_batch.html)

[2021-02-08 05:52] itholic opened #2045 "Cannot binary operations Index by Series."
In pandas.

[code]

whereas Koalas.

[code]

[2021-02-08 21:33] ueshin commented on #2045
Good catch! I submitted a PR #2046.

[2021-02-09 01:59] #2045 closed

[2021-02-10 22:41] ueshin opened #2048 "Support bool list-like object for column selection in `loc` indexer."
We should support bool list-like object for `loc` indexer.

[code]

whereas:

[code]

See also: https://github.com/databricks/koalas/issues/2043#issuecomment-774278358

[2021-02-11 17:12] lfdversluis opened #2049 "Pandas Dataframe with incorrect number of columns returned internally"
I am running a method using apply on various datasets, while running it one of the datasets (https://zenodo.org/record/3254606) this error was thrown. Any idea what can cause this? It seems it's internal code and unrelated to my pyspark script.
[code]

[2021-02-11 17:26] lfdversluis opened #2050 "Cannot return empty dataframe in apply?"
I am parsing some data and in a groupby + apply function, I wanted to return an empty dataframe if some criteria are not met. This causes obscure crashes with Koalas. Example:

[code]
This gives `ValueError: can not infer schema from empty or null dataset`. Ok sure, let's give it a schema?

I modified it to
[code]

and now I get `AttributeError: 'DataFrame' object has no attribute 'copy'` and `Rec

[2021-02-11 17:48] lfdversluis commented on #2050
For completeness, here is the pandas variant:
[code]
Outputs:

 -- | a | b
 -- | -- | --
 a | -- | --
 1 | 1.0 | 3.0

[2021-02-12 15:24] ThiagoCM opened #2051 "to_parquet() generating a big number of files"
Hey guys, I'm currently trying to save a big dataframe (shape: (191862718, 44)) to parquet using Koalas built in function (to_parquet).

For some reason, my parquet files are being saved with a sizes from 1.8 MB to 2.8MB, which is creating more than 1.700 files.
Whenever I try to read this files (also using Koalas) to generate a Dataframe, I have two bottlenecks:
1) Reading a big number of files,

[2021-02-12 18:25] ueshin commented on #2051
You can use [`DataFrame.spark.coalesce`](https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.DataFrame.spark.coalesce.html) or [`DataFrame.spark.repartition`](https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.DataFrame.spark.repartition.html) to control the file number.

[code]

For reading, you don't need to append/concatenate the files by yourself. Koala

[2021-02-12 20:44] ThiagoCM commented on #2051
@ueshin that worked just fine, thank you.

As a suggestion for next developments (if I may and if this makes any sense): could you add an option inside the to_parquet() function to configure the number of files? Similar to the option num_files in to_csv() function.

[2021-02-12 21:10] ueshin commented on #2051
Glad to hear it worked fine.

Also thanks for the suggestion!
Do you want to submit a PR to support it?
I guess we should add it to `to_orc` as well.

Thanks.

[2021-02-12 21:31] amueller opened #2052 "Allow index in replace(to_replace)"
Hey. I ran ``series.replace(some_things, "other")`` which works with an index in pandas, but not in Koalas.
Is there a plan to support it?
In particular, this was n Int64Index that came out of a value_count operation.

My pandas code was
[code]
You can't subscript an index, but I expected
[code]
but it gives "to_replace should be one of str, list, dict, int, float".

Koalas version is 1.4.0.

[2021-02-14 13:13] feliperegis opened #2053 "DataFrame not working when using columns=[]"
Hey guys,

I use to work with Pandas and recently I'm exploring Koalas with Databricks to leverage bigdata solutions. I'd like to share an issue I found when trying to update a pyspark dataframe using Koalas.

Look what happened when I loaded data previously from file to a pyspark df and when I used a sample dict instead for troubleshooting purposes:

`import databricks.koalas as ks

kdf = ks.Data

[2021-02-14 18:39] lfdversluis commented on #2049
I think this is a bug on my end.

[2021-02-14 18:39] #2049 closed

[2021-02-15 23:57] FJLD opened #2055 "join/merge problems"
I'm trying to merge 2 kdf that actually are subsets of the same kdf.
The main kdf contains all the log events of the all _transport_order_number_ :
E.g.,:  transport_order_number== 696530708053

[code]

so I made  two subset using `ks.loc[]` to get just the 'RECEPCIONADA' AND 'RETIRO DESDE PDT ' events with:

[code]
![image](https://user-images.githubusercontent.com/78232922/108151825-5bb6d680-70b

[2021-02-17 03:04] FJLD commented on #2055
Adding context:
Both ks.DataFrame (kdf1  & kdf2 ) are subsets from the same ks.DataFrarm that contains logs of the event changes for each _transport_order_number_ in these ks.DataFrame as you can see below:

![image](https://user-images.githubusercontent.com/78232922/108147211-3f626c00-70ad-11eb-84d6-b3e28a59f553.png)

[2021-02-17 04:13] HyukjinKwon commented on #2050
Hm, which Spark version do you use? it works fine in my local:

[code]

[2021-02-17 04:19] HyukjinKwon commented on #2050
Ah, okay. I think you might need to specify the return type in `toApply`:

[code]

See also https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.groupby.GroupBy.apply.html#databricks-koalas-groupby-groupby-apply

The problem here seems like Koalas requires to keep the column index from `toApply`.

[2021-02-17 04:57] HyukjinKwon commented on #2052
Looks like it's added from 1.5.0 (https://github.com/databricks/koalas/releases/tag/v1.5.0). But yeah we should ideally make it working, I agree.

[2021-02-17 05:17] HyukjinKwon commented on #2053
Oh, Koalas supports either:

[code]

or

[code]

Mixed arguments are currently not supported.

You can do, for example, as below:

[code]

[2021-02-17 09:50] lfdversluis commented on #2050
@HyukjinKwon While returning (a part of) the original dataframe provided in the apply function works, returning a new one does not using your suggestion.

[code]

This does work:
[code]
But I noticed an inconsistency in the output:
When using Koalas:

When using Pandas (just changing `ks.DataFrame` to `pd.DataFrame`):

Pandas keeps the the groupby index `a` and also keeps the range index introduce

[2021-02-17 19:30] #2009 closed

[2021-02-18 00:05] HyukjinKwon commented on #2050
Yeah, when you use the type hints, the index is lost, which is the limitation there currently.

[2021-02-18 11:35] lfdversluis opened #2059 "Question: how to avoid all data being merged in the driver?"
I have some code that performs a groupby + apply
[code]

All it has to do is perform some computation on each group and write the outcome to parquet, however,  checking [the UI](https://i.imgur.com/KwINJ1x.png) it seems that all data is first aggregated to the driver. Can I somehow make it that each executor just writes the data directly per group without having to go through the driver?

 I tried

[2021-02-18 19:44] ueshin commented on #2059
Does the function `toposort` have a return type annotation? If not, Koalas collects some amount of data into the driver to infer the return type.

See also:
- https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.groupby.GroupBy.apply.html
- https://koalas.readthedocs.io/en/latest/user_guide/typehints.html

Also, what default index type are you using?
As seems like you don't spec

[2021-02-18 23:07] ueshin commented on #2055
Sorry, could you clarify what the problem is and what the expected result is?

I tried what you described:

[code]

[2021-02-19 02:33] FJLD commented on #2055
Ho @ueshin,
Don't you see strange that the ks.merge return the same event ( RECEPCIONADA -  RECEPCIONADA ) on both sides, when it can't be possible 'cause they were filtered for different "events"  (RECEPCIONADA - RETIRO DESDE PDT ).

df1 has only "RECEPCIONADA" events and df2 just has "RETIRO DESDE PDT", but when you made the merge,  return "RECEPCIONADA" event on both sides.

[2021-02-19 02:40] ueshin commented on #2055
Ah, I see what you mean! Yeah, that's right, it's weird.. Let us investigate it.
Thanks for the report!

[2021-02-19 11:09] lfdversluis commented on #2059
@ueshin good pointers (thanks!). I did check the type hints and my function has a return type annotated:
`def toposort(df) -> pd.DataFrame["workflow_id": int, "task_id": int, "task_slack": int]`

What this function does is it applies topological sorting to a DAG graph (pretty much like https://pypi.org/project/toposort/ does) and then per group computes the difference in finish times which I named

[2021-02-19 11:24] lfdversluis commented on #2059
I do not see in https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.DataFrame.groupby.html#databricks.koalas.DataFrame.groupby how you can groupby on the index? Specifying `workflow_id` or `index` or `level=0` is not supported, while https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html does explicitly mention this. Is the best way to approach this to run `

[2021-02-20 22:15] FJLD commented on #2055
Hi, @ueshin  Were you able to repair the error?

[2021-02-20 22:25] ueshin commented on #2055
We are working at #2060. Thanks.

[2021-02-20 22:35] FJLD commented on #2055
Thanks to you @ueshin  :)

[2021-02-22 13:45] itholic commented on #1933
Seems like now we can close this issue ?

[2021-02-22 13:54] HyukjinKwon commented on #1933
There's one last left #2033

[2021-02-22 18:31] Ben-Epstein opened #2063 "select_dtypes with np.number returning []"
Koalas dataframes don't seem to recognize np.number as a type that columns conform to when using select_dtypes

## Recreate:

[code]

[code]

Any ideas or workarounds?

Thanks!

[2021-02-22 19:21] #2055 closed

[2021-02-22 19:21] ueshin commented on #2055
@FJLD The fix has been merged. It will be available in the next release. Thanks again for the report!

[2021-02-23 01:27] #2048 closed

[2021-02-25 00:33] FJLD commented on #2055
Cool!

[2021-02-26 17:46] thehomebrewnerd opened #2067 "Add support for Python3.9"
I didn't see this explicitly covered in other issues, and sorry if I missed it, but it would be nice to have the ability to use Koalas with Python 3.9.

[2021-02-26 19:43] franperezlopez opened #2068 "datetime support for min and max functions"
It looks to me I'm doing something wrong, but I can't find the reason.

![image](https://user-images.githubusercontent.com/1222398/109346947-b1d40880-7872-11eb-91c2-d3b3a0c4943d.png)

It seems that when I select the row using min / max functions, an additional hour is added to the date. The same example using pandas works fine. Could you please help me?

[2021-03-01 01:36] HyukjinKwon commented on #2067
Someone tried in https://github.com/databricks/koalas/pull/2020. I think we should fix this as now PyArrow also supports Python 3.9.

[2021-03-01 23:05] lfdversluis opened #2072 "groupby and compute.max_rows ?"
When using `groupby` and then `apply` will the pandas dataframe supplied to the function to be applied have at most `compute.max_rows` rows? I cannot reliably tell from [the documentation](https://koalas.readthedocs.io/en/latest/user_guide/options.html) if this also applies to groupby.

I am applying a function per group, where a group may very well exceed the 100k rows. Will the function then get

[2021-03-02 00:08] ueshin commented on #2072
Hi @lfdversluis,

No, `groupby-apply` doesn't check `compute.max_rows` and the whole data in each group will be passed to the function.

Could you share the reproducible example that seems incorrect?

Thanks.

[2021-03-02 11:47] lfdversluis commented on #2072
Thanks for your answer. It was just a question as I am struggling with Memory issues, and I was checking the documentation on how to manage this. Knowing the groupby does provide the full group the my function is good to know. May I suggest that this is emphasized in the documentation, just in case anyone else has this question :)

[2021-03-02 11:47] #2072 closed

[2021-03-02 20:11] jimfulton commented on #2023
I don't want to seem ungrateful, but when might this be released? :)

[2021-03-03 00:24] HyukjinKwon commented on #2023
:-). likely next week or a week after the next week. Just realised that https://koalas.readthedocs.io/en/latest/development/contributing.html#release-guide is outdated. Let me update it soon. thanks for the head up

[2021-03-03 03:05] ueshin commented on #2068
Hi @franperezlopez, Thanks for the report!

Actually I couldn't reproduce the behavior in my local, but I had something in mind and submitted a PR #2077.
Could you help test the PR in your end?

[2021-03-03 11:18] #1933 closed

[2021-03-03 17:49] oozut opened #2078 "Out of Synchronization operations with shift"
I have seen that the order of operation sequences for the cluster to compute the shift operation is not correct.

[code]

On the first `display(df)`, the city is correctly displayed as expected without any `null` on the second display, the 'prev_city' and 'next_city' have a null value respectively for the first row and the last row. This is correct behaviour that I expected.

However, for a subdat

[2021-03-05 19:09] ueshin opened #2088 "Enable mypy check back with PySpark 3.1."
PySpark 3.1 ported `pyspark-stubs` into its codebase which causes `mypy` check errors.
We disabled it at #2083 but we should enable it back as soon as possible.

[2021-03-05 20:20] ueshin commented on #2078
@oozut Thanks for the report! Sounds like it's a bug. I'll be working on it soon.

[2021-03-07 07:01] itholic commented on #2063
Seems like `np.number` is treated as `float64` in pandas.

[code]

But pandas doesn't return the `<class 'numpy.float64'>` with `infer_dtype_from_object(np.number)`, but `<class 'numpy.number'>`

[code]

We should fix this, and I think you can workaround with just using `float64` as below in the meantime.

[code]

[2021-03-07 14:08] Ben-Epstein commented on #2063
@itholic thanks, that's what I ended up doing. I listed out all of the available number classes that fall under `np.number` and pass those in

[2021-03-08 00:34] #2078 closed

[2021-03-08 07:23] franperezlopez commented on #2068
Hi, I'm sorry but I had no time for testing your branch ... did you try updating the local time of your machine? I live in UTC+1 so I presumed the difference was because that

[2021-03-08 12:08] MalteHecker commented on #2067
This would be really great to have! 👍

[2021-03-08 14:22] HyukjinKwon commented on #2067
I will take a look soon

[2021-03-08 14:29] thehomebrewnerd commented on #2067
@HyukjinKwon Thank you!

[2021-03-10 13:00] lfdversluis opened #2098 "Series.isin() throws exception when fed numpy array"
Running Spark 3.1.1 with Pyspark 3.1.1. and Koalas 1.7.0
[code]
works

[code]

throws `AttributeError: 'numpy.int64' object has no attribute '_get_object_id'`

using `numpy_arr.tolist()` fixes it. Is this deviation from the Pandas API intended?

[2021-03-10 16:30] adelgadof opened #2099 "Problem using read_sql"
Hello!

First of all sorry if what I'm asking is solved somewhere else, I haven't found any solution to this issue.

Basically, I'm trying to use the read_sql() function the same way I do on pandas and it won't come out correctly. The read_sql() documentation doesn't give me much information either, so I was hoping someone around here would know what to do, or if this is an expected error.

The co

[2021-03-15 02:19] newTypeGeek opened #2102 "from_pandas does not recognize index with timezone"
# Versions
- Python `3.7`
- pandas `1.1.5`
- koalas `1.7.0`

# Code Snippet to Reproduce
[code]

When executed the above code snippet, it raises `TypeError: Type datetime64[ns, UTC] was not understood.`

[code]

[2021-03-15 04:44] itholic commented on #2099
Seems like you're using ODBC driver,
but unfortunately Koalas only supports for JDBC connector for now described as below in the [documents](https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.read_sql.html).

![Screen Shot 2021-03-15 at 1 34 05 PM](https://user-images.githubusercontent.com/44108233/111104060-23aa9280-8593-11eb-915f-1104f37c8682.png)

[2021-03-15 05:48] itholic commented on #2098
Thanks for the report, @lfdversluis :)
It seems like bug in Koalas.
Just submitted PR at #2103

[2021-03-15 06:03] itholic commented on #2102
Unfortunately, Koalas doesn't support `DatetimeIndex` with specifying timezone yet.

`DatetimeIndex` is a feature recently added to more strictly support data types, and there are still many missing features.

[2021-03-15 09:20] adelgadof commented on #2099
Oh, thank you!

[2021-03-18 06:23] Maybewuss opened #2107 "read_json Error"
I try to read a josn file which each row is a json string.
[code]

Cause Error:
TypeError: Unsupported type in conversion to Arrow: ArrayType(StructType(List(StructField(arguments,ArrayType(StructType(List(StructField(alias,ArrayType(StringType,true),true),StructField(argument,StringType,true),StructField(argument_start_index,LongType,true),StructField(role,StringType,true))),true),true),StructFie

[2021-03-18 06:54] itholic commented on #2107
Thanks for the report, @Maybewuss

Could you show a simple example of json file ??

[2021-03-18 11:07] Maybewuss commented on #2107
[code]
Here are 2 lines in json file.

[2021-03-19 02:19] ueshin commented on #2068
Hi @francopatano, I merged the PR. Could you try with the latest master? Thanks!

[2021-03-19 02:32] itholic commented on #2107
Thanks for sharing the example.

Koalas use `pyspark.sql.readwriter.DataFrameReader` for reading the json format that has no parameter such as `lines`.

Let me investigate if we can support it.

[2021-03-19 06:28] Maybewuss commented on #2107
Thx~

[2021-03-19 21:29] franperezlopez commented on #2068
works on my machine 👍

thanks for the fix. keep up the good work!!

[2021-03-19 21:29] #2068 closed

[2021-03-19 21:33] ueshin commented on #2068
Thanks again for the report and confirming!

[2021-03-20 01:20] itholic commented on #2107
Just FYI, @Maybewuss .
I just fixed some of my comments, you can just simply use `to_koalas()` rather than `InternalFrame` I commented before.

[2021-03-23 03:12] markusweimer opened #2114 "Pandas 1.2.x support?"
What are the plans for support of Pandas 1.2.x in a release? I saw that the CI system has moved there for testing already. Is this imminent or some time away?

**Background:** Pandas 1.2.x has support for `fsspec` to the extend that we need it. Would be nice to also use Koalas in the same session.

[2021-03-23 13:01] TempestVanSchaik opened #2115 "Self-merge result is unlike PySpark or Pandas"
When I do a self-merge in Koalas, I get a result that is inconsistent with both PySpark and Pandas.

Example small dataframe:

[code]

A self join in Pandas
`merge_df = df.merge(df, on='UserID', how='inner')`
results in the expected
![image](https://user-images.githubusercontent.com/9007411/112083487-85539980-8b5d-11eb-95c0-0733444341be.png)

A self join in PySpark
[code]

results in the same
![im

[2021-03-23 22:52] ueshin commented on #2115
Hi @TempestVanSchaik, Thanks for the report!

Which version of Koalas are you using?
I guess this is the same issue as #2055, which was fixed at ##2060 and included in Koalas 1.7.0.

With Koalas 1.7.0:

[code]

[2021-03-24 02:34] itholic commented on #2114
Let me investigate if we support this.
Could you show some usage example that how you want to use the `fsspec` in Koalas? It would be very helpful :)

[2021-03-24 02:40] #2098 closed

[2021-03-24 02:41] markusweimer commented on #2114
Thanks for looking into this!

I am not looking for `fsspec` support in Koalas. I want to enable `fsspec` in Pandas, for which I need to deploy Pandas 1.2.3. However, that can currently not cooexist in the same session as Koalas.

**Background:** I am working on Azure Synapse. There, we observe users who convert Koalas or Spark data frames to Pandas data frames and then expect to be able to save t

[2021-03-25 21:00] awdavidson commented on #1929
Hi all, I was going to look at implementing functionality for `last` Is anyone looking at this?

[2021-03-26 17:37] xinrong-databricks commented on #1929
@awdavidson Certainly, please feel free to do so! Your PR seemed to be closed.

[2021-03-26 19:39] awdavidson commented on #1929
@xinrong-databricks I'll reopen currently still working on it. Opened the PR to check build etc as had issue running a few things locally - didn't want to clutter your PR tab. Local environment is now working so should be able to completely test :)

[2021-03-26 21:03] xinrong-databricks commented on #1929
@awdavidson Thanks! You might mark it as a draft PR until it's ready for review. Let us know if you have any questions :)

[2021-03-29 03:18] HyukjinKwon commented on #2107
This is a limitation from PySpark. I think we should fix it in PySPark first. If they support, Koalas will support it too.

[2021-03-29 03:18] #2107 closed

[2021-03-29 03:19] #2115 closed

[2021-04-01 12:39] awdavidson commented on #1929
@ueshin @xinrong-databricks has there been any discussion around how to implement `Index.map`? I have a few idea's that maybe useful, however, do not want to step on anyones toes! If you have any information or documentation that would be useful! :)

[2021-04-01 16:34] kismsu opened #2133 "Groupby apply with as_index=False"
Hi, is there any reason why running apply on grouped DataFrame with as_index=False does not return group keys as columns?

I see a great benefit in creating generic apply function with base schema like

[code]
That I can apply with different group by keys

[code]
and get A column with output for ver1 and B column for ver2

[2021-04-01 22:55] xinrong-databricks commented on #2133
Hi @kismsu, would you please show a reproducible example to help us understand your question?

[2021-04-02 18:24] ueshin commented on #1929
@awdavidson As we have not been working on it, you can go ahead.

One thing on the example implementation, using `self._index.values` is not a good idea because it collects all data into a Driver node which could cause OOM.

Thanks!

[2021-04-02 20:37] thehomebrewnerd opened #2134 "Conflicting pandas version info"
In `setup.py`, pandas is restricted to `<1.2.0`: https://github.com/databricks/koalas/blob/d7f6e88086973df845d6f18f93fd4a3be8effb56/setup.py#L58-L62

However, the version 1.7.0 release notes state that `Float32Dtype` and `Float64Dtype` are supported with pandas `>=1.2.0` with: https://koalas.readthedocs.io/en/latest/whatsnew/v1.7.0.html#extension-dtypes-support

These seem to be at odds. Is this i

[2021-04-02 20:54] thehomebrewnerd commented on #2134
For a little more context, we are trying to use Koalas in a library that uses the new nullable float types. As a result our library requires `pandas>=1.2.0`, but the pandas restriction in the koalas `setup.py` file is causing pip install to fail as it cannot resolve the dependency conflict.

[2021-04-06 01:24] HyukjinKwon opened #2137 "Release 1.8.0"
Last minor release of Koalas:

- Add a warning message about PySpark version, etc.
- Remove pandas bounds (and other dependency bounds)

[2021-04-07 02:05] RainFung opened #2139 "why kdf.head() is much lower than sdf.show()?"
[code]

![image](https://user-images.githubusercontent.com/23121539/113799929-a08eed80-9788-11eb-8e6e-7b8e60787f30.png)

![image](https://user-images.githubusercontent.com/23121539/113800186-185d1800-9789-11eb-9f12-bff0d2ed1e75.png)

kdf.head() is much lower than sdf.show().Is there any way to speed it up in koalas?

[2021-04-07 03:35] RainFung opened #2140 "Support Series.str.len()"
[code]

[2021-04-07 04:35] HyukjinKwon commented on #2139
Very likely because of the default index: https://koalas.readthedocs.io/en/latest/user_guide/options.html#default-index-type . Can you try with `ks.set_option('compute.default_index_type', 'distributed')`?

[2021-04-07 07:54] LSturtew commented on #2140
Series.str.len() is already implemented: https://github.com/databricks/koalas/blob/0fd088e9f142177ef2a80b41d095a49c40320b2a/databricks/koalas/strings.py#L1244-L1276

[2021-04-07 08:23] RainFung commented on #2139
It's much faster now. Can we set it to `distributed` by default.  The speed gap is too big.

[2021-04-07 08:23] RainFung commented on #2140
Thanks.

[2021-04-07 08:24] #2140 closed

[2021-04-12 05:30] ashwin153 opened #2147 "Koalas on JDK 11 raises `java.lang.UnsupportedOperationException`"
- PyArrow + PySpark on JDK 11 raises `java.lang.UnsupportedOperationException: sun.misc.Unsafe or java.nio.DirectByteBuffer.<init>(long, int) not available`.
- According to [https://stackoverflow.com/a/62625252](https://stackoverflow.com/a/62625252) this can be resolved by setting `spark.driver.extraJavaOptions="-Dio.netty.tryReflectionSetAccessible=true"` and
`spark.executor.extraJavaOptions="-Di

[2021-04-12 05:32] HyukjinKwon commented on #2147
Sure, that sounds making sense.

[2021-04-12 05:38] ashwin153 commented on #2147
Do you know how to get the JDK version? If so, I'd be happy to put up a PR for this change.

[2021-04-14 19:37] thehomebrewnerd opened #2151 "Issues converting series to 'object' dtype"
Is it possible to convert a Koalas series to have an `object` dtype. I have tried this, but get an error as shown below. Is there a way that this can be done?
[code]

[2021-04-15 18:41] ederfdias commented on #1084
JFYI...
using read_csv function with a column without values I don't receive any errors, but with an read_excel() the same error is raised.

[2021-04-16 03:31] HyukjinKwon commented on #2151
Yeah, object type is not supported.

[2021-04-19 14:25] cpoli commented on #1141
Any update about the kolas implementation of cut and qcut?
Thank you.

[2021-04-26 05:58] priyankadas87 opened #2153 "How to run Koalas script as a normal python program"
my code is having koalas dataframes and few operations on koalas dataframes. I am able to run the script with spark submit , but not able to run as a normal pyhton code.
RUn Command:
python3 test.py

It is asking for Spark.
    "Unable to import pyspark - consider doing a pip install with [spark] "
ImportError: Unable to import pyspark - consider doing a pip install with [spark] extra to install p

[2021-04-28 01:59] samdyzon opened #2154 "koalas.DataFrameGroupBy.describe() does not handle NaN values the same as pandas.DataFrameGroupBy.describe()"
The koalas implementation of DataFrameGroupBy.describe() does not return the same results as the Pandas implementation, specifically in that it does not exclude NaN values transparently in the same way that Pandas does.

[databricks.koalas.groupby.DataFrameGroupBy.describe - Koalas 1.7.0 documentation](https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.groupby.DataFrameGroupBy

[2021-04-29 04:08] itholic commented on #2153
Could you try to refer the [Installation guide](https://koalas.readthedocs.io/en/latest/getting_started/install.html) on official documents ??

[2021-04-29 04:23] itholic commented on #2154
Thanks for the report, @samdyzon !

Let me take a look at this one, but maybe the changes to this bug will be applied through the `pyspark.pandas` package in the [Apache Spark](https://github.com/apache/spark), after the Apache Spark 3.2 release.

This is because now we're porting the Koalas into PySpark, and please refer to the [SPIP: Support pandas API layer on PySpark](https://issues.apache.org

[2021-04-29 06:19] priyankadas87 commented on #2153
I have installed koalas using pip as described in that official doc. I am able to run the program using spark . But I was assuming that same koalas code would be running in normal python (without spark) - python3 main.py .
But when I am running using python , it is asking for Spark.
Is there any provision to run koalas code as a python code or it needs to be executed with Spark?

[2021-04-30 03:29] HyukjinKwon commented on #2137
The release will be in early next week

[2021-05-06 05:58] RainFung opened #2156 "AttributeError: type object 'InternalFrame' has no attribute 'restore_index'"
[code]

[2021-05-06 07:57] HyukjinKwon commented on #2156
@RainFung would you mind sharing the codes you run and the Koalas version?

[2021-05-11 12:01] Sbargaoui opened #2157 "AttributeError: type object 'InternalFrame' has no attribute 'restore_index'"
## Describe the bug
Hello, I'm encountering the same issue as in #2156

## Versions
Appeared when upgraded to koalas 1.8.0

## To Reproduce
I'm applying this simple transformation on a koalas df :
[code]
Since it's lazily executed, the error is triggered when writing or printing the df for example.

## Expected behaviour
The exposed bit of code works when rollbacking to koalas 1.5.0

## Trace

[co

[2021-05-11 14:06] #2157 closed, assigned to nobody

[2021-05-13 03:13] HyukjinKwon commented on #2153
You'll probably need to set `PYTHON_PATH` properly, see https://spark.apache.org/docs/latest/api/python/getting_started/install.html?highlight=pythonpath#manually-downloading

[2021-05-13 03:14] HyukjinKwon commented on #2139
`distributed` disables the operations between other DataFrames. It's something we should discuss. Let me close this ticket for now though.

[2021-05-13 03:14] #2139 closed

[2021-05-13 03:14] #2153 closed

[2021-05-13 03:15] #2156 closed

[2021-05-18 03:17] Akashdesarda opened #2159 "Having PyArrow issues while reading excel file using koalas.read_excel()"
I am trying to read an excel file using koalas. I am getting `ArrowTypeError: Expected bytes, got a 'int' object` error, which I believe is related to Pyarrow. But it works without any issue in pandas

Koalas version
---
[code]
[code]

Pandas Version
---
[code]
## Output
![image](https://user-images.githubusercontent.com/26931751/118584508-b1ce0f80-b7b4-11eb-8819-c3250fb44020.png)

Package version

[2021-05-19 16:52] lepmik opened #2161 "AttributeError: 'numpy.int64' object has no attribute '_get_object_id'"
[code]
`AttributeError: 'numpy.int64' object has no attribute '_get_object_id'`

But this is ok

[code]

Full output:

[code]

[2021-05-20 02:08] breezykermo commented on #542
Is there any update on this feature?

[2021-05-20 09:25] bjornjorgensen opened #2162 "Explode and json_normalize"
Hi I use pandas to normalize nested JSON files. This use a lot of ram so I well try koalas.
The code that I use in pandas are.

[code]

I dont find json_normalize in koalas.

How can I the same with koalas?

[2021-05-20 14:25] AliWaheed opened #2163 "databricks.koalas.info() doesn't show memory usage"
The documentation states that _databricks.koalas.info()_ shows memory usage too but it doesn't in practice.
It doesn't show memory usage in the examples given in the documentation either.

[2021-05-20 16:59] alexolex commented on #1084
@ederfdias Here is a workaround. Specifying converters like this
[code]
Apparently, `str(None)` does the trick.

[2021-05-20 17:15] alexolex commented on #1084
@ederfdias Here is a possible workaround. Specify converters like below:
[code]

[2021-05-20 17:30] alexolex commented on #1084
Apparently, `np.NaN` does the trick
[code]
output
[code]

[2021-05-21 02:30] itholic commented on #2163
Thanks for the report, @AliWaheed :)
Koalas doesn't show the memory usage.
Seems like it was mistakenly added when copy the pandas' one.
I think we should fix the documents.

[2021-05-23 23:36] AliWaheed commented on #2163
Got it, thanks for the reply

[2021-05-23 23:36] #2163 closed

[2021-05-24 00:41] HyukjinKwon commented on #2161
Ah, yeah this is a known problem in Apache Spark actually.

[2021-05-24 00:42] HyukjinKwon commented on #2159
Can you try lower versions of pyarrow? I think the latest pyarrow has not been tested thoroughly with Koalas.

[2021-05-24 00:54] HyukjinKwon commented on #2133
It's because of missing type hint support for index. This is a limitation for now. @kismsu you can simply omit the type hints and let it infers properly for now.

[2021-05-24 00:54] HyukjinKwon commented on #2137
Done

[2021-05-24 00:54] #2137 closed

[2021-05-25 12:05] oinbar opened #2164 "lambda row scrambles results without index"
running

df[new_col] = df.apply(lambda row: func(row) where func depends on logic between other columns returns scrambled results in new_col, unless you hit df.reset_index() first. Same code works as expected in pandas.

[2021-05-28 11:11] Akashdesarda commented on #2159
I have tried multiple version- 4.0.0, 3.00, 2.0.0, but all this are giving same error as shown above.

[2021-05-31 10:12] nadanasser opened #2165 "import koalas return cannot import name 'ignore_unicode_prefix' from 'pyspark.rdd'"
I installed Spark, Koalas on miniconda3, then when I do

`import databricks.koalas as ks`

it return error as attached

![image](https://user-images.githubusercontent.com/13717494/120177164-6716b380-c208-11eb-8fbb-31d25f84dcc4.png)

one more thing when I type pyspark in terminal I got

`/home/user/miniconda3/bin/pyspark: line 24: /root/spark/bin/load-spark-env.sh: Permission denied
/home/user/mini

[2021-05-31 18:02] Garet-Jax commented on #1562
Any updates on this request?

[2021-06-04 04:33] HyukjinKwon commented on #2165
Looks like pyspark is not properly in the Python path. do you have other pyspark installed?

[2021-06-09 20:36] kylemcq13 opened #2168 "Equivalent to pandas.merge(indicator=True)?"
Hello,

I'm currently scaling some pandas code with a pandas.merge with indicator parameter set to true to track the source of each row. Is there a koalas equivalent for this?

[2021-06-10 09:32] RainFung opened #2169 "when using df.astype(str), the null value change to 'nan'?"
when using df.astype(str), the null value change to 'nan'?

[2021-06-10 09:38] RainFung commented on #2169
Is there a way to keep null value ?

[2021-06-10 09:39] itholic commented on #2169
Could you give some more detail about the issue??

For me, the null values are changed to `None`, not `nan` from my side??

[code]

[2021-06-10 11:34] RainFung commented on #2169
When I write the dataframe to database table,  it raise `nan` .

[2021-06-10 11:34] #2169 closed

[2021-06-10 17:18] amueller opened #2170 "Creating Series with exist Int64Index results in error"
[code]

this is Koalas 1.8.0 and pandas 1.2.4

[code]
works.

Thanks :)

[2021-06-10 23:02] #2168 closed

[2021-06-11 01:45] itholic commented on #2170
Thanks for the report, @amueller .

As you mentioned in the description, Koalas doesn't allow creating the Series with the Koalas Index.

When creating the Koalas Series, the pandas DataFrame is needed for creating the InternalFrame.

So, if Koalas want to allow creating Series with the Koalas Index, we should use `to_pandas()` internally which is dangerous since it move the all distributed data i

[2021-06-11 01:48] itholic commented on #2170
Oh, anyway, Koalas is now moving into PySpark, so this repository now only in maintenance mode.

I'd recommend to use PySpark after Spark 3.2 release.

You can find the more details in [SPIP: Support pandas API layer on PySpark](https://issues.apache.org/jira/browse/SPARK-34849)!

[2021-06-11 07:19] RainFung opened #2171 "something wrong with `rank` method?"
![image](https://user-images.githubusercontent.com/23121539/121646920-66173900-cac8-11eb-94b2-f3a7a2814c29.png)

[2021-06-11 07:21] RainFung commented on #2171
I guess it might have something to do with `ks.set_option("compute.ops_on_diff_frames", True)` mechanism.

[2021-06-11 17:15] amueller commented on #2170
Thanks for the explanation! It would be great to allow using koalas indexes. I don't see how to do it now if the index is large. Anyway closing here if the repository is in maintenance mode.

[2021-06-11 17:15] #2170 closed

[2021-06-12 03:49] RainFung commented on #2171
I found the reason because of the `index`.

[code]
![image](https://user-images.githubusercontent.com/23121539/121764139-1a21ce00-cb74-11eb-817e-00d925dd18e2.png)

When I use the `distributed` parameter to calculate the rank, the rank will generate a new dataframe and join with the original dataframe. But the new index and the old index are not consistent, causing the join to fail.

When using ran

[2021-06-12 09:42] RainFung commented on #2171
When I deal with big data, I often report the following errors below:

[code]

[2021-06-18 16:17] ashwin153 commented on #2102
I am trying to upgrade from `1.5.0` to `1.8.0`, and my unit tests are failing because "TypeError: Type datetime64[ns, Timezone('UTC')] was not understood.". To be clear, this is on a non-index column. Here's a quick reproduction. This works on `1.5.0` and fails on `1.8.0`.

[code]

[2021-06-20 05:47] yucai commented on #542
any plan on this feature?

[2021-06-21 00:26] HyukjinKwon commented on #542
I think we should implement this in Spark 3.2, cc @itholic and @xinrong-databricks FYI

[2021-06-22 14:22] ashwin153 opened #2175 "Timezone-aware datetimes are no longer supported"
I am trying to upgrade from `1.5.0` to `1.8.0`, and my unit tests are failing because of a "TypeError: Type datetime64[ns, Timezone('UTC')] was not understood." on a non-index column. Here's a quick reproduction. This works on `1.5.0` and fails on `1.6.0` and `1.8.0`.

[code]

[2021-06-23 14:21] ashwin153 commented on #2175
IMO this feels more like a regression than an enhancement.

[2021-06-28 23:32] amin-nejad opened #2176 "spark.ui.enabled configuration ignored"
Disabling the spark UI with a configuration option using `spark.ui.enabled` (as documented [here](https://spark.apache.org/docs/latest/configuration.html#spark-ui)) doesn't appear to be respected. e.g.

[code]
I have tried both a string value and a boolean value. I still get this warning when I run koalas with or without that option:

[code]

(or indeed if I try setting it to "true"/`True`)

[2021-06-29 00:40] HyukjinKwon commented on #2176
In which env did you run the codes above? It's likely that SparkContext is already initialized before you running these codes.

[2021-06-29 10:49] amin-nejad commented on #2176
I think I forgot the `conf=conf` in `SparkContext`... my bad

[2021-06-29 10:49] #2176 closed

[2021-07-10 23:12] ChuckConnell opened #2178 "Using read_csv within Databricks to open a local file"
### Discussed in https://github.com/databricks/koalas/discussions/2177

<div type='discussions-op-text'>

<sup>Originally posted by **ChuckConnell** June 29, 2021</sup>
I have imported some code from pandas to Databricks/Koalas. My read_csv statement does not work because the file is local to my computer, not within the Databricks file system (DBFS). I feel like I am missing something obvious. I w

[2021-07-14 01:52] itholic commented on #2178
Seems like you cannot read directly from local file path, without uploading your local data into Databricks workspace.

Could you refer to similar discussion at https://forums.databricks.com/questions/22008/how-to-read-local-files-into-dataframe-or-temp-tab.html ?

I'm not sure, but it's worth to checkout S3 or Blob storage if you want to automatically upload your local data into Databricks worksp

[2021-07-14 01:59] itholic commented on #2164
Could you show me the code example if possible so that I can reproduce and investigate ??

[2021-07-17 14:44] ChuckConnell commented on #2178
This is a big problem. Many pandas programs start with read_csv() of a local file on that computer, not in cloud storage somewhere.

The lack of this feature in Koalas is a significant barrier to its adoption by pandas users.

Yes, if there are only a few files, you can manually add them as Databricks tables using the point-and-click GUI method. And yes, you can put the files into S3 or Azure blob

[2021-07-24 01:36] danielknight opened #2179 "pivot_table performance is extremely slow compared to Pandas"
I am trying to create a pivot table from some data that looks roughly like:

The data has shape (5800, 3) roughly, and looks like the following:
|   | destination_vm | port | num_sources |
|---|----------------|------|-------------|
| 0 | vm1            | 80   | .0234       |
| 1 | vm2            | 88   | .123        |
| 3 | vm3            | 3100 | .0045       |

The desired result is something li

[2021-07-26 19:03] johnayoub opened #2180 "pandas fixed width file support"
Is there a plan to support the fixed width [api](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_fwf.html) ?

[2021-07-27 00:53] HyukjinKwon commented on #2180
Koalas is now in Apache Spark officially. Let's file an issue there. From a cursory look, looks like we can implement it by 1. distributing input StringIO, 2. reading any file from the distributed file source.

[2021-07-27 00:53] HyukjinKwon commented on #2180
cc @xinrong-databricks and @itholic since you guys are triaging the issues.

[2021-07-27 14:01] johnayoub commented on #2180
Thanks @HyukjinKwon. let me know if you need me to open an issue there.

[2021-07-27 23:18] danielknight commented on #2179
Am I doing something obvious that would cause the behavior I am seeing where there is a long gap between the pivot Job and the later toPandas job? (See the first smaller screenshot). Is there some way I can gain visibility into what is happening in the interim?

If I set the sparkContext loglevel to DEBUG, there appears to be nothing happening for long periods of time.

 I am noticing this pattern

[2021-07-28 21:11] danielknight commented on #2179
cc @xinrong-databricks and @itholic; maybe you guys need more information from me?

I have also tried with spark 2.4, and get the same results.

[2021-07-30 02:30] itholic commented on #2180
@johnayoub Sure, can you open an issue to [Apache Spark JIRA](https://issues.apache.org/jira/projects/SPARK/issues/SPARK-34276?filter=allopenissues) ?

[2021-07-30 03:01] itholic commented on #2178
Yeah, I agree that it's pretty annoying process if you have to upload your data into Databricks file system one by one.

But I think maybe you can upload the bunch of files at once via Databricks GUI as following steps ??

1. Click "Data" on your Databricks GUI

![Screen Shot 2021-07-30 at 11 54 38 AM](https://user-images.githubusercontent.com/44108233/127592913-b24bb7a8-b826-4130-851f-15da39599be

[2021-07-30 06:03] itholic commented on #2179
Hi, @danielknight . Sorry for the late.

I just tried to reproduce the issue, and I ran the code below:

[code]

And it took just 0.04 secs for computing the pivot_table.

<img width="747" alt="Screen Shot 2021-07-30 at 3 00 20 PM" src="https://user-images.githubusercontent.com/44108233/127607846-ddb6dbaf-9f36-4fed-9f92-1e88ad9ecc19.png">

Seems like the shape of table and the shape of the result

[2021-07-30 06:06] itholic commented on #2179
Hi, @danielknight . Sorry for the late.

I just tried to reproduce the issue, and I ran the code below:

[code]

And it took just around 2 mins for computing the pivot_table (It's seems like still not fast, though)

Seems like the shape of table and the shape of the result table looks similar to your example case.

I used 8 executors with 8GB ram, though.

Could you take a look into my code if did

[2021-07-30 06:49] itholic commented on #151
I think we can close this since we added type annotation to almost all important API files such as `frame.py`, `series.py`, `indexes.py`, etc.

WDYT, @HyukjinKwon , @ueshin and @xinrong-databricks ??

[2021-07-30 06:50] itholic commented on #1098
Let me just close this since we don't use travis anymore.

[2021-07-30 06:50] #1098 closed

[2021-07-30 06:58] itholic commented on #887
Let me close this since we added this API at https://github.com/databricks/koalas/pull/1960

cc @dmitrypol FYI

[2021-07-30 06:58] #887 closed

[2021-07-30 18:23] danielknight commented on #2179
I agree that your code is similar to this pivot I am doing. In a local pyspark shell, running your code exactly in local mode returns after ~10 minutes.

On my cluster, the most recent run with 8 executors (4G memory each) ran against a KDF with shape (28618, 3) and took around 3m17s, which I can infer from these log messages:

[code]

Obviously (28618, 3) is a larger data-size than the (5800,3) t

[2021-07-30 18:40] ChuckConnell commented on #2178
Ah! Thank you. I will try this. So one point-and-click would be required, to get all the files into DBFS. Then you could programmatically create tables from the DBFS files. That is definitely an improvement.

It does not help the case where there are new files every day (or hour). But it is a nice feature.

Will test it. Thank you.

[2021-07-30 21:56] ChuckConnell commented on #2178
@itholic What version of Databricks are you using on what platform? I just tested on the Community edition and do not see the DBFS option you showed.

[2021-08-02 04:26] itholic commented on #2178
@ChuckConnell Oh, yeah. Seems like the community version doesn't support the DBFS upload just same as mine.

But you can still upload the local file with one point-and-click in community edition.

1. Click "Data" and "Create Table"

![Screen Shot 2021-08-02 at 1 23 48 PM](https://user-images.githubusercontent.com/44108233/127804104-fc5a825f-4f9e-4954-9e86-37dd32d69840.png)

2. Just drag & drop mul

[2021-08-02 04:35] itholic commented on #171
Now we're supporting latest PyArrow. Closing.

[2021-08-02 04:35] #171 closed

[2021-08-02 05:30] itholic commented on #166
I think the static analysis now we're doing with `dev/reformat` and 'dev/lint-python', including `mypy`, `flake8`, `pycodestyle` and `sphinx` is enough.

Let me close this, but please feel free to leave a comment.

[2021-08-02 05:30] #166 closed

[2021-08-02 05:52] itholic commented on #1676
Let me close this for now since reporter has no response for a long time.

Please feel free to open again if you want to still fix this, @polocorona !

[2021-08-02 05:52] #1676 closed

[2021-08-02 05:58] itholic commented on #827
Now Koalas start to support the CategoricalDtype.

[code]

[2021-08-02 05:58] #827 closed

[2021-08-02 06:03] itholic commented on #1724
@HyukjinKwon ,Can we close this since supporting `http` scheme in distributed manner doesn't enough makes sense??

[2021-08-02 07:47] itholic commented on #1724
it's duplicated with https://github.com/databricks/koalas/issues/1219.

[2021-08-02 07:47] #1724 closed

[2021-08-02 07:53] itholic commented on #1203
Now Koalas supports `pd.NA` for missing value of `BooleanDtype` and `StringDtype` from https://github.com/databricks/koalas/pull/2039.

[code]

[2021-08-02 07:53] #1203 closed

[2021-08-02 14:08] ChuckConnell commented on #2178
@itholic Thank you again. I will test it.

[2021-08-02 18:19] guilhermeparreira opened #2182 "cannot import name '_is_url' from 'pandas.io.common' when using `ks.melt`"
Hi There!
I tried to reproduce the [`ks.melt` function ](https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.melt.html) and it returns to me:

`ImportError: cannot import name '_is_url' from 'pandas.io.common' (/databricks/python/lib/python3.8/site-packages/pandas/io/common.py)`

It didn't happen in the morning, only after lunch... What Can I be doing wrong?

[code]

My pandas

[2021-08-03 13:07] johnayoub commented on #2180
@itholic opened a new [issue ](https://issues.apache.org/jira/browse/SPARK-36392) there.

[2021-08-03 19:34] #2182 closed

[2021-08-06 15:55] datadu-de opened #2183 "add input_file_name column to read_* as an option"
when reading a large folder of files with koalas it would be great to be able to add a column with input_file_name, like we can do with pyspark.
input_file_name does not work to add the name after the folder is read.

[2021-08-09 04:34] itholic commented on #2178
Thanks for the report, @ChuckConnell !

Close this for now, since it's more actually the limitation of Databricks solution itself rather than Koalas.

[2021-08-09 04:34] #2178 closed

[2021-08-09 04:38] itholic commented on #1647
Close since this is resolved.

[2021-08-09 04:38] #1647 closed

[2021-08-09 04:43] itholic commented on #1606
Let me close this since it works well in latest Koalas.

[code]

[2021-08-09 04:43] #1606 closed

[2021-08-09 04:45] #1555 closed

[2021-08-09 04:55] itholic commented on #913
I think we can close this since we're using `pydata_sphinx_theme` now. https://github.com/databricks/koalas/pull/1553

[2021-08-09 04:55] #913 closed

[2021-08-09 04:56] itholic commented on #1800
I don't think need this anymore, since now the Koalas is porting into PySpark.

[2021-08-09 04:56] #1800 closed

[2021-08-09 04:57] itholic commented on #1817
yeah, seems like it's duplicated to https://github.com/databricks/koalas/issues/1219.

Let me close this.

[2021-08-09 04:57] #1817 closed

[2021-08-09 04:59] itholic commented on #1545
Let me close this for now, because we don't actively trigger the Codecov in this repo anymore, since Koalas is now in the maintenance mode.

Please feel free to comment if have any.

[2021-08-09 04:59] #1545 closed

[2021-08-09 05:37] itholic commented on #1976
Close this since we have `DatatimeIndex` now.

Please feel free to submit a PR to add the method for `DatetimeIndex` anytime :-)

[2021-08-09 05:37] #1976 closed

[2021-08-09 05:41] itholic commented on #965
@HyukjinKwon , Seems like SPARK-24695 is resolved, can we support calendar in Koalas now ??

[2021-08-09 05:50] itholic commented on #1064
I think we can close this for now, since we have `__natural_order__` column internally. https://github.com/databricks/koalas/pull/1146.

[2021-08-09 05:50] #1064 closed

[2021-08-09 05:54] itholic commented on #2014
Let me close this, since we don't want to have this feature for now since it's too dangerous as mentioned in https://github.com/databricks/koalas/issues/2014#issuecomment-765056672.

[2021-08-09 05:54] #2014 closed

[2021-08-09 06:00] #1973 closed

[2021-08-09 07:03] itholic commented on #2159
Now it's working fine with all version of `PyArrow` in the latest Koalas.

[2021-08-09 07:03] #2159 closed

[2021-08-09 07:04] itholic commented on #2161
Now it's working fine with latest Koalas.

[code]

[2021-08-09 07:04] #2161 closed

[2021-08-09 13:42] itholic commented on #1475
@HyukjinKwon , Should we add a note to our documents that we don't want to support this, and close this issue ?

[2021-08-09 13:48] itholic commented on #1148
Seems like we made a decision for handling the `numeric_only` parameter in https://github.com/databricks/koalas/pull/1343.

Please feel free to leave the comment.

[2021-08-09 13:48] #1148 closed

[2021-08-09 13:54] itholic commented on #312
I think now we can close this since there have been no requests for this issue in the past two years.

Also now there are many Koalas users, and this change rather can break existing users' code.

[2021-08-09 13:56] itholic commented on #2165
Close because the reporter has not responded for a while.

Please reopen at any time if there is any something to discuss!

[2021-08-09 13:56] #2165 closed

[2021-08-09 23:43] itholic commented on #1200
Let me close this since it's duplicated to https://github.com/databricks/koalas/issues/420.

[2021-08-09 23:43] #1200 closed

[2021-08-10 00:03] itholic commented on #1122
Yeah, seems like it's duplicated to #263.

Let me close this for now.

[2021-08-10 00:03] #1122 closed

[2021-08-10 01:19] HyukjinKwon commented on #151
We already finished typing and plan to finish most of them in Q3. Let's open a JIRA in Apache Spark to document contributors to do the typing.

[2021-08-10 01:32] #783 closed

[2021-08-10 04:29] itholic commented on #1084
Now it works properly on pandas-on-Spark (It's available in Apache Spark 3.2 and above)

I'd recommend to use pandas-on-Spark rather than Koalas since Koalas now only maintenance mode.

[code]

[2021-08-10 04:29] #1084 closed

[2021-08-10 21:25] skrawcz opened #2185 "link to news about spark 3.2 integration goes to no where"
the link about the spark 3.2 integration goes no where -- http://apache-spark-developers-list.1001551.n3.nabble.com/VOTE-SPIP-Support-pandas-API-layer-on-PySpark-td30996.html

<img width="697" alt="Screen Shot 2021-08-10 at 2 25 24 PM" src="https://user-images.githubusercontent.com/2328071/128937193-7a426c42-8c33-482a-954f-670e5b28e22a.png">

[2021-08-12 00:28] johnayoub commented on #2180
@itholic @HyukjinKwon any update on this and when I can expect it to be included with koalas?

[2021-08-12 01:49] itholic commented on #2180
@johnayoub Unfortunately, we have no clear plan to add `read_fwf` yet.

Anyway, at least it will be added to the PySpark first, and added to the Koalas after then.
(So, we'd recommend to use PySpark rather than Koalas since Koalas is now in maintenance mode)

FYI, you can easily convert your Koalas code to PySpark with single line change as below:

[code]

btw, just in case, maybe if you want to r

[2021-08-13 04:08] johnayoub commented on #2180
thanks @itholic!

The import that you mentioned isn't supported yet is it?
[code]

Also, in the meantime any recommendation for dealing with fixed width format in spark?

[2021-08-13 04:52] gatorsmile commented on #2185
@skrawcz  Please check this link https://www.mail-archive.com/issues@spark.apache.org/msg281210.html

[2021-08-13 05:05] skrawcz commented on #2185
@gatorsmile that one works, thanks.

[2021-08-16 15:03] crucis opened #2188 "DataFrame.pivot does not accept list as index parameter"
The following example does not work in Databricks Runtime 8.4:

[code]

[code]

I am using

[code]

to solve my problem, but I think that `pivot` should work with Multiindex.

[2021-08-16 16:12] crucis opened #2189 "Column names with "_" raises KeyError in pivot_table"
The following example:

[code]

Raises the following error:

[code]

Is snake_case not supported in koalas DataFrame?

[2021-08-17 00:45] #312 closed

[2021-08-17 00:49] itholic commented on #263
Let me close this for now, since It can't be supported because Spark can't tell if the null value of `object` type should be `None` or `NaN` when converting to pandas anyway.

[2021-08-17 00:49] #263 closed

[2021-08-19 07:20] alexxony opened #2190 "rolling with custom function"
I tried to apply my custom function on koalas rolling
but it could not be applied.

The method `pandas.core.window.Rolling.apply()` is not implemented yet.

or

Is there any difference between koalas and pandas?

[2021-08-25 01:24] HyukjinKwon commented on #151
Contribution guides are all done in PySpark documentation side too. Finally I am tentatively closing this.

[2021-08-25 01:24] #151 closed

[2021-08-25 19:44] thehomebrewnerd opened #2193 "DataFrame.append causes unexpected dtype change in output DataFrame"
When appending a dataframe to another with `df.append` the column dtypes change unexpectedly at times. An example of this is below, showing that the `boolean` columns have been changed to `bool`. This same issue happens if the original dataframes are `Int64` - the new dataframe will have those columns changed to `int64`.

I would expect that the output dtype would not change if the input dataframe

[2021-08-26 07:39] amznero opened #2194 "Does Koalas support reading hive table by default?"
Hi,

I'm trying to use Koalas to load a hive table on the remote cluster.  In https://koalas.readthedocs.io/en/latest/reference/io.html#spark-metastore-table, it says that I can use `ks.read_table` API to read spark-table, but it failed when I use `ks.read_table` to read the table.

[code]

Error log:
[code]

However, I can load it successfully by directly using [pyspark+pandas+pyarrow](https://sp

[2021-09-02 03:21] itholic commented on #1067
@leihuang Thanks for sharing!

[2021-09-03 12:35] ChuckConnell opened #2197 "to_datetime() throws a warning about UDFs"
The first time I call to_datetime() in a Databricks notebook, it throws the warning: `In Python 3.6+ and Spark 3.0+, it is preferred to specify type hints for pandas UDF instead of specifying pandas UDF type, which will be deprecated in the future releases. See SPARK-28264 for more details.`

But this may be an incorrect warning, since to_datetime() does not seem to relate to SPARK-28264.

The war

[2021-09-09 20:55] ashwin153 commented on #2175
Any update on this?

[2021-09-10 00:44] HyukjinKwon commented on #2175
The previous implementation was not really correct. So this is disabled for now. To mimic the previous behaviour, you can manually localize it by converting UTC to your local timezone (without timezone), and use it for now.

[2021-09-10 20:14] rwedge opened #2198 "Popping item from categorical series returns index instead of value"
This was using koalas 1.8.1

[code]

I would expect pop to return 'a' in this case, which is what a pandas categorical series would do

[2021-09-12 00:35] HyukjinKwon commented on #2198
cc @ueshin @xinrong-databricks FYI

[2021-09-12 00:35] HyukjinKwon commented on #2198
Would you mind filing a JIRA in https://issues.apache.org/jira/projects/SPARK?

[2021-09-13 11:58] lamesjaidler opened #2199 "Error when filtering a Series using a condition from a DataFrame"
I'm wanting to filter down a Koalas Series based on a condition from a related Koalas DataFrame

[code]

However, running the last line gives the following error:

[code]

This syntax works as expected with Pandas Series/DataFrames:

[code]

Gives:

[code]

Note that I have the following option set:
[code]

This seems like a bug? Or does it need to be carried out in a different way?

[2021-09-15 23:16] xinrong-databricks commented on #2198
Thanks for letting us know!

https://issues.apache.org/jira/browse/SPARK-36771 is created for this issue.

[2021-09-20 22:59] xinrong-databricks commented on #2199
Unfortunately, the exact use case above is not supported, according to https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.DataFrame.loc.html?highlight=dataframe.loc.

There is a workaround:
[code]

We will improve that in pandas API on Spark, under https://issues.apache.org/jira/browse/SPARK-36394.

Thanks for letting us know!

FYI @ueshin @HyukjinKwon @itholic

[2021-09-23 01:59] kylegilde opened #2200 "Feature Request for using lambda inside of .loc[]"
Hello!

Would you consider adding the ability to self-reference DataFrames and Series using the lambda function inside of the .loc[] method?

Thank you

[code]

[2021-09-27 16:16] kylegilde commented on #834
It would be super helpful if this type of example was added to the groupby apply docs.

To do a customized aggregation, your UDF needs to "define" the return type as a Koalas DataFrame, but the actual return type is Pandas DataFrame.

It took me a few hours to understand that this is what was required.

https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.groupby.GroupBy.apply.h

[2021-09-27 18:36] kylegilde opened #2201 "Is there a way to use a UDF or lambda in groupby agg?"
The following code doesn't work. Thank you!

[code]

[2021-09-27 18:39] kylegilde commented on #834
I'm having more success returning Pandas Series without the return type hinting.

[2021-10-04 23:44] jrdzha commented on #2044
Any updates here? I am seeing this issue as well.

[2021-10-24 16:46] nitinmnsn opened #2204 "Distributed index in pandas on pyspark does not work as expected"
This is done on pandas on pyspark but the same is true for koalas as well (at least for now when I tested last)
There are 3 different kinds of default indexes in pandas on pyspark. I am not able to replicate their said behavior:

Setting up to test:
[code]

1. Sequence type
* The Data would be collected on the same node (dataframe should have just 1 partition?)
* The default index is [0,1,2,3,...]

[2021-10-27 06:23] tommyhj217 opened #2206 "Koalas and pandas read csv result is different"
I tired to read csv.
And koalas and pandas show different result.

Below is one column
"[""a"",""b""]"

Pandas returned below result
![image](https://user-images.githubusercontent.com/86287388/139010961-8b6e99d1-0214-4ef0-9e31-8aa1ca4d3d07.png)

</body>

</html>

But koalas returned 2 columns
![image](https://user-images.githubusercontent.com/86287388/139010996-dbcf1428-568d-4564-8cf3-b6f1f79b1aca

[2021-10-28 14:35] amorimds opened #2207 "I cant use .shift() on columns that hold lists as values."
[code]

[2021-10-28 16:57] nitinmnsn opened #2208 "groupby api .agg behavior changes depending upon the way the dataframe is created"
pyspark pandas groupby  aggregate function API depends upon whether the dataframe is ```pyspark.sql.dataframe.DataFrame``` or ```pyspark.pandas.frame.DataFrame```. Is this intended behaviour? Also, How do I run groupby .agg if the dataframe is  ```pyspark.pandas.frame.DataFrame```? Seems like registering pandas_udf is necessary to run them.

[code]
```Output: ValueError: aggs must be a dict mappin

[2021-11-15 12:10] amin-nejad opened #2209 "convert_dtypes support"
Is there any planned support for the `convert_dtypes` method?

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.convert_dtypes.html

[2021-11-15 13:19] HyukjinKwon commented on #2209
@amin-nejad, this repository is in maintenance mode. Please file a JIRA at https://issues.apache.org/jira/projects/SPARK

[2021-11-15 13:28] amin-nejad commented on #2209
Apologies, thanks

[2021-12-03 15:36] psaraogi24 opened #2210 "Koalas vs Pandas"
Hi, I recently started switching from Pandas to Koalas dataframe.
But while calculating the execution time, I figured that Koalas is taking almost 6X time compared to Pandas.

I think I am missing something here. Can I get some help?

[2021-12-03 15:38] psaraogi24 commented on #2210
Can I also please get some sample functions where Koalas would perform better than Pandas?

[2021-12-06 00:59] stepanlavrinenkoteck001 commented on #2210
Are you doing any type of sorting/ranking? Some of these operations can take longer, because they will be done on multiple partitions. Also, complex execution plan is another case of a slowdown. Check this best practise page out for some examples:
https://koalas.readthedocs.io/en/latest/user_guide/best_practices.html

[2021-12-09 01:05] itholic commented on #2210
Thanks for trying the Koalas :-)
It's hard to simply say Koalas is faster or slower than pandas in specific function.
The performance depends on many factors such as amount of data, number of clusters, or how are you using functions in context as @stepanlavrinenkoteck001 mentioned.
For example, performance differences may occur depending on the amount of data even with the same function.
If you wa

[2021-12-09 01:26] itholic commented on #2208
Let me close since it's duplicated with https://github.com/databricks/koalas/issues/2201.

And this is technically a bug in the pandas API on Spark (pyspark.pandas), not in Koalas, so it should be filed in [Apache Spark JIRA](https://issues.apache.org/jira/projects/SPARK/summary).

Of course, Koalas and pandas on Spark have almost the same behavior, but they should be treated as different projects

[2021-12-09 01:26] #2208 closed

[2021-12-09 01:47] itholic commented on #2207
Thanks for the report, @amorimds .

And currently the Koalas project is only in maintaining mode, so the response could be quite delayed.

The Koalas project is currently being managed more actively in PySpark under the name of "pandas API on Spark".

So if you're going to continue using Koalas, I recommend using PySpark! (You can get a quicker response if you report the issue to the [Apache Spark

[2021-12-09 01:50] itholic commented on #2201
Thanks for the report, @kylegilde !

And currently the Koalas project is only in maintaining mode, so the response could be quite delayed.

The Koalas project is currently being managed more actively in PySpark under the name of "pandas API on Spark" (you can simply re-use the existing Koalas code by importing import pyspark.pandas as ks)

So if you're going to continue using Koalas, I recommend u

[2021-12-15 14:44] lgallindo commented on #1888
What is the status on this?

[2021-12-16 02:11] itholic commented on #1888
@lgallindo We currently focus on pandas API on Spark, which is ported Koalas into PySpark.

I just create ticket [here](https://issues.apache.org/jira/browse/SPARK-37657), and will fix it in pandas API on Spark first.

I'd recommend you to use PySpark as we actively update features and bug fix there, and now the Koalas repository is now in maintenance mode.

[2021-12-22 10:45] klenium opened #2211 "Series.to_json(orient='records') does not return JSON"
[code]

That works as excepted. The [documentation](https://koalas.readthedocs.io/en/latest/reference/api/databricks.koalas.Series.to_json.html) says:

So if instead of ``row.to_json()`` I write `row.to_json(orient = 'records')`, the output must be the same. But it's not:
[code]
Which is rather the [values format](https://pandas.pydata.org/docs/reference/api/pandas.Series.to_json.html) from Pandas

[2021-12-22 10:54] klenium commented on #2211
Very interesting, I don't see the reason for this behavior in [its source code](https://github.com/databricks/koalas/blob/4d14f376cdc10cd6b3e2a791907868aaf9081b5f/databricks/koalas/generic.py#L841). :)

[2021-12-22 10:57] klenium commented on #2211
`row['type'] = str(type(row))` -> `<class 'pandas.core.series.Series'>`
Well that's unexpected, why is a Pandas Series used there?

[2022-01-11 19:52] thehomebrewnerd opened #2212 "Write custom metadata to output files with dataframe.to_parquet?"
Is it possible to save custom metadata in the file when writing to a parquet file?

For example, with Dask, users can add custom metadata to the output files with this:
[code]
This code will add the custom metadata to the metadata of the saved parquet files, and the metadata then be read back in with `pyarrow.parquet.read_metadata`.

Is it possible to do something similar with Koalas? So far, I ha

[2022-01-12 00:36] HyukjinKwon commented on #2212
Can we file a JIRA in Apache Spark JIRA (https://issues.apache.org/jira/projects/SPARK)? This repository is in maintenance mode

[2022-01-17 18:39] saikrishnapujari102087 opened #2213 "read_excel has one parameter - mangle_dupe_cols to handle duplicate columns but fails if the duplicate columns are case sensitive."
mangle_dupe_cols - default is True
So ideally it should have handled duplicate columns, but in case if the columns are case sensitive it fails as below.

AnalysisException: Reference '`Sheet.col1`' is ambiguous, could be: Sheet.col1, Sheet.col1.

Where two columns are Col1 and cOl1

In the best practices, there is a mention of not to use case sensitive columns - https://koalas.readthedocs.io/en/la

[2022-01-25 01:46] itholic commented on #2213
As commented in offline channel,

I think mangle_dupe_cols is not for handling the case sensitive, but it handles the case when the column names are exactly the same as below:

[code]

I think your case is more similar to the example below:

[code]

In this case, you should spark.conf.set("spark.sql.caseSensitive","true") before reading the excel file like you did

[2022-01-25 01:51] itholic commented on #2213
Yeah, we should address this.

Would you mind file the issue to the [Apache Spark JIRA](https://issues.apache.org/jira/projects/SPARK/issues) ??

This repository is in maintenance mode, as Koalas has been moved in to the PySpark (pandas API on Spark).

[2022-01-25 15:06] saikrishnapujari102087 commented on #2213
@itholic Yes, created - https://issues.apache.org/jira/browse/SPARK-38004

[2022-01-28 11:34] Lukas012 opened #2215 "Koalas Partition Pruning not Working"
Hi all,

Environment: Spark 3.0.2, Koalas: 1.8.2, Delta Lake 0.7

I've a Delta-Table partioned by Column "PARTITION". Koalas doesn't seem to execute partioning pruning.

1. Using Spark:

[code]
Takes: 20 seconds

2. Same with koalas:
[code]
Takes 130 seconds (seems that it doesnt execute partion pruning)

3. Other try with koalas:
[code]
Takes: 20 seconds. Partition pruning seems to work.

Why tak

[2022-02-03 00:34] HyukjinKwon commented on #2215
@Lukas012 do you mind reporting a issue in https://issues.apache.org/jira/projects/SPARK?

[2022-02-07 14:42] Lukas012 commented on #2215
Why? This problem only occurs when using koalas.

[2022-02-07 14:42] Lukas012 commented on #2215
Why? This problem only occurs in koalas.

[2022-02-16 21:19] patchatarch commented on #2159
Hello, I've been experiencing the same issue with koalas.read_excel in databricks

[code]

Traceback:
[code]

Im using versions:
koalas=1.8.1
pyarrow=4.0.0

I quite don't understand what I'm doing wrong.
Can anyone point me to the right direction please.
Appreciate your help in advance.

[2022-02-17 01:57] itholic commented on #2159
Can you show how the excel data looks like you try to read ??

Btw, can you try to use pandas API on Spark instead of Koalas ??

[code]

Koalas is ported into PySpark, under the name of [pandas API on Spark](https://spark.apache.org/docs/latest/api/python/user_guide/pandas_on_spark/index.html), and Koalas now is only in maintenance mode.

[2022-02-17 16:52] patchatarch commented on #2159
`pyspark.pandas` is not working for me

[code]
[code]

I'm using `databricks runtime` version `9.1 LTS` and `pyspark` version `3.2.1`
yet its giving me an `ModuleNotFoundError` upon import.

And for the excel data. This is the sample format of the data I was trying to read.

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microso

[2022-02-18 15:14] salvatore-cipolla commented on #1562
Any updates?

[2022-02-21 00:13] itholic commented on #1562
Koalas now ported into Apache Spark project under the name "pandas API on Spark", and this repository is now in maintenance mode.

Just created the ticket [here](https://issues.apache.org/jira/browse/SPARK-38264) to track this issue on Apache Spark.

[2022-02-23 05:40] itholic commented on #2159
Thanks for the information.

pandas API on Spark has been supported from PySpark 3.2, so would you mind upgrading PySpark version and retry?

If you're using Databricks Notebook, you can install the PySpark 3.2 with `%pip install pyspark==3.2`, FYI.

[2022-02-23 23:54] itholic commented on #2159
Would you mind using upper version of LTS that supports PySpark 3.2 or above, since pandas API on Spark is supported from PySpark 3.2 ??

Or maybe can you try with `ks.from_pandas(pd.read_excel(filepath, engine='openpyxl'))` as workaround for now??

[2022-03-18 12:20] prakharsandhu opened #2216 "AttributeError: module 'databricks.koalas' has no attribute 'DateOffset'"
I am working on replacing Pandas library to Koalas Library in my python repo in VS Code. But Koalas module does not seem to have DateOffset() module similar to what pandas has.

I tried this :
 `
import databricks.koalas as ks
kdf["date_col_2"] = kdf["date_col_1"] - ks.DateOffset(months=cycle_info_gap)
`

It results in the below error :
`AttributeError: module 'databricks.koalas' has no attribute

[2022-03-19 01:01] HyukjinKwon commented on #2216
@prakharsandhu mind reporting the issue in Apache Spark https://issues.apache.org/jira/projects/SPARK/issues? this repo is in maintenance mode

[2022-03-24 03:35] RainFung opened #2217 "Whether the `apply` function is implemented using the pandas_udf function?"
Whether the `apply` function is implemented using the pandas_udf function?

[2022-03-24 03:48] itholic commented on #2217
Yeah, for some case we use `mapInPandas` which leveraging the `pandas_udf` internally.

https://github.com/databricks/koalas/blob/07d846225d27492a9b85e58900018fda576650e3/databricks/koalas/frame.py#L2557-L2563

[2022-04-04 04:40] RainFung opened #2218 "missing function `koalas.series.apply`"
https://pandas.pydata.org/docs/reference/api/pandas.Series.apply.html

[2022-04-04 04:41] HyukjinKwon commented on #2218
@RainFung Koalas project has been migrated to PySpark. Let;s file an issue at Apache Spark JIRA:

BTW, I believe this is already implemented at https://github.com/databricks/koalas/blob/master/databricks/koalas/series.py#L3010-L3141

[2022-04-05 03:09] #2218 closed

[2022-04-06 11:35] ysomawar opened #2219 "Joining koalas frame with spark"
Hello,

I am very new to Koalas just started with understanding. I am planning to use koalas with spark  for large data processing.
I am trying to merge two large dataset by using koalas merge functionality, but observed that merging is not performing on spark, it is executing on local and resulting into slow performance same as pandas.

following is code block,

[code]
On merge, non of the spark

[2022-04-07 01:11] itholic commented on #2219
I think it should take advantage of Spark since it directly leverages Spark join function internally especially here:

https://github.com/databricks/koalas/blob/07d846225d27492a9b85e58900018fda576650e3/databricks/koalas/frame.py#L7676

Btw, I recommend you to use `pyspark.pandas` module in PySpark, since Koalas is ported into PySpark.

[2022-04-07 10:21] ysomawar commented on #2219
Thank You @itholic for your recommendation.
 We tried same thing on pyspark.pandas it works as expected.

[2022-04-07 10:21] #2219 closed

[2022-04-10 16:50] klenium commented on #2211
The same applies to Pandas on Spark. If I follow the documentation and add `orient = 'records'`, then the output is None thus I get errors.

[2022-05-04 07:27] StevenLaan opened #2220 "fillna does not work with decimals"
### Description
The `fillna` function does not support the decimal type. If you have a column of DecimalType, which gets converted to decimal.Decimal (and is shown as object type by koalas), the straightforward way of using fillna will give you an error `TypeError: Unsupported type Decimal`

*Example code*:
[code]

### Workaround
Currently you can work around this by filling with a float or a doub

[2022-05-06 01:35] HyukjinKwon commented on #2220
Thanks for reporting this. Koalas has been migrated to Apache Spark. Would you mind reporting the issue to https://issues.apache.org/jira/projects/SPARK/issues please?

[2022-05-11 19:07] TalAmuyal commented on #2067
Any news?

[2022-05-11 19:09] gsheni commented on #2067
@TalAmuyal switch to pyspark, which supports 3.9
https://pypi.org/project/pyspark/

[2022-05-12 00:00] HyukjinKwon commented on #2067
Yeah.

[2022-05-13 01:49] bingwork opened #2221 "pyspark is not required when install koalas"
koalas is a great package.

when I install the package, all requirements are as below:
`pip install koalas==1.8.2
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting koalas==1.8.2
  Using cached https://pypi.tuna.tsinghua.edu.cn/packages/28/9a/d69cf12ea62116873b427e5843be8ae8431b18f2a0714d6f4eec3ee4cda6/koalas-1.8.2-py3-none-any.whl (390 kB)
Requirement already satisfied: numpy

[2022-05-20 01:26] hrxx opened #2222 "data type conversion error"
I can run my data process success on pandas, but when I switch to koalas, there are lots of data type errors, like that:
1. with type DataFrame: did not recognize Python value type when inferring an Arrow data type
2.  <class 'str'>: (<class 'py4j.protocol.Py4JError'>, Py4JError('An error occurred while calling None.None'))

I think this error happens when transferring python data to java data. ho

[2022-05-20 04:13] itholic commented on #2222
Can you file a issue to [Apache Spark JIRA](https://issues.apache.org/jira/secure/RapidBoard.jspa?rapidView=256) ??

Koalas is ported to Apache Spark, under named "pandas API on Spark".

Can you try with pandas API on Spark, and see if it works? (otherwise, could you create a JIRA)

[2022-06-10 13:35] alexxony commented on #2190
when can i use??  should i use dask instead?

[2022-08-05 08:39] Alxe1 opened #2223 "pyspark dataframe coverting to koalas dataframe have different elements"
Code:

[code]
The result:
[code]

why sdf is different with df?

[2022-08-16 17:41] NA-Dev commented on #634
I am sorting a dataframe with multiIndex where one is a string, and one is a date. The sorting is not working properly, as I can see dates are still out of order. Python 3.9 Pandas 1.4.2

![Screenshot 2022-08-16 124124](https://user-images.githubusercontent.com/31260131/184944207-14184056-9eae-46dc-8590-f7a0f8030eaa.png)

[2022-08-18 09:29] itholic commented on #634
@NA-Dev Would you mind filing a ticket to [Apache Spark JIRA](https://issues.apache.org/jira/projects/SPARK/issues) ??

Koalas is ported into PySpark as [pandas API on Spark](https://spark.apache.org/docs/latest/api/python/user_guide/pandas_on_spark/index.html).

[2022-10-14 08:14] DavidCamposDSB commented on #2014
Hello! What's the actual status for this? Still not being in consideration?

[2022-10-19 14:40] CodyGreen-Datavant opened #2224 "Spammed with FutureWarnings that are unfilterable"
When preforming any kind of itterable:
`enc[example'] = enc.example.apply(lambda x: 1880 if pd.notnull(x) & ((x >=1880) & (x < 1890)) else x)`

I am constantly spammed with:

`/path/miniconda/lib/python3.8/site-packages/pyspark/python/lib/pyspark.zip/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.`

I believe this

[2022-11-04 21:26] nikeshv opened #2225 "Koalas.idxmin() is not picking the minimum value from a dataframe, but pandas.idxmin() gives"
Hi,
I have a koalas dataframe with age and income and I calculated Zscore on age and income and then norms is calculated using age_zscore and income_zscore(new column name is sq_dist). Then I tried to do an idxmin on the new column, but its not giving the minimum value.
I did the same operations on a Pandas dataframe, but it gives the minimum value .

Please find attached the notebook for step by

[2022-11-04 21:32] nikeshv commented on #2225
[KoalasidxminIssueNotebook.txt](https://github.com/databricks/koalas/files/9942089/KoalasidxminIssueNotebook.txt)

[2022-11-14 00:19] agonzalez-seek commented on #2162
Same question.

[2022-11-14 09:31] bjornjorgensen commented on #2162
This one works for pandas

[code]

and this one for pyspark
[code]